*{
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
}
/*ESTO LO PUSE POR LA LETRA ANIMADA DE LA PORTADA */
 
*, *:before, *:after {
box-sizing: border-box;
}

a {
  text-decoration: none;
  float:left;
  clear:both
 }


 /*--IMPORTANTE COLOR DEL LOGO #3d6024 */

  body{
  padding:0;
  margin: 0;
  background-color: #fff;
  color: rgba(0,0,0,.95);
  font-family: "Argos",serif;
   }

html, body {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
height: 100%;

}


/*line-height: 20pt;        /* para la separacion entre lineas */ 
/*text-indent: 30pt;  */ 

  #wrapper-articulo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width:250px;
    flex-wrap: wrap;
  }
      
   #wrapper-articulo > * {
  padding:20px;  
  }

    #container-articulo{
    width:100%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 80px;
    margin-bottom: 140px;
    }

    div {
      flex: 1;
    }
 
     
   a {
  color: #524c56;
  text-decoration: none;
  font-weight: lighter;
   }

    #controls-responsive{
   display: none;
    }


   /*border-bottom: 2px solid #DDD;*/
  header{
    width:100%;
    position: fixed;
    z-index: 2000;   /*IMPORTANTE  */
    top:0;
    left: 0;
    margin: auto;
    height: 65px;
    box-shadow: 0 8px 6px -6px #DCDCDC;
    background-color: #fff;
  }

  header.black{
   background-color:#fff ;
   height:  65px;
  }
  
  
      /* BUSCADOR INTERNO RESPONSIVE*/
      #controls-responsive{
        display: none;
      }
     /*FIN BUSCADOR RESPONSIVE  ..*/  

  .cabecera{
    width: 100%;
   max-width: 1200px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

   /*caja */
   .logo{
    display: block;
    width: 70%;
    max-width: 880px;
    min-width: 800px;
    height: 35px;
   }
    
   /*IMAGEN DEL LOGO*/
   .logo img{
    width: 100%;
    max-width: 200px;
    min-width: 180px;
    height:  35px;  
    }
     
 
     /*CONTENEDOR  REVISTA Y SOCIALES*/
      .suscribe{
      width: 20%;
      max-width: 300px; /*VA RELACIONADO CON EL ANCHO DEL MENU BTN */
      position: relative;
      float: right;
      height: 35px;
      }

    .suscribe  a h4{
      font-size: 1rem;
      word-spacing: -3px;
      letter-spacing: -0.7%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 700;
      color:#2d2d2d;
      margin-top:  16px;
      }
  
  

   /*LETRA INSCRIBETE*/
   .suscribe a h4:hover{
    color: #639a3a;
    text-decoration: none;
   }
   /*  MENU NAV DE CONVIERTE EN ASPA REDUCIDO A ICONO*/

    /*  CONTAINER DE LA SUSCRIPCION Y DEL MENU COMBO*/
   /*  MENU NAV DE CONVIERTE EN ASPA REDUCIDO A ICONO*/
   .cabecera .menu-btn {
    display: block;
    position: relative;
    float: right;
    width: 8%;
    max-width: 40px;
    min-width: 38px;
    height: 35px;
    margin: auto;
    margin-top: 22px;
    z-index: 1000;
    }

  
  .menu-btn .hamburguesa{
  display: block;
  position: relative;
  float:left;
  width: 100%;
  max-width: 40px;
   }

     /*---- box-shadow: 0 2px 5px rgba(255,101,47,.2);----------*/
   .menu-btn .hamburguesa .menu-btn__burger {
      display: block;
      position: relative;
      float: right;
      width: 37px;
      height: 4px;
      background: #2d2d2d;
      border-radius: 2px;
      transition: all .5s ease-in-out;
      z-index: 1000;
      }
  


       /* box-shadow: 0 2px 5px rgba(255,101,47,.2) ; */
  .menu-btn__burger::before,
  .menu-btn__burger::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 37px;
  background:#2d2d2d;
  border-radius: 2px;
  transition: all .5s ease-in-out;
  z-index: 800;  
  }

    
  .menu-btn__burger::before {
  transform: translateY(-7px);
  z-index:3000;
  }


  .menu-btn__burger::after {
  transform: translateY(7px);
  z-index:3000;
  }


  /* ANIMATION */
  .hamburguesa.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  }


   /* background: #fff;  */
  .hamburguesa.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
 
  }


  /* background: #fff;  */
  .hamburguesa.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  }

  .menu-btn__burger:hover{
  background-color: #7aac41;
  }
  

  .menu-btn__burger:hover::before,
  .menu-btn__burger:hover::after{
  background-color: #7aac41;
  }


     /*ANULANDO NAV DE PANTALLA GRANDE NAV MENU..*/

  /* ESTE ES EL MENU NAV*/

 /*..INICIO NAV ESCONDIDO.....................*/

 header nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top:0;
  bottom: 0;
  left: -100%;    /*con esto el menu desaparece porque se va fuera y luego escribimos el codigo javascript */
   background-color: #000;
   overflow-y: scroll;
   z-index: 20;
   visibility: visible;
   box-sizing: border-box;
  
  }

  nav::-webkit-scrollbar {
    display: none;
   }
   

  /* #aaaaaa */
  nav .logo-esconder{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 90%;
  margin-left: 50px;
  visibility: visible;
  height: 80px;
   border-bottom: 1px solid #2d2d2d;

  }

  nav .logo-esconder .logo-en-menu-responsive{
    width: 30%;
    max-width: 150px;
    display: inline-flex;
    height: 80px;
    margin-left: 10px;
  }

 

nav .logo-esconder .logo-en-menu-responsive img{
  width: 100%;
  max-width: 120px;
  min-width: 120px;
  margin-top: 45px;
}

  nav .logo-esconder .emoticon{
  width: 8%;
  height: 80px;
   }


   nav .logo-esconder .suscriptor{
   width: 30%;
   height: 80px;
   display: block;
   position: relative;
   float: right;
    }

  nav .logo-esconder .suscriptor a h4{
  font-size: 0.8em;
  margin-top: 50px;
  color: #fff;
  }

  nav .siguenos{
    display: block;
    width: 95%;
    margin-top: 40px;
    width: 90%;
    margin-left: 50px;
  }

  nav .siguenos ul{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 10px;
  }

   nav .siguenos h1{
     font-size: 0.9em;
     display: inline-flex;
     margin: 10px 0;
     padding: 5px 9px 5px 4px;
     color: #fff;
   }

  nav .siguenos ul li{
    margin: 10px 0;
    list-style: none;
    padding: 5px 9px 5px 4px;

  }


    nav .siguenos ul li .fa-envelope{
    color: oldlace;
    }

    nav .siguenos ul li .fa-facebook-f{
    color: oldlace;  
    }

    nav .siguenos ul li .fa-pinterest{
    color: oldlace;
    }

    nav .siguenos ul li .fa-instagram{
    color: oldlace;
   }
      
   /*BUSCADOR EN EL NAV ESCONDIDO RESPONSIVE.....*/
   nav .buscador-esconder{
   display: flex;
   flex-direction: column;
   width: 85%;
   visibility: visible;
   margin-top: 40px;
   width: 90%;
   margin-left: 50px;
   height: 50px;
   }

    .d-flex{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    }

   #custom-search{
    width: 100%;
    height: 50px;
    border: 1px solid #2d2d2d;
    border-radius: 8px;
    }

   .buscador-esconder #custom-search input[type=text]{
   box-sizing: border-box;
   }

   .buscador-esconder .d-flex #custom-search .sin-borde{
    width: 90%;
    height: 40px;
    margin-top: 4px;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    position: relative;
    float: left;
     }

   .buscador-esconder .d-flex #custom-search .boton{
  width: 10%;
  height: 40px;
  border-radius: 1px;
  display: block;
  position: relative;
  float: right;
  margin-top: 4px;
  box-sizing: border-box;
  background-color: #fff;
  }


   /*FIN DEL BUSCADOR EN EL NAV ESCONDIDO RESPONSIVE*/
    nav .nav .esconder{
   visibility: visible;
   }

     nav .nav li a.active{
    text-decoration:line-through;
    color: #568632;
    }

   /*.....................................*/
     
   /* UL  */
   header  nav .nav{
    width: 90%; 
    height: 99%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
    z-index: 10; 
    background-color: #000;
    }


     /*ESTO ES PARA EL ESPACIO DE LAS LETRAS*/
     header  nav .nav li{
    height: 25px;/*IMPORTANTE CON ESTO LAS RAYAS ANIMADAS NO SALEN POR OTRO LADO */
    margin-bottom: 10px;
    border-bottom: 1px solid #2d2d2d;
    z-index:  1; 
    display: block;
    }
    
   header nav .nav li a {
    z-index: 1;
    height: 24px;
    color: #fff;
    font-weight: 520;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    }
  
    /*LI QUE SE OCULTA ES DEL MOVIL*/
    nav .nav .li-movil {
    display: none;
    }

    /*MUY IMPORTANTE PARA QUE EL SUBMENU ESTE POR ENCIMA DE LOS OTROS LI*/
     nav .nav .li-pc {
    display: block;
    z-index: 2000;
    }
 

     header nav .nav .li-pc:hover  .submenu-responsive {
    display: block;
     position: absolute;
    visibility: visible;
    z-index: 2;
    }

    
    /*NAV UL LI UL*/
     header  nav .nav .li-pc  .submenu-responsive {
    display: none;
    background-color:  #fff;
    width: 100%;
    max-width: 400px;
    white-space: initial;
    z-index:1000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
      }


       /*NAV UL LI UL LI*/
       header nav .nav .li-pc .submenu-responsive li{
    display:block;
    position: relative;
    float: left;
    width: 400px;
    margin-left: -2px;
    margin-bottom: 0.5px;
    z-index: 1000;
  
    border-bottom: 1px solid #000;
      }
  
  
       header nav .nav .li-pc .submenu-responsive li a{
    font-size: 0.9rem;
    display: block;
    text-transform: lowercase;
    padding-top: 2px;
    z-index: 1500;
    color: #000000;
    background-color: #fff;
    margin-left: 5px;
    }
    

        
    nav .nav li ul {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    white-space: initial;
    z-index:1000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
  

    
    /* NAV ESCONDIDO  NAV ESCONDIDO     margin-top:-40px;*/
    /*MUY IMPORTANTE PARA QUE LAS RAYAS NO SALGAN FUERA COLOR AL SUBMENU ESCONDIDO*/
    nav .nav li:hover  ul {
    display: block;
    visibility: visible;
    }


     nav .nav li ul li{
      display:block;
      border-bottom: 1px solid rgba(255,255,255,.5);
      width: 350px;
      margin-bottom: 0.5px;
      z-index: 1500;
      }


    nav .nav li ul li a{
    font-size: 0.9rem;
    display: block;
    text-transform: lowercase;
    padding-top: 1px;
      }

      /*..FIN NAV ESCONDIDO...........................*/



    /*PARA QUITARLA RAYA AL LOGO CUANOD SE HACE HOVER*/
   nav  .estilo-logo:after{
   text-decoration: none;
   height: 0px;
   content: "";
   display: none;
   margin-top: 0px;  /*ESTO RAYA EN EL MEDIO DE LA LETRA.  MENU BURGER*/ /*transition: all .8s;*/
   height: 0px;
   width: 0px;
   transition: all .0s;
   z-index: 10;
   }


 

  
   /*FIN ANIMACION SUBRAYADO */




/*................CONTAINER DEL BODY..ESTA ARRIBA DE TODO CON EL WRAPPER................................................................... */


  /*PRIMER SEGMENTO EL MENU SIMPLE CON ARROW.......................... */
  #menu-simple{
  width:100%;
  height: 100%;
  max-height: 28px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;

}

/* PRIMERA SECCION MENU ARROW*/
 #menu-simple li{
  list-style: none;

 }

   /*ANCHO IMPORTANTE PARA EL MENU   ES LI*/
   #menu-simple  ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 35px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
   white-space: nowrap;
 
   }

   #menu-simple ul::-webkit-scrollbar { /* WebKit */
    width: 0px;
    height: 25px;
    }

   /*ESTO ES LO MISMO QUE EL ANTERIOR?*/


   #menu-simple  p{
    letter-spacing: -0.4px;
    font-size:  0.95rem;
    line-height: 1.45;
    color: #2d2d2d;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 900;
    height: 2px; /*ESTO ARREGLO EL SUBRAYADO QUE SALIO MUY ABAJO */
 
  }

  #menu-simple li p i {
  border-width: 0 0.8px 0.8px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 9px;  /*IMPORTANTE PARA SEPARAR ENTRE EL MENU*/
 }

   #menu-simple .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: 2px solid #7aac41;
    border-width: 0 2px 2px 0;
  }

  /* ANIMA CON RAYA AL HACE HOVER */
   #menu-simple a {
 
    text-decoration: none;
    }

   #menu-simple a:after {
    content: "";
    display: block;
    height: 1px;  /*GROSOR DE LA RAYA*/
    width: 0px;
    transition: all .4s;
    }

    #menu-simple a:hover:after {
    width: 100%;
    width: 85%;   /*IMPORTANTE PARA EL ANCHO DE LA RAYA*/
    margin-left: -2px;   /*IMPORTANTE PARA SITUAR LA RAYA*/
    background: #639a3a;
    }
    
    #menu-simple a:hover{
      z-index: 40;
      display: block;
      }
           /* FINAL MENU ARROW */






   /*TERCER SEGMENTO COLUMNAS COLUMNAS ....................*/
   #tres-columnas-articulo{
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 1220px;
    margin-top: 2.2%;   /*IMPORTANTE */
    }

    /* COLUMNA  ..........PRIMERA  COLUMNA.....1-------------. */
    .columna-primera{
    width:800px;
    display: flex;
    flex-direction: column;
    }

   .primera-columna{
    display: block;
    position: relative;
    width: 730px;
    margin-bottom:10%;
    }

   /*.........PRIMER TITULO ...................... */
    .primer-articulo{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    }
  
  
   .primer-articulo h1{ 
    width: 100%;
    font-size: 3.1rem;
    word-spacing: -2.3px;
    letter-spacing: -1.5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align:start;
    text-decoration-line: underline;
    color: #000000; 
    margin-bottom: 20px;
    }
  
     /*............................P...............*/
    .primer-articulo p{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 1.2rem;
    font-weight:400;
    line-height: 22px;
    color: #2d2d2d;
    letter-spacing: 0.4px;
    display: block;
    padding-bottom: 10px;  /*SOLO ESTO SEPARABA*/
     }


    .primero-descripcion-y-fotoprincipal{
     display: block;
     position: relative;
     float: left;
     width: 100%;
    }
    


  /*.FOTO AUTOR Y FECHA*/
   .row-autor-nombre-fecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   }


   .fecha{
     display: block;
     position: relative;
     float: right;
     width: 65%;
     height: 20px;
     margin-top: 22px;
   }

   .fecha p{
    font-size: 0.8rem;
    text-align: center;
   }


   .row-autor-nombre{
    display: block;
    position: relative;
    float: left;
    width: 28%;
    max-width: 200px;
   }

   .row-autor-nombre .autor-foto{
      display: block;
      position: relative;
      float: left;
      width: 32%;
    }

    .autor-foto img{
      width: 100% ;
      max-width: 50px;
      height: 50px;
     }
    
     /*CONTTIENE FOTO Y NOMBRE*/
     .row-autor-nombre  .autor-letra{
      width: 68%;
      height: 50px;
      display: block;
      position: relative;
      float: right;
     
    }


   /*NOMBRE DE AUTOR*/
   .autor-letra h3{
   font-size: 0.9rem;
   color: #000000;
   margin-top: 15px;
   }

     /*ESTO SOLO PARA LA PAGINA DIETAS ESPECIALES*/
     .autor-solo-nombre{
     width: 100%;
     }

       /*............P.............*/
     .autor-solo-nombre p{
       color: #000000;
       font-size: 1.1rem;
       font-family: 'Times New Roman', Times, serif;
       font-weight: 600;
     }



 

   /*primera caja ..................................... */
  .imagen-central{
   width: 100%;
   display: flex;
   flex-direction: row;
   margin-top: 25px;
   margin-bottom: 30px;
  }

   .imagen-principal {
    width: 88%;
   }


   .imagen-principal img{
    width: 100%;
   }


    .redes{
    display: inline-flex;
    width: 12%;
    max-width: 65px;
    margin-right: 2%;
    }


   .iconos-social{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
  
    .iconos-social li{
    list-style: none;
    margin-bottom: 10px;
    }

   .iconos-social  li .fa-envelope{
    padding: 8px 8px 8px 8px;
    color: #639a3a;
    font-size:  10px;
    width: 40px;
    height: 40px;
    border: 1px solid #639a3a; 
    border-radius: 9px;
    }
  
    .iconos-social li .fa-facebook-f{
    padding: 8px 8px 8px 8px;
    color: #639a3a;
    font-size:  10px;
    width: 40px;
    height: 40px;
    border: 1px solid #639a3a;
    border-radius: 9px;
    }
  
    .iconos-social  li .fa-pinterest{
      padding: 8px 8px 8px 8px;
    color: #639a3a;
    width: 40px;
    height: 40px;
    border: 1px solid #639a3a;
    border-radius: 9px;
    }
  
   .iconos-social  li .fa-instagram{
    border-radius: 15px;
    color:  #639a3a;
    padding: 8px 8px 8px 8px;
    font-size:  9px;
    width: 40px;
    height: 40px;
    border: 1px solid #639a3a;
    border-radius: 9px;
   
  }
  

  /*segundo articulo en adelante...*/
   .articulovacio-articulolleno{
      display: flex;
      flex-direction: row;
      width: 70%;
      max-width: 720px;
    }

    .articulo-vacio{
      width: 12%;
 
      display: block;
      position: relative;
      float:left
    }

     .articulolleno{
       display: block;
       position: relative;
       float: right;
       width: 88%;
     }

  
  
  /*..SEGUNDO ARTICULO....... */
  .segundo-articulo{
  display: block;
  width: 100%;
  }
 
  /*..........SEGUNDO TITULO.... - segundo articulo........ */
    .segundo-articulo h1{   
    font-size: 1.8rem;
      word-spacing: -1px;
      letter-spacing: -0.8px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      color: black;
    }

    /*..........P...................*/
  .segundo-articulo p{
  font-family:  'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color:  #2d2d2d;
  letter-spacing: 0.7px;
  font-weight:400;
  line-height: 22px;
  }

  .cursiva{
    display: block;
  width:  100%;
  border-left:2px solid #DDD;
  margin-top: 40px;
  margin-bottom: 60px;
  }

   /*.............P.................*/
  .cursiva p{
  margin-left: 30px;
  margin-right: 30px;
  margin-top:  -33px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.45;
  color: #2d2d2d;
  }


  .cursiva-quote::before { 
    content: "\201C"; /* inicio comilla */
    width: 30%;
    font-family: Georgia;
    font-size:40px; /* tamaño */
    font-weight: bold; 
    line-height: 70px;
    color:#DDD; /* Color  */
    margin-left: 8px;
    display: block;
    }
   
    
    .cursiva-quote::after{ /* final */
      content: "\201D";
      font-family: Georgia;
      font-size:40px; /* tamaño */
      font-weight: bold;
      line-height:0px;
      color:#DDD; /* Color  */
      margin-bottom: 0.2px;
      margin-left:  750px;
      display: block;
      }
     /*...................................................................*/


   /*QUOTE ............................................ */
   .blockquote{
    width:100%;
    margin: 40px 0px;  /*espaciado top left. */
    padding: 50px;
    border:  1px solid #DDD;
    color:#666;
    box-sizing: border-box;
    font-family:  'sans-serif' ;
    font-size: 1.15rem;
    font-weight:400;
    line-height: 1.3;
    }
   
    /*LINEA PARALELA DEL COSTADO*/
    .blockquote-bordered{
      border-left-width: 10px;
      }
      
   /*BLOQUE DEL PARAFO PARA DISTANCIAR DE LAS COMILLAS*/
   .blockquote-text {
    margin-left: 1px;
    margin-top: 14px;
   }
  
   .blockquote-text p{
   font-size: 1.2rem;
   line-height: 22px;
   margin:auto;
   color:#666;
   width: 90%;
   font-family:  'sans-serif' ;
   font-weight:400;
   }
   
   
   .blockquote-text:not(:last-child){
     margin-bottom: 1em;
   }
     
       .blockquote-quoted::before { 
       content: "\201C"; /* inicio comilla */
       width: 30%;
       font-family: Georgia;
       font-size:65px; /* tamaño */
       font-weight: bold; 
       line-height: 0px;
       color:#DDD; /* Color  */
       margin-bottom: -20px;
       margin-left: -42px;
       display: block;
       }
   
     
     
       .blockquote-quoted::after{ /* final */
        content: "\201D";
        font-family: Georgia;
        font-size:65px; /* tamaño */
        font-weight: bold;
        line-height:0px;
        color:#DDD; /* Color  */
        margin-top: 20px;
       margin-bottom: 0.2px;
        margin-left:  600px;
        display: block;
        }
  
       .blockquote-text-credit{
       text-align: right;
       width: 90%;  
       }
     
      /*rayita delante del nombre de autor ....... */
      .blockquote-text-credit::before{
       content: "\2014\0020";
       }
     /*FINAL QUOTE ...................................... */
    


  /*........ESTE SOLO ES DEL POST TURISMO................................*/
    .articulo-titulo{
    width: 100%;
  }
   
    .articulo-titulo h1{
    font-size: 1.8rem;
    color:#000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    letter-spacing: -0.5px;
   
    }

    /*...................................................*/
    .articulo  p{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight:400;
    line-height: 1.3;
    color: #2d2d2d;
    }
 


     /*container de dos imagenes*/
     .articulo-imagen{
    width: 100%;
    display: block;
    }
 

    .articulo-imagen img{
    width: 100%;
    max-width: 840px;
    }


   .articulo{
   width: 100%;
   }
 


   .imagen-sola{
    width: 100%;
    }

  .imagen-sola img{
    width: 100%;
  }




  /*FIN ...........................*/




    /*................................................................................................*/
   /*DE POST DE DIETAS APPBLOG*/
   /*CONTAINER TOTAL ----*/

     .primera-columna .contentwo{
      width: 100%;
      margin-bottom: 60px;
     }

    .contentwo .title-two{
       display: block;
       width: 100%;
     }

   
     /*--------------H1-------------------------------*/
     .contentwo .title-two h1{
      font-size: 1.8rem;
      word-spacing: -1px;
      letter-spacing: -0.8px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      color: black;
     }

     .contentwo  .subtitle-two{
     display: block;
     width: 100%;
     }

     .contentwo  .subtitle-two h2{
      font-size: 1.5rem;
      color: #000000;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
    }

    
    .image-two{
     width: 100%;
    }

    .image-two img{
     width: 100%;
   }

    /*PARRAFO..*/
   .contentwo  .content-two{
        display: block;
       width: 100%;
      }

      /*--------------P-----------------------*/
      .contentwo  .content-two  p{
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        color: #2d2d2d;
        letter-spacing: 0.8px;
        line-height: 24px;
        margin: auto;  /*para ajustar al conteedor*/
      }

  /*.....................................................*/



   /*--PLAN COMIDAS------------------------*/
   .semana{
    display: block;
    position: relative;
    float: left;
     width: 100%;
   }
 
    /*CAJA DE LA FOTO DIETA DIARIA*/
     .imagen-semana{
      width: 100%;
     }
     
     .imagediaone img{
       width: 100%;
     }


    .imagen-semana-dos {
      width: 100%;
    }
     
     .titulo-semana{
       width: 100%;

     }

     .titulo-semana  h2{
     font-size: 2.8rem;
     color: #000000;
    }

    .descripcion-semana{
      width: 100%;
     }

    .descripcion-semana p{
      font-size: 1.2rem;
      font-family: 'Times New Roman', Times, serif;
      color: #2d2d2d;
    }

    
   /*DIA....*/
    .container-dia{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 40px;
    }


   .plan-titulo-dia{
    width: 100%;
    }


    .plan-titulo-dia h2{
    font-size: 2.2rem;
    font-family: "Argos Bold",serif;
    color: #000000;
    font-weight: 700;
     }

    .imagen-dia{
      width: 100%;
    }



   /*..DE CONTAINER DIA SU DESCRIPCION..*/
    .dia{
      width: 100%;
      display: block;
      position: relative;
      float: left;
    }

    .dia p{
      font-size: 1.1rem;
      font-family: "Argos Bold",serif;
      color: #2d2d2d;
      line-height: 22px;
      margin-top: 1px;
      display: block;
      height: 1px;
    }

     /*PARTE FINAL DEL POST CONCLUSIONES*/
     .resumen-del-post{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 35px;
      margin-bottom: 45px;
     }

     .resumen-del-post .title-fin{
       display: block;
      }
      .resumen-del-post  .content-fin{
       width: 100%;
     display: block;
     }
  
  /*FIN DIETAS ESPECIALES*/

     /*..CAJA ARTICULO ULTIMO ................. */
     /*--CONTIENE ULTIMA REDACCION AUTOR Y FOTO Y CATEGORIA SIN LINK.................................................*/
      .articulo-ultimo{
     display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      }
 /*........TITULO ULTIMO DE PERDERPESO   (TERCERO Y ULTIMO)  ................ */
    

      
  /*--CATEGORIA QUE ESTA SIN LINK SOLO VA LA CATEGORIA ACTUAL..*/
  .categoria-en-post {
  width: 100%;
  display: flex;
  flex-direction: row;
  }

  /*--CATEGORIA QUE ESTA SIN LINK SOLO VA LA CATEGORIA ACTUAL..*/
  .categoria-en-post h2{
  font-size: 1.1rem;
  font-family: 'Times New Roman', sans serif;
  color:#000000;
  font-weight: 900;
  display: block;
  position: relative;
  float: left;
  margin-right: 6px;
  }

   .categoria-en-post p{
     display: block;
     position: relative;
     float: right;
     font-size: 1.1rem;
     color: #2d2d2d;
     font-family: 'Times New Roman', Times, serif;
   }
   /*FIN HASTA AQUI ARTICULO ULTIMO.................................................................*/


   /*CONTENEDOR DE CATEGORIAS CON LINKS*/
  .categorias-posts-links{
    width: 100%;
    display: block;
    position: relative;
    float: left;
    margin-top: 8px;
    margin-bottom: 40px;
    border-bottom: 1.5px solid	#DCDCDC;
    }

   /*..CATEGORIAS QUE VAN DEBAJO DE LA CATEGORIA ACTUAL SIN LINKS, ESTA SIN TIENEN LINK..*/
       .categorias-posts-links p{
        font-size: 1.1rem;
        font-family: 'Times New Roman', sans serif;
        color:#2d2d2d;
       }

  /*..CATEGORIAS QUE VAN DEBAJO DE LA CATEGORIA ACTUAL SIN LINKS, ESTA CON  LINK..*/
   .categorias-posts-links h4{
    font-size: 1.1rem;
    font-family: 'Times New Roman', sans serif;
    color:#000000;
    font-weight: 900;
   }

   .categorias-posts-links h3{
    font-size: 1.1rem;
    font-family: 'Times New Roman', sans serif;
    color:#2d2d2d;
    display: inline-block;
    }



    /*SEGUNDA COLUMNA .....................................2............. */
    .segunda-columna{
    width:10%;
    max-width: 180px;
    display: flex;

    }

    /*....ASIDE TERCERA COLUMNA DE LOS POSTS APPERDERPESO Y APPBLOG......................*/   
    /*TERCERA COLUMNA  ......................3.......COLUMNA...... */
    .tercera-columna-fija{
    width: 15%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
         }

         .tercera-columna{
          width:100%;
          display: block;
          max-height: 300px;
          height: 100%;
          margin-top: 20px;
         }

         .tercera-columna h2{
           font-family: 'Times New Roman', Times, serif;
         font-size: 1.2rem;
         color: #000000;
         font-weight: 900;
         }

         /*ASIDE IMAGEN Y TUTULO*/
         .aside-colum{
           width: 100%;
         }

         .tercera-columna  a h1{
          font-size: 1rem;
          font-family: 'Times New Roman', Times, serif;
          color: #2d2d2d;
          line-height:  20px;
          letter-spacing: 0.2px;
        }
      
        /*FIN BUSCADOR*/  

 

 .tercera-columna h1{
  font-size:1.1rem;
  color:#000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  }



  .tercera-columna img{
    width: 100%;
    margin-bottom: 6px;
    }



    /* BUSCADOR INTERNO */
  /*CONTAINER DEL BUSCADOR.................................................................... */
   .controls{
    width: 100%;
    max-height: 70px;
    height: 100%;
    margin-top: 40px;
    }
  
    /*CAJA DEL BUSCADOR */
    .controls #custom-search-input{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    width: 99%;
    height: 49.5px;
    background-color: #666;  
    box-shadow: 4px 8px 6px -6px #8c8c8c;
    }
  
    /*CAMPO SEARCH BUSCADOR */
   .controls  #custom-search-input .sin-borde{
     border-left: 2px;
    -moz-border-left: 2px;
    -webkit-border-left: 2px;
    font-size: 1em;
    font-weight: 6rem;
    padding: 4px;
    width: 80%;
    height: 49px;
    }
  
     /*BOTOM BUSCADOR    #666*/
    .controls .boton{
    border-right: 4px;
    -moz-border-right: 2px;
    -webkit-border-right: 2px;
    font-size: 1em;
    font-weight: 300;
    padding: -2px;
    width: 15%;
    height: 49px;
    background-color: #666;       /*...#639a3a ;*/
    color: #fff;

    }
  


  .categorias-aside{
    display: block;
    width: 100%;
    max-height: 260px;
    height: 100%;
  
  }

   .categorias-aside h4{
    color: #000000;
    font-weight: 900;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
 
   }

     .categorias-aside h3{
     color:#2d2d2d;
     font-size: 1.2rem;
     font-family: 'Times New Roman', Times, serif;
    }
 



    
   .children form {
    margin-left: -48px;
     }
  
     .children .children form {
    margin-left: -96px;
    /* will touch very left side */
     }
  
     #comentarios{
      background-color:  #FEEDF6;
    display: block;
    position: relative;
    float: left;
    width: 100%;
     }
  
    
    /*.........*/
    .col-md-10{
    display: block;
    }
     
    /*..0 COMENTARIOS...*/
    .col-md-10 h2{
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
     }

   /*CREAR NUEVO COENTARIO...*/
   #myForm h2{
     font-size: 1.5rem;
     font-family: 'Times New Roman', Times, serif;
     color: black;
     }


     #myDIV{
       display: block;
     }

     #myDIV .btn{
      background-color: #efefef;
      color: black;
      font-weight: 800;
    }

    #myDIV .btn-block{
      background-color: #efefef;
    }


    #myDIV .btn-lg{
      background-color: #efefef;
  
    }


     #myDIV button[type="submit"] {
      background-color: #efefef;
    
      }  
  
    /*CONTAINER GENERAL DEL CARRUSEL............................................. */
     .container-total-carrusell{
     display: block;
     position: relative;
     display: block;
      width: 100%;
     }
    
      .container-total-carrusell h1{
        font-size: 1.8rem;
        color: #000000;
     }
   
   
     
    /*..WIDHT 100% CONTAINER DE TODO IMAGENES Y TITULO*/
    #carrusel {
      display: block;
      float:left;
      width:90%;
      overflow:hidden;
       height: 305px;
      position:relative;
      margin: auto;
      margin-bottom: 20px;
      }
      

    /*CONTAINER DE TODAS LAS IMAGENES*/
     /*EL ACHO Y ALTO DE ESTE CONTENEDOR HACE QUE ENTRE LA IMAGEN Y LA DESCRIPCION */
     .carrusel {
      width:4000px;
      left: 1px;
      position:absolute;
      z-index:0;
     }

   /*MODIFICAR ANCHO Y ALTO  */
  .carrusel>div {
      float: left;
      margin-right: 14px;   /*ESPACIO */
      width: 100%;
      max-width: 260px;
  }

      /*CNTAINER DE CADA IMAGEN no poner border    border:#CCCCCC 0px solid;*/
 .carrusel .product {
    width: 100%;
    height: 260px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
     }
   
   /*MODIFICAR ANCHO Y ALTO COMO EL CARRUSEL DIV */
  .carrusel .product img {
  cursor:pointer;
  width: 100%;
  max-width: 260px;
  height: 210px;
  border: #666 1px solid;
  border-radius:6px;
  }
   


 .product a p{
      letter-spacing: -0.2px;
      font-family: 'Cabin', sans-serif;
      margin-left: auto;
      font-size: 1rem;
      font-weight: 400;
      color: #2d2d2d;
     margin-top: 8px;
     margin-left: 40px;
  }


   
  /*..CONTAINER DE LAS FLECHAS Y CIRCULO ...*/ 
  /*ALTURA DEL CIRCULO CON LA FLECHA INCLUIDA......... */
    .carusel{
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 9%; /*IMPORTANTE PARA LA ATURA DE LAS FLECHAS */
    margin-left:  49.5%;   /* ENCAJA LAS FLECHAS A LOS LADOS....... */
    }
  

    /*DISTANCIA ENTRE LOS DOS CIRCULO*/
     .carusel ul{
    position: relative ;
    display: flex;
    transform: translate(-50%, -50%);
    width: 98.5%;   /* ANCHO QUE ENCAJA DENTRO DEL DIV 100%........ */
    z-index: 10;
    }
  
    /*MEDIDAS PARA HACER EL CIRCULO*/
   .carusel li{
   list-style: none;
   width: 40px;
   height: 40px;
   display: flex;
   border-radius: 50%;
   transition: .5s;
  }
  
  .container-total-carrusell ul li:hover{
    background-color: #7aac41;
  }

    /*PALO*/
    .container-total-carrusell .carusel ul li span{
    position: absolute;
    width: 15px;   /* TAMAÑO DEL CUADRADO QUE SE CONVERTIRA EN FLECHA ......... */
    height: 15px;                /* IMPORTANTE PARA REDUCIR TAMAÑO DE FLECHA......... */
    border:3px solid #fff; /* da color solo a la flecha y no al palo*/
    transition: .5s; 
   }

     
     /*CIRCULO   IZQUIERDO*/
    .container-total-carrusell li.left-arrow{
      margin-left: 1.8%;
      background-color: #DCDCDC;
     }
    /*CIRCULO  DERECHO SE MUEVE A LO HORIZONTAL*/
    .container-total-carrusell li.right-arrow{
    margin-left:89%;
    background-color: #d9d9d9;
    }
  
     /*.........................................*/
     /* FLECHA LEFT ....FLECHA LEFT............... */
     .container-total-carrusell ul li.left-arrow span{
      top:50%;   /* MUEVE LA FLECHA A LO ALTO DENTRO DEL CIRCULO.......... */
      left:2.8%;    /* MUEVE TODA LA FLECHA. IMPORTANTE!!!!!!!!!!!!!!......... */
      transform: translateY(-50%) rotate(-45deg);
      border-right:none;  /* DESAPARECE UN LADO DEL CUADRADO......... */
      border-bottom: none;  
      }

     /* FLECHA RIGHT.............................FLECHA RIGHT............................ */
    .container-total-carrusell ul li.right-arrow span{
     top:50%;   /* MUEVE LA FLECHA A LO ALTO DENTRO DEL CIRCULO.......... */
     right: 2.8%;    /* MUEVE LA FLECHA.SOLA SIN EL CIRCULO   MUY IMPORTANTE!!!!!......... */
     transform: translateY(-50%) rotate(-45deg);
     border-left:none;  /* DESAPARECE UN LADO DEL CUADRADO......... */
     border-top: none;
      }
     /*............................*/


    /*.................................*/
     /* PALO ..............PALO.....PALO DERECHO................ */
    .container-total-carrusell ul li.right-arrow span:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
     transform-origin: left;
     transform: rotate(45deg) translate(-4px, 0px) scaleX(0) ;    /* ENCAJA EL ARROW AL PALO.......... */
     transition: .5s;                                                 /* Y EL SCALE DESPARECE EL PALO.......... */
     }
  
    
    /* PALO ........PALO IZQUIERDO LEFT */
    .container-total-carrusell ul li.left-arrow span:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform-origin: right;
    transform: rotate(45deg) translate(6px, 14px) scaleX(0) ;    /* ENCAJA EL ARROW AL PALO.......... */
    transition: .5s; 
    }
  
     /*..........................*/

   /*..........................................*/
  .container-total-carrusell ul li.right-arrow:hover span:before{
  transform: rotate(45deg) translate(-4px, 0px) scaleX(1);
  }

  .container-total-carrusell ul li.left-arrow:hover span:before{
    transform: rotate(45deg) translate(6px, 14px) scaleX(1);
    }
   
  /*FINAL CARRUSEL...................... */
  
  



   /* ...PAGINACION ...................................*/
  .paginacion{
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  margin-bottom: 8%;
  }

    /*LETRA*/
   .paginacion a{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    font-family: 'Arial Black';
    font-weight: 400; 
    }


     .paginacion a:hover{
     background-color: #000;
     color:#fff;
     }

   
   /*DA COLOR AL BOTON DE ACTIVO */
  .page-food.active .page-link{
    z-index: 5;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-family: 'Arial Black';
  }

   





/*FOOTER FOOTER FOOTE FOOTER  FOOTER FOOTER  FOOTER FOOTER FOOTER............................................. */

    #footer-articulo{
   clear: both;
    position: relative;
    height:  130px;
    margin-top: -130px;
    border-top: solid 1.5px #DCDCDC;
    display: block;
    width: 100%;
    z-index: 10;
    background-color: #f4f4f4;
    }
  
  
    /*CAJA PRINCIPAL DEL PRIMER FOOTER....NO PONER  margin-bottom: -15px;........................................................... */
   .footer-primero-articulo{
    width: 80%;
    max-width: 900px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
   }
 

  /*SUB-caja ICONOS SOCIALES*/
   .icon-social1{
    display: block;
    position: relative;
    float: left;
     width: 55%;
     max-width: 600px;
     height: 100px;
   }
  
    .icon-social1 p{
      font-size: 1.4rem;
      word-spacing: -3px;
      letter-spacing: -1px;
      font-family: 'Archivo Black', sans-serif;
      color: #7aac41;
      display: block;
      height: 30px;
    }
  
       /* UL*/
       .icon-social1  .social2{
     width: 32%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: 48px;
     padding-top: 0;
    }
 
  /*UL LI..*/
  .icon-social1 .social2 li{
    list-style: none;
    display: inline-block;
    height: 34px;

  }


.social2  li  .fa-envelope{
color: #2d2d2d;
    width:40px;
    height: 40px;
    padding: 6px 6px 6px 6px;
    border-radius: 24px;
     border: solid #E9E9E9;
}

.social2  li  .fa-facebook-f{
  color: #2d2d2d;
  width:40px;
  height: 40px;
  padding: 6px 6px 6px 6px;
  border-radius: 24px;
   border: solid #E9E9E9;

}


.social2  li  .fa-pinterest{
  color: #2d2d2d;
  width:40px;
  height: 40px;
  padding: 6px 6px 6px 6px;
  border-radius: 24px;
   border: solid #E9E9E9;
}


.social2 li   .fa-instagram{
  color: #2d2d2d;
  width:40px;
  height: 40px;
  padding: 6px 6px 6px 6px;
  border-radius: 24px;
   border: solid #E9E9E9;
}

 /*SUB-caja contenedor de la caja correo*/

 /*SUBCONTENEDOR DONDE ESTA EL BOX*/
 .box{
  display: block;
  position: relative;
  float: right;
 width: 35%;
 height: 100px;
  }

   /*LETRA DE LA CAJA DE SUSCRIBIR*/
   .box h3{
    letter-spacing: -0.1px;
    font-family: 'Archivo Black', sans-serif;
    font-size:  0.9rem;
    font-weight: 400;
    color: #2d2d2d;
    display: block;
    height: 34px;
    }
  

 /*CAJA TOTAL DEL INPUT Y DEL BUTTON*/
     /*cajita del correo */
  .box form{
    display: flex;
    flex-direction: row;
  }
  
  .box input[type="text"]
  {
  background-color: #fff;
  display: block;
   position: relative;
   float: left;
  width:60%;
  height: 50px;
  border: 1.5px solid 	#DCDCDC;
  padding: 0 18px;
  border-radius: 5px 0 0 5px;
  
  }
  
  .box button[type="submit"]{
    display: block;
    position: relative;
    float: right;
  border-radius: 0 5px 5px 0;
  width: 20%;
  height: 50px;
  border: none ;
  outline: none;
  cursor: pointer;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Archivo Black', sans-serif;
  }

/*FIN de la cajita del correo */



  /*FINAL FOOTER QUE ESTA EN EL CONTENIDO GENERAL OSEA MAIN*/
  .footer-second-articulo{
    width: 100%;
    display: flex;
    flex-direction: column;
  height: 22px;
  margin-top: 20px;
   }

  
   .final-food-articulo{
    height: 22px;
    display: block;
    width: 100%;
    }

  .final-food-articulo p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #2d2d2d;
  font-size: 0.8rem;
 
 }


/* FINAL.....FOOTER...............................................................................................................................................................................*/
/*FINAL .............................................................................................................................................*/




/* Animação     PARA QUE AL HACER SCROLL LAS LETRA O IMAGENES APAREZCAN*/

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }

  





      /*CONTAINER DEL SEARCH PERO SOLO PARA LA PAGINA SEARCHC ES DIFERENTE A CONTROLS QUE ES PARA LAS DEMAS PAGINAS*/
    #controls-uno{
    display: block;
    width: 75%;
    height: 80px;
    margin: auto;
    }

  
   #custom-search-input-search{
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     font-size: 1em;
     font-weight: 1rem;
     padding: 2px;
     width: 100%;
     height: 48px;
     background-color:#2d2d2d;
    
   }

    /*CAMPO SEARCH BUSCADOR */
    #controls-uno .sin-borde{
    border-left: 1px;
    -moz-border-left: 1px;
    -webkit-border-left: 1px;
    font-size: 1em;
    font-weight: 2rem;
    padding: 4px;
    width: 90%;
    height: 45px;
    
  }

   /*--IMPORTANTE PARA POSICIOINAR EL CURSOR*/

  
     /*BOTOM BUSCADOR */
     #controls-uno .boton{
    border-right: 4px;
    -moz-border-right: 2px;
    -webkit-border-right: 2px;
    font-size: 1em;
    font-weight: 300;
    padding: -2px;
    width: 10%;
    height: 45px;
    background-color:#000000;
    color: #fff;
    }
  

    input[type=text]:focus {
      outline: none;
  }

  #controls-uno #custom-search-input input[type=text]:focus {
    outline: none;
    border: 0;
    background-color: #fff;
    padding-left: 20px; 
   }





  /*CONTENEDOR DE RESULTADOS SEARCH PINTEREST........................................ */
  #container-search{
    display: block;
    width: 75%;
    margin: auto;
     margin-top: 80px;
     }
  
     /*TITULO RESUKTADOS*/
     #container-search h1{
       display: block;
      font-size: 2.3rem;
      font-family: 'Times New Roman', Times, serif;
      color: #000000;
      font-weight: 900;
      margin-bottom: 65px;
 
     }
  

     /*    margin:55px auto;
      -moz-column-count: 5;
      -moz-column-gap: 10px;
      -moz-column-fill: auto;
      -webkit-column-count: 3;
      -webkit-column-gap: 10px;
      -webkit-column-fill: auto;
      column-count: 5;
      column-gap: 15px;
      column-fill: auto;*/
    /*CONTENEDOR DE RESULTADOS SEARCH PINTEREST........................................ */
    .container-pinterest{
    width: 100%;
    display: flex;
    flex-direction: column;

       }
  
  
       /*box-shadow: 0 1px 2px  rgba(34, 25, 25, 0.4);*/
       /* margin:  0 2px 4px;*/
       /*box-shadow: 0 1px 0px  rgba(34, 25, 25, 0.4);
    background: #FEFEFE;
    background-image: linear-gradient(45deg, #FFF, #F9F9F9);*/
     .elemento{
    width:100%;
    height: 210px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    break-inside: avoid-column;
    overflow: hidden;
    -moz-column-break-inside:avoid;
    -webkit-column-break-inside:avoid;
    -column-break-inside:avoid;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9d9d9;
    
    margin-bottom: 42px;
  
  }
  
    .elemento-imagen{
      display: block;
      position: relative;
      float: left;
      width: 45%;
      max-width: 280px;
      height: 100%;
      max-height: 200px;
      margin-right: 22.5px;
    }
  
    .elemento-imagen img{
    margin: auto;
    width: 100%;
  
  
    }
  
    #container-search .elemento-descripcion{
       display: block;
       position: relative;
       float: right;
        width: 50%;
      }
  
    /*TITULO*/
    .container-pinterest .elemento-descripcion a h2{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 1.5rem;
    font-weight:800;
    line-height: 1.1em;
    letter-spacing: -.002em;
    }
  
    #container-search .elemento-descripcion p{
    font-family: 'Times New Roman', Times, serif;
    color: #2d2d2d;
    font-size:  1.2rem;
    line-height: 1.4em;
    }
  
    /*CAJA DE LEER MAS ...VER RECETA*/
    .elemento-descripcion .btn-outline-success{
      margin-top: 5px;
      padding: 4px 9px 4px 9px;
      font-size: 1.2rem;
      border-radius: 4px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 900;
      background-color:#000000;
      color:#fff;
      border: 1px solid #2d2d2d;
    }
  
  
    .elemento-descripcion .btn:hover{
      border: 2px solid #eeeeee;
      color: #000000;
      background-color: #eeeeee;
     
    }
  
    /*FIN DE CAJA LEER MAS VER RECETA*/


      /*HOVER DEL TITULO DEL POST DE LA BUSQIEDA SALE RAYA.............HOVER */
      a.left{
      position: relative;
      }
  
      /*HOVER DEL TITULO DE LA BUSQUEDA*/
     a.left::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #FEFEFE;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    }

   /*HOVER DEL TITULO DE LA BUSQUEDA*/
  a.left:hover:before {
    visibility: visible;
  }
        /* FINAL MENU ARROW */
    
  
  
  
  
  /* ..FIN CONTENEDOR DE PINTEREST........................................ */
  @media all and (min-width: 960px) {
    .container-pinterest {
       column-count: 4;
       }
  }
  @media all and (min-width: 1170px) {
    .container-pinterest {
       column-count: 5;
       }
  }
  
  