  *{
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  }
   /*ESTO LO PUSE POR LA LETRA ANIMADA DE LA PORTADA */
   *,
   *::before,
   *::after {
   box-sizing: border-box;
   }


   /*ESTO LO PUSE POR LA LETRA ANIMADA DE LA PORTADA */
   body{
  padding:0;
  margin: 0;
  background-color: #fff;
  color: rgba(0,0,0,.95);
  font-family: "Argos",serif;
   }

    html, body {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    }

   img{
   max-width: 100%;
   }

   /*CONTENEDOR PRINCIPAL DE TODA LA CABECERA INCLUYENDO SLIDER*/
   #wrapper {
    min-height: 100vh;
    min-width:250px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    }
    
    #wrapper > * {
    padding: 20px;
    }
     

   #container-nosotros{
  display: flex;
  flex-direction: column;
   margin: auto;
  width: 100%;
  max-width: 1250px;
  bottom:  25px;
  margin-top: 130px;
  padding: 0 0 0 0;
  }

  header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    position: fixed;
    z-index: 2000;   /*IMPORTANTE  */
    top:0;
    margin: auto;
    height: 170px;
    box-shadow: 0 8px 6px -6px #DCDCDC;
    background-color: #fff;
   }


    header.black{
    height: 170px;
    background-color: #fff;
    }

   .cabecera-responsive{
    display: none;
   }

   .cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
     max-width: 1250px;
     height: 80px;   /*IMPORTANTE EL ESPACIO DEL LOGO */
     margin-bottom: 20px;
     }
 
    /*caja */
    .cabecera .icon-social{
    width:10%;
    max-width: 100px;
    height: 80px;
    display: inline-flex;
    }
   
   
    .cabecera .social2{
      width:10%;
      max-width: 100px;
      height: 20px;
      margin-top: 62px;
      }
    
      .cabecera .social2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
      }

      .cabecera .icon-social .social2 li{
      display: inline-flex;
      list-style: none;
      }
    
      .icon-social ul li .fa-envelope:hover {
        color: #568632;
      }
      
      .icon-social ul li .fa-facebook-f:hover {
        color: #568632;
      }
      
      .icon-social ul li .fa-twitter:hover {
        color: #568632;
      }
      
      .icon-social ul li .fa-instagram:hover {
        color: #568632;
      }
      
      .icon-social ul li .fa-envelope{
        color: #568632;
      }
      
      .icon-social ul li .fa-facebook-f{
        color: #568632;
      }
      
      .icon-social ul li .fa-twitter{
        color: #568632;
      }
      
      .icon-social ul li .fa-instagram{
      color: #568632;
      }
      
  
  /*caja */
  .cabecera .logo{
    justify-content: center;
    align-items: center;
  width:60%;
  max-width: 320px;
  height: 80px;

  }

  .cabecera .logo img{
  
   width: 100%;
   max-width: 280px;
   height: 80px;
 
  }

 /*caja */
  .cabecera .menu-btn{
   width: 12%;
   height: 80px;
   max-width: 100px;
    display: inline-flex;
 
    }

  .menu-btn .suscribe{
   width: 100%;
   max-width: 100px;
   height: 18px;
   display: inline-flex;
   margin-top: 62px;
   }

  .cabecera .menu-btn .suscribe h4 {
   font-size: 1rem;
   font-family: 'Times New Roman', Times, serif;
   color: #2d2d2d;
   font-weight: 700;
   margin: auto;
   text-transform: uppercase;
   
   }


 /*...BURGER ESCONDIDO........BURGER ESCONDIDO....................*/
.menu-btn .menu-btn__burger{
 display: none;
 }

  

  nav{
    width:100%;
    height: 46px;
    display: flex;
    align-items: center;
    margin: auto;
    border-top: 0.7px solid 		#DCDCDC;
    border-bottom: 0.7px solid 		#DCDCDC;
  }
   
 
   /* ESTE ES EL UL  IMPORTANTE PARA EL MENU EN FILA Y QUE ESTE CENTRADO*/
   nav .nav{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width:100%;
  max-width: 1250px;
  }
  

    .nav li{
    list-style: none;
    padding: 2px 6px 2px 2px;
    margin: auto;
    }

    .nav li a{
      color: #4b4b4b;
      letter-spacing: -0.2px;
      word-spacing: -0.5px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.2rem;
     font-weight: 900;
     text-transform: lowercase;
     display: block;
     position: relative;
     text-decoration: none;
     padding: 10px;
    }

  
    /*MENU ESCONDID /*IMPORTANTE PARA EL ESPACIO DE LETRAS ENTREN EN EL UL*/
   .nav ul {
    display:none;
    position:absolute;
    top:100%; 
    }

  /* items del menu desplegable */
  /*IMPORTANTE PARA QUE LAS PALABRAS SAÑGAN COMPLETAS   float:none*/
  .nav ul li {
  width: 200px;
  float: none;
  margin-left: -10px; /*IMPORTANTE MUEVE */   
  }
    
  /* enlaces de los items del menu desplegable */
  .nav ul li a {
  line-height:120%;
  padding:10px 15px;
  background-color: #000000;
  color: #fff;
  font-size: 1.1rem;
  width: 100%;
  }
     
  /* items del menu desplegable al pasar el ratón     display:block;
  width: 100%;*/
  .nav li:hover > ul {
  display:block; 
  position:absolute;  
  width:60%; 
  }

    /*-----MENU SELECCIONADO,,,,,,,,,,,,,,,,,*/
    nav ul li a.active{
    text-decoration:line-through;
    color: #639a3a;
    }
    
       /* ANIMA CON RAYA AL HACE HOVER */
   /*HOVER SALE RAYA.............HOVER */
   .nav a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .4s;
    }
    /* .................... */
  
  
 
 
   .nav  a:hover:after {
     width: 100%;
     background: #568632;
     }





  .tres-columnas-nosotros{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
   margin-top: 80px;
  padding: 0 0 0 0;
  }

   /*PRIMERA COLUMNA ......................................................................................................*/
  .nosotros{
  width: 45%;
   max-width: 550px;
   z-index: 10;
   }


 /*primera caja ..................................... */
  .articulo{
  width: 100%;
  }

  .nosotros h1{
  line-height: 22px;
  font-weight: bolder;
  font-size: 3rem;
  word-spacing: 4px;
  letter-spacing: -1.5px;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 50px;
   }

.nosotros .articulo p{
font-family: 'Times New Roman', Times, serif;
font-size: 1.1rem;
font-weight: 400;
line-height: 1.45;
color: #666;
text-align: start; 
}



.nosotros .articulo p:first-letter{
  font-size: 3.5em;
  font-weight: bold;
  line-height: .6em;
  float: left;
  margin: .1em;
  font-family: 'Artifika', sans-serif;
}

#avanzado p:first-line {
  font-weight: bold;
}



 /*segunda caja ..................................... */
.dos-imagenes{
display: flex;
flex-direction: row;
width: 100%;
max-width: 550px;
justify-content: space-between;
margin-top: 20%;
}

.foto{
width: 45%;
max-width: 290px;
margin-left: 1%;

}
.foto img{
width: 100%;

width:"300" ;
height:"280" ;
}






 /*tercera caja ..................................... */
/*QUOTE ............................................ */

blockquote{
height: 10%;
width: 100%;
max-width: 550px;
margin-top: 15%;
 }
 

  blockquote:before { 
  content: "\201C"; /* inicio comilla */
  font-family: Georgia;
  font-size:60px; /* tamaño */
  font-weight: bold; 
  line-height:0px;
  color:	#d4d4d4; /* Color  */
  vertical-align:middle;
  padding-top: 70%;
  padding-left: 2%;
  }
 
  /*DESCRPCION*/
 blockquote h3{
    margin-top: -30px;
    margin-left: 60px;
    margin-right: 60px;
   font-size: 1.3rem;
  color: #666;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
  }

    /*AUTOR FUNDADOR*/
  blockquote p {
    margin-top: 30px;
    margin-left: 150px;
   font-size: 1rem;
  color: #000;
  font-weight: 900;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
  }



  blockquote .otroestilo{
    margin-top: 30px;
    margin-left: 10px;
   font-size: 1rem;
 color:#666;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
  }



 /*FINAL QUOTE ...................................... */




 /* cuarta          caja ..................................... */
.dibujo{
width: 100%;
margin-top: 10%;
}

.dibujo img{
width: 100%; 
}

   /*quinta       caja ..................................... */
   /*ARTICULO DOS */
   .articulo-dos{
  display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 20%;
   margin-bottom: 20%;
   padding-top: 0;
   justify-content: space-between;
   align-items: flex-start;
   justify-content: flex-start;
   }

    .articulo-dos .articulo-dos-uno{
  width: 44%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  }


   .articulo-dos-uno-vacio{
   width: 2%;
   max-width: 20px;
    }

.articulo-dos-uno h1{
line-height: 18px;
font-weight: bolder;
font-size: 1.3rem;
word-spacing: 4px;
letter-spacing: -1.5px;
font-family: 'Archivo Black', sans-serif;
margin-bottom: 12px;
}







.articulo-dos-uno p {
font-family: 'Times New Roman', Times, serif;
font-size: 1.1rem;
font-weight: 400;
line-height: 1.45;
color: #666;
}
  

/*  FINAL PRIMERA COLUMNA ......................................................................*/


/*  SEGUNDA COLUMNA ......................................................................*/
  .fijo1{
  width: 8%;
  max-width: 70px;
  }
/*  FINAL SEGUNDA COLUMNA ......................................................................*/


  .fija{
  display: flex;
  flex-direction: column;
  width: 43%;
  max-width:  600px;
  height: 90%;
  margin-bottom: 50%;
  }

   .fija .imagen-estatica{
  width: 100%;
  max-width:  600px;
  height: 80%;
  position: fixed ;
  bottom:0;
  }
 
  .imagen-estatica img{
   width: 100%;
   max-width: 600px;
   margin-top: 50px;
  }
 /*  FINAL SEGUNDA COLUMNA ...........................................

 




 /*FINAL TERCERA COLUMNA .......................................TERCERA............................*/





 




 
 







/* FOOTER ....................................... FOOTER...................................... */
   #footer1{
    clear: both;
    position: relative;
    height: 10px;
    margin-top: -10px;
   -webkit-box-shadow: 0px -3px 6px #DCDCDC;
  -moz-box-shadow: 0px -3px 6px #DCDCDC;
  box-shadow: 0px -3px 6px  #DCDCDC;
 
  width: 100%;
  z-index: 1000;
  bottom: 0; 
  background-color: #000000;
 
}

.footer-second1{
    width: 100%;
   max-width: 900px;
    height: 10px;
    margin-top: -10px;
    background-color: black;
    clear: both;
    position: relative;
    z-index: 1000; /*IMPORTANTE */
margin: 0 auto;
  }
 
  .footer-second1 p{
    text-align: center;
    color: #fff;
    display: block;
  

    
  }
 
  .footer-second1 p a{
    color: #fff;
 }
 



