




@media  screen and (max-width: 359px)  { 

  header{
    width:100%;
    background-color: #fff;
    position: fixed;
    z-index: 2000;
    margin: auto;
    top: 0;
    height: 50px;
    }
    
    
    header.black{
    background-color: #fff;
    }
    
  #wrapper {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
      
  #wrapper > * {
  padding: 5px;
  }
  .cabecera{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: lime;
  }
  .logo{
    height: 50px;
  }

  .logo img{
    width: 100%;
    height: 50px;
  }
  .boletin{
    display: block;

  }
  .boletin .menu-btn{
    display: block;
 
  }

   .menu-btn__burger{
    display: block;
    margin: auto;
   }
  #container-nosotros{
    width: 100%;
    margin: auto;
    margin-top: 18%;

    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 10%;
  margin: auto;
    }
    

    .nosotros{
      width: 100%;
     max-width:  359px;
   margin: auto;
      z-index: 10;
      }
      
      .nosotros .articulo h1{
        line-height: 22px;
        font-weight: bolder;
        font-size: 1.3rem;
        word-spacing: 2px;
        letter-spacing: -0.2;
        font-family: 'Archivo Black', sans-serif;
        }

        .nosotros .articulo p{
          line-height: 22px;
          font-weight: bolder;
          font-size: 0.9rem;
          word-spacing: 1px;
          letter-spacing: -0.02rem;
          font-family: 'Open sans';
          }
          
        




  /*quinta       caja ..................................... */
/*ARTICULO DOS */
.articulo-dos{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
margin-top: 20%;
margin-bottom: 20%;

}
  

  
.articulo-dos-uno{
  width: 49%;
  margin-bottom: 4%;
  }
  
.articulo-dos-uno h1{
line-height: 15px;
font-weight: bolder;
font-size: 1.2rem;
word-spacing: 4px;
letter-spacing: -1.5px;
font-family: 'Open sans';
}





.articulo-dos-uno p {
font-family: "Open sans";
font-size: 0.9rem;
font-weight: 400;
line-height: 1.45;
color: #666;
}
 /*IMAGENES*/
 .dos-imagenes{
   width: 100%;
   max-width: 390px;
display: flex;
flex-direction: row;
justify-content: space-between;
 }
 .foto{
  width: 49.9%;
 }
.foto img{
  width: 100%;
}

 blockquote{
  width: 100%;
  margin-top: 10%;
   }
   
 blockquote h3{
  margin-top: -30px;
  margin-left: 38px;
  margin-right: 30px;
 font-size: 0.8rem;
color: #666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}

blockquote p {
  margin-top: 30px;
  margin-left: 150px;
 font-size: 0.6rem;
color: #000;
font-weight: 900;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}

blockquote .otroestilo{
  margin-top: 30px;
  margin-left: 5px;
 font-size: 0.5rem;
color:#666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}
 /*NOMBRE DEL FINDADOR*/

  blockquote p{
    font-size: 0.6rem;
    margin-right: 8px;
  }


    /* cuarta          caja ..................................... */
.dibujo{
width: 100%;
  
margin-top: 10%;
}

.dibujo img{
  width: 100%;
 
  height: 400px;
}

/*  FINAL SEGUNDA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ......................................................................*/
 .fijo1{
width: 100%;
display: flex;
  flex-direction: column;
 }

.fija{
width: 100%;
max-width: 390px;
height: 100%;
display: flex;
flex-direction: column;
}

.imagen-estatica{
  width: 100%;
  max-width: 390px;
  height: 80%;
 position: relative;
  }


  .imagen-estatica img{
    width: 100%;
    bottom:0;
    }



 #footer1 p a{
   font-size: 0.5rem;
 }

}



@media only screen and (min-width: 360px) and (max-width: 640px)   {
  
/*.NAV RESPONSIVE..........................................*/
html, body{
  padding:0;
  margin: 0;
  background-color: #fff;
  color: rgba(0,0,0,.95);
  font-family: "Argos",serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
   }

#wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width:250px;
  height: auto;
  flex-wrap: wrap;
}

#wrapper > * {
padding: 17px;
}  


  .cabecera{
  display: none;
  visibility: hidden;
  }


      /*.. #DCDCDC ..*/
      header{
        width: 100%;
        height:90px;
        min-width:370px;
        top:0;
        position:fixed;
        z-index:2000;
        box-shadow: 0 8px 6px -6px;
      }
   

   
   header.black{
   background-color: #fff;
   height:  90px;
   margin: auto;
   }
 
   /*.. max-with:640px;...*/
   .cabecera-responsive{
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38px;
    margin-top: -8px;
    margin-left: -8px;
 
     }
    
  
   
   /*caja AL PONER MAX WIDTH NO SE VE BIEN EL MENU MEJOR SOLO PORCENTAJE*/
    .cabecera-responsive .logo{
     display: inline-flex;
    width: 30%;
    max-width: 190px;
   height: 38px;
     }
      
  
    .cabecera-responsive .logo img{
      display: block;
     width: 90%;
     max-width: 150px;
     height: 38px; 
     }
  
  
            /*caja hay 2. A */
      .cabecera-responsive .menu-btn {
      display: block;
      position: relative;
      float: right;
      width: 40%;
      max-width: 210px;
      height: 38px;
     margin: auto;
      }
  

  .cabecera-responsive .menu-btn  .suscribe {
   display: block;
   position: relative;
   float: left;
   width: 100%;
   max-width: 70px;
   height: 34px;
   }
  
    
      .cabecera-responsive .menu-btn  .suscribe a h4{
       font-size: 0.9rem;
       margin-top: 22px;
       margin-left: 8px;
       font-weight: 700;
       letter-spacing: 0.2px;
      }
   

     

   .buscador-responsive{
   display: block;
   position: relative;
    float: left;
   width:  100%;
   margin-left: -8px;
   height: 30px;
   margin-top: 6px;
   }
    

    .buscador-responsive #controls-responsive{
     width: 100%;
     height: 30px;
     z-index: 10;
      }


      .buscador-responsive #controls-responsive   #custom-search-input-responsive{
        width: 99%;
        height: 30px;
        display: flex;
        flex-direction: row;
        font-size: 0.9em;
         padding: 1px 1px;
         border-radius: 8px;
        border: 2px solid #f4f4f4;
      }



      .buscador-responsive #controls-responsive   #custom-search-input-responsive .sin-borde{
        height: 25px;
        width: 90%;
        border-radius: 15px;
        font-size: 0.7em;
        font-weight: lighter;
        padding-left: 10px; /*MUEVE LA LETRA*/
      }



      .buscador-responsive #controls-responsive   #custom-search-input-responsive .boton{
        height: 25px;
        width: 10%;
        border-radius: 10px;
        background-color: #fff;
      }



      .buscador-responsive #controls-responsive #custom-search-input-responsive input[type=text]:focus {
       outline: none;
       border: 0;
       background-color: #fff;
      }
     

      /*---------------------------------------------------------------------*/
    /*--MUEVE EL MENU............ESTE ES EL BURGER*/
    .cabecera-responsive .menu-btn .menu-btn__burger {
     display: block;
     position: relative;
     float: right;
     margin-top: 24px;
     width: 100%;
       max-width: 34px;
      height: 4px;
      background: #2d2d2d;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
      z-index: 1000;
       }
   


       .cabecera-responsive  .menu-btn__burger::before,
       .cabecera-responsive .menu-btn__burger::after {
         content: '';
         position: absolute;
         height: 4px;
         width: 34px;  /*IMPORTANTE*/
         background:#2d2d2d;
         border-radius: 2px;
         box-shadow: 0 2px 5px rgba(255,101,47,.2) ;
         transition: all .5s ease-in-out;
        z-index: 800;  
       }

     
       .cabecera-responsive  .menu-btn .menu-btn__burger::before {
     transform: translateY(-8px);

     }


     .cabecera-responsive .menu-btn .menu-btn__burger::after {
   transform: translateY(8px);

   }


   /* ANIMATION */
   .cabecera-responsive  .menu-btn.open .menu-btn__burger {
   transform: translateX(-50px);
   background: transparent;
   box-shadow: none;
   }

   .cabecera-responsive .menu-btn.open .menu-btn__burger::before {
   transform: rotate(45deg) translate(35px, -35px);
   background: #fff;
   }

   .cabecera-responsive  .menu-btn.open .menu-btn__burger::after {
       transform: rotate(-45deg) translate(35px, 35px);
       background: #fff;
     }






     .cabecera-responsive .nenu-btn .menu-btn__burger:hover{
       background-color: #639a3a;
     }
   

     .cabecera-responsive  .menu-btn .menu-btn__burger:hover::before{
      background-color: #639a3a;
    }


     .cabecera-responsive   .menu-btn .menu-btn__burger:hover::after{
       background-color: #639a3a;
     }






/*..FIN CABECERA RESPONSIVE.................*/
/*margin-left: 5.4%;/*IMPORTANTE */
nav{
  width:100%;   /*IMPORTANTE MODIFIQUE EL ANCHO DEL NAV*/
  height: 100%;/*IMPORTANTE */
  position: fixed;
   top:-8px;  /*IMPORTANTE para que arriba no tenga espacios */
  min-height: 100vh;
  left: -100%;    /*con esto el menu desaparece porque se va fuera y luego escribimos el codigo javascript */
  background-color:#000000; /*FONDO DEL MENU*/
  background-position:72% 50%;
  background-repeat:no-repeat;
  opacity: 1;
  z-index:40;
  }

   /*MUY IMPORTANTE ESTO ES PARA EL ESPACIO DEL UL  */
   nav .nav{
     display: flex;
     flex-direction: column;
    width:100%;   /*IMPORTANTE MODIFIQUE EL ANCHO DEL NAV*/
    height: 93%;/*IMPORTANTE */
    margin-left: -42%;/*IMPORTANTE **/
    z-index:30;
    }

     /*ESTO ES PARA EL ESPACIO DE LAS LETRAS*/
    nav .nav li{
    margin-top: 1.5%;/*IMPORTANTE */
    list-style: none;
    height: 70px;/*IMPORTANTE CON ESTO LAS RAYAS ANIMADAS NO SALEN POR OTRO LADO */
    cursor:pointer;
    }
    
    nav .nav li a {
    z-index: 100;
    background-color:  #000000;  /*IMPORTANTE  DAR COLOR NEGRO*/
    display: block;
    position: absolute;
    width: 60%;
    color: #fff;
    font-weight: lighter;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-family:  sans-serif;
    }
  
     /*IMPORTANTE*/

     
    
 
      /* NAV ESCONDIDO  NAV ESCONDIDO     margin-top:-40px;*/
   /*MUY IMPORTANTE PARA QUE LAS RAYAS NO SALGAN FUERA COLOR AL SUBMENU ESCONDIDO*/
      nav .nav li:hover > ul {
       display: block;
      margin-left: -200px;
     
      height: 200px;
      visibility: visible; 
      z-index: 598;
      }

    nav .nav li ul li a{
    font-size: 1rem;
    display: block;
    position: absolute;
    max-width: 200px;
    width: 100%;
    margin-left: -2px;
    padding-bottom: -2px;
    margin-left: -76px;
    }

     nav .nav ul {
    visibility: hidden;
    }

      /* f............FIN MENU ESCONDIDO AQUI SE DA EL COLOR DEL NAV.........................MENU ESCONIDDO DEL NAV ARROW.......................*/
  
 /*ANIMACION SUBRAYADO */
 nav a {
 display: inline-block;
 position: relative;
 color: white;
 text-decoration: none;
 z-index: 40;
 }

  nav  a:after {
 content: "";
 display: block;
 margin-top: 30px;  /*ESTO RAYA EN EL MEDIO DE LA LETRA.  MENU BURGER*/ /*transition: all .8s;*/
 height: 2px;
 width: 0px;
 transition: all .8s;
 z-index: 10;
 }

  nav  a:hover:after {
  width: 100%;
  padding-left: 40px;
  padding-right: -150px;
  height: 2px;
  background: white;
  }


  /*.......................................*/
   #container-nosotros{
   display: flex;
   flex-direction: column;
   width: 100%;
    margin-top: 15%;
    margin-left: -0.5px;
    }


   .tres-columnas-nosotros{
    display: flex;
    flex-direction: column;
    width: 100%;
 
    }
    

    .nosotros{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:  auto;
    z-index: 10;
    }
      
    .nosotros .articulo h1{
    line-height: 22px;
    font-weight: bolder;
    font-size: 1.3rem;
    word-spacing: 2px;
    letter-spacing: -0.2;
    font-family: 'Archivo Black', sans-serif;
    }

    .nosotros .articulo p{
    line-height: 22px;
    font-weight: bolder;
    font-size: 0.9rem;
    word-spacing: 1px;
    letter-spacing: -0.02rem;
    font-family: 'Open sans';
    }
          
        




  /*quinta       caja ..................................... */
  /*ARTICULO DOS */
 .articulo-dos{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: space-around;
 margin-top: 20%;
 margin-bottom: 20%;
 }
  

  
 .articulo-dos-uno{
  width: 49%;
  max-width: 250px;
  margin-bottom: 4%;
  }
  
.articulo-dos-uno h1{
line-height: 15px;
font-weight: bolder;
font-size: 1.2rem;
word-spacing: 4px;
letter-spacing: -1.5px;
font-family: 'Open sans';
}





.articulo-dos-uno p {
font-family: "Open sans";
font-size: 0.9rem;
font-weight: 400;
line-height: 1.45;
color: #666;
}
 /*IMAGENES*/
 .dos-imagenes{
   width: 100%;
   max-width: 800px;
display: flex;
flex-direction: row;
justify-content: space-between;
 }
 .foto{
  width: 49.9%;
 }
.foto img{
  width: 100%;
}

 blockquote{
  width: 100%;
  margin-top: 10%;
   }
   
 blockquote h3{
  margin-top: -30px;
  margin-left: 38px;
  margin-right: 30px;
 font-size: 0.8rem;
color: #666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}

   blockquote p {
  margin-top: 30px;
  margin-left: 150px;
  font-size: 0.6rem;
  color: #000;
  font-weight: 900;
   font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
   }

   blockquote .otroestilo{
  margin-top: 30px;
  margin-left: 5px;
  font-size: 0.5rem;
  color:#666;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
   }
 /*NOMBRE DEL FINDADOR*/

     blockquote p{
    font-size: 0.6rem;
    margin-right: 8px;
    }


    /* cuarta ..caja ............................. */
  .dibujo{
  width: 100%;
  margin-top: 10%;
  }

  .dibujo img{
  width: 100%;
 
   }

  /*  FINAL SEGUNDA COLUMNA ......................................................................*/
   /*  SEGUNDA COLUMNA ......................................................................*/
  .fijo1{
  width: 100%;
   display: flex;
  flex-direction: column;
  }

.fija{
width: 100%;
max-width: 790px;
height: 100%;
display: flex;
flex-direction: column;
}

.imagen-estatica{
  width: 100%;
  max-width: 790px;
  height: 80%;
 position: relative;
  }


  .imagen-estatica img{
    width: 100%;
    bottom:0;
    }


 /*  FOOTER NOSOTROS..........................................*/

 #footer1{
  clear: both;
  position: relative;
  height: 30px;
  margin-top: -30px;
 -webkit-box-shadow: 0px -3px 6px #DCDCDC;
-moz-box-shadow: 0px -3px 6px #DCDCDC;
box-shadow: 0px -3px 6px  #DCDCDC;
 display: flex;
 flex-direction: column;
width: 100%;
z-index: 1000;
bottom: 0; 

}



   .footer-second1{
     width: 100%;
     max-width: 500px;
   }
         
   .footer-second1 p{
    font-size: 0.7rem;
    color:#fff;
    text-align: center;
    width: 100%;
     max-width: 500px;
  
  }

 }








/*QUERY...................................................*/

    @media only screen and (min-width: 641px) and (max-width: 768px){

      #container-nosotros{
        width: 100%;
        margin: auto;
        margin-top: 15%;
        }
  
  
      .tres-columnas-nosotros{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20%;
        margin-bottom: 10%;
      margin: auto;
        }
        
  
        .nosotros{
          width: 100%;
       max-width:  768px;
         display: flex;
         flex-direction: column;
          margin:  auto;
          z-index: 10;
          }
          
          .nosotros .articulo h1{
            line-height: 22px;
            font-weight: bolder;
            font-size: 1.3rem;
            word-spacing: 2px;
            letter-spacing: -0.2;
            font-family: 'Archivo Black', sans-serif;
            }
  
            .nosotros .articulo p{
              line-height: 22px;
              font-weight: bolder;
              font-size: 0.9rem;
              word-spacing: 1px;
              letter-spacing: -0.02rem;
              font-family: 'Open sans';
              }
              
  
      /*quinta       caja ..................................... */
   /*ARTICULO DOS */
  .articulo-dos{
    display: flex;
    flex-direction: row;
    width: 100%;
   justify-content: space-around;
    margin-top: 20%;
    margin-bottom: 20%;
    }
      
  
    .articulo-dos-uno{
      width: 49%;
      max-width: 250px;
      margin-bottom: 4%;
      }
      

    .articulo-dos-uno h1{
    line-height: 15px;
    font-weight: bolder;
    font-size: 1.2rem;
    word-spacing: 4px;
    letter-spacing: -1.5px;
    font-family: 'Open sans';
    }
    
    
    
    .articulo-dos-uno p {
    font-family: "Open sans";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.45;
    color: #666;
    }
     /*IMAGENES*/
     .dos-imagenes{
    width: 100%;
    max-width: 800px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     }

     .foto{
      width: 49.9%;
     }

    .foto img{
      width: 100%;
    }
  
     blockquote{
      width: 100%;
      margin-top: 10%;
       }
       
     blockquote h3{
      margin-top: -30px;
      margin-left: 38px;
      margin-right: 30px;
     font-size: 0.8rem;
    color: #666;
    font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
    }
  
    blockquote p {
      margin-top: 30px;
      margin-left: 150px;
     font-size: 0.6rem;
    color: #000;
    font-weight: 900;
    font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
    }
  
    blockquote .otroestilo{
      margin-top: 30px;
      margin-left: 5px;
     font-size: 0.5rem;
   color:#666;
    font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
    }
     /*NOMBRE DEL FINDADOR*/
  
      blockquote p{
        font-size: 0.6rem;
        margin-right: 8px;
      }
  

        /* cuarta          caja ..................................... */
   .dibujo{
    width: 100%;
    margin-top: 10%;
    }
    
    .dibujo img{
      width: 100%;
      height: 400px;
    }
  
  /*  FINAL SEGUNDA COLUMNA ......................................................................*/
  /*  SEGUNDA COLUMNA ......................................................................*/
     .fijo1{
    width: 100%;
    display: flex;
    flex-direction: column;
     }
  
  .fija{
    width: 100%;
    max-width: 790px;
    height: 100%;
    display: flex;
    flex-direction: column;
    }
  
    .imagen-estatica{
      width: 100%;
      max-width: 790px;
      height: 80%;
     position: relative;
      }

      .imagen-estatica img{
        width: 100%;
        bottom:0;
        }
    
  
  
   /*  FOOTER NOSOTROS..........................................*/
  
   #footer1{
    clear: both;
    position: relative;
    height: 30px;
    margin-top: -30px;
   -webkit-box-shadow: 0px -3px 6px #DCDCDC;
  -moz-box-shadow: 0px -3px 6px #DCDCDC;
  box-shadow: 0px -3px 6px  #DCDCDC;
   display: flex;
   flex-direction: column;
  width: 100%;
  z-index: 1000;
  bottom: 0; 
  
  }
  
  
  
     .footer-second1{
       width: 100%;
       max-width: 500px;
     }
           
     .footer-second1 p{
      font-size: 0.7rem;
      color:#fff;
      text-align: center;
      width: 100%;
       max-width: 500px;
    
    }
  
  
  
      }
  
  
  
  



  
  /* 769 A 900 ..........A PARTIR DE AQUI PONER COMO ES LA GRANDE......................................................................... */
  
    @media only screen and (min-width: 769px) and (max-width: 900px){
    
      #wrapper {
        margin:0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
            
      #wrapper > * {
      padding: 10px;
      }
          
    #container-nosotros{
      width: 100%;
      margin: auto;
      margin-top: 18%;
      }


    .tres-columnas-nosotros{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 20%;
      margin-bottom: 10%;
    margin: auto;
      }
      

      .nosotros{
        width: 45%;
       display: flex;
       flex-direction: column;
        margin:  auto;
        z-index: 10;
        }
        
        .nosotros .articulo h1{
          line-height: 22px;
          font-weight: bolder;
          font-size: 1.7rem;
          word-spacing: 2px;
          letter-spacing: -0.2;
          font-family: 'Archivo Black', sans-serif;
          }

          .nosotros .articulo p{
            line-height: 22px;
            font-weight: bolder;
            font-size: 0.9rem;
            word-spacing: 1px;
            letter-spacing: -0.02rem;
            font-family: 'Open sans';
            }
            
          


 /* cuarta          caja ..................................... */
 .dibujo{
  width: 100%;
  max-width: 390px;
  margin-top: 10%;
  }
  
  .dibujo img{
    width: 100%;
    max-width: 390px;
  }


    /*quinta       caja ..................................... */
 /*ARTICULO DOS */
  .articulo-dos{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  margin-top: 20%;
  margin-bottom: 20%;
  }
    

    
  .articulo-dos-uno{
    width: 90%;
    max-width: 390px;
    }
    
  .articulo-dos-uno h1{
  line-height: 22px;
  font-weight: bolder;
  font-size: 1rem;
  word-spacing: 4px;
  letter-spacing: -1.5px;
  font-family: 'Archivo Black', sans-serif;
  }
  
  
  
  
  
  .articulo-dos-uno p {
  font-family: "Open sans";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.45;
  color: #666;
  }

   /*IMAGENES*/
   .dos-imagenes{
     width: 100%;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .foto{
    width: 45%;
    max-width: 450px;
   }

   .foto  img{
    width: 100%;
    max-width: 450px;
   }

   blockquote{
    height: 10%;
    width: 100%;
    max-width: 390px;
    margin-top: 15%;
     }
     
   blockquote h3{
    margin-top: -2px;
    margin-left: 30px;
    margin-right: 60px;
   font-size: 0.93rem;
  color: #666;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
  }

  blockquote p {
    margin-top: 30px;
    margin-left: 150px;
   font-size: 0.6rem;
  color: #000;
  font-weight: 900;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
  }

  blockquote .otroestilo{
    margin-top: 30px;
    margin-left: 5px;
   font-size: 0.5rem;
 color:#666;
  font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
  }
   /*NOMBRE DEL FINDADOR*/

    blockquote p{
      font-size: 0.6rem;
      margin-right: 8px;
    }

/*  FINAL SEGUNDA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ......................................................................*/
    .fijo1{
     width: 1%;
     max-width: 4px;
     }

   .fija{
  width: 50%;
  height: 100%;
  }

  .imagen-estatica{
    width: 100%;
    height: 80%;
    position: fixed ;
    bottom:0;
    }

    .imagen-estatica img{
      width: 100%;
      max-width: 468px;
      bottom:0;
      }

     }
  
 /*HASTA AQUI ESTAN LOS MENUS OCULTOS........................................................................................................................................*/





 /* 901 A 1000 ..................................................................................................................................................................................................... */
  

    @media only screen and (min-width: 901px) and (max-width: 1000px){


      #wrapper {
        margin:0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      
      }
            
      #wrapper > * {
      padding: 10px;
      }



    #container-nosotros{
      width:100%;
      max-width: 920px;
    margin: auto;
    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: row;
    width:100%;
     justify-content: space-between;
    margin-bottom: 10%;
  margin: auto;
    }
    
  /*CONTAINER TOTAL DE LA PRIMERA COLUMNA*/
    .nosotros{
      width: 45%;
     margin: auto;
     display: flex;
     flex-direction: column;
      margin-top: 4%;
      z-index: 10;
      }
      
      /*TITULO NUESTRA HISTORIA*/
      .nosotros .articulo h1{
        line-height: 22px;
        font-weight: bolder;
        font-size: 2rem;
        word-spacing: 2px;
        letter-spacing: -0.2;
        font-family: 'Archivo Black', sans-serif;
        }

        .nosotros .articulo p{
          line-height: 22px;
          font-weight: bolder;
          font-size: 0.95rem;
          word-spacing: 1px;
          letter-spacing: -0.02rem;
          font-family: 'Open sans';
          }
          
         /*DOS IMAGENES*/
 .dos-imagenes{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 450px;
   }


   .foto{
    width: 45%;
    max-width: 450px;
   }
    
   .foto img{
    width: 100%;
    max-width: 450px;
   }


  /*quinta       caja ..................................... */
/*ARTICULO DOS */
.articulo-dos{
display: flex;
flex-direction: column;
width: 100%;
max-width: 450px;
margin-top: 20%;
margin-bottom: 20%;

}
  
  
.articulo-dos-uno{
  width:  100%;
  max-width: 450px;
  }
  
.articulo-dos-uno h1{
line-height: 22px;
font-weight: bolder;
font-size: 1rem;
word-spacing: 4px;
letter-spacing: -1.5px;
font-family: 'Archivo Black', sans-serif;
}



.articulo-dos-uno p {
font-family: "Open sans";
font-size: 0.9rem;
font-weight: 400;
line-height: 1.45;
}


  blockquote{
  width: 100%;
  max-width: 450px;
  margin-bottom: 5%;
   }
   

 blockquote h3{
  margin-top: -30px;
  margin-left: 60px;
  margin-right: 60px;
 font-size: 0.9rem;
color: #666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}


/*NOMBRE DEL FINDADOR*/
blockquote p {
  margin-top: 30px;
  margin-left: 150px;
 font-size: 0.8rem;
color: #000;
font-weight: 900;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}

blockquote .otroestilo{
  margin-top: 30px;
  margin-left: 5px;
 font-size: 0.5rem;
color:#666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}
 


  
/* cuarta          caja ..................................... */
.dibujo{
  width: 100%;
  max-width: 450px;
  }
  
  .dibujo img{
    width: 100%;
    max-width: 450px;
  }
  
  
/*  FINAL SEGUNDA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ......................................................................*/
 .fijo1{
  width: 1%;
  max-width: 4px;
 }

.fija{
width: 45%;
height: 100%;
}

.imagen-estatica{
  width: 100%;
  max-width: 500px;
  height: 80%;
  position: fixed;
  bottom:0;
  }


   
  .imagen-estatica img{
  width: 100%;
  max-width: 490px;
  height: 80%;
  position: fixed ;
  bottom:0;
  }

    }
  





  /* 1001 A 1080 ..................................................................................................................................................................................................... */
  

    @media only screen and (min-width: 1001px) and (max-width: 1080px){

      #wrapper {
        margin:0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      
      }
            
      #wrapper > * {
      padding: 10px;
      }

    #container-nosotros{
      width:100%;
      max-width: 1090px;
    margin: auto;
    margin-top: 11%;
    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: row;
    width:100%;
      max-width: 1005px;
    margin-top: 5%;
    margin-bottom: 10%;
    }
    

  /*CONTAINER TOTAL DE LA PRIMERA COLUMNA*/
    .nosotros{
      width: 45%;
      margin-top: 5%;
    max-width: 495px;
     display: flex;
     flex-direction: column;
     margin: auto;
      z-index: 10;
      }
      
      /*TITULO NUESTRA HISTORIA*/
      .nosotros .articulo h1{
        line-height: 22px;
        font-weight: bolder;
        font-size: 2rem;
        word-spacing: 2px;
        letter-spacing: -0.2;
        font-family: 'Archivo Black', sans-serif;
        }

        .nosotros .articulo p{
          line-height: 22px;
          font-weight: bolder;
          font-size: 0.95rem;
          word-spacing: 1px;
          letter-spacing: -0.02rem;
          font-family: 'Open sans';
          }
          
         /*DOS IMAGENES*/
 .dos-imagenes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 495px;
   }


   .foto{
    width: 49.5%;
    max-width: 495px;
    height: 100%;
    max-height: 400px;
   }
    
   .foto img{
    width: 100%;
    max-width: 495px;
   }


  /*quinta       caja ..................................... */
/*ARTICULO DOS */
.articulo-dos{
display: flex;
flex-direction: column;
width: 100%;
max-width: 495px;
margin-top: 20%;
margin-bottom: 20%;
}
  
.articulo-dos-uno{
  width: 99%;
  max-width: 495px;
  }
  
.articulo-dos-uno h1{
line-height: 22px;
font-weight: bolder;
font-size: 1rem;
word-spacing: 4px;
letter-spacing: -1.5px;
font-family: 'Archivo Black', sans-serif;
}


.articulo-dos-uno p {
font-family: "Open sans";
font-size: 0.96rem;
font-weight: 400;
line-height: 1.45;
color: #666;
}


blockquote{
  width: 100%;
  max-width: 495px;
  margin-bottom: 5%;
   }
   
 /*DESCRIPCION*/
 blockquote h3{
  margin-top: -10px;
  margin-left: 60px;
  margin-right: 60px;
 font-size: 0.97rem;
color: #666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}


/*NOMBRE DEL FUNDADOR*/
blockquote p {
  margin-top: 30px;
  margin-left: 150px;
 font-size: 0.8rem;
color: #000;
font-weight: 900;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}



blockquote .otroestilo{
  margin-top: 30px;
  margin-left: 5px;
 font-size: 0.5rem;
color:#666;
font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;
}
 


  
/* cuarta          caja ..................................... */
.dibujo{
  width: 100%;
  max-width: 495px;
  }
  
  .dibujo img{
    width: 100%;
    max-width: 495px;
  }
  
  
/*  FINAL PRIMERA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ...................................*/
 .fijo1{
width: 2%;
max-width: 8px;
 }
/*..TERCERA COLUMNA ...................................*/
.fija{
width: 50%;
height: 100%;
}

.imagen-estatica{
  width: 100%;
  height: 80%;
  position: fixed;
  bottom:0;
  }


  .imagen-estatica img{
    width: 100%;
    max-width: 544px;
    }

    }







    
  /* 1081 A 1149 ..................................................................................................................................................................................................... */
  

  @media only screen and (min-width: 1081px) and (max-width: 1149px){

  
    #container-nosotros{
      width:100%;
      max-width: 1100px;
    margin: auto;
    margin-top: 18.5%;
    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: row;
    width:100%;
      max-width: 1082px;
    margin-top: 20%;
    margin-bottom: 10%;
  margin: auto;
    }
    
      /*CONTAINER TOTAL DE LA PRIMERA COLUMNA*/
  .nosotros{
    width: 45%;
  max-width: 500px;
   display: flex;
    margin:  auto;
    z-index: 10;
    }
   

    /*quinta       caja ..................................... */
 /*ARTICULO DOS */
.articulo-dos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin-top: 20%;
 
  }
  
  .articulo-dos-uno{
    width: 100%;
    max-width: 225px;
    margin-left: 1.3%;
    }
/*  FINAL PRIMERA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ...................................*/
   .fijo1{
  width: 2%;
  max-width: 18px;
   }

  /*..TERCERA COLUMNA ...................................*/
  .fija{
  width: 40%;
  height: 100%;
  }
  
  .imagen-estatica{
    width: 80%;
 
    height: 80%;
    position: fixed ;
    bottom:0;
    }

    .imagen-estatica img{
      width: 97%;
      }
  

  }








  /* 1150 A 1199 ..................................................................................................................................................................................................... */
  

  @media only screen and (min-width: 1150px) and (max-width: 1199px){


    #container-nosotros{
      width:100%;
      max-width: 1200px;
    margin: auto;
    margin-top: 18.5%;
    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: row;
    width:100%;
      max-width: 1150px;
    margin-top: 20%;
    margin-bottom: 10%;
  margin: auto;
    }
    
      /*CONTAINER TOTAL DE LA PRIMERA COLUMNA*/
  .nosotros{
    width: 45%;
  max-width: 550px;
   display: flex;
    margin:  auto;
    z-index: 10;
    }
   

    /*quinta       caja ..................................... */
 /*ARTICULO DOS */
.articulo-dos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
  margin-top: 20%;
 
  }
  
  .articulo-dos-uno{
    width: 100%;
    max-width: 225px;
    margin-left: 1.3%;
    }

/*  FINAL PRIMERA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ...................................*/
.fijo1{
  width: 2%;
  max-width: 18px;
   }
  /*..TERCERA COLUMNA ...................................*/
  .fija{
  width: 40%;
  height: 100%;
  }
  
  .imagen-estatica{
    width: 100%;
    max-width: 600px;
    height: 80%;
    position: fixed;
    bottom:0;
    }

    .imagen-estatica img{
      width: 100%;
       max-width: 600px;
     
      }
  
      blockquote{
        height: 10%;
        width: 100%;
        max-width: 550px;
        margin-top: 15%;
         }
         
         /*DESCRPCION*/
   blockquote h3{
  margin-top: -10px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.3rem;
  color: #666;
   font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;

   }

    
  }







/* 1200 A 1290 ..................................................................................................................................................................................................... */
  

@media only screen and (min-width: 1200px) and (max-width: 1246px){

    #container-nosotros{
      width:100%;
      max-width: 1220px;
    margin: auto;
    margin-top: 17%;
    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: row;
    width:100%;
      max-width: 1220px;
    margin-top: 20%;
    margin-bottom: 10%;
  margin: auto;
    }
    
      /*CONTAINER TOTAL DE LA PRIMERA COLUMNA*/
    .nosotros{
    width: 47%;
    max-width: 600px;
    display: flex;
    margin:  auto;
    z-index: 10;
    }
   

    /*quinta       caja ..................................... */
 /*ARTICULO DOS */
  .articulo-dos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
  margin-top: 20%;
  }
  
  .articulo-dos-uno{
    width: 100%;
    max-width: 225px;
    margin-left: 1.3%;
    }
/*  FINAL PRIMERA COLUMNA ......................................................................*/
/*  SEGUNDA COLUMNA ...................................*/
.fijo1{
  width: 1.5%;
  max-width: 15px;
   }
  /*..TERCERA COLUMNA ...................................*/
  .fija{
  width: 40%;
  height: 100%;
  }
  
  .imagen-estatica{
    width: 100%;
    max-width: 595px;
    height: 80%;
    position: fixed;
    bottom:0;
    }

  .imagen-estatica img{
  width: 100%;
 max-width: 595px;
  }
  
  blockquote{
  height: 10%;
  width: 100%;
  max-width: 550px;
  margin-top: 15%;
  }
         
         /*DESCRPCION*/
   blockquote h3{
  margin-top: -10px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.3rem;
  color: #666;
   font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;

   }

/* FOOTER ....................................... FOOTER...................................... */
#footer1{
  clear: both;
  position: relative;
  height: 5px;
  margin-top: -5px;
 -webkit-box-shadow: 0px -3px 6px #DCDCDC;
-moz-box-shadow: 0px -3px 6px #DCDCDC;
box-shadow: 0px -3px 6px  #DCDCDC;
width: 100%;
z-index: 1000;
bottom: 0; 
background-color: #000000;

}

.footer-second1{
  width: 100%;
 max-width: 900px;
  height: 5px;
  margin-top: -5px;
  background-color: black;
  clear: both;
  position: relative;
  z-index: 1000; /*IMPORTANTE */
margin: 0 auto;
}

.footer-second1 p{
  text-align: center;
  color: #fff;
  display: block;


  
}

.footer-second1 p a{
  color: #fff;
}






  }












/* 1200 A 1290 ..................................................................................................................................................................................................... */
  

@media only screen and (min-width: 1247px) and (max-width: 1290px){


  header{
    width:100%;
    background-color: #fff;
    position: fixed;
    z-index: 2000;
    margin: auto;
    top: 0;
    height: 150px;
    }
    
    
    header.black{
    background-color: #fff;
    height: 150px;
    }

    .cabecera{
      width:100%;
      height: 90px;  
      margin: auto;
      margin-bottom: 2px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }

      .logo{
        height: 90px;
      }

      .logo img{
        height: 90px;
      }
  #wrapper {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
  }
        
  #wrapper > * {
  padding: 10px;
  }

    #container-nosotros{
      width:100%;
      margin-left: auto;
     margin-right: auto;
    }


  .tres-columnas-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-bottom: 10%;
    margin-left: auto;
     margin-right: auto;
    }
    
      /*CONTAINER TOTAL DE LA PRIMERA COLUMNA*/
     .nosotros{
    width: 48%;
    max-width: 600px;
     margin-left: -5px;
    z-index: 10;
    }
   

    /*quinta       caja ..................................... */
   /*ARTICULO DOS */
   .articulo-dos{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   margin-top: 20%;
   }
  
  .articulo-dos-uno{
    width: 100%;
    margin-left: 1.3%;
    }
   /*  FINAL PRIMERA COLUMNA ......................................................................*/
   /*  SEGUNDA COLUMNA ...................................*/
    .fijo1{
    width: 1.7%;
    max-width: 50px;
   }
    /*..TERCERA COLUMNA ...................................*/
    .fija{
    width: 50%;
    height: 100%;
    }
  
  .imagen-estatica{
    width: 100%;
    max-width: 600px;
    height: 80%;
    position: fixed;
    bottom:0;
    }

    .imagen-estatica img{
    width: 100%;
    max-width: 600px;
    }
  
    blockquote{
    height: 10%;
    width: 100%;
    max-width: 550px;
    margin-top: 15%;
    }
         
         /*DESCRPCION*/
   blockquote h3{
  margin-top: -10px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.3rem;
  color: #666;
   font-family: "PT Serif",Times,"Times New Roman",Georgia,serif;

   }




}