--------------*/




  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>



.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      // stylelint-disable-next-line scss/selector-no-union-class-name
      &#{$infix} {
        @include media-breakpoint-up($next) {
          flex-wrap: nowrap;
          justify-content: flex-start;
  
          .navbar-nav {
            flex-direction: row;
  
            .dropdown-menu {
              position: absolute;
            }
  
            .nav-link {
              padding-right: $navbar-nav-link-padding-x;
              padding-left: $navbar-nav-link-padding-x;
            }
          }
  
          .navbar-nav-scroll {
            overflow: visible;
          }
  
          .navbar-collapse {
            display: flex !important; // stylelint-disable-line declaration-no-important
            flex-basis: auto;
          }
  
          .navbar-toggler {
            display: none;
          }
  
          .offcanvas-header {
            display: none;
          }
  
          .offcanvas {
            position: inherit;
            bottom: 0;
            z-index: 1000;
            flex-grow: 1;
            visibility: visible !important; // stylelint-disable-line declaration-no-important
            background-color: transparent;
            border-right: 0;
            border-left: 0;
            @include transition(none);
            transform: none;
          }
          .offcanvas-top,
          .offcanvas-bottom {
            height: auto;
            border-top: 0;
            border-bottom: 0;
          }
  
          .offcanvas-body {
            display: flex;
            flex-grow: 0;
            padding: 0;
            overflow-y: visible;
          }
        }
      }
    }
  }


  <!---------------------------------->
  <div class="container min-vh-100 py-2">
    <div class="row">
        <div class="col">
            <h2 class="font-weight-light">Bootstrap 5 Sidebar</h2>
            <p> This is a Bootstrap 5 off-canvas menu example! </p>





            <div class="d-flex justify-content-end form-check form-switch form-control-lg">
              <input class="form-check-input" type="checkbox" id="toggleSidebar">
              <label class="form-check-label ms-1" for="toggleSidebar">Toggle Offcanvas</label>
            </div>


            <div class="text-center">
                <img src="https://icons.getbootstrap.com/assets/img/icons-hero.png" />
            </div>



            <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasExample">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Offcanvas</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>


                <div class="offcanvas-body">
                    <div> Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc. </div>
                    <div class="dropdown mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"> Menu </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

var toggle = document.getElementById("toggleSidebar")
var offcanvas_el = document.getElementById("offcanvasExample")
var offcanvas = new bootstrap.Offcanvas(offcanvas_el, {backdrop: false})

toggle.addEventListener("change", function(){
    toggle.checked ? offcanvas.show() : offcanvas.hide() 
})
