 *{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
 }
  /*ESTO LO PUSE POR LA LETRA ANIMADA DE LA PORTADA */
   
  *, *:before, *:after {
  box-sizing: border-box;
  }

  a {
    text-decoration: none;
    float:left;
    clear:both
   }


   /*--IMPORTANTE COLOR DEL LOGO #3d6024 */

    body{
    padding:0;
    margin: 0;
    background-color: #fff;
    color: rgba(0,0,0,.95);
    font-family: "Argos",serif;
     }

  html, body {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;

  }


.elementoClicable {
  cursor:url('../img/cursor.cur'), url('img/cursor.cur'), pointer;
  cursor:url('../img/cursor.cur') 5 10, url('img/cursor.cur') 5 10, pointer;
  }


  /*ESTO LO ESTOY USANDO EN EL RESPONSIVE PARA SEPARAR EL FOOTER DEL ULTIMO DISPLA*/
  .index-entre-footer-texto-animado{
    display: none;
  }

  /*.........SACADO DEL HTML BASE...............................*/
   a:link {
  color: black;

   }

   a:visited {
    color:#101010; /*IMPORTANTE*/
    text-decoration: none;
     }
  

    a:hover {
      text-decoration: none; 
      color: #568632; 
      border-bottom: 2px;
   }

    .nav li a.current:active {
     background-color: #0672d0;
    text-decoration: none;
    }

  .nav li a.current:visited {
    background-color: #DCDCDC;
   text-decoration: none;
   }



   a {
    background-color: transparent;
    color: #3d6024;
    font-weight: 500;
    text-decoration: none;
    text-decoration-skip-ink: none;
}


/*MUY IMPORTANTE*/
   a:hover:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
  }
  
  
 
 
  /*CONTENEDOR PRINCIPAL DE TODA LA CABECERA INCLUYENDO SLIDER*/
  #wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width:250px;
    flex-wrap: wrap;
  
   }
      
   #wrapper > * {
   padding: 20px;
   }
     
   div {
  flex: 1;
   }


   /*CONTAINER DE TODO EL BODY.......margin-top 152px.....................  */
  #container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1250px;
    margin: auto;
    margin-top: 129px;
  bottom:  25px;
  padding: 0 0 0 0 ;   /*MUY IMPORTANTE PARA QUE NO HAYA ESPACIOS */
  height: auto;
  }


    /*height 125px*/

   header{
  width:100%;
  position: fixed;
  z-index: 2000;   /*IMPORTANTE  */
  top:0;
  margin: auto;
  height: 125px;
  box-shadow: 0 8px 6px -6px #DCDCDC;
  
   }

   header.black{
    height: 125px;
    background-color: #fff;
  }

  .cabecera{
  width:100%;
  max-width: 1250px;
  height: 48px;   /*IMPORTANTE EL ESPACIO DEL LOGO */
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 0;
   }

  /*caja */
  .icon-social{
  width:10%;
  max-width: 100px;
  }

  .icon-social li{
  display: inline-flex;
  }

  .icon-social ul li .fa-envelope:hover {
  color: #cbcbcb;
  }
  
  .icon-social ul li .fa-facebook-f:hover {
  color: #cbcbcb;
  }
  
  .icon-social ul li .fa-twitter:hover {
  color: #cbcbcb;
  }
  
  .icon-social ul li .fa-instagram:hover {
  color: #cbcbcb;
  }
  
  .icon-social ul li .fa-envelope{
  color: #2d2d2d;
  }
  
  .icon-social ul li .fa-facebook-f{
  color: #2d2d2d;
  }
  
  .icon-social ul li .fa-twitter{
  color: #2d2d2d;
  }
  
  .icon-social ul li .fa-instagram{
  color: #2d2d2d;
  }
  
    /*caja   margin-bottom: -30px;*/
   .logo{
   display: inline-flex;
   width: 25%;
   max-width: 180px;
   height: 55px;
   margin-right: 25px;
  

   }

   .logo img{
  width: 100%;
  height: 100%;
  margin: auto;

   }




  /*IMPORTANTE PARA EL MENU EN FILA Y QUE ESTE CENTRADO CON ALIGN-ITEM........................... */

  .cabecera .buscador{
    display: inline-flex;
     width: 50%;
     max-width: 700px;
     height: 48px;
     margin: auto;
    
   
   }
 
   /*CONTAINER DEL BUSCADOR ................BUSCADOR DEL INDEX*/
   .buscador #controls{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 60px;
   max-width: 700px;
   margin: auto;
   z-index: 10;
   padding-top: 5px;
   
   
   }
   
   
   /*CAJA DEL BUSCADOR #568632*/
   
   /*box-shadow: 4px 8px 6px -6px #8c8c8c;*/
   .buscador #controls  #custom-search-input-header{
   font-size: 1em;
   font-weight: 1rem;
   width: 100%;
   max-width: 700px;
   height: 40px;
   border: 2px solid #d2d2d2;
   border-radius: 9px;
   z-index: 10;
   }
   
   
   /*CAMPO SEARCH BUSCADOR */
   .buscador #controls   #custom-search-input-header .sin-borde{
   font-size: 1em;
   font-weight: 6rem;
   padding: 4px;
   width: 87%;
   height: 35px;
   padding-left: 30px; /*MUEVE LA LETRA*/
   }
   
   
   /*BOTOM BUSCADOR  568632 */
   .buscador #controls  #custom-search-input-header  .boton{
   margin-left: -5px;
   font-size: 1em;
   font-weight: 300;
   padding: 2px;
   width: 12%;
   height: 35px;
   background-color: #fff ;
   color: #fff;
   }
   
   .buscador #controls .icon .fa-search{
   color: #000000;
   }
   
   #custom-search-input-header input[type=text]:focus {
     outline: none;
     border: 0;

    }
   
   
   

 
 /*--------------------------------------*/
 
  /*caja */
  .menu-btn{
    width: 10%;
    max-width: 80px;
    display: inline-flex;
  
    }
  
    .suscribe{
    width: 8%;
    height: 26px;
    display: inline-flex;
  
    }
  
   .suscribe h4 {
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2d2d2d;
    font-weight: 700;
    display: inline-flex;
    justify-content: flex-end;
    text-transform: uppercase;
    letter-spacing: -0.7%;
    }
  
  
    /*...BURGER ESCONDIDO........BURGER ESCONDIDO....................*/
   .menu-btn .menu-btn__burger{
    display: none;
    }
  
  
  
  

 /*................................*/


  /*--NAV---*/
     .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
     margin: auto;
     margin-top: 8px;
     }
     
     /*ESTE BUSCADOR SALDRA EN LOS MOVILES*/
    .buscador-responsive{
      display: none;
    }

     /*--SEGUNDACAJA DEL MENU QUE NO SE QUE PONDRE---*/
     .caja{
       width: 20%;
       max-width: 200px;
       display: inline-flex;
     }

    /*---UL--*/
  .menu .nav{
  width: 80%;
  position: relative;
  display: block;
  float: right;
  margin-top: 6px;
  }

    /*---LI---*/
  .menu .nav li{
  display:block;
  float:left;
  padding:  0px 9px ;
  }

 
  .menu .nav li a {
  padding: .2em;
  display: block;
  text-decoration: none;
  color: #242424;
  margin-top: 5px;
  font-size: 0.78rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
 font-weight: 790;
 letter-spacing: 0.2px;
 }

   /* enlaces de los items del menu desplegable */
   .menu .nav ul a {
    line-height:120%;
     padding:10px 15px;
     background-color: #000000;
     color: #fff;
     font-size: 0.7rem;
     width: 100%;
     }
    

        /*-----MENU SELECCIONADO,,,,,,,,,,,,,,,,,*/
    .menu ul li a.active{
      text-decoration:line-through;
      color: #568632;
      }
      /*----fFIN -MENU SELECCIONADO,,,,,,,,,,,,,,,,,*/
    


  nav{
  display: none;

  }

  
  
  nav{
  width:100%;
  max-width: 1250px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 8px;
   }
     
  
    /* ESTE ES EL UL  IMPORTANTE PARA EL MENU EN FILA Y QUE ESTE CENTRADO*/
     nav .nav{
      display: flex;
      flex-direction: row;
      width:100%;
      max-width: 1260px;
      z-index: 30;
      position: fixed;   /*IMPORTANTE PARA QUE EL SUBMENU NO SE MUEVA*/
      margin:0;
      padding:0;
      }
  
  
    nav .nav li{
    list-style: none;
    padding: 2px 6px 2px 2px;
    margin: auto;
    }
       
        
    nav .nav li a{
    color: #4b4b4b;
    letter-spacing: -0.2px;
    word-spacing: -0.5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: lowercase;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px;
    }
   
   li .current {
  color: #568632;
   }
       
  /* efecto al pasar el ratón por los items del menu */
  /*IMPORTANTE PARA QUE NO SALGAN DOBLE RAYA AL HACER HOVER*/
  .nav a:hover{
  text-decoration: none;
  cursor: pointer;
  }
    
   /*MENU ESCONDID /*IMPORTANTE PARA EL ESPACIO DE LETRAS ENTREN EN EL UL*/
  .nav ul {
  display:none;
  position:absolute;
  top:100%; 
  }
  
  /* items del menu desplegable */
  /*IMPORTANTE PARA QUE LAS PALABRAS SAÑGAN COMPLETAS   float:none*/
  .nav ul li {
  width: 200px;
  float: none;
  margin-left: -10px; /*IMPORTANTE MUEVE */   
  }

  /* enlaces de los items del menu desplegable */
  nav .nav ul a {
  line-height:120%;
  padding:10px 15px;
  background-color: #000000;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  }
      
  /* items del menu desplegable al pasar el ratón     display:block;
  width: 100%;*/
    nav .nav li:hover > ul {
  display:block; 
  position:absolute;  
  width:60%; 
  }
  
  

 

       /* ANIMA CON RAYA AL HACE HOVER */
   /*HOVER SALE RAYA.............HOVER */
    .menu .nav a:after {
   content: "";
   display: block;
   margin: auto;
   height: 2px;
   width: 0px;
   transition: all .4s;
   }
   /* .................... */
 
 


    .menu  a:hover:after {
    width: 100%;
    background: #568632;
    }
    
    /* FINAL MENU ANIMADO */

    nav .nav{
      display: none;
    }
  /* --FIN NAV--------------------------------------------------------*/





    /*SLIDER ........... width: 100vw;
  bottom: 0;  
  left: 0;
  right: 0;
  top: 0; 
  margin: auto;................  SLIDER................................  */
  .portada{
  display: block;
  width: 100%;
   padding: 0 0 0 0 ;
  }

  .portada-img{
  z-index: 80;
  }
  
   .portada-img img{
   width: 100%;
   height: 100%;
   z-index: 40;
   }

   /*ANIMACION QUE SUBE LA LETRA DE LA PORTADA SIN JAVASCRIPT DEBIA PONER OVERFLOW HIDDEN PERO  NO ME FUNCIONO SIN PONERLO ME FUNCIONA*/
   .portada-img .portada-titulo{
    width: 100%;
    max-width: 1250px;
    display: block;
    position: absolute;
    z-index: 100;
    top: 280px;
    }

   /** INDEX CONTAINER SEGUNDO TITULO DE LA PORTADA QUE SE MUEVE*/
   .portada-titulo1{
   width: 100%;
   max-width: 1250px;
   display: block;
   position: absolute;
   font-size: 0;
   top: 380px;
   margin: auto;
    z-index: 99;
    }


  .portada-titulo h2 {
  display:block;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);               /*DISTANCIA DE SUBIDA*/
  -webkit-animation: up 650ms linear forwards;        /*TIEMPO QUE SUBE */
          animation: up 650ms linear forwards;
          z-index: 1;
          text-shadow: 0px 2px 2px #2d2d2d;           
  color: azure;
  font-family: 'Cabin', sans-serif;
  word-spacing: 5px; ;
  }


    .portada-titulo h2 i{
    font-family: 'Times New Roman', sans, serif;
    font-weight: 600;
    font-size: 2.6rem;
    letter-spacing: -1px; 
    }

 
    .portada-titulo1  i{
    font-family: 'Artifika', serif;
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: -1px; 
    }


  .portada h2::before, h2::after{
  position:absolute;
  content:'';
  width:0px;
  height:1px;
  left:0;
  z-index: -1;
  }

   .portada h2::before{
  top: 1.4rem;
  -webkit-animation: draw 500ms linear 1s forwards;
          animation: draw 500ms linear 1s forwards;
   }  

  .portada h2::after{
  bottom: 0.4rem;
  -webkit-animation: draw 500ms linear 1s forwards;
          animation: draw 500ms linear 1s forwards;
  }



  @-webkit-keyframes up{
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  }

  @keyframes up{
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  }
  @-webkit-keyframes draw {
  100%{
    width: 100%;
  }
  }

  @keyframes draw{
  100%{
    width: 100%;
  }
  }


  /** INDEX CONTAINER SEGUNDO TITULO DE LA PORTADA QUE SE MUEVE*/
  /*LETRA DE LA PORTADA INDEX*/
.portada-titulo1 h6 {
  display:block;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);               /*DISTANCIA DE SUBIDA*/
  -webkit-animation: up 650ms linear forwards;        /*TIEMPO QUE SUBE */
          animation: up 650ms linear forwards;
          z-index: 1;
          text-shadow: 0px 2px 2px #2d2d2d;           
  color: azure;
  font-family: 'Cabin', sans-serif;
  word-spacing: 5px; ;
  }


   .portada h6::before, h6::after{
  position:absolute;
  content:'';
  width:0px;
  height:1px;
  left:0;
 z-index: -1;
  }

  .portada h6::before{
  top: 1.4rem;
  -webkit-animation: draw 500ms linear 1s forwards;
          animation: draw 500ms linear 1s forwards;
  }

  .portada h6::after{
  bottom: 0.4rem;
  -webkit-animation: draw 500ms linear 1s forwards;
          animation: draw 500ms linear 1s forwards;
   }

    /*--PORTADA RECETAS SALUDABLE----------------------------*/
   /*IMPORTANTE MARGIN BOTTOM PARADISTANCIARDA DEL BUSCADOR PARA DISTANCIAR EL TITULO PRIMERO DE LA PORTADA*/


   .portada .portada-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 80;
    }
    
     .portada-img img{
     width: 100%;
     height: 100%;
     z-index: 40;
    }
  
   .portada-img2{
    width: 53%;
    height: 30%;
    display: block;
    position: absolute;
     margin-top: 194px;
    margin-left:  528px;
    background-color: #fff;
    border-bottom: 3px solid #568632;
    border-right: 3px solid #568632;
    z-index: 120;
   }

   .portada-img #menu-simple{
    width: 100%;
    height: 30px;
    display: block;
    }


   #menu-simple ul{
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   margin-bottom: 20px;
   }

    
    #menu-simple ul li{
   list-style: none;
      }
 
           
    #menu-simple ul li  p{
   font-size: 1rem;
   color: #000000;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 900;
   margin-left: 15px;
   }


       #menu-simple li p i {
         border: 1px solid #000000;
         border-width: 0 0.8px 0.8px 0;
         display: inline-block;
         padding: 3px;
         margin-right: 9px;  /*IMPORTANTE PARA SEPARAR ENTRE EL MENU*/
        }
       
          #menu-simple .right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
         }
       
     /*......................................*/


   .portada-img2 h1{
    font-size: 2rem;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color:#000000
   }



  .portada-img2 p{
  font-size: 1.4rem;
  margin-left: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: #2d2d2d;
     }


  .portada .portada-img-responsive{
    display: none;
  }



  /*...PORTADA CONTACTO-----------CONTACTO HTML---------------........... */
  /*CONTENEDOR DE LA PRIMERA FRASE DE LA LETRA E MOVIEMINTO PROUDLY*/
  .portada .portada-contacto-uno{
  position: relative;
  overflow: hidden;
  top: -505px; /*IMPORTANTE DISTANCIA DONDE QUEDA AL MOVERSE-----1*/
  left: 50px ;
  width: 45%;
  }

  /*PRIMER TITULO DE LA PORTADA CON LETRAS EN MOVIMIENOT*/
  .portada .portada-contacto-uno .azulplata{
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 3rem;
  font-family: 'Cabin', sans-serif;
  color:black;
  line-height: 50px;
  }

  /*--FORMA PARTE DEL .AZULPLATA PORQUE CAMBIE ESTILO DENTRO DE UN PARRAFO-----------------------*/
  .portada .portada-contacto-uno .otroestilo { 
  font-weight: 300 ;
   font-size:55px ;
   color:black ;
   display: inline-block;
   font-family: 'Cabin', sans-serif;
   font-style: italic;
  }


  /*---SEGUNDO PARRAFO----*/
  /*PROUDLY CRAFTED*/
  .portada .portada-contacto-dos{
  position: relative;
  overflow: hidden;
  top: -496px;/*IMPORTANTE DISTANCIA DONDE QUEDA AL MOVERSE-----------------------------2*/
  left: 50px ;
  width: 48%;
  }


  .portada .portada-contacto-dos h6 {
  display:inline-block;
  padding-top: 43px; /*IMPORTANTE PARA DISTANCIAR EL PARRAFO DEL SIGIENTE PARRAFAO*/
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
          z-index: 1;
  text-shadow: 0px 1px 1px white;      
  color: #6d6a6a;
  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
  word-spacing: 5px; ;
  -webkit-transform: translateY(10rem);
  transform: transalteY(10rem);               /*DISTANCIA DE SUBIDA*/
-webkit-animation: up 650ms linear forwards;        /*TIEMPO QUE SUBE */
  animation: up 650ms linear forwards;
}


  /*---TERCER PARRAFO----*/
  .portada .portada-contacto-tres{
  position: relative;
  overflow: hidden;
  top: -495px; /*IMPORTANTE DISTANCIA DONDE QUEDA AL MOVERSE-----3*/
  left: 50px ;
  width: 48%;
 }



   /*...CONTACTO.HTML----------ANIMACION--------------............... */
   .portada .azulplata {
    display:block;
    margin: 0;
    font-size: 3.5rem;
    line-height: 1.2;
            z-index: 1;
    text-shadow: 0px 1px 1px white;      
    color: black;
    font-family: 'Cabin', sans-serif;
    word-spacing: 5px; ;
    -webkit-transform: translateY(10rem);
    transform: transalteY(10rem);               /*DISTANCIA DE SUBIDA*/
   -webkit-animation: up 650ms linear forwards;        /*TIEMPO QUE SUBE */
    animation: up 650ms linear forwards;
  }
  
  
  .portada .azulplata::before, .azulplata::after{
    position:absolute;
    content:'';
    width:0px;
    height:1px;
    left:0;
   z-index: -1;
  }
  
  .portada .azulplata::before{
    top: 1.4rem;
    -webkit-animation: draw 500ms linear 1s forwards;
            animation: draw 500ms linear 1s forwards;
  }
  
  .portada .azulplata::after{
    bottom: 0.4rem;
    -webkit-animation: draw 500ms linear 1s forwards;
            animation: draw 500ms linear 1s forwards;
  }


  /*---*/

 @-webkit-keyframes up{
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
   }
 }

 @keyframes up{
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
 }

 @-webkit-keyframes draw {
  100%{
    width: 100%;
  }
 }

 @keyframes draw{
  100%{
    width: 100%;
  }
 }


 /*PORTADA DE CONTACTO NO BORRAR*/
   .portada span h2{
  color:#568632;
  padding: 5px 6px 5px 7px;
  word-spacing: -1px;
  margin-top: 20px; /*DISTANCIA DE SEPARACION DEL OTRO OARRAFO*/
  font-family: 'Cabin', sans-serif;
  font-size: 1.1rem;
  }
    /*PORTADA DE CONTACTO NO BORRAR*/
  .portada span h4{
  color:#fff;
  padding: 5px 6px 5px 7px;
  margin-top: 20px; /*DISTANCIA DE SEPARARCION DEL OTRO PARRAFO*/
  border-radius: 3px;
  background-color: #568632;
  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  }

  /*PORTADA DE CONTACTO NO BORRAR*/
  .portada span {
  display:flex;
  padding-top: 50px;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
          z-index: 1;
  text-shadow: 0px 1px 1px white;      
  color: #568632;
  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
  word-spacing: 2px; ;
  -webkit-transform: translateY(10rem);
  transform: transalteY(10rem);               /*DISTANCIA DE SUBIDA*/
  -webkit-animation: up 650ms linear forwards;        /*TIEMPO QUE SUBE */
  animation: up 650ms linear forwards;
}

/*FINAL ANIMACION DE LA PAGINA CONTACTO PORTADA */
  


   /*CONTAINER DE TODO EL CONTENIDO.....ESTA ARRIBA CON EL WRAPPER.........CONTAINER........... */
   .titulo-principal{   
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 60px;
   }


   /*caja */
   .titulo-principal .vacio{
   display: block;
   width: 10%;
   }

   
    /*caja */
   .titulo-principal  .escrito{
   display: flex;
   flex-direction: column;
   width: 80%;
   }
   

  /*...TITULO DEL PIRMER SEGMENTO ES EL UNICO QUE LLEVA....*/
  .titulo-principal  h1{
  font-size: 2.3rem;
  color: black;
  text-shadow: 0px 0.7px 0.7px white; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  }

   /*--SEGUNDO TITULOS..----------------------------------....*/
    .titulo{   
    width: 1250px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
   }


   /*caja */
   .vacio{
   display: block;
   width: 10%;
   }

   
    /*caja */
   .titulo .escrito{
   display: flex;
   flex-direction: column;
   width: 80%;
   }
   

  /*...TITULO DEL PIRMER SEGMENTO ES EL UNICO QUE LLEVA....*/
  .escrito a h1{
  font-size: 2.3rem;
  color: black;
  text-shadow: 0px 0.7px 0.7px white; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  }


  .escrito h1{
  font-size: 2.3rem;
   width: 900px;
  color: black;
  text-shadow: 0px 0.7px 0.7px white; 
  text-align: center;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  }

     .escrito p{
    font-family: 'Open sans';
    letter-spacing:   -0.3px;
    word-spacing: 0.9px;
    font-size: 1.9rem;
    color: #2d2d2d;
    text-align: center;
    }
   
    /* SON TODOS LOS TITULOS DE LOS SEGIMENTOS A PARTIR DE LA SEGUNDO SEGMENTO EL PRIMEOR ES OTRO....*/

  
  /*PRIMER SEGMENTO........NOTICIAS ............*/
   .primer-segmento{
   width: 100%;
   max-width: 1250px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content: space-between;
   margin-bottom:6%;
   }

    /*caja */
    .primer-segmento .tres{
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 360px;
    }

  .primer-segmento .tres img{
   width: 100%;
  max-width: 360px;
  border-radius: 3px;
  }

   .primer-segmento .tres  h1{
   font-size: 1.5rem;
   color:#000000;
   font-family: 'Times New Roman', Times, serif;
   margin-top: 15px;
   }

     .tres p{
     font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color:#2d2d2d;
    margin-top: 10px;
    }

    .tres a p{
      font-family: 'Times New Roman', Times, serif;
     font-size: 1.3rem;
     color:#2d2d2d;
    }

  /*--------------------------------------*/

  /*---LINKS DECORADOS DE POSTS ULTIMOS*/
      
 


  
  /*SEGMENTO DE LOS POSTS ULTIMOS............................................................................2  */
   .dos-columnas{
    width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;  /*IMPORTANTE PARA ESPACIO DE UN BLOQUE AL OTRO*/
  }
  
  
    .dos-columnas .columna-left{
    width: 800px;
    display: block;
    position: relative;
    float: left;
     }


    .bloque-ultimo{
    width: 800px;
    display: flex;
    flex-direction: column;
     }


      /*800px*/
  .posts-ultimos{
   width: 100%;
  max-width: 750px;
  display: block;
  position: relative;
  float: left;
  border-top: 1px solid #d9d9d9;
  }

    .posts-ultimos .post-ultimo{
       width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 30px;
      }
  
      .posts-ultimos-imagen{
      display:block;
      position: relative;
      float: left;
      width: 20%;
      max-width: 280px;
      height: 145px;   /*MUY IMPORTANTE PARA QUE LA IMAGEN NO CREZCA*/
      margin-right: 10px;

      }
  
     .posts-ultimos-imagen img{
      width: 100%;
      max-width: 250px;
      height: 100%;
     }
   
      /*610px*/
     .posts-ultimos-titulo{
      display:block;
      position: relative;
      float: right;
      width:  65%;
      max-width: 610px;
     }

     .posts-ultimos-titulo .post-ultimo-titulo{
      width: 100%;
     display: flex;
     flex-direction: column;

     }

    .post-ultimo-titulo h1{
      font-size: 1.5rem;
      margin-top: 15px;
      color: #000000;
      font-family: 'Times New Roman', Times, serif;
    }
  
     
    .post-ultimo-titulo p{
    font-size: 1.3rem;
    color:  #2d2d2d;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    }

    /*..EL ASIDE.................*/
  .columna-right{
    display: block;
    position: absolute;
    float: right;
   width: 330px;
    margin-left: 900px;
   }

   .columna-right-segunda{
    display: block;
    position: relative;
    float: right;
   width: 100%;
   max-width: 330px;
   }


    /*  background-color:  #EDFEED;            #FEF6ED*/
   /*...#fddfdc.....#bceca5   #d6ffbf  #f9f9f9*       #feefed*/
  .explora{
    width: 100%;
   max-width: 330px;
    display: flex;
    flex-direction: column;
  }

    /*EXPLORAR*/
    .explora h3{
      font-size: 1.6rem;
      font-family: 'Times New Roman', Times, serif;
      color: #000000;
     text-align: center;
     text-decoration: underline;
     margin-bottom: 20px;
    }

  .columna-vertical{
  width: 100%;
  display: flex;
  flex-direction: column;
   }
     /*background-color:  #EDEDFE ;*/
    /*..#56863..*/
   .columna-right .subcontainer-right{
   width: 100%;
   max-width: 330px;
   display: flex;
   flex-direction:row;
   border-bottom: 2px solid #eeeeee ;
   margin-bottom: 10px;
    background-color:  #FEEDF6;
   }

   .imagen-right {
    width: 22%;
    max-width: 65px;
    margin-left: 22px;
    }
 

   .imagen-right img{
    width: 100%;
    }

    .titulo-right {
    width: 200px;
    margin-left: 35px;

    }

  .titulo-right h1{
   font-size: 1.2rem;
   color: #000000;
   font-family: 'Times New Roman', Times, serif;
  margin-top: 7px;

  }
   

    /*LINEA HORIZONTAL QUE SEPARA SEGMENTO DE 4POST CON FOTO GRANDE DE OTRO*/
    hr {
      height: 0.8px;
      border-width:0;
      color:#d3d3d3;
      background-color: #d9d9d9;
     width: 100%;
     padding-left: 0;
     padding-right: 0 ;
  
    }



    /*.INDEX SECCION  DE .RECETAS SANAS DIETAS ESPECIALES Y  PLAN DE COMIDAS  .......*/
    .plan-total-alimentacion{
    width: 1250px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px; /*ESPACIO UN BLOQU DEL OTRO */
    }
 
 
 
     .plan-alimentacion{
     width: 45%;
     max-width: 590px;
     display: flex;
     flex-direction: column; 
     }
 
   /*CONTAINER DE PLAN POST Y DE PLAN POST LETRA*/
   .plan-post-alimentacion{
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 100px;
    display: flex;
    flex-direction:row;
    margin-bottom: 30px;
     }
 
     /*CAJA DE LA IMAGEN DEL COSTADO IZQUIERDO*/
     .plan-post-imagen{
     display:flex ;
     width: 40%;
     max-width: 170px;
     height: 100%;
     max-height: 100px;
     }
     
     .plan-post-imagen img{
     width: 100%;
     max-width: 150px;
     height: 100%;
     max-height: 100px;
     }
 
     /*CAJA DEL TITULO DE PLAN POST*/
     .plan-post-letra{
     width: 60%;
     max-width: 325px;
     display: block;
     }
 
     .plan-post-letra h1{
     font-size: 1.2rem;
     color:#000000;
     margin: auto;
     }
 
     .plan-imagen-responsive{
     display: none;
     }
 
     /*CONTAINER DE LA IMAGEN GRADE DE LA DERECHA*/
     .plan-imagen{
     display: block;
     position: relative;
     width: 60%;
     max-width: 700px;
     }
 
     .plan-imagen img{
      width: 100%; 
     }
 
     .plan-imagen h1{
     font-size: 2rem;
     margin-top: 10px;
     color: #000000;
     }
 
 
    /*FIN DEL INDEX SECCION RECETAS SANAS PLANS DE ALIMENTACIO TURIMSO DIETAS---*/



    /*..............................-----------------------------------------------------------------------------------------...........*/
      /*PAGINA RECETAS SALUDABLES ..SEGMENTO DONDE ESTAN LAS SUBCATEGORIAS EN IMAGENES REDONDAS..................................................*/
   /* NO PONER DISPLAY FLEX NI FLEX DIRECCION */
    .categorias-subcategorias{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 90px;
    }

    /*MARGIN RIGHT SEPARA UNA IMAGNE DEL OTRO*/
    .categorias-subcategorias .subcategorias{
    width: 10%;
    max-width: 80px;
    height: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    }
 
   .subcategorias img{
     width: 100%;
     max-width: 70px;
     height: 100%;
     max-height: 100px;
     margin: auto;
     margin-right: 10px;
     }


    
      .subcategorias .nombredesubcategoria{
        display:flex;
        flex-direction: column;
         width: 100%;
         max-width: 80px;
         height: 90px;
         margin-top: 3px;
       }

      .nombredesubcategoria a h1{
      width: 100%;
      max-width: 80px;
      font-size: 0.9rem;
      }


      /*TITULO CATEGORIA SLIDER RESPONSIVE..*/
      .nombredesubcategoria a h2{
      display: none;
      }
 
    /*--FIN SUBCATEGORIAS DE RECETAS ----------------------------------*/


/*SEGMENTO DE LAS SUBCATEGORIAS----DE PLAN DE COMIDAS DIETAS Y TURISMO----------------------*/
 /*..CONTAINER DE LAS FLECHAS Y CIRCULO ...*/ 
 .caja-texto-slider{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin-top: 98px;

  }


   .caja-texto-slider  .endfor{
    display: block;
    width: 100%;
    height: 80px;
     }

   /*---UL-----*/
   .caja-texto-slider .scrollmenu{
  display: flex;
  flex-direction: row;
  width:  100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  white-space: nowrap;
   padding: 8px 2px;
   }

.scrollmenu  li{
  margin-right: 15px;
  list-style: none;
  border: 4px solid #568632;
  border-radius: 4%;
  padding: 4px 4px 4px 4px;
 }


.caja-texto-slider a h3{
  color: #000000;
}


/*ESTO ESCONDE LA BARRA QUE DESPLAZA*/
/* WebKit */
 /*-- height: 10px;*/
 .scrollmenu::-webkit-scrollbar { 
  width: 0px;
  background: transparent;
  }  
  
  /*CAJA DE LA FLECHA..*/
 .caja-texto-slider .leftNav {
  display: inline-block;
  width:25px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  top: 15px;
  left: 0em;
  background-color: #568632;
  }

   /*--FLECHAS  "Arial Black";----*/
 .leftNav .arrow-left{
  margin-top: 13px;
  margin-left: 3px;
  display: inline-block;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  font-weight:500;
  cursor: pointer;
  transform: translateY(-50%);
  }


   .leftNav  { 
    visibility: hidden; 
  }
  
  .caja-texto-slider:hover  .leftNav {
    visibility: visible;
  }


   .caja-texto-slider .rightNav {
    width:25px;
    height: 25px;
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 0em;
    background-color: #568632;
    }
   
  .rightNav .arrow-right{
  margin-top: 13px;
  margin-left: 3.5px;
  display: inline-block;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transform: translateY(-50%);
   }



  /*------------------------------------------------------------*/
   /*------------TITULO DE RECETAS, PLANE,DIETA,TURMO---*/
    .titulo-otras-paginas{
      width: 70%;
      height:40px;
      display: block;
      margin-bottom: 40px;
     margin-top: 40px;
    }
 
    .titulo-otras-paginas h1{
     font-family: 'Times New Roman', Times, serif;
     letter-spacing:   -0.3px;
     word-spacing: 0.9px;
     font-size: 1.9rem;
     color: #000000;
     font-weight: 600;
     }
 

     
   


/*ESTO DE LOS FRONTEND DE RECETAS DIETA TURISMO  PLAN------------------------------*/
/*..CONTAINER DE COLUMNA POSTS Y ASIDE*/
    #container-plan{
      width:100%;
      max-width: 1250px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 200px;

    }


   
    #container-plan .container-columna-posts{
      width: 80%;
      max-width: 800px;
     display: flex;
    flex-direction: column;

   
    }

     .recetas-bloque{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  
    }

    /*..CONTAINER DE ELEMENTO-IMAGEN Y ELEMENTO-DESCRIPONTITULO*/
     .elemento-post{
      width: 100%;
     max-width: 800px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    border-bottom: 2px solid #DCDCDC;
    margin-bottom: 20px;
    padding-bottom: 20px;

    }


    .elemento-imagen{
      display: block;
      position: relative;
      float: left;
      width: 30%;
      max-width: 280px;
  
    }
  
    .elemento-imagen img{
    width: 100%;
    max-width: 255px;
    height: 100%;
    max-height: 165px;
    }
  
    .elemento-descripcion{
    display: block;
    position: relative;
    float: right;
    width: 65%;
    max-width: 500px;
   
      }

      .elemento-descripcion-columna{
        display: flex;
        flex-direction: column;
      }

     .elemento-descripcion p{
      color:#4b4b4b;
      letter-spacing: 0.7px;
      }
     
      .elemento-leer{
        width: 100%;
        display: flex;
        flex-direction: column;
      }


      #container-plan  .columna-tres{
        width: 5%;
        max-width: 80px;
        display: inline-block;
       
      }


     /*--COSTADO*/
      #container-plan .aside-plan{
     width: 15%;
     max-width: 350px;
     display: block;
     position: relative;
     float: right;
      }

 
    /*ARROW  LEE MAS*/
    .elemento-descripcion .arrow-right:after {
      content: "";
      display: inline-block;  /*!important  */
      width: 0;
      height: 0;
      border-left: 6px solid #000000;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      vertical-align: middle;
      }

    
    /*PALO* LEE MAS*/
    .elemento-descripcion  .arrow-right:before {
      width: 15px;
      height: 2px;
      background: #000000;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }

      /*a de la flecha...*/
     .elemento-descripcion .arrow1{
      font-size: 0.9rem;
      color: #000;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 900;
      margin-top: 5px;
      margin-bottom: 5px;
     }
    

  /*... FIN DEL HTML DE LAS DEMAS PAGINAS EXCEPTO INDEX........*/



 


 /*............................................................................*/



  

     

 /*QUINTO SEGMENTO    QUINTO SEGMENTO      QUINTO SEGMENTO........................................................    */
  .quinto-segmento{
  width: 1250px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  margin-top: 4%;
  }

    /*caja */
  .resumen{
   width: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  }

    /*SUB-caja */
  .resumen1{
  width:25%;
  }

   /*SUB-caja */
  .resumen2{
  width: 60%;
   }

  /*SUB-caja */
  .resumen3{
  width: 15%;
  }

 .resumen h1{
 font-size: 48px;
 text-align: center;
 font-weight: lighter;
 color: black;
 letter-spacing: 1px;
 word-spacing: 2px;
 }

    /*caja */
 .quinto{
 width: 50%;
 }

 .quinto img{
 width: 80%;
  border-radius: 4px;
} 

  /*Portada.......................................................................................................................................*/
  .container-portada{
    width: 100%;
  max-width: 1250px;
  height: 100%;
  max-height: 400px;
  position: relative;
  float: left;
  margin-bottom: 160px;
  background-image: url(../img/slider/700-400containerportadaindex.jpg);
  background-size: 200%;
  animation: movimiento 15s infinite linear alternate;  
   }

  @keyframes movimiento{
  from{
      background-position: bottom left;
  }to{
      background-position: top right;
  }
  }


  .capa-gradient{
  width: 100%;
  height: 100%;
  max-height: 400px;
  position: absolute;
  opacity: 0.5;
  }

  .container-details{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 400px;
  position: relative;
  margin: auto;
  }


  .details{
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  position: relative;
  top: 20px;
  color: white;
  }

  .details h1{
  font-size: 40px;
  font-weight: lighter;
  margin-left: 10px;
  word-spacing: -3px;
  letter-spacing: -1.5px;
  font-family: 'Archivo Black', sans-serif;
  }

.details p{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

.details button{
  padding: 10px 20px;
  font-size: 16px;
  background: none;
  border-style: none;
  border: 1px solid white;
  color: white;
  margin-top: 20px;
  transition: background 300ms;
  cursor: pointer;
  margin-left: 10px;
}

.details button:hover{
  background: white;
  color: black;
}


/*TUTORIAL..............o*/


.texto-animado{
 display: block;
 position: relative;
 float: left;
 width: 1250px;
 margin-bottom: 40px;
}


.texto-animado h1{
  margin: auto;
position: relative;
text-align: center;
color: #4a732b;
font-size: 1.5rem;
word-spacing: -0.7px;
letter-spacing: -1px;
font-family: 'Archivo Black', sans-serif;
}

.texto-animado h1 span{
position: absolute;
background:#FFF;
border-left: solid 2px #000;
width: 0;
right:0;
top:4px;
animation: textomaq 5s infinite alternate;
}

@keyframes textomaq{
   from{
     width:  100%;
   }
   to{
       width: 0%;
   }
}


   /*---------------------COOKIES----------------------*/
   #div-cookies {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -5px 15px gray;
    padding: 7px;
    text-align: center;
    z-index: 99;
}
 /*------------------------FIN COOKIES...............*/

   /*FOOTER QUE ESTA EN EL CONTENIDO GENERAL OSEA MAIN...............................................................................*/
  #footer{
 width: 100%;
  bottom: 0;  
  left: 0;
  right: 0;
  top: 0; 
  margin: auto;
  clear: both;
  display: flex;
  flex-direction: column;
   -webkit-box-shadow: 0px -3px 6px #DCDCDC;
  -moz-box-shadow: 0px -3px 6px #DCDCDC;
  box-shadow: 0px -3px 6px  #DCDCDC;
  z-index: 10;
  background-color: #f4f4f4;
;
 
  }
    /*CAJA PRINCIPAL DEL PRIMER FOOTER............................................................... */
   #footer .footer-primero{
  width: 90%;
 
  margin: auto;
  height: 250px; /*IMPORTANTE*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

     /*CAJA DE FOOD REDES Y BOX*/
  .icon-email{
    display: block;
    position: relative;
    float: left;
    width: 46%;
    height: 250px;
    margin-left: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
    /*CAJA DE FOOD Y REDES */
.icon-email .icon-social1{
  width: 46%;
  height: 70px;
  margin-bottom: 20px;
}

.icon-email .icon-social1 p{
font-size: 22px;
word-spacing: -3px;
letter-spacing: -0.8px;
font-family: 'Archivo Black', sans-serif;
padding-bottom: 10px;
}

.icon-email .icon-social1 ul{
display: inline-flex;
list-style: none;
}


.icon-email  ul li .fa-envelope{
background-color: oldlace;
color: #2d2d2d;
width:40px;
height: 40px;
padding: 5px 5px 5px 5px;
border-radius: 25px;
border: solid #E9E9E9;
}

.icon-email  ul li .fa-facebook-f{
  background-color: oldlace;
  color:  #2d2d2d;
  width:40px;
  height: 40px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  border: solid #E9E9E9;
}


.icon-email  ul li .fa-pinterest{
  background-color: oldlace;
  color:   #2d2d2d;
  width:40px;
  height: 40px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  border: solid #E9E9E9;
}




.icon-email ul li .fa-instagram{
  background-color: oldlace;
  color: #2d2d2d;
  width:40px;
  height: 40px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  border: solid #E9E9E9;
}

   /*SUB-caja */
.box{
  width: 100%;
 height: 100px;
 position:  relative;
 left:5%;
 transform: translate(-5%, -5%);
 margin-top: 2%;
}

.box h3{
 padding-bottom: 10px;
 font-size: 18px;
 letter-spacing: -1px;
 word-spacing: -1px;
 font-family: 'Fira Sans', sans-serif;
}


.box input[type="text"]
{
background-color: #FFF;
display: inline-block;
width:42%;
height: 50px;
border: 1.5px solid 	#DCDCDC;
padding: 0 25px;
border-radius: 5px 0 0 5px;
}

.box input[type="submit"]{
  position: relative;
  left: -5px;  /*EL TRUCO IMPORTANTE*/
  border-radius: 0 5px 5px 0;
  width: 20%;
  height: 50px;
  border: none ;
  outline: none;
  cursor: pointer;
  top:-1px;
  background: #2d2d2d;
  color: #fff;
  font-size: 12px;
  font-family: 'Archivo Black', sans-serif;
}

.box input[type="submit"]:hover{
  background: #639a3a;
}



    /*LOS MENUS DEL FOOTER caja 2 cajas del mimso tamaño*/
  .menu-footer{
   width :21%;
   height: 250px;
   margin-top: 2%;
   display: block;
   position: relative;
   float: right;
 
  }

  .menu-footer h1{
  padding-bottom: 30px;
  font-size: 1.4rem;
  word-spacing: -3px;
  letter-spacing: -0.3px;
  font-family: 'Archivo Black', sans-serif;
  color: #2d2d2d;
  }


.menu-footer p{
line-height: 30px;
font-weight: bold;
font-size: 1.2rem;
color: #2d2d2d;
font-family: 'Cabin', sans-serif;
}


      /*caja */
.espacio{
width:4%;
height: 300px;
margin-top: 4%;
}


 /*FINAL FOOTER QUE ESTA EN EL CONTENIDO GENERAL OSEA MAIN*/

 #footer #footer-second{

   height: 25px;  /*IMPORTANTE*/
   display: block;
   position: relative;
   float: left;
 margin-top: -25px;
 }
/*..SUBCAJA DE DIV FOOTERSENIDN...*/
 .final-food{
   display: block;
   position: relative;
   float: left;   
   width:100%;
   height: 25px;
  padding-top: 10px;
  margin: auto;
 }

 .final-food p{
   text-align: center;
   color: #2d2d2d;
   font-size: 0.7rem;
 }





/* ANIMACION CON SCROLL DEL ARCHIVO animar.js   DATA-ANIME  data-anime ...................................... */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}


[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
/* FINAL....................................................................................................................................................................................*/







/*FINAL .............................................................................................................................................*/







/*  FORMULARIO----.PAGINA CONTACTO------------------------....................*/

/*   TABLA PRINCIPAL DEL FORMULARIO........................*/
.row{
  display: flex;
  width: 67%;
  height: 600px;
  flex-direction: column;
  margin: auto;
 margin-bottom: 150px;
 margin-top: 95px;
  
}

/*  igual MISMA TABLA............................*/

.bg-faded p{
  margin-left: 50px;
}

/*  DIV PRINCIPAL DE ENVIANOS Y CONTACTO.......................*/
.section-heading{
display: flex;
flex-direction: column;
}


/*  ENVIANOS .................*/
.section-heading-upper{
 padding-top: 35px;
 padding-bottom: 10px;
  color:  black;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  word-spacing: 1px;
  letter-spacing: -0.5px;
  margin-left: 50px;
  
 
}

/*  CONTACTO..................*/
.section-heading-lower{
  display: block;
  height: 30%;
  font-size: 48px;
  font-family:'Arial Black', sans-serif;
  font-weight: lighter;
 color: black;
 letter-spacing: -0.8px;
 margin-left: 50px;
 margin-bottom: 30px;
}
/*   FINAL ENVIANOS Y CONTACTO..........................*/


 /*  FORM ACTION............................................*/
/*  CASILLA DONDE VA NOMBRE EMAIL Y MENSAJE.....................*/
/*  IMPORTATE PARA SEPARAR LOS BLOQUES ENTRE NOMBRE EMAIL Y MENSAJE..........................*/
.form-group{
   width: 100%;
   margin-bottom: 1%;
   display: flex;
  flex-direction: column;
 }
 
 
label{
  font-size: 17px;
  text-align: left;
  font-weight: bolder;
  color: black;
  display: block;
  width: 88%;
  margin-left: 50px;
  }

  /*  ANCHO QUE CONYTIENE EL PLACEHOLDER IMPORTANTE............*/
  .input-group{
    width:  88%;
    display: block;
    border-radius: 2px;
    margin-left: 50px;
    }


.input-group input[type="text"]
{
background-color: #FFF;
width:100%;
height: 50px;
border: 1.5px solid 	#DCDCDC;
padding: 0 16px;
border-radius: 5px 0 0 5px;
}

.input-group input[type="email"]
{
background-color: #FFF;
width:100%;
height: 50px;
border: 1.5px solid 	#DCDCDC;
padding: 0 16px;
border-radius: 5px 0 0 5px;
}


.input-group textarea[name="content"]
{
background-color: #FFF;
width:100%;
border: 1.5px solid 	#DCDCDC;
padding: 0 16px;
border-radius: 5px 0 0 5px;
}




/*  FINAL FORM ACTION.................*/

.text-center .btn{
  margin-left: 50px;
 width: 88%;
 padding-top: 15px;
 padding-bottom: 15px ;
 color: #fff;
 text-transform: uppercase;
 background-color: #2d2d2d ;
 border: 0.5px solid 	rgb(141, 137, 137);

}



/*  FINAL TODO FORMMULARIO.......FINAL FORMULARIO COMPLETO.........*/





 /* NO SE PARA QUE SIRVE ESTO */
img.image{
	margin: 0 20px 20px 0;
}

span.finded{
	color: #FFF;
}


/*FIN */






 
     
  
   
  
  
  
    