
  <!-- Cookie Consent by TermsFeed Privacy Generator https://www.TermsFeed.com -->
      <!------------------COOKIES------------------------------------------->
 <div id="cookiePopup">
  <h4>Cookie Consent</h4>
  <p>Our website uses cookies to provide your browsing experience and relavent informations.Before continuing to use our website, you agree & accept of our  <a href="#">Cookie Policy & Privacy</a></p>
 <button id="acceptCookie">Accept</button> 
</div>
<!-- cookies end -->

<style>
#cookiePopup {
  background: white;
  width: 25%;
  position: fixed;
  left: 10px;
  bottom: 20px;
  box-shadow: 0px 0px 15px #cccccc;
  padding: 5px 10px;
}

#cookiePopup p {
  text-align: left;
  font-size: 15px;
  color: #4e4e4e;
}

#cookiePopup button {
  width: 100%;
  border: navajowhite;
  background: #097fb7;
  padding: 5px;
  border-radius: 10px;
  color: white;
}


</style>


  <script type="text/javascript">

// set cookie according to you
var cookieName = "CodingStatus";
var cookieValue = "Coding Tutorials";
var cookieExpireDays = 30;
// when users click accept button
let acceptCookie = document.getElementById("acceptCookie");
acceptCookie.onclick = function () {
    createCookie(cookieName, cookieValue, cookieExpireDays);
}
// function to set cookie in web browser
let createCookie = function (cookieName, cookieValue, cookieExpireDays) {
    let currentDate = new Date();
    currentDate.setTime(currentDate.getTime() + (cookieExpireDays * 24 * 60 * 60 * 1000));
    let expires = "expires=" + currentDate.toGMTString();
    document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
    if (document.cookie) {
        document.getElementById("cookiePopup").style.display = "none";
    } else {
        alert("Unable to set cookie. Please allow all cookies site from cookie setting of your browser");
    }
}
// get cookie from the web browser
let getCookie = function (cookieName) {
    let name = cookieName + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
// check cookie is set or not
let checkCookie = function () {
    let check = getCookie(cookieName);
    if (check == "") {
        document.getElementById("cookiePopup").style.display = "block";
    } else {

        document.getElementById("cookiePopup").style.display = "none";
    }
}
checkCookie();

  </script>
   <!------------FIN VALIDO-------------------------------------------------->

   <!------------CODIGO NO FUNCIONA CORRECTAMENTE SE INSLUYE GOOGLE TAG------------------------------------------>
 <div class="aviso-cookies activo" id="aviso-cookies">
 <img class="galleta" src="./img/cookie.svg" alt="Galleta">
  <h3 class="titulo"> Cookies</h3>
  <p class="parrafo"> Utilizamos cookies propias y de terceros para mejorar servcios</p>
  <button class="boton" id="btn-aceptar-cookies">De acuerdo</button>
  <a class="enlace" href="aviso-cookies.html">Aviso de cookies</a>
 </div>


   <!------------------------------------------------------------>

  <script type="text/javascript">
   const botonAceptarCookies = document.getElementById('btn-aceptar-cookies');
const avisoCookies = document.getElementById('aviso-cookies');


dataLayer = [];

if (!localStorage.getItem('cookies-aceptadas')) {
    avisoCookies.classList.add('activo');


} else {
    dataLayer.push({ 'event': 'cookies-aceptadas' });
}



botonAceptarCookies.addEventListener('click', () => {
    avisoCookies.classList.remove('activo');


    localStorage.setItem('cookies-aceptadas', true);

    dataLayer.push({ 'event': 'cookies-aceptadas' });



});


</script>

<style>
.aviso-cookies {
  display: none;
  background-color: #fff;
  padding: 20px;
  width: calc(100% -40%);
  max-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  padding-top: 60px;
  box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, .25);
  text-align: center;
}

.aviso-cookies.activo {
  display: block;
}

.aviso-cookies .galleta {
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
  margin-bottom: 15px;
}

.aviso-cookies .boton {
  width: 100%;
  background: #595959;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.aviso-cookies .boton:hover {
  background: #000;
}

.aviso-cookies .enlace {
  color: #4DBFFF;
  text-align: none;
  font-size: 14px;
}

.aviso-cookies .enlace:hover {
  text-decoration: underline;
}

</style>

<!-----FIN QUE ESTA GOOGLE TAG NO FUNCIONA---->

<!---------FUNCIONA NO TIENE CSS------------------------>
   <div id="cookieNotice" class="light display-right" style="display: none;">
    <div id="closeIcon" style="display: none;">
    </div>
    <div class="title-wrap">
        <h4>Cookie Consent</h4>
    </div>
    <div class="content-wrap">
        <div class="msg-wrap">
            <p>This website uses cookies or similar technologies, to enhance your browsing experience and provide personalized recommendations. By continuing to use our website, you agree to our  <a style="color:#115cfa;" href="/privacy-policy">Privacy Policy</a></p>
            <div class="btn-wrap">
                <button class="btn-primary" onclick="acceptCookieConsent();">Accept</button>
            </div>
        </div>
    </div>
</div>

   <script type="text/javascript">
function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

// Delete cookie
function deleteCookie(cname) {
    const d = new Date();
    d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=;" + expires + ";path=/";
}

// Read cookie
function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

// Set cookie consent
function acceptCookieConsent() {
    deleteCookie('user_cookie_consent');
    setCookie('user_cookie_consent', 1, 30);
    document.getElementById("cookieNotice").style.display = "none";
}

let cookie_consent = getCookie("user_cookie_consent");
if (cookie_consent != "") {
    document.getElementById("cookieNotice").style.display = "none";
} else {
    document.getElementById("cookieNotice").style.display = "block";
}

</script>

<!-------FIN FUNCIONA-------------------------------------------------------->


<!----------ESTO ES PARA CREAR COOKIE NO ESTA TERMINADO---------------->

   <script type="text/javascript">
const popupScreen = document.querySelector(".popup-screen");
const popupBox = document.querySelector(".popup-box");
const closeBtn = document.querySelector(".close.btn");

window.addEventListener("load", () => {
    setTimeout(() => {
        popupScreen.classList.add("active");
    }, 2000);
});

closeBtn.addEventListener("click", () => {
    popupScreen.classList.remove("active");

    document.cookie = "WebsiteName=testWebsite; max-age=" + 24 * 60 * 60;
});

</script>
<!------------------------------------------------------------------->


<!----------------EL QUE USARE--------------------------------------------------->


      {% block cooki %}
      <!------------------COOKIES------------------------------------------->
      <div id="consent-popup" class="hidden">
      <p>Este blog utiliza cookies, si continuas consideramos que aceptas su uso. 
      Puedes ver qué cookies se utilizan y para qué en nuestra política de pivacidad 
      </p>
       <a href="{% url 'appfood:politica-cookies' %}">Terminos y Condiciones.</a>

       <a id="accept" href="">Acepto</a> 
       <div id="cerrar-cookie">
       <a href="javascript:cerrar()"><img src="{% static 'appfood/img/gif/cerrar.png' %}"></a>
       </div>
       </div>
      {% endblock cooki  %}
     <!----------------------------------------------------->
  <script type="text/javascript">
const cookieStorage = {
    getItem: (item) => {
        const cookies = document.cookie
            .split(';')
            .map(cookie => cookie.split('='))
            .reduce((acc, [key, value]) => ({ ...acc, [key.trim()]: value }), {});
        return cookies[item];
    },
    setItem: (item, value) => {
        document.cookie = `${item}=${value};`
    }
}

const storageType = cookieStorage;
const consentPropertyName = 'jdc_consent';
const shouldShowPopup = () => !storageType.getItem(consentPropertyName);
const saveToStorage = () => storageType.setItem(consentPropertyName, true);

window.onload = () => {

    const acceptFn = event => {
        saveToStorage(storageType);
        consentPopup.classList.add('hidden');
    }
    const consentPopup = document.getElementById('consent-popup');
    const acceptBtn = document.getElementById('accept');
    acceptBtn.addEventListener('click', acceptFn);

    if (shouldShowPopup(storageType)) {
        setTimeout(() => {
            consentPopup.classList.remove('hidden');
        }, 2000);
    }

};

</script>



  <style>
#consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 3rem;
  background-color: cadetblue;
  transition: opacity 1s ease;
  z-index: 3000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#consent-popup p {
  width: 80%;
  max-width: 900px;
  background-color: red;
  font-size: 0.8em;
  text-align: start;
}

#consent-popup a {
  width: 15%;
  max-width: 160px;


  font-size: 0.8em;



}



#consent-popup #accept {
  width: 6%;
  height: 30px;
  font-size: 0.9em;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  text-align: center;
}

.hidden {
  opacity: 0;
}


#cerrar-cookie img {
  width: 100%;
  max-width: 15px;
  position: absolute;
  right: 100px;
  top: 3;
}

  </style>

  <!---FIN DEL QUE USARE-------------------------->