{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block title %}Categoria Recetas Saludables{% endblock %}  
 
 


    <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
    {% block content %}           
           <div id ="container-categorias-subcategorias">                                  
           <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
              <!------------CONTIENE DOS COLUMNAS DONDE ESTA ESCRITO Y EL COSTADO VACIO------------------>
              <div class="intro">
                   <div class="menu-introescrito">



                          <!--MENU------------------------------------------------------------->
                          <div class="menu">
                             
                           <!--fin del menu scrolling--->
                           <div class="menu-scrolling">
                          <ul>
                          <li>
                          <a href="{% url 'appfood:index' %}">Inicio<i class="right"></i></a>
                          </li>
                          <li>    
                          <a  href="{% url 'apprecetas:recetas-saludables' %}">Recetas Saludables<i class="right"></i> </a>
                          </li>
                          <!--MENU ESCONDIDO -CATEGORIAS------------------>
                          <li>
                          <p>Categorias<i class="right"></i></p>
                          <ul>
                          {% load mptt_tags %}
                          {% for kategory in categories %} 
                          <!--  TITULO--CATEGORIA---> 
                          <li>
                          <a href="/recetas-saludables/categoria/{{ kategory.slug }}">
                          {{kategory.name}} 
                          </a>    
                          </li>
                          {% endfor %}
                              
                          </ul>
                          </li>
                          <!---FIN MENUS ESCONDIDO CATEGORIAS---->

                          <!--NOMBRE DE LA CATEGORIA------->
                          <li>
                          {% load mptt_tags %}
                          {% for receta in category_deals %}
                          <a href="/recetas-saludables/categoria/{{ receta.slug }}">
                          {{category_deals.get}}<i class="right"></i>
                          </a>
                          {% endfor %}
                          </li>
                          <!----FIN NOMBRE DE LA CATEGORIA--->

                          </ul>
                          </div>
                          <!--fin del menu scrolling--->
                       </div>
                      <!--FIN --MENU------------------------------------------------------------>

                        <!---------------------------------------------------->
                          <div class="introescrito">
                          <!---TITULO DE CATEGORIA--->
                          {% load mptt_tags %}
                          {% for receta in category_deals %}
                          <!--  TITULO--CATEGORIA---> 
                          <div class="menu-intro-titulo">  
                          <h1> {{category_deals.get}}</h1>     
                          </div>
                          {% endfor %}
                          <!---FIN TITULO DE CATEGORIA--->        
                          </div>
                          <!------------------------------------------------->

                  </div>
                  <!-- FIN DIV MENU-INTRO ESCRITO------------------------------------------>

        <!------------------------------------------------------------------------------------------------------------->
                                         <div class="intro-dos-vacios">
                                        <!------ LAS CATEGORIAS---------------->
                                        <!--LAS DEJE VACIAS--->
                                           <!--FIN CATEGORIAS--->
                                          </div>


          </div>
         <!---FINAL INTRO-------------------------------------------------------------------->

                  </div>
                 <!-- FIN DIV container-categorias-subcategorias-->

<!-------------------------------------------------------------------------------------------------------------------->
                  <!---FIN DIV SUBCATEGORIA PERDER-->
              <div class="imagenes-pequeñas">
                        <!--SUBCATEGORIAS CON IMAGENES-->
                       {% for kategory in category_deals %}
                       {% if not node.is_leaf_node %}
                       <!-- SUBCATEGORIAS ---->
                       {% for child in kategory.get_children %}
                       <div class= "subcategoria">
                        {% if child.image %}
                        <img src="{{child.image.url}}">
                        {% endif %}      
                        <a href="/recetas-saludables/subcategoria/{{ child.slug }}"><h3>{{ child.name }}</h3>
                        </a>
                       </div>
                       <!--FIN SUBCATEGORY-->  
                      {% endfor %}
                      {% endif %}
                       {% endfor %}
                </div>
               <!--FIN DIV IMAGENES PEQUEÑAS--->
            
      <!------------------------------------------------------------------------------------------------->
         
      
                        
          
         <!--------------- FIN CAJA DE NAVEGACION DE LAS SUBCATEGORIA-PERDER------------------->



            
    <!---100%------------------------------------------->
    <div class="container-posts-categorias">   
            <!------------columna de 100%----------------------->
            <div id = "posts-categorias-aside">


                     <!---DIV DE 4 POST DE POSTS dentro de posts-cetagoria poner 70%--->  

     

                     <div class=" post-cuatro-categorias">

                  
                         <div class="elemento-categoria">   


                             {% for receta in recetas %}
                              <!--  IMAGEN DEL POSTPERDER---->
                              <div id="imagen-elemento-categoria"> 
                              {% if receta.image %}
                              <img src ="{{receta.image.url}}">
                              {% endif %}


                              <!--  DESCRIPCION RECETAS----------------->
                              <div class ="imagen-descripcion">
                              <a href ="/recetas-saludables/receta/{{ receta.slug }}/">
                              <h1>{{receta.title}}</h1>  </a>  
                              <p>{{receta.description|truncatechars_html:70|safe}} </p> 
                              <a href ="/recetas-saludables/receta/{{ receta.slug }}/">
                              <em><p>Leer mas  ...</p></em>
                              </a>                      
                              <p class="a" >Por: <span class="o"> {{ receta.author }}</span></p> 
                             </div>
                             <!--------------------------------------------------->
                             </div>
                             <!--25%  FIN IMAGEN ELEMENTO CATEGORIA ------------------------>         
                        <!----------CIERRA EL POST ---------->  
                              
    {% empty %}
               <p>No hay posts</p>
               {% endfor %}  
</div>
             
              <!---------------FIN ELEMENTO CATEGORIA----------------------->
            


 
           </div> 
           <!--FINAL  POST 4 CATEGORIAS----------------->
    



       
               <!---75% FIN POSTS CATEGORIAS --->   
                  <div id="aside">  </div>
                <!---FINAL ENDFOR DE 4 POST IN POSTS--->
                 </div>
                      </div>
           <!---100%-FIN CONTAINER GENERAL DE LOS POSTS--------------------------->
                 <!-----FINAL POST-CATEGORIAS-ASIDE----------------->

          

  {% endblock content %} 




          
 
     <!------------FIN ENDBLOCK CONTAINER PERDER CATEGORIA------------------------------->
 


























     

 
            
    












                 










                        

    



       
