{% extends 'appfood/base.html' %}
{% load static %}


{% block titulo %}Contacto{% endblock titulo %}

    {% block content %}

    {% block portada %} 
    <div class="portada">
                              <!-- IMAGEN-->
                              <section class="portada-img">
                             <img src="{% block imagen %}{% static 'appfood/img/contacto/1300-600cont.png' %}{% endblock  %}"
                              class="slider__img">
                             <!-- FIN IMAGEN-->
                             <!-- LETRAS-->
                            
                            <div class="portada-contacto-uno">
                            <p class="azulplata">dietas <span class="otroestilo"> recetas </span> plan de comidas</p> 
                       
                            </div>
                    
                           <div class="portada-contacto-dos">
                         <h6>Con la pasión por la gastronomia</h6>
                           </div>

                           <div class="portada-contacto-tres">
                           <span><h2> FOODING EMOTION<h2> &nbsp;&nbsp;   </span>
                         
                           </div>
                      
                           <!-- FIN LETRAS-->
                    </section>


  <!------------------PORTADA IMAGEN RESPONSIVE MOVIL Y IPDO--------------------------------------------------------------------------->
   <section class="portada-img-responsive">
            <!----------IMAGEN-----DEL MOVIL---------------->
            <div class="imagen-responsive-movil">
              <img src="{% block img %}{% static 'appfood/img/contacto/contacto-movil-640-450.png' %}{% endblock  %}">

                           <!-------------LETRAS EN MOVIMIENOTO DE MOVIL RESPONSIVE----------------->
                           <div class="portada-contacto-uno">
                            <p class="azulplata">dietas <span class="otroestilo">recetas </span> plan de comidas</p> 
                       
                            </div>
                    
                           <div class="portada-contacto-dos">
                       <h6>Con la pasión por la gastronomia</h6>
                           </div>

                           <div class="portada-contacto-tres">
                          <span><h2>FOODING&nbsp;&nbsp;&nbsp;EMOTION<h2>&nbsp;&nbsp;</span>
                           </div>
                        
              <!----FIN LETRAS EN MOVIMIENTO---------------------->
              </div>
             <!----IMAGEN DEL IPOD------>
              <div class="imagen-responsive-ipod">
              <img src="{% block imag %}{% static 'appfood/img/contacto/contacto-ipod-760-360.png' %}{% endblock  %}">
               <!--LETRAS DE IPOD--RESPONSIVE---------------------------------------------------------->
                   <div class="portada-contacto-uno">
                            <p class="azulplata">dietas <span class="otroestilo">recetas</span>  plan de comidas</p> 
                            
                            </div>
                    
                           <div class="portada-contacto-dos">
                      <h6>Con la pasión por la gastronomia</h6>
                           </div>

                           <div class="portada-contacto-tres">
                         <span><h2>FOODING&nbsp;&nbsp;&nbsp;EMOTION<h2>&nbsp;&nbsp;</span>
                           </div>



              <!---FIN DE LETRAS IPOD RESPONSIVE----------------------------------------->
              </div>
              <!-- FIN IMAGEN-------------------->

        <!-- LETRAS----------------------->
            
      </section>

       <!---FIN SECTION PORTADA RESPONSIVE MOVIL Y IPOD --------------------->
       </div>
     {% endblock portada %} 
 


        {% block buscador-search %}   {% endblock buscador-search %} 





     <!-- FORMULARIO-->
 
      <div class="row-formulario">   <!-- tabla -->
        <!-- tabla -->
          <div class="bg-faded">   <!-- tabla -->
          
                  <div class="section-heading ">
                   <span class="section-heading-upper">Envíanos tus dudas</span>
                  <span class="section-heading-lower"><u>contacto</u></span>
                  </div>
                     <!-- Formulario de contacto -->
            
                {% if 'ok' in request.GET %}
                <p><b>Su mensaje se ha enviado correctamente, en breve nos pondremos en contacto con usted.</b></p>
                {% endif %}  

                <!-- FORM ACTION INICIO
               <form action="" method="POST">
                {% csrf_token %}
                <table>
             {{form.as_table}}
             </table>


   <div class="text-center"><input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
             </div>
               </form>    -->
  
            <form action="" method="POST">{% csrf_token %}
                  <div class="form-group">
                       <label>Nombre *</label>
                       <div class="input-group">
                       {{form.name}}
                       </div>
                       {{form.name.errors}}
                       </div>


                       <div class="form-group">
                        <label>Email *</label>
                        <div class="input-group">
                        {{form.email}}
                        </div> 
                        {{form.email.errors}}
                        </div>


                        <div class="form-group">
                        <label>Mensaje *</label>
                         <div class="input-group">
                         {{form.content}}
                         </div> 
                         {{form.content.errors}}
                         </div>

                         <div class="text-center">
                          <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                        </div>
             </form>
          <!-- FORM ACTION FINAL -->
            <!-- Fin formulario de contacto -->
      


          </div>
       
      </div>
  
 
    <!-- Fin TOTAL formulario de contacto -->






{% block primero_recetasaludable %}{% endblock primero_recetasaludable %}
{% block dietas %}{% endblock dietas %}
{% block tercero_zumos %} {% endblock tercero_zumos %}
{% block cuarto_perder %}{% endblock cuarto_perder %}
{% block quinto %}{% endblock quinto %}




  {% endblock content %} 



