{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block title %}Categoria Batidos y Ensaladas{% endblock %}  
 
 


              <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
    {% block content %}           
    <div id ="container-categorias-subcategorias">                                  
              <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
              <!--------------------------------------------------------------->
              <div class="intro">
              <!---A-------------------------------------------------------------------->
                   <div class="menu-introescrito">
                  <!--MENU---------------------------------------------------------->
                  <div class="menu">
                      
                    <!--fin del menu scrolling--->
                    <div class="menu-scrolling">
                        <ul>

                          <li>
                          <a href="{% url 'appfood:index' %}">Inicio<i class="right"></i></a>
                          </li>

                          <li>    
                          <a  href="{% url 'appfood:recetas-dieteticas' %}">Recetas dieteticas<i class="right"></i> </a>
                              
                          </li>
           
                          <!--MENU ESCONDIDO----------------->
                          <li>
                          <p>Categorias<i class="right"></i></p>
                          <ul>
                          {% load mptt_tags %}
                          {% for category in categories %} 
                          <!--  TITULO--CATEGORIA---> 
                          <li>
                          <a href="/recetas-dieteticas/categoria/{{ category.slug }}">
                           {{category.name}}
                          </a>    
                          </li>
                          {% endfor %}
                              
                          </ul>
                          </li>
                          <!---FIN MENUS ESCONDIDO CATEGORIAS---->
                            


                          <li>
                          {% load mptt_tags %}
                          {% for recipe in category_deals %}
                          <a href="/recetas-dieteticas/categoria/{{ recipe.slug }}">
                          {{category_deals.get}}<i class="right"></i>
                          </a>
                          {% endfor %}
                          </li>

                       </ul>
                      </div>
                      <!--fin del menu scrolling--->
                     </div>
                     <!---FIN -MENU---------------------------------------------->




                             <!--TITULO DE LA CATEGORIA ------------------------>
                              <div class="introescrito">
                              <!---TITULO DE CATEGORIA--->
                              {% load mptt_tags %}
                              {% for recipe in category_deals %}
                               <!--  TITULO--CATEGORIA---> 
                              <div class="menu-intro-titulo">
                              <h1> {{category_deals.get}}</h1>     
                              </div>
                              {% endfor %}
                              <!---FIN INTRO TITULO-->        
                            </div>
                           <!--------------------FIN INTROESCRITO----------------------------->



                         </div>
                      <!-- FIN DIV MENU-INTRO ESCRITO-------------------------->
                                         <div class="intro-dos-vacios">
                                       <!------ LAS CATEGORIAS---------------->
                                      </div>
                      </div>
            <!---FINAL INTRO-------------------------------------------------------------->

          </div>
         <!-- FIN DIV container-categorias-subcategorias-->

<!-------------------------------------------------------------------------------------------------------------------->
                  <!---IMAGENES DE LAS SUBCATEGORIAS-->
              <div class="imagenes-pequeñas">
                        <!--SUBCATEGORIAS CON IMAGENES-->
                       {% for category in category_deals %}
                       {% if not node.is_leaf_node %}
                       <!-- SUBCATEGORIAS ---->
                       {% for child in category.get_children %}
                       <div class= "subcategoria">
                        {% if child.image %}
                        <img src="{{child.image.url}}">
                        {% endif %}   
                           
                        <a href="/recetas-dieteticas/subcategoria/{{ child.slug }}"><h3>{{ child.name }}</h3>
                        </a>
                       </div>
                       <!--FIN SUBCATEGORY-->  
                      {% endfor %}
                      {% endif %}
                       {% endfor %}
                </div>
               <!--FIN DIV IMAGENES PEQUEÑAS--->
            
      <!------------------------------------------------------------------------------------------------->
         <!--------------- FIN CAJA DE NAVEGACION DE LAS SUBCATEGORIA-PERDER------------------->


        <!---DIV  DEBE MEDIR 100%  CONTAINER DE 4 POST Y DE RECETAS--->
       <div class="container-posts-categorias">
             <!--DEBE MEDIR  80%-------------80%---------->
             <div id = "posts-categorias-aside">
                <!--------------- INICIO POST CATEGORIA------------------------->
                <div class=  "post-cuatro-categorias">
                <!---DIV DE 4 POST DE POSTS---> 


                  {% for recipe in recipe_post %}
                  <div class="elemento-categoria"> 


                      <!---FECHA E IMAGEN-->  
                      <div id="imagen-elemento-categoria"> 
                      <!-- IMAGEN--->
                      {% if recipe.image %}             
                      <img src ="{{recipe.image.url}}">
                     {% endif %}       
                     <!------------------------>
                     <!-------AQUI NO SE PUSO EL CODIGO QUE SE PUSO EN APPRECTAS SANAS PORQUE AQUI HAY CHILDREN Y EL OTRO SOLO CATEGORIAS-------->
                     <!--TITULO DEL POST ENSALADAS Y ZUMOS-->
                    <div class="imagen-descripcion">
                    <a href="/recetas-dieteticas/receta/{{ recipe.slug}}">
                    <h1>{{ recipe.title }}</h1>
                    </a>
                    <p>{{recipe.description|safe|truncatechars_html:60}}</p>
                    <a href ="/recetas-dieteticas/receta/{{ recipe.slug }}/">
                    <em><p>Leer mas...</p></em>
                    </a>
                    <p class="a">Por <span class="o"> {{ recipe.author }}</span> </p> 
                    </div>
                    <!------FIN DIV IMAGEN DESCRIPCION---------------->
                    </div> 
             <!--25%  FIN DIV ID imagen-elemento-categoria--->   


             </div>
               {% empty %}
            <p>No hay posts</p>
            {% endfor %} 
            <!-----FIN DIV ELEMENTO CATEGORIA -----CIERRA EL POST ---------->  
          
       </div> 
      
          <!---FIN DIV POSTS 4 CATEGORIA 75%--->    

                     <!-- 20% ASIDE --->
                    <div id="aside">    </div>
                    <!--FIN ASIDE 20%--->
            </div>
            <!---------------FIN POST CATGEORIA Y ASIDE--->
      <!--FIN CONTAINER CATEGORIAS Y SUBCATEGORIA 100% TODO-->     
      </div>
               <!------------------------------------------->

 
  {% endblock content %}












          {% block redes %}
            {% endblock redes %}
          {% block paginacion %} 
          {% endblock paginacion %}








  