{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block titulo %}Subcategoria Batidos y Enaladas{% endblock titulo %}  
 
 


              <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
    {% block content %}           
           <div id ="container-categorias-subcategorias">                                  
              <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
               
                <!--------------------------------------------------------------->
                <div class="intro">

                   <div class="menu-introescrito">
                              <!--MENU-->
                               <div class="menu">
                               <div class="menu-scrolling">
                               <ul>
                               <li>
                               <a href="{% url 'appfood:index' %}">Inicio<i class="right"></i></a>
                              </li>

                              <li>    
                              <a  href="{% url 'appfood:recetas-dieteticas' %}">Recetas Dieteticas<i class="right"></i> </a>
                              </li>

                            <!--DEBERIA ESTA AQUI LA CATEGORIA ACTUAL---->
                            <li>  
                         
                           <p>Categoria:{{category_deals.get}}
                            <i class="right"></i></p> 
                        
                           </li>
             
                         

                          </ul>
                    </div>
                <!--fin del menu scrolling--->
                </div>
                <!--MENU---------------------------------------------->


              <!--TITULO DE LA SUBCATEGORIA ------------------------>
              <div class="introescrito">
                             
                      <!--  TITULO-GRANDE EN EL CENTRO DE LA-SUBCATEGORIA---> 
                    <div class="menu-intro-titulo">  
                    <h1> {{categori}}</h1>     
                    </div>
                    <!---FIN TITULO DE CATEGORIA--->        
              </div>
             <!-- FIN DIV -INTRO ESCRITO--->

        </div>
       <!-- FIN DIV MENU-INTRO ESCRITO-------------------------------------------->



                                       <div class="intro-dos-vacios">
                                       <!------ LAS CATEGORIAS---------------->
                                         
                                           <!--FIN CATEGORIAS--->
                                          </div>


                         </div>
                     <!---FINAL INTRO--->

                  </div>
                 <!-- FIN DIV container-categorias-subcategorias-->

<!-------------------------------------------------------------------------------------------------------------------->


                  <!---IMAGENES DE LAS SUBCATEGORIAS-->
              <div class="imagenes-pequeñas">
                        <!--SUBCATEGORIAS CON IMAGENES-->
                      {% for category in category_deals %}
                       {% if not node.is_leaf_node %}
                       <!-- SUBCATEGORIAS ---->
                         {% for child in category.get_children %}
                       <div class= "subcategoria">
                        {% if children.image %}
                        <img src="{{children.image.url}}">
                        {% endif %}      
                        <a href="/recetas-dieteticas/subcategoria/{{ children.slug }}"><h3>{{ children.name }}hola</h3>
                        </a>
                       </div>
                       <!--FIN SUBCATEGORY-->  
                      {% endfor %}
                      {% endif %}
                       {% endfor %}


    
                </div>
               <!--FIN DIV IMAGENES PEQUEÑAS--->
            
      <!------------------------------------------------------------------------------------------------->





     <!---------------CATEGORIA VERSION MOVIL Y IPAD------------------>
      {% block categoria-receta-responsive %}     
    <!-----------------------------------------------A----->
         <div class="categoria-receta-responsive">
                {% for recipe in recipes %}
               <!---------------------------------------B------>
               <div class="categoria-columna-responsive">   


                     <!-----------------ROW---------------------C----->
                       <div id="categoria-imagen-descripcion-responsive">
                                   <!--------------------------->
                                 <div class="cat-recet-respon-img">
                                 {% if recipe.image %}
                                  <img src ="{{recipe.image.url}}">
                                  {% endif %}
                                  </div>
                                  <!------------------------------->

                                  <!-------------------------------->
                                  <div class="cat-recet-respon-descrip">
                                  <a href="/recetas-dieteticas/receta/{{ recipe.slug}}">
                                  <h1>{{ recipe.title }}</h1>
                                  </a>
                                  <p>{{recipe.description|truncatewords_html:8|safe}}</p>
                                  <a href ="/recetas-dieteticas/receta/{{ recipe.slug }}/">
                                  <em><p>Leer mas...</p></em>
                                  </a>
                                  <p class="a">Por <span class="o"> {{ recipe.author }}</span> </p> 
                                  </div>
                                  <!------------------------------------>

                       </div>
                       <!--------------------------------------C----->
                       </div>
                       <!---------------------------------------B----->
                        {% endfor %}
         </div>
         <!----FLOAT LEFT--------80%-----------RESPONSIVE----------------------------------A---->
             {% endblock categoria-receta-responsive %}   

























        <!--------------------VERSION PC--------------------------------------------------------------------------------->
    <!---DIV  DEBE MEDIR 100%  CONTAINER DE 4 POST Y DE RECETAS--->
    <div class="container-posts-categorias">
          <!---------ROW---columna de 100%----------------------->
          <div id = "posts-categorias-aside">
              <!----FLOAT LEFT--------80%---------------------------------------------A---->
              <div class="categoria-recetas-posts">
                
                  <!---ROW-------------------------------------------B--->  
                  <div class="post-cuatro-categorias">

                      <!---------------------------------------C------>
                        <!--25% -----DIV DE 4 POST DE POSTS--->
                        {% for recipe in recipes %}  
                        <div class="elemento-categoria">          
                    
                            <!---FECHA E IMAGEN-->  
                            <div id="imagen-elemento-categoria"> 
                              <!-- IMAGEN--->
                              {% if recipe.image %} 
                              <img src ="{{recipe.image.url}}">
                              {% endif %}


                              <!--  DESCRIPCION---->
                             <div class="imagen-descripcion">
                              <h2>{{recipe.title}}</h2>
                              <p>{{recipe.description|safe|truncatechars_html:60}} </p> 
                              <a href ="/recetas-dieteticas/receta/{{ recipe.slug }}/">
                              <em><p>Leer mas...</p></em></a>
                              <p class="a">Por <span class="o"> {{ recipe.author }}</span> </p> 
                              <h3>Categoria: {{ recipe.category }}
                             </div>
                         <!------FIN DIV IMAGEN DESCRIPCION---------------->
                    </div> 
                    <!--25%  FIN IMAGEN ELEMENTO CATEGORIA ------CIERRA POST-------------D----->         
                 


                         
                  </div>
                 <!---FIN ELEMENTO CATEGORIA------CAJA PARA UN POST----------------------C--------->
            {% if forloop.counter|divisibleby:3 %}        
            </div> 
            <!--FIN---ROW---POST 4 CATEGORIAS-----------------ROW-------------------------B---->

           <!----SE REPITE EL CICLO ROW-------------------------------------->
            <div class="post-cuatro-categorias">
            {% endif %}
             {% empty %}
            <p>No hay posts</p>

            {% endfor %}   
           </div>
           <!---CICLO ROW DE 3 POSTS-------------------------->

    
          </div>
          <!---------------FLOAT LEFT-------------------------------A------------------------A--->

                     <!-- 20% ASIDE --->
                    <div id="aside">    </div>
                    <!--FIN ASIDE 20%--->
            </div>
            <!---------------FIN POST CATGEORIA Y ASIDE--->
      <!--FIN CONTAINER CATEGORIAS Y SUBCATEGORIA 100% TODO-->     
      </div>
               <!------------------------------------------->

 
  {% endblock content %}




                                      


                               







