{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block title %}Subcategoria Batidos y Enaladas{% endblock %}  
 
 


              <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
    {% block content %}           
           <div id ="container-categorias-subcategorias">                                  
              <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
               
                <!--------------------------------------------------------------->
                <div class="intro">

                   <div class="menu-introescrito">
                              <!--MENU-->
                               <div class="menu">
                               <div class="menu-scrolling">
                               <ul>
                               <li>
                               <a href="{% url 'appfood:index' %}">Inicio<i class="right"></i></a>
                              </li>

                              <li>    
                              <a  href="{% url 'appfood:recetas-dieteticas' %}">Recetas Dieteticas<i class="right"></i> </a>
                              </li>

                            <!--DEBERIA ESTA AQUI LA CATEGORIA ACTUAL---->
                            <li>  
                         
                           <p>Categoria:{{category_deals.get}}
                            <i class="right"></i></p> 
                        
                           </li>
             
                         

                          </ul>
                    </div>
                <!--fin del menu scrolling--->
                </div>
                <!--MENU---------------------------------------------->


              <!--TITULO DE LA SUBCATEGORIA ------------------------>
              <div class="introescrito">
                             
                      <!--  TITULO-GRANDE EN EL CENTRO DE LA-SUBCATEGORIA---> 
                    <div class="menu-intro-titulo">  
                    <h1> {{categori}}</h1>     
                    </div>
                    <!---FIN TITULO DE CATEGORIA--->        
              </div>
             <!-- FIN DIV -INTRO ESCRITO--->

        </div>
       <!-- FIN DIV MENU-INTRO ESCRITO-------------------------------------------->



                                       <div class="intro-dos-vacios">
                                       <!------ LAS CATEGORIAS---------------->
                                          <h3>Categorias:</h3>
                                          {% load mptt_tags %} 
                                          {% for category in categories %} 
                                          <a href="/recetas-dieteticas/categoria/{{ category.slug }}">
                                          <p>{{ category }}</p>      
                                          </a>
                                         {% endfor %}
                                           <!--FIN CATEGORIAS--->
                                          </div>


                         </div>
                     <!---FINAL INTRO--->

                  </div>
                 <!-- FIN DIV container-categorias-subcategorias-->

<!-------------------------------------------------------------------------------------------------------------------->


                  <!---IMAGENES DE LAS SUBCATEGORIAS-->
              <div class="imagenes-pequeñas">
                        <!--SUBCATEGORIAS CON IMAGENES-->
                      {% for category in category_deals %}
                       {% if not node.is_leaf_node %}
                       <!-- SUBCATEGORIAS ---->
                         {% for child in category.get_children %}
                       <div class= "subcategoria">
                        {% if children.image %}
                        <img src="{{children.image.url}}">
                        {% endif %}      
                        <a href="/recetas-dieteticas/subcategoria/{{ children.slug }}"><h3>{{ children.name }}hola</h3>
                        </a>
                       </div>
                       <!--FIN SUBCATEGORY-->  
                      {% endfor %}
                      {% endif %}
                       {% endfor %}


    
                </div>
               <!--FIN DIV IMAGENES PEQUEÑAS--->
            
      <!------------------------------------------------------------------------------------------------->


      <!---DIV  DEBE MEDIR 100%  CONTAINER DE 4 POST Y DE RECETAS--->
      <div class="container-posts-categorias">
            <!--DEBE MEDIR  80%-------------80%---------->
            <div id = "posts-categorias-aside">


                   <!----- INICIO POST CATEGORIA-------->
                   <div class=  "post-cuatro-categorias">
                   <!---DIV DE 4 POST DE POSTS---> 
            

                        <!--25% -----DIV DE 4 POST DE POSTS--->
                        {% for recipe in recipes %}  
                        <div class="elemento-categoria">          
                    
                            <!---FECHA E IMAGEN-->  
                            <div id="imagen-elemento-categoria"> 
                              <!-- IMAGEN--->
                              {% if recipe.image %} 
                              <img src ="{{recipe.image.url}}">
                              {% endif %}


                              <!--  DESCRIPCION---->
                             <div class="imagen-descripcion">
                              <h2>{{recipe.title}}</h2>
                              <p>{{recipe.description|safe|truncatechars_html:60}} </p> 
                              <a href ="/recetas-dieteticas/receta/{{ recipe.slug }}/">
                              <em><p>Leer mas...</p></em></a>
                              <p class="a">Por <span class="o"> {{ recipe.author }}</span> </p> 
                              <h3>Categoria: {{ recipe.category }}
                              </div>
                              <!--DFIN DIV IMAGEN DESCRIPCION-->
                          </div>
                          <!---FIN DIV IMAGEN ELEMNTO CATEGORIA--->

                        </div>     
                        <!--FIN 25% DEL FIN ELEMENTO-CATEGORIA------->          
                       {% empty %}
                       <p>No hay posts</p>
                       {% endfor %} 
                       <!--25% FIN ENDFOR ELEMENTO CATEGORIA--->            
            </div>
            <!---80% FIN DIV POST-CUATRO-CATEGORIAS a 80%- VAN 3 POSTS-->
                    <!-- 20% ASIDE --->
                    <div id="aside">    </div>
                    <!--FIN ASIDE 20%--->
           </div>
           <!--100% FIN DEL POSTS CATEGORIAS ASIDE --->
      </div>
      <!---FIN CONTAINER POSTS-CATEGORIAS----->

      {% endblock content %}











    
               

                                      


                               







