{% extends 'appfood/base.html' %}
{% load static %}
{% block titulo %}Dietas Especiales y alimentacion saludable{% endblock titulo %}


                    {% block portada %} 
       
            <div class="portada">
                      <!-- IMAGEN-->
                  <section class="portada-img">
                        <img src="{% block imagen %}{% static 'appfood/img/seg2-nutri/1300-600-risoto.jpg' %}{% endblock  %}"class="slider__img">
                             <!-- FIN IMAGEN-->
                             <!-- LETRAS-->
                        <div class="portada-receta-img2"><a href=""></a>
                             <img src="{% block imagen2 %}{% static 'appfood/img/foodemotions1.png' %}{% endblock  %}"
                              class="slider__img">
                        </div>
                         <!-- FIN LETRAS-->
                  </section>
            </div>    
                    
 {% endblock portada %} 


     {% block buscador-search %}   {% endblock buscador-search %} 

     {% block batido-dietas %}  {% endblock batido-dietas %} 



 
    {% block content %}
             <!-- TITULO 2-->
 
            <div class="titulo">
                  <section class="vacio"></section>
                  <section class="escrito">
                            <h2>dietas y alimentacion saludable</h2>
                            <h3>
                    
                         </h3>
                   </section>
                   <section class="vacio"></section>
            </div>

    

     {% block paginas %}
     <div id ="container-plan">

            <div class="container-columna-posts">
                 <!-- CUARTO SEGMENTO-------FOTOS --------------------------->
                {% for post in posts %}
              <div class = "elemento-post">
                      <!---DIV DE 4 POST DE PERDERPESO--->   


                      <div class="elemento-imagen">
                     {% if post.imagefront %}
                     <img src="{{post.imagefront.url}}">
                     {% endif %}
                       </div>


                      <div class="elemento-descripcion">

                            <h2>  {{post.title}}</h2>  
                             <p>{{post.description|linebreaksbr|truncatechars:110}} </p>
                             <a href ="{% url 'appblog:post' post.slug %}" class="arrow1">
                          LEE MAS
                                    <span class="arrow-right"></span></a>
                       </div>
                    <!---DIV DE 4  RECETAS--->                  
   <!--------------------- FINAL SEARCH RECIPES ZUMOS Y ENSALADAS  ------------------------------>  
              </div>
<!---------FIN DIV ELEMTNO POST---------------------------------------------------------------------->
            {% endfor %}

<!----FIN DIV DE CONTAINER COLUMNA POSTS----------------------->
             </div>
   

      <!--- cCONTAINER ASIDE-------------------------------------------------------------------> 
      <div class="aside-plan">2</div>
      </div>

          {% endblock paginas %}


  
         {% block primero_recetasaludable %}
       {% endblock primero_recetasaludable %}

       {% block noticias %}  
       {% endblock noticias %}

              {% block plandealimentacion %}
              {% endblock plandealimentacion %}

               {% block dietas-alimento %}
                {% endblock dietas-alimento %}

                {% block quinto_perder %}
                {% endblock quinto_perder %}
         {% block tercero_zumos %} {% endblock tercero_zumos %}

   {% endblock content %}





 
   {% block sexto %} {% endblock sexto %}
   {% block septimo %} {% endblock septimo %}  
   {% block texto-animado %} {% endblock texto-animado %}  