{% load static %}
{% load menu %}
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
        <meta meta content="width=device-width, initial-scale=1,  maximum-scale=1" name="viewport">
        <title>{% block titulo %}{{object.title}} {% endblock titulo %}</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Encuentre recetas saludables y deliciosas e ideas para menús  en la revista FoodingEmotion. Aprenda a elegir alimentos más saludables todos los días..">
        <meta name="keywords" content="Recetas Saludables, Recetas, Alimentacio Saludable, Plande comidas dieteticas">
        <link rel="canonical" href="https://www.foodingemotion.com/">


        {% if object.slug in request.path %}
        <title>{{object.title}}</title>
        <meta property="og:title" content="{{object.title}}">
        <meta name="description" property="og:description" content="{{object.content|striptags|truncatewords:20}}">
        <meta property="og:image" content="{{object.image_field.url}}">
        <meta property="og:image:alt" content="{{object.image_alt}}">
        <meta property="og:url" content="https://www.foodingemotion.com/{{object.slug}}">
        <meta name="twitter:card" value="summary">

        {% elif request.path == '/' %}
        <title>Fooding Emotions</title>
        <meta name="description" content="Revista Gastronomica, recetas saludables, plan de comidas dieteticas, almentacion saludable">

       {% else %}
       <title>FoodingEmotion</title>
       <meta name="description" content="Dietas, Intolerancias Alimenticias, plan de comidas para bajar de peso...">
       {% endif %}
      

       {% block meta_extend %}
       <meta name="description" content="{{ obj.description }}">
       <meta name="title" content="{{ obj.title }}">
       {% endblock %}


       
       {% if object.slug in request.path %}
      <meta property="og:title" content="{{object.Foodingemotion}}">
      <meta property="og:url" content="https://www.foodingemotion.com/{{object.slug}}" >

      <meta property="og:description" content="{% if object.summary %}{{object.summary|striptags|truncatechars:160}}{% else %}
      {{object.text|safe|striptags|truncatechars:160}}{% endif %}">

      <meta property="og:image" content="{% if post.header_image %}{{ post.header_image.url }}
      {% else %}https://www.foodingemotion.com{% static 'images/home-office.jpg' %}{% endif %}">

      <meta name="twitter:card" content="summary_large_image" />
      <title>{{object.title}}</title>
      {% else %}
      <title>Fooding Emotion</title>
      <meta property="og:title" content="Recetas Saludables">
      <meta property="og:description" content="Description up to 160 characters">
      <meta property="og:image" content="https://image-url.png">
      <meta property="og:url" content="https://www.foodingemotion.com" >

      <meta name="twitter:card" content="summary_large_image" />   

     {% endif %}
     <meta name="twtter:site" content="@website_handle" />
      <meta name="twtter:creator" content="@your_handle" />  







      <meta property="og:title" content="Recetas Saludables, Alimentacion Saludable - FoodingEmotion">
      <meta property="og:type" content="articulo">
      <meta property="og:site_name" content="FoodingEmotion">
      <meta property="og:url" content="https://www.foodingemotion.com/">
      <meta property="og:description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros profesionales. Aprenda a elegir alimentos más saludables todos los días. ">
      <meta name="pinterest:url" content="https://www.foodingemotion.com/">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:url" content="https://www.foodingemotion.com/">
      <meta name="twitter:title" content="Fooding Emotions: Recetas Saludables, Alimentacion Saludable">
      <meta name="twitter:description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros profesionales. Aprenda a elegir alimentos más saludables todos los días..">
      <meta name="twitter:site" content="@">
      <meta name="pinterest:media" content="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta name="twitter:image" content="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta property="og:image" content="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta property="og:image:width" content="2000">
      <meta property="og:image:height" content="1000">
      <meta property="fb:app_id" content="165082593548215">
      <meta property="fb:pages" content="10053803772">

 

     <!--favicon-->
     <link rel="icon" href="favicon.ico" type="image/x-icon"/>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
     <link  rel="icon"   href="img/favicon.png" type="image/png" />
     <link  rel = "apple-touch-icon"  tamaños = "57x57"  href = "/favicon/android-icon-57x57.png" > 

      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-48x48.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-60x60.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-72x72.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-96x96.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-144x144.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-192x192.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/food-icon.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/food-310x310.png' %}"/>


      
       <!---PROBAR EN ANDROID--->
      <meta name="viewport" content="width=device-width"> 
      <meta name="mobile-web-app-capable" content="yes"> 


       <!----------------AQUI IBA EL MANIFIESTO------->
      <!---------------AQUI CAMBIADO #ffffff------->
     <meta  nombre ="msapplication-TileColor"  content = "#568632" > 
     <meta  name = "msapplication-TileImage"  content = "/ms-icon-144x144.png" > 
     
     <!--Chrome Firefox OS y Operac–-->
     <meta name="theme-color" content= "#568632">
      <meta name="theme-color" content="#568632"/> 
     <!--iOS Safari-->

     <meta name= "apple-mobile-web-app-status-bar-style" content= "#568632">

     <!--Windows Phone-->

    <meta name= "msapplication-navbutton-color" content= "#568632">

     <meta name= "apple-mobile-web-app-status-bar-style" content="black-translucent">

     <meta name= "apple-mobile-web-app-status-bar-style" content="black"> 

      <!-- Windows Phone --> 
     <meta name="msapplication-navbutton-color" content="#568632"> 
     <!-- iOS Safari --> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 

    <!------------------------------------------------------------------->

      <!-- STILOS --------------------------------------------------------->
        <link rel="stylesheet" href="{% static 'appfood/css/categoria.css' %}">
        <link rel="stylesheet" href="{% static 'appfood/css/responsivecategoria.css' %}">
    



    <STYLE>
        a {
            text-decoration: none;
        }
    </STYLE>
    <!-- ICONOS -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

    <!-- SCRIPT PARA EL MENU RESPONSIVE A VER SI FUNCIONA SI NO BORRARLO SIRVE PARA EL CARROUSEL-->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <!-- SCRIPT PARA ANIMAR AL HACER SCROLL parece no sirve-->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- GOOGLE FONTS-->
       <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Artifika|Bai+Jamjuree|Cabin|Merienda|Roboto+Condensed|Satisfy&display=swap"
        rel="stylesheet">
   
        </head>

  <body>
  <!-- CONTAINER GENERAL DE LA WEB ---------------------------------------------------------------------------->
       <div id="wrapper-categorias">
                            <header>
                             <div id="cabecera-categorias">
                                 <!------ caja logo --------->
                                 <div class="logo">
                                   <a  href="{% url 'appfood:index' %}">
                                 <img src="{% static 'appfood/img/logo/logo-articulo.png' %}" alt="Food Emotions">
                                 </a>
                                 </div>
                                <!------- final caja logo------->


            <div class="controls">
              <form method ="GET" action= "{% url 'appblog:search' %}" value="{{request.GET.q}}" > {% csrf_token %}
                  <div id="custom-search-input">
	                <input type="text"  class="sin-borde" name="q" value="{{ request.GET.q }}"  placeholder="  Buscar ...." >
                    <button type="submit" name="submit" class="boton btn-succes" value="Search"> 
                    <span class="icon"><i class="fa fa-search"></i></span>   
                    </button>
                          <!--</span>-->
                 </div>
             </form>
	       </div>
                    

                             
                           <!-- BOTON HAMBURGUESA SIN FONTAWESOME Y SE COVIERTE EN ASPA-->
                             <div class="menu-btn">


                                        <!------  caja boletin--------------------------->
                                    <div class="boletin">
                                            <a href="{% url 'appcontact:contacto' %}"  style="text-decoration: none">     
                                           <h4>SUSCRIBETE</h4>  
                                           </a>
                                </div>
                            <!---------- final caja boletin------------------->

                                  <div class="menu-btn__burger"></div>


                                  </div>
                            <!-- final caja MENU ASPA--------------------------------------------------------->
                                                            
 
                        <!-- NAV MENU QUE VA CON EL BOTON MENU-->
                        
       <!-- NAV MENU QUE VA CON EL BOTON MENU-->
            <nav style="background-image: url({% static 'appfood/img/logo/250-60.png' %})">
                 <ul>
                 <li> 
                 <a href="{% url 'appfood:index' %}"  class="current">
                 <p>Inicio</p> 
                 </a>  
                </li>
        
                <li> 
                <a class="{% active 'appfood:recetas-saludables' %}" href="{% url 'appfood:recetas-saludables' %}"><p>Recetas Saludables</p></a>
                        <ul>  
                        {% load mptt_tags %} 
                        <!-- LAS CATEGORIAS------->
                        {% for kategory in kategories %}
                        <li>
                        <a href="/recetas-saludables/categoria/{{kategory.slug }} "style="text-decoration: none">
                        {{ kategory.name }}</a>
                       </li>
                       {% endfor %}
                      </ul>
                </li>
              
                <li>
                <a href="{% url 'appfood:recetas-dieteticas' %}">
                <p>Recetas Dieteticas</p>
                </a>
                                                      <ul>
                                                       <li><a href="#menu">batidos</a></li>
                                                       <li><a href="#menu">ensaladas</a></li>
                                                      </ul>
                </li>

                    <li> 
                <a class="{% active 'appfood:plan-comidas-saludables' %}" href="{% url 'appfood:plan-comidas-saludables' %}"><p>Plan de Alimentacion Saludable</p> </a>
                </li>

               <li > 
                <a class="{% active 'appfood:dietas-especiales-y-alimentacion-saludable' %}" href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"><p> Dietas y Alimentacion Saludable </p>  </a> 
                </li>

                <li> 
                <a class="{% active 'appfood:noticias-turismo-gastronomico' %}" href="{% url 'appfood:noticias-turismo-gastronomico' %}"><p> Turismo</p>  </a>
                    
                </li>
              
                <li> 
                <a href="{% url 'appcontact:contacto' %}">
                <p>Contacto</p>
                </a> 
                </li>
                <li> 
                <a href="{% url 'appfood:nosotros' %}">
                <p> Nosotros</p> 
                </a> 
                </li>
                 </ul>
                </nav>
                        </div> <!-- FINAL CABECERA ----------------------------------------------------------->
                        </header>



              <!-- CONTENEDOR DEL CUERPO DEL BODY------------------------------------------------------------------------->
 <div id="container-categorias">
 
       {% block buscador-responsive %}
        <div id="controls-responsive">
                <form method ="GET" action= "{% url 'appblog:search' %}" value="{{request.GET.q}}" > {% csrf_token %}
                    <div id="custom-search-input-responsive">
	                      <input type="text"  class="sin-borde-responsive" name="q" value="{{ request.GET.q }}"  placeholder= "   Buscar .." >
                                 
                          <button type="submit" name="submit" class="boton-responsive btn-succes" value="Search"> 
                          <span class="icon"><i class="fa fa-search"></i></span>   
                          </button>
                          <!--</span>-->
                    </div>
                </form>
	        </div>
             {% endblock buscador-responsive %}

   <!-- CARROUSEL DE MAGENES-------------------------------------------------------------------------->
 
      {% block content %}        
      <div id ="container-categorias-subcategorias">    
                       <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
                
                 <!---------------------------------------------------------------->
                 <div class="intro">
                       <div class="intro-escrito"></div>
                  
                       <div class="intro-dos-vacios"></div>
                 </div>
 </div>


                       <div class="imagenes-pequeñas">
                       <div id= "subcategoria">
                            <!--SUBCATEGORIAS--->
                             <h3> </h3>
                        </div>
                           <!------------- FIN SUBCATEGORY-------->
                       </div>




                <!-------------------------------------------------------------------->
                                                   
                      
                     
                     <!----------------------------------------------------------->
                      <div id="texto-slider">
                      <div class="contentBlock">
                     </div>
                    </div>

                     <!--------------------------------------------------------------->





        <!---DIV  DEBE MEDIR 100%  CONTAINER DE 4 POST Y DE RECETAS--->
        <div class="container-posts-categorias">

                   <div class="columna-categorias">
                    <div class="por-categoria">


                    
                        <div class="por-foto">
                         <div class="fecha">
                              </div>  
                              </div>



                                <div class="por-descripcion">
                                  </div>




                                    </div>
                                            </div>

                     <!-- 20% ASIDE --->
                    <div id="aside">  </div>
                    <!--FIN ASIDE 20%--->
           </div>
           <!--100% FIN DEL POSTS CATEGORIAs--->
            






                  <!--DEBE MEDIR  80%-------------80%---------->
                  <div class = "posts-categoria">
                         <!--------------- INICIO POST CATEGORIA--------------->
                               <!---DEBE MEDIR 25%  DIV DE 4 POST DE POSTS--->
                              <div class="elemento-categoria">  
                                   <img src ="">                              
                                   <!--IMAGEN-->
                                   <div class="elemento-descripcion"> 
                                   </div>            
                             </div>   
                       <!----FIN DE DEBE MEDIR 25%----------->
                               <p>No items</p>
                             </div>

                     <!---------------------------------------->
                           <!---DEBE MEDIR 25%  DIV DE 4 POST DE POSTS--->
                              <div class="elemento-categoria">  
                                   <img src ="">                              
                                   <!--IMAGEN-->
                                   <div class="elemento-descripcion"> 
                                   </div>            
                               </div>   
                             <!----FIN DE DEBE MEDIR 25%----------->
                               <p>No items</p>
                              </div>
                     <!---------------------------------------->
                                  <!---DEBE MEDIR 25%  DIV DE 4 POST DE POSTS--->
                                  <div class="elemento-categoria">  
                                   <img src ="">                              
                                   <!--IMAGEN-->
                                   <div class="elemento-descripcion"> 
                                   </div>            
                                 </div>   
                                  <!----FIN DE DEBE MEDIR 25%----------->
                                 <p>No items</p>
                                  </div>
            <!---FIN POST-CATEGORIA DEBE MEDIR 80% ENDFOR 4 POSTS------------------->
            </div>
                  
                      <!--- DIV ASIDE DEBE MEDIR 20%--->
                           <div id="aside"><p>Hola que hay </p></div>
                     <!--FIN ASIDE DEBE MEDIR 20%-->
                </div>
         
<!--- FIN CONTAINER GENRAL  CATEGORIAS SUBCATEGORIAS-----------------------------------------> 
   
           {% endblock content %}                 
               <!------------------------------------------->





     <!---------------- PAGINACION--------------------------------------------------------------->
                              {% block paginacion %}
                             <div class="paginacion">
                                    <nav>
                                      <ul class="pagination">
                                      {% if posts.has_previous %}
                                        <li class="page-item">
                                         <a class="page-link" href="?page=1">Primero</a>
                                            </li>
                                        <li class="page-item">
                                         <a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a>
                                             </li>
                                    {% endif %}
                              <!---------------------------------------------------->
                                       {% for pagina in paginas %}
                               <li class="page-food{% if current_page == pagina %} active {% endif %}">
                          <a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a>
                                         </li>
                                {% endfor %}
                     <!---------------------------------------------------------------->

            <!----- ----------------------------- ------------------------------------>
                      {% if posts.has_next %}
                          <li class="page-item">
                          <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
                            </li>
                           <li class="page-item">
                           <a class="page-link" href="?page={{ posts.paginator.num_pages}}">Ùltima</a>
                         </li>
                     {% endif %}
               </ul>
             </nav>
             </div>
        {% endblock paginacion %}
     <!------------------------ ----------------------------- ---------------------------------->



     
  
     <!-- CARROUSEL DE MAGENES-------------------------------------------------------------------------->
     <div class="container-total-carrusell">
         <!-- CARROUSEL DE MAGENES-->
         <div id="carrusel">
                       <em><h1>Recetas Saludables, dietas..</h1></em>

                               <!-----FLECHAS------------------------------------->
                               <div class="carusel">
                               <ul>
                               <li class="left-arrow"><span></span></li>
                               <li class="right-arrow"><span></span></li>
                               </ul>
                               </div>
                               <!---------------------------------------------->
            <!-------------------------------------------------------------> 
            
            <div class="carrusel">
                               <!----------------------------------------->
                                  <!----------------------------------------->
                               <div class="product" id="product_0">
                              <img src="{% static 'appfood/img/carrusell/260-210-recetasalud.jpg' %}" />
                               <a href="{% url 'appfood:recetas-saludables' %}">
                               <p>Recetas Saludables</p>
                               </a>
                             </div>
                           
                           <!---------------------------------------------->
                        <!---------------------------------------------->
                         <div class="product" id="product_1">
                          <img src="{% static 'appfood/img/carrusell/260-210perder.jpg' %}" />
                               <a href="{% url 'appfood:plan-comidas-saludables' %}">
                               <p>Perder Peso</p>
                               </a>
                    </div>
                     <!---------------------------------------------->
                      <!---------------------------------------------->
                    <div class="product" id="product_2">
                        <img src="{% static 'appfood/img/carrusell/260-210-recetdiet.jpg' %}" />
                         <a href="{% url 'appfood:recetas-dieteticas' %}"> 
                         <p>Batidos</p>
                         </a>
                    </div>
                     <!---------------------------------------------->
                     <!---------------------------------------------->
                    <div class="product" id="product_3">
                        <img src="{% static 'appfood/img/carrusell/260-210-vegano.jpg' %}" />
                        <a href="{% url 'appfood:recetas-dieteticas' %}">
                         <p>Recetas Veganas</p>
                          </a>
                    </div>
                     <!---------------------------------------------->
                      <!---------------------------------------------->
                    <div class="product" id="product_4">
                         <img src="{% static 'appfood/img/carrusell/260-210-turisfrut.jpg' %}" />
                         <a href="{% url 'appfood:noticias-turismo-gastronomico' %}">
                        <p>Frutas exóticas</p>
                        </a>
                    </div>
                     <!---------------------------------------------->
                      <!---------------------------------------------->
                    <div class="product" id="product_5">
                         <img src="{% static 'appfood/img/carrusell/260-210-dietaalimen1.jpg' %}" />
                        <a href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}">
                        <p>Dieta Vegetariana</p>
                        </a>
                    </div>
                      <!---------------------------------------------->
                      <!---------------------------------------------->
                    <div class="product" id="product_6">
                        <img src="{% static 'appfood/img/carrusell/260-210-gastroitalo.jpg' %}" />
                        <a href="{% url 'appfood:recetas-saludables' %}">
                         <p>Gastronomia Italiana</p>
                         </a>
                    </div>
                     <!---------------------------------------------->
                   <!---------------------------------------------->
                    <div class="product" id="product_7">
                         <img src="{% static 'appfood/img/carrusell/260-210-dietaalimen.jpg' %}" />
                             <a href="{% url 'appblog:dietas-especiales-y-alimentacion-saludable' %}">
                             <p>Alimentacion y Dietas Saludables</p>
                         </a>
                    </div>
                     <!---------------------------------------------->
              </div>     
              <!--FIN DIV CARRUSEL------------------------>
            </div>
           <!---FIN DIV ID CARUUSEL------------------------------------------->
         </div>
        <!-- FIN CONTAINER DIV ID--SEPARAR-CARRUSEL-------------------------->
                  


      </div> <!-- DIV FINAL DEL CONTAINER DE TODO EL CONTENIDO-->




            <!-- FOOTER PRIMERO ESTA DENTRO DEL CONTAINER DE CONTENIDO-->
     <div id="footer-categorias">
                  <div class="footer-primero-categorias">
                           <!-- PRIMER FOOTER--------------->
                           <div class="icon-social1">
                           <p>food emotions</p>
                           <ul class="social2">
                            <li> <a href="malito:contacto@emotionsfood.com" target="_blank">
                                    <i class="far fa-envelope"></i> </a></li>
                            <li> <a href="https://www.facebook.com/emotionsfood/?ref=settings" target="_blank"><i
                                        class="icon fab fa-facebook-f"></i> </a></li>
                            <li> <a href="http://twitter.com/foodemtoions" target="_blank">
                                    <i class="fab fa-twitter"></i> </a></li>
                            <li> <a href="http://instagram.com/foodemtoions" target="_blank">
                                    <i class="fab fa-instagram"></i> </a></li>
                           </ul>
                          </div>


                            <div class="box">
                             <h3>Suscribete a nuestro Newsletter.</h3>
                             <form action="." method="POST">
                            <input type="text" name="email" id="email" placeholder="Type your email address">
                            <button type="submit" class="submit">Suscribete</button>
                            </form>
                            </div>
                </div> <!-- FIN FOOTER PRIMERO--------------->


                <!--  FOOTER segundo--------------->
                         <div id="footer-second-categorias">
                        <div class= "final-food-categorias">
                         <p>© 2021 Food Emotions,  El
                        uso de este sitio implica la aceptación de nuestros Términos de uso,
                        Política de privacidad y Política de datos derechos reservados</p>
                        </div>
                         </div>
                <!----------------------------------------------->
            </div> 
            <!-- DIV FINAL DE TODO EL FOOTER-->


            <!-- PARA CONVERTIR EL MENU A ASPA-->
            <script src="{% static 'appfood/js/menuAspaArticulo.js' %}"></script>

            <!-- MENU PARA DESPLAZAR LAS OPCIONES DEL MENU-->
            <script src="{% static 'appfood/js/menuDeslizaArticulo.js' %}"></script>




            <!-- SCRIPT DE CARROUSEL DE IMAGENES -->
            <script>
                var current = 0;
                var imagenes = new Array();

                $(document).ready(function () {
                    var numImages = 7;
                    if (numImages <= 3) {
                        $('.right-arrow').css('display', 'none');
                        $('.left-arrow').css('display', 'none');
                    }

                    $('.left-arrow').on('click', function () {
                        if (current > 0) {
                            current = current - 1;
                        } else {
                            current = numImages - 3;
                        }

                        $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

                        return false;
                    });

                    $('.left-arrow').on('hover', function () {
                        $(this).css('opacity', '0.5');
                    }, function () {
                        $(this).css('opacity', '1');
                    });

                    $('.right-arrow').on('hover', function () {
                        $(this).css('opacity', '0.5');
                    }, function () {
                        $(this).css('opacity', '1');
                    });

                    $('.right-arrow').on('click', function () {
                        if (numImages > current + 3) {
                            current = current + 1;
                        } else {
                            current = 0;
                        }

                        $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

                        return false;
                    });
                });
            </script>

            <!-- FINAL SCRIPT DE CARROUSEL DE IMAGENES ------------------------------->



            <!-- SCRIPT PARA LA CABECERA FIJA-->
            <script type="text/javascript">

                $(window).on("scroll", function () {
                    if ($(window).scrollTop()) {
                        $('header').addClass('black');
                    }

                    else {
                        $('header').removeClass('black');

                    }
                })

            </script>


 <!----SCROLL TEXTO SLIDER---DE LAS CATEGORIAS DE LA PAGINA PLAN DE COMIDAS.DIETAS , TURISMO--------------------------------------------->
             <script type="text/javascript">
           var $this = $('.scroll');
          var scrollAmount = 50;

      function moveRight() {
     if ($this[0].scrollWidth - $this.scrollLeft() > $this.outerWidth()) {
    $this.scrollLeft($this.scrollLeft() + scrollAmount);
    }
    }

     function moveLeft() {
    if ($this.scrollLeft() > 0) {
    $this.scrollLeft($this.scrollLeft() - scrollAmount);
    }
    }

     $("body").keydown(function(e) {
    // left arrow
     if ((e.keyCode || e.which) == 37) {
    moveLeft();
    }
  // right arrow
  if ((e.keyCode || e.which) == 39) {
    moveRight();
    }
    });

    $this.bind('mousewheel', function(e) {
   if (e.originalEvent.wheelDelta / 120 > 0) {
    moveLeft();
   } else {
    moveRight();
   }
    });

    // push button navigation
    $('.leftNav').click(moveLeft);
    $('.rightNav').click(moveRight);
   </script>
   <!----------------------------------------------------------------------->
 


            <!--  PARA ANIMAR AL HACER SCROLL-->
            <script src="{% static 'appfood/js/animar.js' %}"></script>



       <!-- DIV FINAL CIERRE DEL WRAPPER PRINCIPALDE TODA LA WEB-->
    </div>





     </body>


    </html>