{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block title %}Categoria Dietas Especiales y Alimentacion Sana{% endblock %}  
 
 


    <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
    {% block content %}           
    <div id ="container-categorias-subcategorias">                                  
         <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
         <!--------------------------------------------------------------->
         <div class="intro">

                  <div class="menu-introescrito">
                           <!--MENU-------------------------------------->
                           <div class="menu">
                           <div class="menu-scrolling">
                           <ul>

                           <li>
                           <a href="{% url 'appfood:index' %}">Inicio<i class="right"></i></a>
                           </li>

                           <li>    
                            <a href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}">Alimentacion Sana<i class="right"></i> 
                           </a>
                           </li>

                  
                        <!--MENU ESCONDIDO -CATEGORIAS---DESPLEGABLE--------------->
                        <li>
                        <p>Categorias<i class="right"></i></p>

                        <ul>
                        {% load mptt_tags %}
                        {% for kategoria in categories %} 
                        <!--  TITULO--CATEGORIA---> 
                        <li>
                        <a href="/dietas-especiales-y-alimentacion-saludable/categoria/{{ kategoria.slug }}">
                        {{kategoria.name}}
                        </a>    
                        </li>
                        {% endfor %}
                        </ul>
                        </li>
                        <!---FIN MENUS ESCONDIDO CATEGORIAS---->


                
                           <!--CATEGORIA---ACTIVA--->
                           <li>
                           {% load mptt_tags %}
                           {% for posts in category_deals %}
                           <a href="/dietas-especiales-y-alimentacion-saludable/categoria/{{ posts.slug }}">
                           {{category_deals.get}}<i class="right"></i>
                           </a>
                           {% endfor %}
                           </li>
                           <!--FIN TITULO DE LA CATEGORIA---->

                           </ul>
                           </div>
                           <!--fin del menu scrolling--->
                           </div>
            <!----------------FIN DEL MENU------------------------------------------------->




                           <!----------------------------->
                           <div class="introescrito">

                           <!---TITULO DE CATEGORIA--->
                           {% load mptt_tags %}
                           {% for post in category_deals %}
                           <!--  TITULO--CATEGORIA---> 
                           <div class="menu-intro-titulo">  
                           <h1> {{category_deals.get}}</h1>     
                           </div>
                           {% endfor %}
                           <!---FIN TITULO DE CATEGORIA--->   

                           </div>
                           <!---VIN INTROESCRITO---->


                           </div>
                            <!-- FIN DIV MENU-INTROESCRITO--->

  <!-------------------------MENU CON TTULO Y COSTADO DE LAS CATEGORIAS---------------------->


                                      <!-----DIV INTRO DOS VACIOS--------------->
                                      <div class="intro-dos-vacios">
                                       <!------ LAS CATEGORIAS---------------->
                                       
                                      </div>
                                      <!----FIN INTRO DOS VACIOS--------------->

                     </div>
                     <!---FINAL INTRO--->

                  </div>
                  <!---FIN DIV CONTAINER CATEGORIAS SUBCATEGORIAS --------------------->



    <!----------------------------------------------------------------------------------------------->



    <!--------------------------------------------------------------------------------------------------->




     <div id="texto-slider">
         <div class="caja-texto-slider">
             <!--TITULO DE LAS CATEGORIAS-->
        
              <div class="leftNav"><span class="arrow-left">&#129120;</span></div> 
                    <ul class="scrollmenu">    
                     {% for kategoria in category_deals %}
                 {% if not node.is_leaf_node %}
                 {% for child in kategoria.get_children %}
                <li> 
                <!-- SUBCATEGORIAS ---->
                 <a href="/dietas-especiales-y-alimentacion-saludable/subcategoria/{{ child.slug }}">
                  <h3>{{ child.name }}</h3>
                </a>
                   
                </li>
              {% endfor %}
              {% endif %}
              {% endfor %}
          

              </ul>
               <!------------------------FIN UL SCROLLMENU-----&gt;--------------------------1----->
               <div class="rightNav"><span class="arrow-right">&#129122;</span></div> 
        
             <!------------------------------------>    
            </div>
           </div>




                   
                               
                  
               


                       <!-------------------------------------------------------------------->
         
                           
          
         <!--------------- FIN CAJA DE NAVEGACION DE LAS SUBCATEGORIA-PERDER------------------->



            <!---CONTAINER DE COLUMNA CATEGORIA Y ASIDE-->
       <div class = "container-posts-categorias">

                      <div id = "posts-categorias-aside">
               <!--COLUMNA CATEGORIAS DE 70% -------->
               <div class="columna-categorias">

                   <!---CONTAINER POR CATEGORIA QUE TIENE LA IMAGEN Y LA DESCRIPCION ES ROW---->
                
                   {% for post in posts %}
                   <div class="por-categoria">
                          <!-------IMAGEN------>
                          <div class="por-foto">
                          {% if post.imagefront %}
                          <img src ="{{post.imagefront.url}}">
                          {% endif %} 
                           </div>
                           <!---------------------->
                          <!--CONTAINER DE LA DESCRIPCION------->
                          <div class="por-descripcion">
                          <!-------TITULO PLAN DE COMIDA-------->
                          <a href="/dietas-especiales-y-alimentacion-saludable/post/{{ post.slug}}">
                          <h1>{{ post.title }}</h1>
                          </a>
                          <!-------DESCRIPCION PLAN DE COMIDA APPBLOG--------->
                          <p>{{post.description|truncatechars_html:70|safe}} </p>
                          <a href ="/dietas-especiales-y-alimentacion-saludable/post/{{ post.slug }}/" class="arrow1">
                          LEE MAS
                          <span class="arrow-right"></span>
                          </a>
                          <em><p>Categoria: {{post.kategoria}} </p></em> 
                         </div>
                        <!--FIN DIV CONTAINER DE LA DESCRIPCION----------------->
               </div>
               {% empty %}
               <p>No items</p>
               {% endfor %}
               <!---FIN DIV POR CATEGORIA --->
              </div>
              <!---FIN COLUMNA CATEGORIAS------->
                 
                     <!-- 20% ASIDE --->
                    <div id="aside">  </div>
                    <!--FIN ASIDE 20%--->

                    </div>
                    <!---FIN DE     <div id = "posts-categorias-aside">---->
               
           </div>
           <!--100% FIN DEL POSTS CATEGORIAs--->
            
             <!--100% FINAL CONTAINER POSTS CATEGOIRAS---->   
             
    

    {% endblock content %}

   








                        

    



       
