{% extends 'appblog/articulo-base.html' %}
{% load static %}

 {% block titulo %}Dietas{% endblock titulo %}  

              <!----------DE LA PAGINA SEARCH----------------->
             {% block buscador-search %}       {% endblock buscador-search %} 

             {% block container-search %}  {% endblock container-search %}
              <!--FIN --------DE LA PAGINA SEARCH----------------->

 


              
            {% block menusimple %}
            <!-- PRIMER  SEGMENTO MENU SIMPLE-->
            <div id="menu-simple">
            <ul >
            <li > <a href="{% url 'appfood:index' %}"  >
            <p>INICIO <i class="right"></i></p>
            </a>
            </li>
            <li > 
            <a href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"> 
            <p>Dietas y Alimentacion Saludable <i class="right"></i></p>
            </a>
            </li>
            <li>
            {% for post in posts %}
            <p>{{post.kategoria}}<i class="right"></i></p>
            {% endfor %}
            </li>
            </ul>
            </div>
            {% endblock menusimple %}


     {% block content %}
    <div class="primera-columna">
      <div class="primero-descripcion-y-fotoprincipal">

                {% for post in posts %}
                <!-- caja 1-------------------------->
                <!-- TITULO 1-----------------> 
                <div class="primer-articulo">
                <h1>   {{post.title}} </h1>
                <p> {{post.description}}</p>               
                </div>
               <!---------------------------------->


                <div class= "row-autor-nombre-fecha">


                <div class="row-autor-nombre">


                <div class="autor-foto">
                {% if post.imageauthor %}
                <img src="{{post.imageauthor.url}}" alt="" >
                {% endif %}
                </div>


                <div class="autor-letra">
                <em><h3>Por: {{post.author}}</h3></em>
                </div>

                </div>



                <div class="fecha">
                <p>Publicado en {{ post.publish | date:"F d, Y" }}</p>
                </div>


                </div>
        
                <!--------------------------------------->
             
                <!-------------------FIN DE IMAGEN CENTRAL--------------------->

    <!---------------------------------------------------------------------------->
      </div> 
    <!-------FIN---primero-descripcion-y-fotoprincipal------------------------------------------>





      <div clas="articulovacio-articulolleno">
          <!------------------------------>
          <div class="articulovacio">
             <div class="redes">
                    <ul class="iconos-social">
                         <li>
                          {% with base_url="https://foodingemotion.com" %} 
                          <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_url|urlencode }}{{ request.get_full_path|urlencode }}&t={{ object.title }}" target="_foodemotions">
                          {% endwith %}
                          <i class="fab fa-facebook-f"></i></a> <br>
                          </li>
                
             
                          <li>
                          {% with base_url="https://foodingemotion.com" %} 
                          <a href="http://pinterest.com/pin/create/button/?url=LINK&media=URL_IMAGEN&description=TEXTO={{ base_url|urlencode }}{{ request.get_full_path|urlencode }}&t={{ object.title }}" target="_blank">
                          {% endwith %} 
                          <i class="fab fa-pinterest" aria-hidden="true"></i> </a> <br>
                          </li>

                          <li> <a href="malito:contacto@emotionsfood.com" target="_blank">
                          <i class="fas fa-envelope"></i> </a> <br>
                          </li>  
                    </ul>
                    </div>
               <!--------------FIN ARTICULO REDES--------------------->
          </div>
          <!--------------FIN COLUMNA VACIO------------------->


          <!------------------------------>
             <div class="articulolleno">


             <!---------------IMAGEN PRINCIPAL--------------------------------->
                 <!-- TENIA PROBLEMAS CON LA IMAGEN SALIA ERROR CON IF SE SOLUCIONO--> 
                    <div class="imagen-principal">               
                    {% if post.imagefront %}
                    <img src="{{post.imagefront.url}}" alt="">
                    {% endif %}
                    </div>









             <!---fin imagen princial--------------------------------------------->
                <!---- <div class="segundo-articulo" data-anime="top">--->
                <!-- caja 2-------------------------------------------------------->
                <!-- SUBTITULO 2------------------->
                <div class="segundo-articulo">
                {% if post.subtitle %}
                <h1>{{post.subtitle|safe}}</h1> 
                {% endif %}
                {% if post.content %}
                <p>{{post.content|safe}}</p> 
                {% endif %} 
                </div>

               <!---------------------------------------------->
               {% if post.cursiva %}  
               <div class="cursiva cursiva-quote">
               <p><em>{{post.cursiva|safe}}</em> </p>
               </div>
               {% endif %} 
               <!----------------------------------------------->
                        
                 
               <!-- BLOCQUOTE--------------------------------------------------------->
               {% if post.blocquote %}
               <blockquote class="blockquote blockquote-bordered blockquote-quoted">
               <p class="blockquote-text"><em> {{post.blocquote}}</em> </p>
               <p class="blockquote-text blockquote-text-credit"> </p>
               </blockquote>
               {% endif %}
              <!------------------------------------------------------------------------------------>

             <!--TITULO------NARRATIVA--------------->
             <div class="contentwo">
   

             {% if post.subtitleuno %}
             <div class="title-two">
             <h1> {{post.subtitleuno|safe}}</h1>
             </div>
            {% endif %} 
             <!---CONTENIDO---NARRATIVA---------->
              {% if post.narrativa %}
             <div class="content-two">
             <p> {{post.narrativa|safe}}</p>
             </div> 
               {% endif %} 
               <!---------------------------------------->

             </div>
             
     
     <!--------------------------------------------------------------------------------> 

         <!-- UNO----------------UNO------UNO-------------------------->
         <div class="contentwo">
               {% if post.titleone %}
               <div class="title-two">
               <h1>{{post.titleone|safe}}</h1>  
                </div> 
                {% endif %}  
                <!----------IMAGEN-------->
                {% if post.imageone %}
                <div class="image-two">
                <img src="{{post.imageone.url}}" alt="">
                </div>
                {% endif %}  
                <!-- SUBTITULO-----------> 
                {% if post.subtitleone %}
                <div class="subtitle-two">
                <h2> {{post.subtitleone|safe}} </h2>
                </div>
                {% endif %}
                <!--CONTENIDO  UNO----------> 
                {% if post.contenone %} 
                <div class="content-two">
                <p> {{post.contenone|safe}}</p>
                </div>
            {% endif %}  
      </div>

        <!------------------------------------------------------------------------------------------------>

          <!----CONTAIINER DOS-----------------------------DOS------------------>
           {% if post.titletwo %}
            <div class="contentwo">
                        <!---SUBTITULO--->
                        
                      <div class="title-two">
                      <h1>{{post.titletwo|safe}}</h1>  
                      </div> 
               
                      <!--IMAGEN SEGUNDO---->
                      {% if post.imagetwo %}
                      <div class="image-two">
                      <img src="{{post.imagetwo.url}}" alt="">
                      </div>
                      {% endif %}  
                      <!---SEGUNDO SUBTITULO-->
                      {% if post.subtitletwo %}
                      <div class="subtitle-two">
                      <a href ="{% url 'appblog:post' post.slug %}" style="text-decoration: none">
                      <h2> vease ..   {{ post.subtitletwo|safe}} </h2>
                      </a> 
                     </div>
                     {% endif %}
                    <!--CONTENIDO SEGUNDO-------------> 
                     {% if post.contentwo %} 
                    <div class="content-two">
                    <p>{{post.contentwo|safe}}</p>
                   </div>
                  {% endif %}  
          </div>
           {% endif %}  
           <!------FINAL DOS-------------------------------------------------DOS-------->


       <!-----------------------TRES------------------------------------------------------->
           {% if post.titlethree %}
          <div class="contentwo">
            <!--------SUBTITULO------------------>
              
               <div class="title-two">
               <h1>{{post.titlethree|safe}}</h1>  
               </div> 
             
               <!--IMAGEN SEGUNDO---->
               {% if post.imagethree %}
               <div class="image-two">
               <img src="{{post.imagethree.url}}" alt="">  
               </div>
               {% endif %}
               <!-- SUBTITULO SEGUUNDO-------------> 
               {% if post.subtitlethree %}
               <div class="subtitle-two">
               <h2> {{post.subtitlethree|safe}} </h2>
               </div>
               {% endif %}
               <!--CONTENIDO SEGUNDO-------------> 
                 {% if post.contenthree %}
               <div class="content-two">
               <p>{{post.contenthree|safe}}</p>
               </div>
                {% endif %}
      </div>
       {% endif %}
       <!----------------------FINAL TRES -----------------TRES---------------->




         <!-------------------------CUATRO----------------------------------------------------->
                {% if post.titlefour %}
               <div class="contentwo">
                  <!---TITULO----------------->
                   
                  <div class="title-two">
                     <h1>{{post.titlefour|safe}}</h1>  
                  </div> 
                
                  <!--IMAGEN SEGUNDO---->
                  {% if post.imagefour %}
                  <div class="image-two">     
                  <img src="{{post.imagefour.url}}" alt="">
                  </div>
                  {% endif %}
                  <!-- SUBTITULO---------->
                  {% if post.subtitlefour %}
                  <div class="subtitle-two">
                  <h2> {{post.subtitlefour|safe}} </h2>
                  </div>
                  {% endif %} 
                  <!--CONTENIDO SEGUNDO-------------> 
                    {% if post.contenfour %} 
                  <div class="content-two">
                  <p> {{post.contenfour|safe}}</p>
                  </div>
                   {% endif %}
             </div>
               {% endif %}
             <!------------------------------------------------------------------------------------------->

      

              <!--------------------QUINTO---------------------------------------------------------->
              {% if post.titlefive %}
              <div class="contentwo">

                 <!------------------>
                    <div class="title-two">
                    <h1>{{post.titlefive|safe}}</h1>  
                    </div> 
             
                    <!--IMAGEN --->
                    {% if post.imagefive %}
                    <div class="image-two">
                    <img src="{{post.imagefive.url}}" alt=""> 
                    </div>
                   {% endif %} 
                   <!-- TITULO ENTRADA SEGUNDO--------------> 
                   {% if post.subtitlefive %}
                   <div class="subtitle-two">
                   <p> {{post.subtitlefive|safe}} </p>
                   </div>
                   {% endif %} 
                  <!--CONTENIDO SEGUNDO-------------> 
                  {% if post.contenfive %}
                  <div class="content-two">
                  <p> {{post.contenfive|safe}} </p>
                  </div>
                  {% endif %} 
            </div>
            {% endif %}
            <!------------------------------------------------------------------------------------------->
   

       

               <!---------------------------------------------------->
                {% if post.titleultimo %}
                <div class="contentwo">
         
                  <div class="title-two">
                  <h1>{{post.titleultimo|safe}}</h1>  
                  </div> 
        
                  <!--IMAGEN---->
                  {% if post.image %}
                  <div class="image-two">
                  <img src="{{post.image.url}}" alt=""> 
                  </div>
                  {% endif %} 
                  <!--CONTENIDO SEGUNDO------------->
                  {% if post.contentultimo %}
                  <div class="content-two">
                  <p> {{post.contentultimo|safe}} </p>
                  </div>
                  {% endif %} 
            </div>
            {% endif %}
          <!--------------------------------------------------------->


       </div>
      <!---CIERRE ARTICULO LLENO DONDE ESTAN LOS POSTS-->
     </div>
    <!----CIERRE DEL ARTICULO LLENO Y EL ARTICULO VACIO 8%------------------>


                         <!---CATEGORIA ACTUAL------>
                         <section class="articulo-ultimo">
                             <div class="categoria-en-post">
                             <em><h2>Categoria:</h2></em>
                             <em><p>{{ post.kategoria}}</p></em>
                             </div>
                          </section> 
                     <!---------------CIERRE SECTION DE ARTICULO ULTIMO------------------------ --->  
                         
                      <!-- CATEGORIAS TOTAL--------------------------->
                      <div class="categorias-posts-links">
                      <em><h4>   Categorias: </h4></em>
                      {% load mptt_tags %}
                      {% for categoria in categories %} 
                      <a href="/dietas-especiales-y-alimentacion-saludable/categoria/{{ categoria.slug }}" style="text-decoration: none">   
                      <em>  <h3>{{ categoria }}</h3></em></a>       
                      {% endfor %}             
                      </div>
                    <!------------------------------------------------->
                  
               
        <!---------------ENDFOR FINAL DE PRIMERA COLUMNA----------------->  
       {% endfor %}
      <!---------------ENDFOR FINAL DE PRIMERA COLUMNA---------------------------->  
      </div>                           
      <!-- CIERRE DIV DE PRIMERA COLUMNA------------------------------------->
     

     <!----------COMENTARIOS COMENTARIOS COMENTARIOS COMENTARIOS---------------------->
        <div id="comentarios">

            {% for comment in post.latest_comments %}
            <p>{{ comment.user.username }}: {{ comment.description }}</p>
            {% endfor %}

           <!---------------------------------------------------------------------------->
           <div class="col-md-10">
                {% with allcomments.count as total_comments %}
                <h2>{{ total_comments }} comentario{{ total_comments|pluralize }}</h2>
                {% endwith %}

                {% load mptt_tags %}
                <!----DIV DE TODOS LOS NODES-----------------------------------B------->
                <div>
                        {% recursetree allcomments %}
                        <!--DIV ID AQUI VA EL NODE ID QUE EN EL BUTTON TIENE SU FUNCTION--------A-->
                        <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey">


                                <!--DIV CLASS D-FLEX VA EL NODE.NAME Y NODE PUBLISH----1--->
                                <div class="d-flex justify-content-between">
                                <p>Comentado por :</p> &nbsp;{{ node.name }}
                                        <!-------------->
                                        <div>
                                        <!---DIV VACIO---->
                                        </div>
                                        <!--------------->
                                {{ node.publish }}
                                </div>
                                <!----FIN DIV D-FLEX NODE.NAME Y NODE.PUBLISH------->


                                <!----DIV SIN NOMBRE CLASS VA EL NODE.CONTENT----2--->
                                <div>
                                {{ node.content }}
                                </div>
                                <!----FIN DIV SIN NOMBRE CLASS VA EL NODE.CONTENT------->
                                <hr />



                             <!--BOTONES----REPLY--DEBERIA IR DELETE PARA QUE ESTO FUNCIONE USE JAVASCIPTt---------3--->
                             <!--ESTE DIV NO ESTABA LO HE AÑADIDO Y ES PARA CAMBIAR EL BOTON AL OTRO LADO---->
                            <div class="d-flex flex-row-reverse">
                            {% if node.level < 4 %}
                            <button class="btn btn-primary btn-sm" onclick="myFunction({{ node.id }})"  style="background-color: grey">
                            Responder
                            </button>
                            {% endif %}

                            <!--BOTON ELIMINAR NO FUNCIONA--->
                            {% if node.name|stringformat:"s" == user.get_name  %}
                            <button class="btn btn-secondary btn-sm mr-2" onclick="deleteComment({{ node.id }})">
                            Delete
                            </button>
                            {% endif %}
                            </div>
                          <!--CIERRE DEL DIV D-FLEX-ROW-REVERSE--->
                     
                     
                           
                      
                     </div>
                      <!--CIERRE DEL DIV ID DONDE ESTA EL NODE ID EL NODE NAME Y PUBLISH Y EL NODE CONTENT-------A----->


                      {% if not node.is_leaf_node %}
                      <div class="children pl-2 pl-md-5">
                      {{ children }}
                     </div>
                     {% endif %}
                    {% endrecursetree %}
               </div>
            <!----CIERRE DEL DIV DE TODOS LOS NODES NO TIENE  NOMBRE-----------B------------->








           <!--CREO ES LA PAGINACION DE TODOS LOS COMENTS-DE ESTE FORMULARIO--------->
               <div class="py-4">
                       <nav aria-label="Page navigation example">
                       {% if comments.has_other_pages %}
                       <ul class="pagination">
                        {% if comments.has_previous %}
                       <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">
                       Previous</a>
                       </li>
                       {% else %}
                       <li class="page-item disabled"><a class="page-link" href="#">
                       Previous</a>
                       {% endif %}
                       {% for num in comments.paginator.page_range %}
                       {% if comments.number == l %}
                      <li class="page-item active">
                      <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                      </li>
                     {% else %}
                     <li>
                     <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                     </li>
                     {% endif %}
                     {% endfor %}
                     {% if comments.has_next %}
                     <li class="page-item">
                     <a class="page-link" href="?page={{ comments.next_page_number }}">Next</a>
                     </li>
                     {% else %}
                     <li class="page-item disabled">
                     <a class="page-link" href="#">Next</a>
                     </li>
                     {% endif %}
                     </ul>
                     {% endif %}
                     </nav>
                  </div>
                 <!---CIERRE DE LA PAGINACION DE TODOS LOS COMENTS---->
                      <!---FORMULARIO PARA AÑADIR COMENTARIOS---->
                         <div id="myDIV" style="display:block;">
                             <form id="myForm" method="post">
                                   <h2>Añadir nuevo comentario</h2>
                                   {{ comment_form.as_p }}
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-primary btn-lg btn-block" >
                                   Enviar
                                   </button>
                                    <p>email requerido pero nunca mostrado</p>
                            </form>
                     </div>
                    <!---FIN FORMULARIO PARA AÑADIR COMENTARIOS---->
           </div>
           <!--DIV FIN COL-DM-7---------------------------------------------------------->
         </div>
       <!----CIERRE DIV COMENTARIOS---------FIN ALL COMMENTS---------------------------->
   <!----------------FIN ORMULARIO--------------------------------------->
        <!----CIERRE DIV COMENTARIOS---------FIN ALL COMMENTS---------------------------->


  
      <!-----------------FIN ALL COMMENTS---------------------------->


   <script>
      $(document).on('click', '#newcomment, #newcommentinner', function (e) {
    e.preventDefault();

    var button = $(this).attr("value");

    var placement = "commentform"
    if (button == "newcommentform") {
      var placement = "newcommentform"
    }

    $.ajax({
      type: 'POST',
      url: '{% url "appblog:addcomment" %}',
      data: $("#" + button).serialize(),
      cache: false,
      success: function (json) {
        console.log(json)


        $('<div id="" class="my-2 p-2" style="border: 1px solid grey"> \
          <div class="d-flex justify-content-between">By ' + json['name'] + '<div></div>Posted: Just now!</div> \
          <div>' + json['result'] + '</div> \
          <hr> \
          </div>').insertBefore('#' + placement);

        $('.commentform').trigger("reset");
        formExit()

      },
      error: function (xhr, errmsg, err) {

      }
    });
  })



   function formExit(e) {
    e.preventDefault();
    document.getElementById("newcommentform").remove();
    $("#newcommentform").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("newcommentform"))) {
      document.getElementById("newcommentform").remove();
    }
  
   var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
       '<form id="newcommentform" class="form-insert py-2" method="post"> \
                <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                <label for="id_name">Name:</label> \
                <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                <select name="parent" class="d-none" id="id_parentt"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_email">Email:</label> \
                <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                <label for="id_content">Content:</label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                {% csrf_token %} \
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
              </form>');

    document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
  }

 $('#myForm').trigger("reset");
  
</script>


   <!--CIERRE COMEMNTS----------------------------------------->

          {% endblock content %}
      <!-- CIERRE DIV DE  COLUMNA PRIMERA------------------->
       </div> 

           
 

                             
<!------------------------- TERCERA COLUMNA----------------------------------------------------------->
      {% block tercera-columna %}
        <div class="tercera-columna-fija">

     
         <div class="tercera-columna">
                <h2> alimentación saludable y dietas..</h2>

                <div class="aside-colum">

                  {% for post in pos %} 
                  {% if post.imagefront %}
                   <img src ="{{post.imagefront.url}}">
                  {% endif %}

                   <a href ="{% url 'appblog:post' post.slug %}">
                   <h1>{{ post.title }} </h1>
                   </a>
                  {% endfor %} 
                  </div>
         </div>
        <!----------------------------- -------------->
      
        <!------------CATEGORIAS------------------------------->
     
           <div class="categorias-aside">
          <em><h4>   Categorias: </h4></em>
                                           {% load mptt_tags %}
                                         {% for categoria in categories %} 
                                         <a href="/dietas-especiales-y-alimentacion-saludable/categoria/{{ categoria.slug }}" style="text-decoration: none">   
                                        <em>  <h3>{{ categoria.name}}</h3></em></a>       
                                        {% endfor %}                

           </div>          
    <!-------------FIN CATEGORIAS------------------------------>

     </div>
     {% endblock tercera-columna %}
     <!-- FINAL DIV TERCERA COLUMNA-->
     
  

    <!------------------------------>














<!--------------------------------------------------------------------------------------------------------------->
