{% extends 'appblog/articulo-base.html' %}
{% load static %}
  
{% block titulo %}Resultados{% endblock titulo %}

                 <!-- PARA QUE NO SALGA NADA-->
                 {% block menusimple %}  {% endblock menusimple %}
                 
    {% block content %}  
                     {% block primera-columna %}   {% endblock primera-columna %} 
                     {% endblock content %}   
                    {% block tercera-columna %}{% endblock tercera-columna %}
                     <!-------CON ESTO NO SALE EL ASIDE----->
          {% block buscador-responsive %}
               {% endblock buscador-responsive %}

    <!--BUSCADOR PRINCIPAL--------------------------->
        {% block buscador-search %} 
                <div id="controls-uno">
                   <form  method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
                           <div id="custom-search-input-search">
                                <input type="text"  name="q" 
                                    value= "{{ request.GET.q }}" class="sin-borde" 
                                     placeholder="   Buscar...." 
                                     autocomplete="off" >
                                   <!---<span class="input-group-list>
                                   i class="icon icon-search"></i>-->

                             <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                               <span class="icon"><i class="fa fa-search"></i></span>   
                             </button>
                                
                          <!--</span>-->
                           </div>
                   </form>
         </div>                  
        {% endblock buscador-search %} 

  
            <!---------FIN BUSCADO---->



                                           
    <!-- CONTAINER LE PUSE DOS DIVS QUE SON COLUMNA PRIMERA Y PRIMERA COLUMNA------------->
        {% block container-search %} 
        <div id ="container-search">
              <h1>Resultados de busqueda para "{{ request.GET.q }}" </h1>


                  <!---DIV CONTAINER DE 4 POST Y DE RECETAS--->
                  <div class = "container-pinterest">
                      {% if posts.exists %}
                      <!---DIV DE 4 POST DE POSTS--->
                      {% for post in posts %}
                      <div class="elemento">
                          <div class="elemento-imagen">
                          {% if post.imagefront %}
                          <img src ="{{post.imagefront.url}}">
                          {% endif %}
                          </div>

                          <div class="elemento-descripcion">
                          <!--TITULO--->
                          <h2><a href ="{% url 'appblog:post' post.slug %}" class="left"> 
                          {{post.title}}
                          </a></h2>
                                       <!--DESCRIPCION-->
                                       <p>{{post.description|truncatewords_html:18|safe}}</p>
                                       <a href ="{% url 'appblog:post' post.slug %}"> 
                                       <button type="button" class="btn btn-outline-success">ver receta</button>  
                                       </a>
                                       <!----CATEGORIA--------->
                                       <!---FINAL DIV DE 4 POST DE POSTS --->
                                       </div>
                                  <!--FIN ELEMENTO DESCRIPTION-->
                                </div>
                                  <!--FINAL DIV ELEMETNO--->
                                  <!---FINAL ENDFOR DE 4 POST IN POSTS--->
                                 {% endfor %}
                                   <!---FINAL ENDFOR DE 4 POST IN POSTS--->
                                 {% endif %}
                 <!------------------------------------------------------------------------------->                        
                                      <!-- AQUI EL QUERY PARA CUANDO NO HAY RESULTADOS -->
                          
                     </div>
                  <!-----DIV FIN CONTAINER-PINTEREST------------------------>


  <!-----------------------------FINAL DE TODO EL POST EN GENERAL------------------------------------------>
                    <div class = "container-pinterest">  

                        <!---DIV DE 4 POST DE RECETAS SANAS--->
                        {% if recetas.exists %}
                        {% for receta in recetas %}
                        <div class="elemento">
                                <div class="elemento-imagen">
                                {% if receta.imagefront %}
                                <img src ="{{receta.imagefront.url}}">
                                {% endif %}
                                </div>

                                <div class="elemento-descripcion">
                                <h2><a href ="{% url 'apprecetas:receta' receta.slug %}" class="left">
                                {{receta.title}}
                                 </a></h2>
                                 <p>{{receta.description|truncatewords_html:18|safe}} </p>
                                 <a href ="{% url 'apprecetas:receta' receta.slug %}">
                                  <button type="button" class="btn btn-outline-success">ver receta</button>                  
                                </a>
                                <!--CATEGORIA--->    
                                </div>

                          </div>
                          <!---DIV DE 4  RECETAS--->
                          {% endfor %}
                           {% endif %}
                          <!---ENDFOR FINAL   4  DE RECETAS--->

                               <!----------------------------------->
                               </div>  
                                <!-----DIV FIN CONTAINER-PINTEREST------------------->  
  <!-------------------------------------------------------------------------------------------------------------------------->
                                    


            <div class = "container-pinterest">
                      <!---DIV DE 4 POST DE RECiPES ZUMOS Y ENSALADAS--->
                       {% if recipes.exists %}
                      {% for recipe in recipes %}
                      <div class="elemento">
                       <div class="elemento-imagen">
                      {% if recipe.imagenfront %}
                      <img src ="{{recipe.imagenfront.url}}">
                      {% endif %}
                      </div>
                      <!--TITULO--->
                      <div class="elemento-descripcion">
                      <h2> <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}" class="left">
                      {{recipe.title}}
                      </a></h2>
                      <p>{{recipe.description|truncatewords_html:18|safe}} </p> 
                      <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}">
                        <button type="button" class="btn btn-outline-success">ver receta</button>       
                    </a>
                     <!--CATEGORIA----->
                 
                   </div>
                   </div>
                  <!---DIV DE 4  RECETAS--->
                  {% endfor %}
                   {% endif %}
                                       <!---ENDFOR FINAL   4  DE RECETAS--->
   <!--------------------- FINAL SEARCH RECIPES ZUMOS Y ENSALADAS  ------------------------------>
              </div>  
            <!-----DIV FIN CONTAINER-PINTEREST------------------------>       
      <!---------------------------------------------------------------->

      <div class = "container-pinterest">
      <!-------------------------------------------------------------------------------------------------------------------------->
                  <!---DIV DE 4 POST DE PERDERPESO--->
                    {% if perderpes.exists %}
                    {% load mptt_tags %}
                    {% for perderpeso in perderpes %}
                    <div class="elemento">
                        <div class="elemento-imagen">
                        {% if perderpeso.imagefront %}
                        <img src ="{{perderpeso.imagefront.url}}" >
                        {% endif %}
                        </div>
                        <!---TITULO--->
                        <div class="elemento-descripcion">
                        <h2> <a href ="/perderpeso/post/{{ perderpeso.slug }}/" class="left">
                       {{perderpeso.title}}
                        </a></h2>
                        <p>{{perderpeso.description|truncatewords_html:18|safe}} </p>
                        <a href ="/plan_de_comidas-saludables/post/{{ perderpeso.slug }}/">
                        <button type="button" class="btn btn-outline-success">ver receta</button>
                        </a>
                        <!--CATEGORIA--->
                        </div>
                  </div>
                  <!---DIV DE 4  RECETAS--->
                  {% endfor %}
                  {% endif %}
                  <!---ENDFOR FINAL   4  DE RECETAS--->
   <!--------------------- FINAL SEARCH RECIPES ZUMOS Y ENSALADAS  ------------------------------>

       </div>
      <!-----DIV FIN CONTAINER-PINTEREST------------------------>
      <!------------------------------------------------------------------>
               <div class = "container-pinterest">

   <!-------------------------------------------------------------------------------------------------------------------------->
                  <!---DIV DE 4 POST DE TURISMO--->
                    {% if notituris.exists %}
                    {% load mptt_tags %}
                    {% for posturismo in notituris %}
                    <div class="elemento">
                        <div class="elemento-imagen">
                        {% if posturismo.imagefront %}
                        <img src ="{{posturismo.imagefront.url}}">
                        {% endif %}
                        </div>
                        <!---TITULO---->
                        <div class="elemento-descripcion">
                        <h2><a href ="/noticias-turismo-gastronomico/post/{{ posturismo.slug }}/" class="left">
                        {{posturismo.title}}
                        </a></h2>
                        <p>{{posturismo.description|truncatewords_html:18|safe}} </p>
                        <a href ="/noticias-turismo-gastronomico/post/{{ posturismo.slug }}/">
                        <button type="button" class="btn btn-outline-success">ver receta</button>
                        </a>
                        <!--CATEGORIA--->
                        </div>
                  </div>
                  <!---DIV DE 4  RECETAS--->
                  {% endfor %}
                  {% endif %}
                  <!---ENDFOR FINAL   4  DE RECETAS--->
   <!--------------------- FINAL SEARCH RECIPES ZUMOS Y ENSALADAS  ------------------------------>


                                      
                     <!---FINAL DIV DE CONTAINER-PINTEREST--->
                        </div>
                         <!-----DIV FIN CONTAINER-PINTEREST------------------------>
<!------------------------------------------------------------------------------------------------------------------------>

              <!--- FIN CONTAINER SEARCH------------------------------------------------------------------------> 
              </div>
                               
                       
 {% endblock container-search %} 









 






  