{% load static %}
{% load menu %}

<!DOCTYPE html>
<html lang="en">

  <head>
        <meta charset="utf-8">
        <!---<meta name="viewport" content="width=device-width, initial-scale=1">--->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block titulo %} {% endblock titulo %}</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Encuentre recetas saludables y deliciosas e ideas para menús  en la revista FoodingEmotion. Aprenda a elegir alimentos más saludables todos los días..">
        <meta name="keywords" content="Recetas Saludables, Recetas, Alimentacio Saludable, Plande comidas dieteticas">
        <link rel="canonical" href="https://www.foodingemotion.com/">


        {% if object.slug in request.path %}
        <title>{{object.title}}</title>
        <meta property="og:title" content="{{object.title}}">
        <meta name="description" property="og:description" content="{{object.content|striptags|truncatewords:20}}">
        <meta property="og:image" content="{{object.image_field.url}}">
        <meta property="og:image:alt" content="{{object.image_alt}}">
        <meta property="og:url" content="https://www.foodingemotion.com/{{object.slug}}">
        <meta name="twitter:card" value="summary">

        {% elif request.path == '/' %}
        <title>Fooding Emotions</title>
        <meta name="description" content="Revista Gastronomica, recetas saludables, plan de comidas dieteticas, almentacion saludable">

       {% else %}
       <title>FoodingEmotion</title>
       <meta name="description" content="Dietas, Intolerancias Alimenticias, plan de comidas para bajar de peso...">
       {% endif %}
      

       {% block meta_extend %}
       <meta name="description" content="{{ obj.description }}">
       <meta name="title" content="{{ obj.title }}">
       {% endblock %}


       
       {% if object.slug in request.path %}
      <meta property="og:title" content="{{object.foodingemotion}}">
      <meta property="og:url" content="https://www.foodingemotion.com/{{object.slug}}" >

      <meta property="og:description" content="{% if object.summary %}{{object.summary|striptags|truncatechars:160}}{% else %}
      {{object.text|safe|striptags|truncatechars:160}}{% endif %}">

      <meta property="og:image" content="{% if post.header_image %}{{ post.header_image.url }}
      {% else %}https://www.foodingemotion.com{% static 'images/home-office.jpg' %}{% endif %}">

      <meta name="twitter:card" content="summary_large_image" />
      <title>{{object.title}}</title>
      {% else %}
      <title>Fooding Emotion</title>
      <meta property="og:title" content="Recetas Saludables">
      <meta property="og:description" content="Description up to 160 characters">
      <meta property="og:image" content="https://image-url.png">
      <meta property="og:url" content="https://www.foodingemotion.com" >

      <meta name="twitter:card" content="summary_large_image" />   

     {% endif %}
     <meta name="twtter:site" content="@website_handle" />
      <meta name="twtter:creator" content="@your_handle" />  







      <meta property="og:title" content="Recetas Saludables, Alimentacion Saludable - FoodingEmotion">
      <meta property="og:type" content="articulo">
      <meta property="og:site_name" content="FoodingEmotion">
      <meta property="og:url" content="https://www.foodingemotion.com/">
      <meta property="og:description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros profesionales. Aprenda a elegir alimentos más saludables todos los días. ">
      <meta name="pinterest:url" content="https://www.foodingemotion.com/">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:url" content="https://www.foodingemotion.com/">
      <meta name="twitter:title" content="Fooding Emotions: Recetas Saludables, Alimentacion Saludable">
      <meta name="twitter:description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros profesionales. Aprenda a elegir alimentos más saludables todos los días..">
      <meta name="twitter:site" content="@">
      <meta name="pinterest:media" content="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta name="twitter:image" content="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta property="og:image" content="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta property="og:image:width" content="2000">
      <meta property="og:image:height" content="1000">
      <meta property="fb:app_id" content="165082593548215">
      <meta property="fb:pages" content="10053803772">

 

     <!--favicon-->
     <link rel="icon" href="favicon.ico" type="image/x-icon"/>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
     <link  rel="icon"   href="img/favicon.png" type="image/png" />
     <link  rel = "apple-touch-icon"  tamaños = "57x57"  href = "/favicon/android-icon-57x57.png" > 

      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-48x48.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-60x60.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-72x72.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-96x96.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-144x144.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-192x192.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/food-icon.png' %}"/>
      <link rel="shortcut icon" href="{% static 'appfood/img/favicon/food-310x310.png' %}"/>


      
       <!---PROBAR EN ANDROID--->
      <meta name="viewport" content="width=device-width"> 
      <meta name="mobile-web-app-capable" content="yes">  


       <!---------------AQUI CAMBIADO #ffffff------->
     <meta  nombre ="msapplication-TileColor"  content = "#568632" > 
     <meta  name = "msapplication-TileImage"  content = "/ms-icon-144x144.png" > 
     
     <!--Chrome Firefox OS y Operac–-->
     <meta name="theme-color" content= "#568632">
      <meta name="theme-color" content="#568632"/> 
     <!--iOS Safari-->

     <meta name= "apple-mobile-web-app-status-bar-style" content= "#568632">

     <!--Windows Phone-->

    <meta name= "msapplication-navbutton-color" content= "#568632">

     <meta name= "apple-mobile-web-app-status-bar-style" content="black-translucent">

     <meta name= "apple-mobile-web-app-status-bar-style" content="black"> 

      <!-- Windows Phone --> 
     <meta name="msapplication-navbutton-color" content="#568632"> 
     <!-- iOS Safari --> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
     
         <!-- LO PUSE PARA RESOLVER EL ERROR QUE ME SALIA EN LA CONSOLA -->

        <!-- LO PUSE PARA RESOLVER EL ERROR QUE ME SALIA EN LA CONSOLA -->

       <!-- STILOS --------------------------------------------------------->
        <link rel="stylesheet" href="{% static 'appfood/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'appfood/css/responsive.css' %}">

 <!--------------------------------ESTO ES DE BASE ARTICULO------>
       <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
      <STYLE>
      .children form {
      margin-left: -48px;
      /* will touch very left side */
       }

       .children .children form {
      margin-left: -96px;
      /* will touch very left side */
      }
  
        a {
            text-decoration: none;
        }
      </STYLE>

   

    

     <!-- SCRIPT PARA ANIMAR AL HACER SCROLL parece no sirve-->
     <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

  

<!--------------------------------ESTO ES DE BASE ARTICULO------>




  
     <!-- ICONOS -------------------------------------------------------------->
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

       <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

      <!-- COOKIES-----------------COOKIES-------------- -->
      
    <!--------SCROLL MENU------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>


      <!-- SCRIPT PARA CABECERA FIJA---ROBAR A BORRAR ----------------------------- -->
              <script src="https://code.jquery.com/jquery-latest.js"></script>


       <!-- GOOGLE FONTS-->
              <link
        href="https://fonts.googleapis.com/css?family=Archivo+Black|Artifika|Bai+Jamjuree|Cabin|Merienda|Roboto+Condensed|Satisfy&display=swap"
        rel="stylesheet">

  
    {% block extracss %}
    {% endblock extracss %}
    </head>

   

    <!-- CONTAINER GENERAL DEL BODY-->
    <div id="wrapper">
        <header>
              <div class="cabecera">
                     <div class="logo">
                     <a  href="{% url 'appfood:index' %}">
                     <img src="{% static 'appfood/img/logo/739-153-logo.png' %}" width="100%" alt="Food Emotions"> 
                     </a>
                     </div>

            <!---------------------------------------------------------------------------->
       
   
             
              
           


  <!-------------------------------------------------------->
             <div id="controls">
                 <form class="buscador" method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
                  <!------------------------------------------------------------------>
                    <div id="custom-search-input-header">
	                  <input id="ducks" type="text"  name="q" 
                    value= "{{ request.GET.q }}" class="sin-borde" 
                    placeholder=  " Buscar en Foodingemotion.com  " autocomplete="off" >
                    <!---------------------------------------------------------------->             
                    <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                    <span class="icon"><i class="fa fa-search"></i></span> 
                  </button>
                  </div>
                <!--------------------------------------------------------------------->
               </form>                 
             </div>
           <!---------------------------------------------------------------->

      <!------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
                      <div class="suscribe">
                   
                         <a href="{% url 'appcontact:contacto' %}"  style="text-decoration: none">     
                    <h4>SUSCRIBETE</h4>  
                    </a>
                   
                      </div>

      <!---------------------------------------------------------------------------->
         

     <!------------------------------------------------------------------------------------------------>
        
              
 

                    <div class="menu-btn"> 
                     <!---------------MENU RESPONSIVE -------------->
                     <div class="hamburguesa">
                     <div class="menu-btn__burger">  </div>
                     </div>
                        <!----FIN  MENU RESPONSIVE ------->        
                   </div>
                  <!----FIN  MENU BTN------>

     <!---------------------------------------------------------------------------------------------->
    </div>  <!-----FIN  CABECERA------------------------------------------------------------------------------------->

    <!----------------NAVEGACION------RESPONSIVE----------------------NAV-RESPONSIVE------------------------------->
        <nav>
                <div class="logo-esconder"> 
                 <a class="estilo-logo" href="{% url 'appfood:index' %}">
                     <img src="{% static 'appfood/img/logo/739-153-logo.png' %}" width="100%" alt="Food Emotions"> 
                     </a>
                </a>    
                </div>

             <div class="buscador-esconder"> 
              <form class="d-flex" method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
                  <!------------------------------------------------------------------>
                    <div id="custom-search">
	                  <input type="text"  name="q" 
                    value= "{{ request.GET.q }}" class="sin-borde" 
                    placeholder=  "   Buscar en Foodingemotion.com  " autocomplete="off" >
                    <!---------------------------------------------------------------->             
                    <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                    <span class="icon"><i class="fa fa-search"></i></span> 
                  </button>
                  </div>
                <!--------------------------------------------------------------------->
               </form>                 
           
           </div>

           <ul class="nav">
               
                <li> 
                <a class="{% active 'appfood:index' %}" href="{% url 'appfood:index' %}" >Inicio </a>      
                </li>
                
                <li> 
                <a class="{% active 'appfood:recetas-saludables' %}"  href="{% url 'appfood:recetas-saludables' %}" >
                   Recetas 
                  <i class ="fa fa-caret-down"></i>
                 </a>
                        <ul>  
                        {% load mptt_tags %} 
                        <!-- LAS CATEGORIAS------->
                        {% for kategory in kategories %}
                        <li>
                        <a href="/recetas-saludables/categoria/{{kategory.slug }} "style="text-decoration: none">
                        {{ kategory.name }}</a>
                       </li>
                       {% endfor %}
                      </ul>
                </li>

                
                <li >
                <a class="{% active 'appfood:recetas-dieteticas' %}" href="{% url 'appfood:recetas-dieteticas' %}">Recetas dieteticas</a>
                </li>

                  <li> 
                <a class="{% active 'appfood:plan-comidas-saludables' %}" href="{% url 'appfood:plan-comidas-saludables' %}">Plan Comidas Sanas</a>
                </li>


                <li > 
                <a class="{% active 'appfood:dietas-especiales-y-alimentacion-saludable' %}" href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"> Dietas y Alimentacion Sana  </a> 
                </li>

                

                <li> 
                <a class="{% active 'appfood:noticias-turismo-gastronomico' %}"  href="{% url 'appfood:noticias-turismo-gastronomico' %}">Turismo</a>    
                </li>
              
                <li> 
                <a class="{% active 'appfood:nosotros' %} " href="{% url 'appfood:nosotros' %}">Nosotros</a> 
               </li>

                 <li> 
                <a class="{% active 'appfood:contacto' %} " href="{% url 'appcontact:contacto' %}">
                Contacto
                </a> 
                
                </li>
                 
           
       </ul>
          
      

             </nav> 
            <!-----FIN  NAVEGATION------------>

  
       
       </header>
            <!---------------FIN HEADER----------------------------------------->

 
  




    <div id ="container"> 
         <!------------------------------------------------------------------------------------------------------>
    
    <!------------------------------------------------------------------------------------------------->


     
  
  {% block buscador-responsive %}
                  <div id="controls-responsive">
                <form method ="GET" action= "{% url 'appblog:search' %}" value="{{request.GET.q}}" > {% csrf_token %}
                    <div id="custom-search-input-responsive">
	                      <input type="text"  class="sin-borde-responsive" name="q" value="{{ request.GET.q }}"  placeholder="   Buscar .." >
                                 
                          <button type="submit" name="submit" class="boton-responsive btn-succes" value="Search"> 
                          <span class="icon"><i class="fa fa-search"></i></span>   
                          </button>
                          <!--</span>-->
                    </div>
                </form>
	        </div>

       {% endblock buscador-responsive %}
 {% block content %}   
      

        <!-- ----------------------------------------PORTADA------------------------------->
        {% block portada %} 
            <div class="portada">
                      <div class="portada-img"><img src="" class="slider__img">

                           <div class="portada-titulo"><h2>proudly <i>crafted</i>in  münich since 1987   </h2>
                           </div>
                           <div class="portada-titulo1"><a href="index.html"><h6>proudly <i>crafted</i> in münich since 19887 </h6></a>
                          </div>
                     </div>
          </div>
      {% endblock portada %} 





           
      
                      <!------------------------------------------------------------------------------>
        
     <!---BUSCADOR ------------------------------------------------------------ -->
              {% block buscador-search %} 
             <div id="controls-uno"> 
             <div id="custom-search-input-search"></div>
             </div>
             {% endblock buscador-search %} 
        <!---FIN BUSCADOR---------------------------------------------------------------------- -->

   
  
   <!------CONTAINER-SEARCH ESTO VA EN LA PAGINA SERACH.HTML------------>

                                   {% block container-search %}    
                                    <div id="container-search">   </div> 
                                {% endblock container-search %}
                                 <!---FIN DIV CONTAINER SEARCH  ESTO VA EN LA PAGINA SEARCH.HTML----->  

      <!--de las pagina recetas plan comida dieta y turimso-->
        {% block paginas %}
          <div class="container-columna-posts">
        </div>
         {% endblock paginas %}ç

              {% block recetas %}
          <div id ="container-recetas">
        </div>
         {% endblock recetas %}
       <!-- PRIMER SEGMENTO DE NOTICIAS Y TURISMO---------------------------------------------->


            <!-- TITULO ----------------------------------------2-->
              {% block noticias-turismo %}
       
            <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito"><a href="index.html">
                        <h2></h2>
                            <small>  </small>
                            </h3>
                    </a></div>
                <div class="vacio"></div>
            </div>


            <!-- SEGUNDO SEGMENTO DE TRES --------------------------------------------->
           <div class="primer-segmento">
                <div class="tres">
                         <img src>
                          <div class="segundo-segmento-write-interno">
                          <h3> </h3>
                           <p></p>
                         </div>

                </div>
            
            </div>
                      
              {% endblock noticias-turismo %}
       
            <!-- FINAL SEGMENTO DE NOTICIAS Y TURISMO------------------------------ -->


        <!-- TERCER SEGMENTO------------------------------------3  --->
        {% block ultimos_posts %}
        <div class="dos-columnas">    
            <!-- CODIGO DE APPRECETASALZUM ---------->
            <div class="columna-left"></div>
                <div class="columna-right">
                    <div class ="explora"> </div>
                   <!-- CODIGO DE APPRECETASALZUM ---------->      
              </div>
                 <!---CIERRE ASIDE SEUNDA----------------->          
       </div>    
     {% endblock ultimos_posts %}
          

   <!------------------------SEGMENTO DE RECETAS------------------------------>


      

            
    <!-- TERCER SEGMENTO------------------------------------- ------------------3  --->
          {% block recetas_dieteticas %}  
       <div class="dos-columnas">    
            <!-- CODIGO DE APPRECETASALZUM ---------->
           <div class="columna-left"> </div>
             <div class="columna-right-segunda">
                <div class ="explora"></div>
                  <!-- CODIGO DE APPRECETASALZUM ---------->      
            </div>
                 <!---CIERRE ASIDE SEUNDA----------------->     
       </div>    

      {% endblock recetas_dieteticas %}
    <!-- FINAL TERCER SEGMMENTO EL SEGMENTO COMPLICADO ------------------------A-------------------->


  {% block primero_recetasaludable %}
    <div class="plan-total-alimentacion">
    </div>
    {% endblock primero_recetasaludable %}

    <!--------------------------------------------------------------->

 {% block plandealimentacion %}
        <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito">
             <a  href="{% url 'appfood:plan-comidas-saludables' %}" ></a> 
             <h1 > 
                 </h1>  
                <p></p>
                                 <p align="center"></p><dd>...</dd> 
                </div>
                <div class="vacio"></div>
        </div>
     <!---EMPIEZA EL POST DE 4 POST Y UNA IMAGEN GRANDE--->
   <div class="plan-total-alimentacion">
                <!--RESPONSIVE--rIMAGEN RESPONSIVE------->
  
        <div class="plan-imagen-responsive">
        
                       <img src ="" >
              
                       <a href ="">
                       <h1></h1>
                       </a>
       </div>
   
         <!---FIN RESPONSIVE---IMAGEN RESPONSIVE------------->

     <!----------------4POST----------------------------------->
     <div class="plan-alimentacion">
           
              <div class="plan-post-alimentacion"> 
                    <div class="plan-post-imagen">
                    <img src ="{{perderpeso.imagefront.url}}" >
                    </div>

                    <div class="plan-post-letra">
                    <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                  <h1>{{perderpeso.title}}</h1>
                    </a>
                    </div>    
              </div>
          
    </div>
    <!---FIN DE LOS 4 POSTS---------------------------------->

    <div class="plan-imagen">
       
                       <img src ="{{perderpeso.imagefront.url}}">
                    <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                       <h1>{{perderpeso.title}}</h1>
                       </a>
    </div>
 
    </div>

              {% endblock plandealimentacion %}

  <!----------------------FIN PLAN DE ALIMENTACION----------------------------------------------->



<!-- FINAL QUINTO SEGMENTO EL SEGMENTO COMPLICADO ---------------------------------------------------------->

     {% block dietas-alimento %}

    <div class="plan-alimentacion">
      <div class="plan-post-alientacion"> 
        <div class="plan-post">
        </div>
       </div>
    <div class="plan-imagen"> </div>
  </div>


{% endblock dietas-alimento %}

<!-- FINAL CONTENEDOR QUE CAMBIARA-------------------------------------------------------------------------------------->

{% endblock content %}







<!-- SEXTO SEGMENTO------------------------------------------------------------------------>
                     
           {% block sexto %}                 
                 <div class="quinto-segmento">
                         <div class="resumen">
                               <div class="resumen1"></div>
                               <div class="resumen2">
                                  <h1>life is
                                  <strong><b><u><i>beautifull</i></u></b></strong>, come sano!</h1>
                               </div>
                               <div class="resumen3"></div>
                         </div>
                         <!--IMAGEN------------------------->
                         <div class="quinto">
                                <img style="float:right;" src="{% static 'appfood//img/segmento6/food.jpg' %}" width="100%" >
                         </div>
                </div>
           
          {% endblock sexto %}
    <!-- FINAL SEXTO---------------------SEGMENTO------------------------------------------------------------>





 <!-- FINAL QUINTO SEGMENTO EL SEGMENTO COMPLICADO ---------------------------------------------------------->
         
   {% block septimo %}
            <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito">
                    <h1>Exquisitos sabores</h1>
                    <p>Combinaciòn de productos con destellos de sabores</p>
                </div>
               <div class="vacio"> </div>
            </div>
<!-- CIERRE SEPTIMO SEGMENTO----------------TITULO ------------------------------------------------------------->

<!--OCTAVO SEGMENTO  PORTADA EN MOVIMIENTO------------------------------------------------------------>
            <div class="container-portada">
                        <div class="capa-gradient"></div>

                        <div class="container-details">
                            <div class="details">
                              <h1>Fooding Emotion</h1>
                              <p> para los amantes del buen comer, y la vida sana”, 
                              secciones de actualidad y tendencias con las mejores recetas 
                              nacionales e internacionales, noticias y artículos sobre el mundo gourmet, 
                              y 
                              consejos para llevar una vida más saludable.!</p>
                              <button>
                              <a href="{% url 'appfood:recetas-saludables' %}">
                              Ver mas detalles
                              </a>
                             </button>
                            </div>
                    </div>
            </div>
     {% endblock septimo %}



   <!--NOVENO SEGMENTO  TEXTO ANIMADO------------------------------------------------------------>
    
    <!--CIERRE NOVENO SEGMENTO  TEXTO ANIMADO------------------------------------------------------------>


 <!--CIERRE DIV CONTAINER------------------------------------>
   
   <!------------------COOKIES------------------------------------------->
   <div id="div-cookies" style="display: none;">
    Necesitamos usar cookies para que funcione todo, si permanece aquí acepta su uso, más información en
    <a hreflang="es" href="/info/aviso-legal">Aviso Legal</a>
    y la
    <a hreflang="es" href="/info/politica-de-privacidad">Política de Privacidad</a>.
    <button type="button" class="btn btn-sm btn-primary" onclick="acceptCookies()">
        Acepto el uso de cookies
    </button>
    </div>
   <!------------------------------------------------------------>

     <!----------------------------------------------------->
     <!---DIV DEL CONTAINER------>
         </div>
                          
   <!-------------------------------------------------------->

 
<!--SI QUISIERA VOLVER A ANTES LO PODRIA DESPUES DEL SCRIPT----->
<!-- FOOTER PRIMERO ESTA DENTRO DEL CONTAINER DE CONTENIDO------------------------------------------------------------>
     {% block footer %}
     <div id = "footer">
            <div class="footer-primero">
                <!-- PRIMER FOOTER--------------->
                        <section class="icon-email">
                        <!-------------------------------------------------------------->
                                <div class="icon-social1">
                                    <p>fooding emotion</p>
                                     <ul class="social2">
                                     <li> 
                                     <a href="malito:contacto@foodingemotion.com" target="_blank"> <i class="far fa-envelope"></i> </a>
                                     </li>
                                     {% if LINK_FACEBOOK %}
                                     <li> 
                                     <a href="{{LINK_FACEBOOK}}" target="_blank"><i class="icon fab fa-facebook-f"></i> </a>
                                     </li>
                                     {% endif %}
                                     {% if LINK_PINTEREST %}
                                     <li> 
                                     <a href="{{LINK_PINTEREST}}" target="_blank"> <i class="fab fa-pinterest"></i> </a>
                                     </li>
                                     {% endif %}
                                     {% if LINK_INSTAGRAM %}
                                    <li> 
                                    <a href="{{LINK_INSTAGRAM}}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                    </li>
                                    {% endif %}
                                    </ul>
                                </div>
                                <!-------------------------------------------------------------------------------------->
                               
                                <!--------------------------------------------------------------------------->
                    </section>
                    <!---------------------FINAL SECTION ICON EMAIL---REDES Y BOX--------------------------------------------->

            <!-- SEGUNDO FOOTER--------------->
             <div class="menudelfooter">

                <!-- TERCER FOOTER--------------->
                <section class="menu-footer">
                        <div class="footer-text">
                            <h1>Temas</h1>
                        </div>
                        <div class="footer-lista">
                             <a  href="{% url 'appfood:recetas-saludables' %}">
                            <p>Recetas Saludables</p>
                            </a>
                              <a href="{% url 'appfood:recetas-dieteticas' %}">
                            <p>Recetas Dieteticas</p>
                              </a>
                             <a href="{% url 'appfood:plan-comidas-saludables' %}">
                            <p>Plan de Comidas Saludables</p>
                              </a>
                                 <a href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}">
                            <p>Dieta y Alimentacion Saludable</p>
                              </a>
                            <a href="{% url 'appfood:noticias-turismo-gastronomico' %}">
                            <p>Noticias en el Mundo Gastronomico</p>
                              </a>
                        </div>
                </section>
<!-- CUARTO FOOTER--------------->
                    <section class="espacio"></section>

                    <!-- QUINTO FOOTER--------------->
                    <section class="menu-footer">
                        <div class="footer-text">
                            <h1>acerca de nosotros</h1>
                        </div>
                        <div class="footer-lista">
                             <a href="{% url 'appfood:nosotros' %}">
                             <p>Nosotros</p>
                             </a>

                             <a href="{% url 'appfood:noticias-turismo-gastronomico' %}">
                             <p>Noticias</p>
                             </a>
                             <a href="{% url 'appcontact:contacto' %}">
                            <p>Contacto</p>
                            </a>
                             <a href="{% url 'appcontact:contacto' %}">
                              <p>Privacidad.</p>
                              </a>
                              <a href="{% url 'appcontact:contacto' %}">
                             <p>Terminos & Condiciones</p>
                             </a>
                        </div>
                    </section>
                  
                </div>
     
           </div>


                <!-- DIV FINAL CIERRE DEL CONTAINER PRINCIPAL DE TODO EL CONTENIDO-->

                <div id="footer-second">           
                         <div class ="final-food">
                         <p>© 2021 Fooding Emotion, El
                        uso de este sitio implica la aceptación de nuestros Términos de uso,
                        Política de privacidad y Política de datos derechos reservados</p>
                        </div>
                </div>
            </div>

               {% endblock footer %}

   <!------------------------------------------------------------------------------------------->
        </div>
   <!--------------DIV DEL WRAPPER-------------------------------->   

          
            
      
     
  <!---------------------------------------------------------------------------->
       <!-- MENU PARA DESPLAZAR LAS OPCIONES DEL MENU-->
              <script src="{% static 'appfood/js/menuResponsive.js' %}"></script>
                   <script src="{% static 'appfood/js/menuAspaArticulo.js' %}"></script>
         

            
    <!----------------------------------------------------------------------------------->
    <!----SCROLL MENU---DE LAS CATEGORIAS DE LAS OTRAS PAGINAS----------------------------------------------->
             <script type="text/javascript">
           var $this = $('.scrollmenu');
          var scrollAmount = 50;

      function moveRight() {
     if ($this[0].scrollWidth - $this.scrollLeft() > $this.outerWidth()) {
    $this.scrollLeft($this.scrollLeft() + scrollAmount);
    }
    }

     function moveLeft() {
    if ($this.scrollLeft() > 0) {
    $this.scrollLeft($this.scrollLeft() - scrollAmount);
    }
    }

     $("body").keydown(function(e) {
    // left arrow
     if ((e.keyCode || e.which) == 37) {
    moveLeft();
    }
  // right arrow
  if ((e.keyCode || e.which) == 39) {
    moveRight();
    }
    });

    $this.bind('mousewheel', function(e) {
   if (e.originalEvent.wheelDelta / 120 > 0) {
    moveLeft();
   } else {
    moveRight();
   }
    });

    // push button navigation
    $('.leftNav').click(moveLeft);
    $('.rightNav').click(moveRight);
   </script>
   <!-------------------------------------------------------------->


   
     <!---CODIGO PARA EL SCROLL DE LAS CATEGORIAS QUE HAY EN LAS DEMAS PAGINAS---->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

   <!------------------------------------------------------------------------>
 

      <!--  PARA MENU ACTIVE----------------------------->
       <script src="{% static 'appfood/js/active.js' %}"></script>



<!--ESTE DIV ES DEL CONTAINER, LO SAQUE AL FOOTER PARA QUE COGIERA TODO EL ACNCHO DE LA PAGINA--->
 

   <!---SEARCH----------------->
   


<!-- FINAL CONTAINER GENERAL DEL BODY WRAPPER------------------------------------------------------------------------->
            

<!--  FINAL WRAPPER-->
</body>

</html>






     