{% load static %}
{% load menu %}

<!DOCTYPE html>
<html lang="en">

  <head>
        <meta charset="utf-8">
        <meta meta content="width=device-width, initial-scale=1,  maximum-scale=1" name="viewport"  >
        <title>{% block titulo %} {% endblock titulo %}</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros de prueba y expertos en nutrición en la revista EatingWell. Aprenda a elegir alimentos más saludables todos los días..">
        <meta name="keywords" content="Healthy Recipes, Weight Loss, Special Diets, Meal Plans, Healthy Eating">
        <link rel="canonical" href="https://www.foodingemotion.com/">


        {% if object.slug in request.path %}
        <title>{{object.title}}</title>
        <meta property="og:title" content="{{object.title}}">
        <meta name="description" property="og:description" content="{{object.content|striptags|truncatewords:20}}">
        <meta property="og:image" content="{{object.image_field.url}}">
        <meta property="og:image:alt" content="{{object.image_alt}}">
        <meta property="og:url" content="https://www.foodingemotion.com/{{object.slug}}">
        <meta name="twitter:card" value="summary">

        {% elif request.path == '/' %}
        <title>Homepage Title</title>
        <meta name="description" content="This is the description for the homepage.">

       {% else %}
       <title>Another Title</title>
       <meta name="description" content="This is the description ...">
       {% endif %}
      

       {% block meta_extend %}
       <meta name="description" content="{{ obj.description }}">
       <meta name="title" content="{{ obj.title }}">
       {% endblock %}


       





       {% if object.slug in request.path %}
      <meta property="og:title" content="{{object.title}}">
      <meta property="og:url" content="https://foodingemotion.com/{{object.slug}}" >

      <meta property="og:description" content="{% if object.summary %}{{object.summary|striptags|truncatechars:160}}{% else %}
      {{object.text|safe|striptags|truncatechars:160}}{% endif %}">

      <meta property="og:image" content="{% if post.header_image %}{{ post.header_image.url }}
      {% else %}https://foodingemotion.com{% static 'images/home-office.jpg' %}{% endif %}">

      <meta name="twitter:card" content="summary_large_image" />
      <title>{{object.title}}</title>
      {% else %}
      <title>Fooding Emotion</title>
      <meta property="og:title" content="Recetas Saludables">
      <meta property="og:description" content="Description up to 160 characters">
      <meta property="og:image" content="https://image-url.png">
      <meta property="og:url" content="https://foodingemotion.com" >

      <meta name="twitter:card" content="summary_large_image" />   

     {% endif %}
     <meta name="twtter:site" content="@website_handle" />
      <meta name="twtter:creator" content="@your_handle" />  







      <meta property="og:title" content="Recetas Saludables, Alimentacion Saludable - EmotionsFood">
      <meta property="og:type" content="articulo">
      <meta property="og:site_name" content="FooodEmotions">
      <meta property="og:url" content="https://www.foodingemotion.com/">
      <meta property="og:description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros profesionales. Aprenda a elegir alimentos más saludables todos los días. ">
      <meta name="pinterest:url" content="https://www.foodingemotion.com/">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:url" content="https://www.foodingemotion.com/">
      <meta name="twitter:title" content="Food Emotions: Recetas Saludables, Alimentacion Saludable">
      <meta name="twitter:description" content="Encuentre recetas saludables y deliciosas e ideas para menús de nuestros cocineros profesionales. Aprenda a elegir alimentos más saludables todos los días..">
      <meta name="twitter:site" content="@">
      <meta name="pinterest:media" content="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta name="twitter:image" content="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta property="og:image" content="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2021%2F02%2F04%2Fcrispy-smashed-brussel-sprouts-2000.jpg">
      <meta property="og:image:width" content="2000">
      <meta property="og:image:height" content="1000">
      <meta property="fb:app_id" content="165082593548215">
      <meta property="fb:pages" content="10053803772">

   <!---  "/apple-icon-36x36.png" --->
     <link  rel = "apple-touch-icon"  tamaños = "36x36"  href = "/favicon/android-icon-36x36.png" > 
     <link  rel = "apple-touch-icon"  tamaños = "48x48"  href = "/favicon/android-icon-48x48.png" > 
     <link  rel = " apple-touch-icon "  tamaños = " 72x72 "  href = "/favicon/android-icon-72x72.png " > 
     <link  rel = " apple-touch-icon "  tamaños = "96x96"  href = "/favicon/android-icon-96x96.png" > 
     <link  rel = "apple-touch-icon "  tamaños = "144x144"  href = "/favicon/android-icon-144x144.png"> 
     <link  rel = "apple-touch-icon"  tamaños = "192x192"  href = "/favicon/android-icon-192x192.png" > 


     <link  rel = "apple-touch-icon"  tamaños = "57x57"  href = "/favicon/android-icon-57x57.png" > 
     <link  rel = "apple-touch-icon"  tamaños = "60x60"  href = "/favicon/android-icon-60x60.png " > 
     <link  rel = " apple-touch-icon "  tamaños = " 72x72 "  href = "/favicon/android-icon-72x72.png" > 
     <link  rel = " apple-touch-icon "  tamaños = "76x76"  href = "/favicon/android-icon-76x76.png" > 
     <link  rel = "apple-touch-icon "  tamaños = " 114x114 "  href = " /favicon/android-icon-114x114.png "> 
     <link  rel = "apple-touch-icon"  tamaños = "120x120"  href = "/favicon/android-icon-120x120.png" > 
     <link  rel = "apple-touch-icon"  tamaños = "144x144"  href = "/favicon/android-icon-144x144.png " > 
     <link  rel = " apple-touch-icon "  tamaños = " 152x152 "  href = " /favicon/android-icon-152x152.png" > 
     <link  rel = " apple-touch-icon "  tamaños = "180x180"  href = "/favicon/android-icon-180x180.png" > 
     <enlace  rel = "icono"  tipo = "imagen / png"  tamaños = "192x192"  href = "/favicon/android-icon-192x192.png" >  
     <link  rel = " manifiesto " href = "/manifest.json" > 
     <meta  nombre ="msapplication-TileColor"  content = "#ffffff" > 
     <meta  name = "msapplication-TileImage"  content = "/ms-icon-144x144.png" > 
     <meta  name = "theme-color"  content = "#ffffff" >
     
     <!-- LO PUSE PARA RESOLVER EL ERROR QUE ME SALIA EN LA CONSOLA -->

       <!-- STILOS --------------------------------------------------------->
        <link rel="stylesheet" href="{% static 'appfood/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'appfood/css/responsive.css' %}">
  
     <!-- ICONOS -------------------------------------------------------------->
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

       <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

      <!-- COOKIES-----------------COOKIES-------------- -->
      
    <!--------SCROLL MENU------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>


      <!-- SCRIPT PARA CABECERA FIJA-------------------------------- -->
              <script src="http://code.jquery.com/jquery-latest.js"></script>


       <!-- GOOGLE FONTS-->
              <link
        href="https://fonts.googleapis.com/css?family=Archivo+Black|Artifika|Bai+Jamjuree|Cabin|Merienda|Roboto+Condensed|Satisfy&display=swap"
        rel="stylesheet">

  
    {% block extracss %}
    {% endblock extracss %}
    </head>

     <body>

    <!-- CONTAINER GENERAL DEL BODY-->
    <div id="wrapper">
        <header>
              <div class="cabecera">
                     <div class="logo">
                     <a class="{% active 'appfood:index' %}" href="{% url 'appfood:index' %}">
                     <img src="{% static 'appfood/img/logo/logd.svg' %}" width="100%" alt="Food Emotions"> 
                     </a>
                     </div>

            <!---------------------------------------------------------------------------->
            <div class="buscador">
               <div id="controls">
                 <form  method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
                  <!------------------------------------------------------------------>
                  <div id="custom-search-input-header">
	                  <input type="text"  name="q" 
                    value= "{{ request.GET.q }}" class="sin-borde" 
                    placeholder=  "    Buscar en Food Emotions ... " autocomplete="off" >
                    <!---------------------------------------------------------------->             
                    <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                    <span class="icon"><i class="fa fa-search"></i></span> 
                  </button>
                 </div>
                <!--------------------------------------------------------------------->
               </form>                 
             </div>
            </div>
   <!---------------------------------------------------------------------------------------------------------------->
                  <div class="menu-btn"> 
                      <div class="suscribe">
                      <a href="{% url 'appcontact:contacto' %}">   
                      <h4>suscribete</h4>  
                      </a>
                      </div>
                     <!---------------MENU RESPONSIVE -------------->
                     <div class="menu-btn__burger">  </div>
                        <!----FIN  MENU RESPONSIVE ------->        
                   </div>
                  <!----FIN  MENU BTN------>
                  <!-----FIN  BOLETIN -------------->
      </div>  <!-----FIN  CABECERA------------------------------------------------------------------------------------->

         <!---<nav class="nav"> ---->


     <!------------------------------------------------------------------------------------------------------------>
     <div class="buscador-responsive">
        <div id="controls-responsive">
              <form  method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
                  <!------------------------------------------------------------------>
                  <div id="custom-search-input-responsive">
	                  <input type="text"  name="q" 
                    value= "{{ request.GET.q }}" class="sin-borde" 
                    placeholder=  "    Buscar en Food Emotions ... " autocomplete="off" >
                    <!---------------------------------------------------------------->             
                    <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                    <span class="icon"><i class="fa fa-search"></i></span> 
                  </button>
                </div>
                <!--------------------------------------------------------------------->
            </form>                 
       </div>
    </div>
   <!---------------------------------------------------------------------------------------------------------------->


   <!----- NAVEGATION--------EN PANTALLA----AGRANDE----------------------------------------------------------------->
      <nav class="menu">
          <div class="caja">   </div>
              <ul class="nav">
                   <li> 
                   <a class="{% active 'appfood:index' %}" href="{% url 'appfood:index' %}" >Inicio </a>      
                  </li>

                  <li> 
                  <a class="{% active 'appfood:recetas-saludables' %}"  href="{% url 'appfood:recetas-saludables' %}" >
                   Recetas 
                  <i class ="fa fa-caret-down"></i>
                  </a>
                        <ul>  
                        {% load mptt_tags %} 
                        <!-- LAS CATEGORIAS------->
                        {% for kategory in kategories %}
                        <li>
                        <a href="/recetas-saludables/categoria/{{kategory.slug }} "style="text-decoration: none">
                        {{ kategory.name }}</a>
                       </li>
                       {% endfor %}
                      </ul>
                </li>

                
                <li>
                <a class="{% active 'appfood:recetas-dieteticas' %}" href="{% url 'appfood:recetas-dieteticas' %}">Recetas dieteticas
                 <i class ="fa fa-caret-down"></i></a>
                         <ul>  
                        {% load mptt_tags %} 
                        <!-- LAS CATEGORIAS------->
                        {% for category in categories %}
                        <li>
                        <a href="/recetas-dieteticas/categoria/{{category.slug }} "style="text-decoration: none">
                        {{ category.name }}</a>
                       </li>
                       {% endfor %}
                      </ul>
                </li>


                <li> 
                <a class="{% active 'appfood:plan-comidas-saludables' %}" href="{% url 'appfood:plan-comidas-saludables' %}">Plan Comidas Saludables</a>
                </li>

               <li > 
              <a class="{% active 'appfood:dietas-especiales-y-alimentacion-saludable' %}" href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"> Dietas y Alimentacion  </a> 
              </li>

                

                <li> 
                <a class="{% active 'appfood:noticias-turismo-gastronomico' %}" href="{% url 'appfood:noticias-turismo-gastronomico' %}">Turismo </a>       
                </li>


              
               <li> 
               <a class="{% active 'appfood:nosotros' %}" href="{% url 'appfood:nosotros' %}"> Nosotros  <i class ="fa fa-caret-down"></i></a>
               <ul>  
               <li><a class="{% active 'appcontact:contacto' %}" href="{% url 'appcontact:contacto' %}">Contacto</a>
              </li>
              </ul> 
              </li>

             </ul>

         </nav> 
    <!---------------------------------------------------------------------------------------------------------->

        <!----------------NAVEGACION------RESPONSIVE----------------------NAV-RESPONSIVE------------------------------->
        <nav>
           <ul class="nav">
                <li> 
                <a class="{% active 'appfood:index' %}" href="{% url 'appfood:index' %}" >Inicio </a>      
                </li>
                
                <li> 
                <a class="{% active 'appfood:recetas-saludables' %}"  href="{% url 'appfood:recetas-saludables' %}" >
                   Recetas Saludables 
                  <i class ="fa fa-caret-down"></i>
                 </a>
                        <ul>  
                        {% load mptt_tags %} 
                        <!-- LAS CATEGORIAS------->
                        {% for kategory in kategories %}
                        <li>
                        <a href="/recetas-saludables/categoria/{{kategory.slug }} "style="text-decoration: none">
                        {{ kategory.name }}</a>
                       </li>
                       {% endfor %}
                      </ul>
                </li>

                
                <li >
                <a class="{% active 'appfood:recetas-dieteticas' %}" href="{% url 'appfood:recetas-dieteticas' %}">Recetas dieteticas</a>
                </li>

                  <li> 
                <a class="{% active 'appfood:plan-comidas-saludables' %}" href="{% url 'appfood:plan-comidas-saludables' %}">Plan de Alimentacion Saludable</a>
                </li>


                <li > 
                <a class="{% active 'appfood:dietas-especiales-y-alimentacion-saludable' %}" href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"> Dietas y Alimentacion Saludable  </a> 
                </li>

                

                <li> 
                <a class="{% active 'appfood:noticias-turismo-gastronomico' %}" href="{% url 'appfood:noticias-turismo-gastronomico' %}">Turismo y Noticias </a>
                       
                </li>
              
                <li> 
                <a class="{% active 'appfood:nosotros' %}" href="{% url 'appfood:nosotros' %}">Nosotros </a> 
                </li>

                 <li> 
                <a class="{% active 'appcontact:contacto' %}" href="{% url 'appcontact:contacto' %}">Contacto</a>    
                </li>

        </ul>
        </nav> 
        <!-----FIN  NAVEGATION------------>


       </header>
            <!---------------FIN HEADER----------------------------------------->

  <div id ="container"> 

     <!-- CONTAINER PRINCIPAL DE TODO EL CONTENIDO-->

        <!-- ----------------------------------------PORTADA------------------------------->
        {% block portada %} 
            <div class="portada">
              <div class="portada-img"><img src=""   class="slider__img">
                      <div class="portada-titulo"><h2>proudly <i>crafted</i>in  münich since 1987   </h2>
                      </div>
                      <div class="portada-titulo1"><a href="index.html"><h6>proudly <i>crafted</i> in münich since 19887 </h6></a>
                      </div>
              </div>
          </div>
      {% endblock portada %} 

   

                            

    
              
 {% block content %}     
     <!---BUSCADOR ------------------------------------------------------------ -->
              {% block buscador-search %} 
             <div id="controls-uno"> 
             <div id="custom-search-input-search"></div>
             </div>
             {% endblock buscador-search %} 
        <!---FIN BUSCADOR---------------------------------------------------------------------- -->

   
  
   <!------CONTAINER-SEARCH ESTO VA EN LA PAGINA SERACH.HTML------------>

                                   {% block container-search %}    
                                    <div id="container-search">   </div> 
                                {% endblock container-search %}
                                 <!---FIN DIV CONTAINER SEARCH  ESTO VA EN LA PAGINA SEARCH.HTML----->  

      <!--de las pagina recetas plan comida dieta y turimso-->
        {% block paginas %}
          <div class="container-columna-posts">
        </div>
         {% endblock paginas %}ç

              {% block recetas %}
          <div id ="container-recetas">
        </div>
         {% endblock recetas %}
       <!-- PRIMER SEGMENTO DE NOTICIAS Y TURISMO---------------------------------------------->


            <!-- TITULO ----------------------------------------2-->
              {% block noticias-turismo %}
       
            <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito"><a href="index.html">
                        <h2>built for makers</h2>
                            <small>Small text</small>
                            .</h3>
                    </a></div>
                <div class="vacio"></div>
            </div>


            <!-- SEGUNDO SEGMENTO DE TRES --------------------------------------------->
            <div class="segundo-segmento">
                <div class="tres">
                         <img src>
                          <div class="segundo-segmento-write-interno">
                          <h3> </h3>
                           <p></p>
                         </div>

                </div>
            
            </div>
                      
              {% endblock noticias-turismo %}
       
            <!-- FINAL SEGMENTO DE NOTICIAS Y TURISMO------------------------------ -->


        <!-- TERCER SEGMENTO------------------------------------3  --->
        {% block ultimos_posts %}
        <div class="dos-columnas">    
            <!-- CODIGO DE APPRECETASALZUM ---------->
            <div class="columna-left"></div>
                <div class="columna-right">
                    <div class ="explora"> </div>
                   <!-- CODIGO DE APPRECETASALZUM ---------->      
              </div>
                 <!---CIERRE ASIDE SEUNDA----------------->          
       </div>    
     {% endblock ultimos_posts %}
          

   <!------------------------SEGMENTO DE RECETAS------------------------------>


      

            
    <!-- TERCER SEGMENTO------------------------------------- ------------------3  --->
          {% block recetas_dieteticas %}  
       <div class="dos-columnas">    
            <!-- CODIGO DE APPRECETASALZUM ---------->
           <div class="columna-left"> </div>
             <div class="columna-right-segunda">
                <div class ="explora"></div>
                  <!-- CODIGO DE APPRECETASALZUM ---------->      
            </div>
                 <!---CIERRE ASIDE SEUNDA----------------->     
       </div>    

      {% endblock recetas_dieteticas %}
    <!-- FINAL TERCER SEGMMENTO EL SEGMENTO COMPLICADO ------------------------A-------------------->


  {% block primero_recetasaludable %}
    <div class="plan-total-alimentacion">
    </div>
    {% endblock primero_recetasaludable %}

    <!--------------------------------------------------------------->

 {% block plandealimentacion %}
        <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito">
             <a  href="{% url 'appfood:plan-comidas-saludables' %}" ></a> 
             <h1 > 
                 </h1>  
                <p></p>
                                 <p align="center"></p><dd>...</dd> 
                </div>
                <div class="vacio"></div>
        </div>
     <!---EMPIEZA EL POST DE 4 POST Y UNA IMAGEN GRANDE--->
   <div class="plan-total-alimentacion">
                <!--RESPONSIVE--rIMAGEN RESPONSIVE------->
  
        <div class="plan-imagen-responsive">
        
                       <img src ="" >
              
                       <a href ="">
                       <h1></h1>
                       </a>
       </div>
   
         <!---FIN RESPONSIVE---IMAGEN RESPONSIVE------------->

     <!----------------4POST----------------------------------->
     <div class="plan-alimentacion">
           
              <div class="plan-post-alimentacion"> 
                    <div class="plan-post-imagen">
                    <img src ="{{perderpeso.imagefront.url}}" >
                    </div>

                    <div class="plan-post-letra">
                    <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                  <h1>{{perderpeso.title}}</h1>
                    </a>
                    </div>    
              </div>
          
    </div>
    <!---FIN DE LOS 4 POSTS---------------------------------->

    <div class="plan-imagen">
       
                       <img src ="{{perderpeso.imagefront.url}}">
                    <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                       <h1>{{perderpeso.title}}</h1>
                       </a>
    </div>
 
    </div>

              {% endblock plandealimentacion %}

  <!----------------------FIN PLAN DE ALIMENTACION----------------------------------------------->



<!-- FINAL QUINTO SEGMENTO EL SEGMENTO COMPLICADO ---------------------------------------------------------->

     {% block dietas-alimento %}

    <div class="plan-alimentacion">
      <div class="plan-post-alientacion"> 
        <div class="plan-post">
        </div>
       </div>
    <div class="plan-imagen"> </div>
  </div>


{% endblock dietas-alimento %}

<!-- FINAL CONTENEDOR QUE CAMBIARA-------------------------------------------------------------------------------------->

{% endblock content %}







<!-- SEXTO SEGMENTO------------------------------------------------------------------------>
                     
           {% block sexto %}                 
                 <div class="quinto-segmento">
                         <div class="resumen">
                               <div class="resumen1"></div>
                               <div class="resumen2">
                                  <h1>life is
                                  <strong><b><u><i>beautifull</i></u></b></strong>, come sano!</h1>
                               </div>
                               <div class="resumen3"></div>
                         </div>
                         <!--IMAGEN------------------------->
                         <div class="quinto">
                                <img style="float:right;" src="{% static 'appfood//img/segmento6/food.jpg' %}" width="100%" >
                         </div>
                </div>
           
          {% endblock sexto %}
    <!-- FINAL SEXTO---------------------SEGMENTO------------------------------------------------------------>





 <!-- FINAL QUINTO SEGMENTO EL SEGMENTO COMPLICADO ---------------------------------------------------------->
         
   {% block septimo %}
            <div class="titulo">
                <div class="vacio"></div>
                                    <div class="escrito">
                                   <h1>Exquisitos sabores</h1>
                                   <p>Combinaciòn de productos con destellos de sabores</p>
                                   </div>
               <div class="vacio">           </div>
         </div>
<!-- CIERRE SEPTIMO SEGMENTO----------------TITULO ------------------------------------------------------------->

<!--OCTAVO SEGMENTO  PORTADA EN MOVIMIENTO------------------------------------------------------------>
            <div class="container-portada">
                        <div class="capa-gradient"></div>

                        <div class="container-details">
                        <div class="details">
                        <h1>Food Emotions</h1>
                        <p> para los amantes del buen comer, y la vida sana”, 
                       secciones de actualidad y tendencias con las mejores recetas 
                         nacionales e internacionales, noticias y artículos sobre el mundo gourmet, 
                            y 
                         consejos para llevar una vida más saludable.!</p>
                            <button>Ver mas detalles</button>
                        </div>
                    </div>
            </div>
     {% endblock septimo %}



   <!--NOVENO SEGMENTO  TEXTO ANIMADO------------------------------------------------------------>
      {% block texto-animado %}
            <div class="texto-animado">
                <h1>Gastronomia, dietas, salud. <span>&#160;</span></h1>
            </div>
            {% endblock texto-animado %}
    <!--CIERRE NOVENO SEGMENTO  TEXTO ANIMADO------------------------------------------------------------>


 <!--CIERRE DIV CONTAINER------------------------------------>
   
   <!------------------COOKIES------------------------------------------->
   <div id="div-cookies" style="display: none;">
    Necesitamos usar cookies para que funcione todo, si permanece aquí acepta su uso, más información en
    <a hreflang="es" href="/info/aviso-legal">Aviso Legal</a>
    y la
    <a hreflang="es" href="/info/politica-de-privacidad">Política de Privacidad</a>.
    <button type="button" class="btn btn-sm btn-primary" onclick="acceptCookies()">
        Acepto el uso de cookies
    </button>
    </div>
   <!------------------------------------------------------------>

     <!----------------------------------------------------->
     <!---DIV DEL CONTAINER------>
         </div>
                          
   <!-------------------------------------------------------->

 
<!--SI QUISIERA VOLVER A ANTES LO PODRIA DESPUES DEL SCRIPT----->
<!-- FOOTER PRIMERO ESTA DENTRO DEL CONTAINER DE CONTENIDO------------------------------------------------------------>
     {% block footer %}
     <div id = "footer">
            <div class="footer-primero">
                <!-- PRIMER FOOTER--------------->
                        <section class="icon-email">
                        <!-------------------------------------------------------------->
                                <div class="icon-social1">
                                    <p>food emotions</p>
                                     <ul class="social2">
                                     <li> 
                                     <a href="malito:contacto@emotionsfood.com" target="_blank"> <i class="far fa-envelope"></i> </a>
                                     </li>
                                     {% if LINK_FACEBOOK %}
                                     <li> 
                                     <a href="{{LINK_FACEBOOK}}" target="_blank"><i class="icon fab fa-facebook-f"></i> </a>
                                     </li>
                                     {% endif %}
                                     {% if LINK_TWITTER %}
                                     <li> 
                                     <a href="{{LINK_TWITTER}}" target="_blank"> <i class="fab fa-pinterest"></i> </a>
                                     </li>
                                     {% endif %}
                                     {% if LINK_INSTAGRAM %}
                                    <li> 
                                    <a href="{{LINK_INSTAGRAM}}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                    </li>
                                    {% endif %}
                                    </ul>
                                </div>
                                <!-------------------------------------------------------------------------------------->
                                <div class="box">
                                        <h3>Date de alta para conseguir nuestras noticias.</h3>
                                        <form>
                                        <input type="text" name="" placeholder="Inscribirse...">
                                        <input type="submit" name="" value="SIGN UP">
                                        </form>
                                </div>
                                <!--------------------------------------------------------------------------->
                    </section>
                    <!---------------------FINAL SECTION ICON EMAIL---REDES Y BOX--------------------------------------------->

            <!-- SEGUNDO FOOTER--------------->
             <section class="espacio"></section>

                <!-- TERCER FOOTER--------------->
                <section class="menu-footer">
                        <div class="footer-text">
                            <h1>Temas</h1>
                        </div>
                        <div class="footer-lista">
                            <p>Recetas</p>
                            <p>Nutricion</p>
                            <p>Perder peso</p>
                            <p>Gastronomia Internacional</p>
                            <p>Tendencias.</p>
                        </div>
                </section>
<!-- CUARTO FOOTER--------------->
                    <section class="espacio"></section>

                    <!-- QUINTO FOOTER--------------->
                    <section class="menu-footer">
                        <div class="footer-text">
                            <h1>acerca de nosotros</h1>
                        </div>
                        <div class="footer-lista">
                            <p>Nosotros</p>
                            <p>Privacidad.</p>
                            <p>Terminos & Condiciones</p>
                            <p>Noticias</p>
                            <p>Contacto</p>
                         
                        </div>
                    </section>
                    <!-- SEXTO FOOTER--------------->
                    <section class="espacio"></section>
                </div>



                <!-- DIV FINAL CIERRE DEL CONTAINER PRINCIPAL DE TODO EL CONTENIDO-->

                <div id="footer-second">           
                         <div class ="final-food">
                         <p>© 2021 Food Emotions, El
                        uso de este sitio implica la aceptación de nuestros Términos de uso,
                        Política de privacidad y Política de datos derechos reservados</p>
                        </div>
                </div>
            </div>

               {% endblock footer %}

   <!------------------------------------------------------------------------------------------->
        </div>
   <!--------------DIV DEL WRAPPER-------------------------------->   

            <script src="{% static 'appfood/js/menuResponsive.js' %}"></script>
            
            <!-- PARA CONVERTIR EL MENU A ASPA-->
            <script src="{% static 'appfood/js/menuAspaArticulo.js' %}"></script>

            <!-- MENU PARA DESPLAZAR LAS OPCIONES DEL MENU-->
            <script src="{% static 'appfood/js/menuDeslizaArticulo.js' %}"></script>



            <!-- SCRIPT PARA ICONO QUE SUBA RAPIDO LA PAGINA-->
            <script> jQuery('document').ready(function ($) {

                    var subir = $('.back-to-top');

                    subir.click(function (e) {
                        e.preventDefault();
                        $('html, body').animate({ scrollTop: 0 }, 100);
                    });

                    subir.hide();

                    $(window).scroll(function () {

                        if ($(this).scrollTop() > 100) {
                            subir.fadeIn();
                        } else {
                            subir.fadeOut();

                        }

                    });

                });
            </script>



            <!-- SCRIPT PARA LA CABECERA FIJA-->
            <script type="text/javascript">

                $(window).on("scroll", function () {
                    if ($(window).scrollTop()) {
                        $('header').addClass('black');
                    }

                    else {
                        $('header').removeClass('black');

                    }
                })

            </script>

    <!----------------------------------------------------------------------------------->
    <!----SCROLL MENU---DE LAS CATEGORIAS DE LAS OTRAS PAGINAS----------------------------------------------->
             <script type="text/javascript">
           var $this = $('.scrollmenu');
          var scrollAmount = 50;

      function moveRight() {
     if ($this[0].scrollWidth - $this.scrollLeft() > $this.outerWidth()) {
    $this.scrollLeft($this.scrollLeft() + scrollAmount);
    }
    }

     function moveLeft() {
    if ($this.scrollLeft() > 0) {
    $this.scrollLeft($this.scrollLeft() - scrollAmount);
    }
    }

     $("body").keydown(function(e) {
    // left arrow
     if ((e.keyCode || e.which) == 37) {
    moveLeft();
    }
  // right arrow
  if ((e.keyCode || e.which) == 39) {
    moveRight();
    }
    });

    $this.bind('mousewheel', function(e) {
   if (e.originalEvent.wheelDelta / 120 > 0) {
    moveLeft();
   } else {
    moveRight();
   }
    });

    // push button navigation
    $('.leftNav').click(moveLeft);
    $('.rightNav').click(moveRight);
   </script>
   <!-------------------------------------------------------------->
     <!---CODIGO PARA EL SCROLL DE LAS CATEGORIAS QUE HAY EN LAS DEMAS PAINAS---->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

   <!------------------------------------------------------------------------>
 
 
    <!-- PARA ANIMAR LETRAS AL HACER SCROLL   ESTO ES DATA-ANIME   data-anime ------------------------------>
            <script src="{% static 'appfood/js/animar.js' %}"></script>

      <!--  PARA MENU ACTIVE----------------------------->
       <script src="{% static 'appfood/js/active.js' %}"></script>



<!--ESTE DIV ES DEL CONTAINER, LO SAQUE AL FOOTER PARA QUE COGIERA TODO EL ACNCHO DE LA PAGINA--->
 

<!-- FINAL CONTAINER GENERAL DEL BODY WRAPPER------------------------------------------------------------------------->
            

<!--  FINAL WRAPPER-->
</body>

</html>






     