{% extends 'appfood/base.html' %}
{% load static %}
{% block titulo %}Fooding Emotion: Recetas Saludables, Alimentacion Saludable{% endblock titulo %}
 
  <!-- SLIDER ---------------------------------------------------------------------->
  
   {% block content %}
   
  <!-------------------------PORTADA-------------------------------------------------------------->
 {% block portada %} 
          <div class="portada">

                 <!------------------------------------------------------->
                         <section class="portada-img">
                        <img src="{% block imagen %}{% static 'appfood/img/slider/1300-600-index.jpg' %}{% endblock imagen %}"
                        width="100%" >
                       
                        <div class="portada-titulo">
                        <h2>exquisiteces en <i>Fooding Emotion</i> con la elaboraciòn
                        </h2>
                        </div>

                         <div class="portada-titulo1">
                         <h6>de productos y  <i>recetas</i>  a disfrutar ! </h6>
                        </div>
                        </section>


    <!------------------------------------------------------------------------------------------------->
    <section class="portada-img-responsive">
               <div class="imagen-responsive-movil">
              <img src="{% block img %}{% static 'appfood/img/slider/640-450index.jpg' %}{% endblock  %}"
              class="slider__img">
               <div class="portada-titulo">
               <h2>exquisiteces <i>Fooding Emotion</i> elaboración</h2>
              </div> 
              <div class="portada-titulo1">
              <h6>artesanal de <i>recetas sanas</i>   </h6>
               </div>

              </div>
              <!------------------------------------->
              <div class="imagen-responsive-ipod">
              <img src="{% block imag %}{% static 'appfood/img/slider/760-380indexipod.jpg' %}{% endblock  %}"
              class="slider__img">

                     <div class="portada-titulo">
                     <h2>exquisiteces <i>Fooding Emotion</i> elaboración</h2>
                     </div> 
                     <div class="portada-titulo1">
                     <h6>artesanal de <i>recetas sanas</i>  </h6>
                    </div>


              </div>
              <!-- FIN IMAGEN-->
              <!-- LETRAS-->
              <!-- FIN IMAGEN-->
              <!-- LETRAS-->
         
  
      </section>

     </div>
              
    {% endblock portada %} 



     
     

    {% block buscador-search %}   {% endblock buscador-search %} 
    
      
    
      

     {% block noticias-turismo %}
           <!-- TITULO --------------- data-anime="top"----ESTO IBA EN EL AJON ESCRITO---------------------1-->
           <div class="titulo-principal">
                <div class="vacio"></div>
                <div class="escrito">
                    <h1> <a href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"> 
                    Actualidad, turismo gastronomico
                    </a></h1>
               </div>
             <div class="vacio"></div>
          </div>



        <!------TURISMO GASTRONMICO----NOTICIAS---------------------------->
        <div class="primer-segmento">
              <!--------------------------------------------->
              {% for posturismo in posturismos %}
              <div class="tres"> 
                    {% if posturismo.imagefront %}
                    <img src="{{posturismo.imagefront.url}}" width="100%"  alt="">
                    {% endif %}

                    <a href ="{% url 'appturismo:post' posturismo.slug %}">
                    <h1>{{ posturismo.title }}</h1>
                    </a> 

                    <p>{{ posturismo.description|truncatewords_html:10|safe }} </p>

                    <a href ="{% url 'appturismo:post' posturismo.slug %}">
                     Leer mas...  </a> 
                                     
              </div>
              {% endfor %}
              <!------------------------------------------------->
        </div>
        <!---------------------- TURISMO NOTICIAS ------------>
      {% endblock noticias-turismo %}
   <!------------------------------------------------------------------------------------>


     {% block ultimos_posts %}
    <!-------------------------------LO ULTIMO------- data-anime="top"---------------------------------------->
    
          <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito"><h1>ùltimas entradas</h1></div>
                <div class="vacio"></div>
          </div> 

 
    
    <!------------------------------------------------->
    <div class="bloque-posts-ultimos">
        <!---ROW-------->
         <div class ="row-ultimos-y-categorias">        


             <!--FLOAT LEFT..TODOS LOS POSTS------->
             <div class="columna-left">

          
      <!---------FLOAT LEFT-------------EMPEZANDO OTRO POSTS----------------2------------->
      <div class="posts-ultimos-left">
          
            <!---DEBE IR EN COLUMNA---->
            {% for recipe in recipedietaultimo %}
            <div class="post-ultimo-encolumna">
            <!----ROW---------------------------->
        
                  <div class="ultimo-imagen-titulo">
                     <!--------------------------------->
                      <div class="post-ultimo-imagen">
                      {% if recipe.imagenfront %}
                      <img src ="{{recipe.imagenfront.url}}" >
                      {% endif %}
                      </div>
                      <!--------------------------------->

                      <!-------CONTAINER DE LA CAJA TITULO LO PUSE PARA QUE SE PPUEDA RESOLVER EL TITULO------------------------>
                      <div class="posts-ultimos-titulo">
                        <!------------------------------------->
                         <div class="post-ultimo-titulo">
                            <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}">
                            <h1>{{recipe.title}}</h1>
                            </a>
                          
                            <p>{{recipe.description|truncatewords_html:13|safe}}</p>
                            <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}">
                            Leer mas..</a>
                        

                        </div>
                    <!-------------------------------------------->
                     </div>
                    <!---------FIN POSTS ULTIMOS TITULO------------------------------------>
                      </div>
                    <!--FIN -POS-ULTIMO------------------------>
                    
              </div>
              {% endfor %}
            </div>
       
        <!------------------------------------------------------------------------------------->

      
                 <!---------FLOAT LEFT--------------------------------1---------->
                 <div class="posts-ultimos-left">
             
                     <!---FLEX COLUMN--DE LOS DITINTOS POST DE LAS CATEGORIAS--->
                   {% for receta in recetaultimo %}
                     <div class="post-ultimo-encolumna">


                     <!----ROW---------------------------->
                     <div class="ultimo-imagen-titulo">
                          <!------------------------------->
                          <div class="post-ultimo-imagen">
                          {% if receta.imagefront %}
                          <img src="{{receta.imagefront.url}}">
                          {% endif %}
                           </div>
                          <!-------------------------------->


                         <!----------------------------------------------------->
                           <div class="posts-ultimos-titulo">
                                <!------------------------------------->
                                <div class="post-ultimo-titulo">
                                <a href ="{% url 'apprecetas:receta' receta.slug %}">
                                <h1> {{receta.title}}</h1>
                                </a> 

                                <p>{{receta.description|truncatewords_html:13|safe}}</p>
                                <a href ="{% url 'apprecetas:receta' receta.slug %}">
                                Leer mas...
                                </a>
                                </div>
                                <!------------------------------------->
                            </div>
                        <!-------FIN CONTAINER POSTS ULTIMOS-TITULO----------------------------->
                        
                    </div>
                    <!--ROW------FIN -POSt-ULTIMO------------------------>




               </div>
              {% endfor %}
               <!---POST-ULTIMO-ENCOLUMNA--->
              </div>
              <!-------FLOAT LEFT--HASTA QUI SEPARAR LOS POST DE OTRAS CATEGORIAS------1------->




   







      <!---------FLOAT LEFT-------------EMPEZANDO OTRO POSTS--------------3------------>
          <div class="posts-ultimos-left">
           {% for perderpeso in perderultimo %}
            <div class="post-ultimo-encolumna">
          <div class="ultimo-imagen-titulo">
              
              <div class="post-ultimo-imagen">
              {% if perderpeso.imagefront %}
              <img src ="{{perderpeso.imagefront.url}}" >
              {% endif %}
              </div>

              <!-------CONTAINER DE LA CAJA TITULO LO PUSE PARA QUE SE PPUEDA RESOLVER EL TITULO------------------------>
              <div class="posts-ultimos-titulo">
                <!--------------------------------->
                <div class="post-ultimo-titulo">
                <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                <h1>{{perderpeso.title}}</h1>
                </a>

                <p>{{perderpeso.description|truncatewords_html:13|safe}}</p>
                <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                Leer mas..
                </a> 
           
                </div>
                <!----------------------------------------->
                </div>
                <!--------------------------------------------------------------------->
                
              </div>   
              </div>
              {% endfor %}
            </div>
           
        <!-----------------------------------------------------------------------3-------------->









      <!---------FLOAT LEFT-------------EMPEZANDO OTRO POSTS--------------4----------->
          <div class="posts-ultimos-left">
           {% for post in postultimo %}
            <div class="post-ultimo-encolumna">
            <div class="ultimo-imagen-titulo">

                  <div class="post-ultimo-imagen">
                  {% if post.imagefront %}
                  <img src ="{{post.imagefront.url}}" >
                  {% endif %}
                  </div>

                   <!-------CONTAINER DE LA CAJA TITULO LO PUSE PARA QUE SE PPUEDA RESOLVER EL TITULO------------------------>
                  <div class="posts-ultimos-titulo">
                  <!----------------------------------------->
                  <div class="post-ultimo-titulo">
                  <a href ="{% url 'appblog:post' post.slug %}">
                  <h1>{{post.title}}</h1>
                  </a>

                  <p>{{post.description|truncatewords_html:13|safe}}</p>
                  <a href ="{% url 'appblog:post' post.slug %}">
                  Leer mas...
                  </a> 
                  </div>
                  <!------------------------------------------->
                 </div>
                <!------------------------------------->

              </div> 
              </div>
            {% endfor %}
          </div>            
        <!------------------------------------------------------------------------4----->

      
        <!---------FLOAT LEFT-------------EMPEZANDO OTRO POSTS--------------5---------->
        <div class="posts-ultimos-left">
              {% for posturismo in posturisultimo %}
               <div class="post-ultimo-encolumna">


                 <div class="ultimo-imagen-titulo">

                  <div class="post-ultimo-imagen">
                  {% if posturismo.imagefront %}
                  <img src ="{{posturismo.imagefront.url}}" >
                  {% endif %}
                  </div>

                   <!-------CONTAINER DE LA CAJA TITULO LO PUSE PARA QUE SE PPUEDA RESOLVER EL TITULO------------------------>
                  <div class="posts-ultimos-titulo">
                  <!----------------------------------------->
                  <div class="post-ultimo-titulo">
                  <a href ="{% url 'appturismo:post' posturismo.slug %}">
                  <h1>{{posturismo.title}}</h1>
                  </a>
                  <br>
                  <p>{{posturismo.description|truncatewords_html:13|safe}}</p>
                  <a href ="{% url 'appturismo:post' posturismo.slug %}">
                  Leer mas...
                  </a> 
                  
                  </div>
                  <!------------------------------------------->
                 </div>
                <!------------------------------------->

                
              </div> 
              <!---ULTIMO IMAGEN-TITULO---->
              </div>
            {% endfor %}
          </div>            
        <!---------------------------------------------------------------------5-------->





































         </div>
            <!-- FIN DOS COLUMNAS----------------------->
 








      <!---------ASIDE-----------EXPLORA CATEGORIAS DIETETICAS-------------->
      <div class="columna-right">
          <div class ="columna-right-column">


              <!-----------------B--->
              <div class ="explora">
              <h1> Explorar</h1>
              </div>
              <!-----------------B---->        
             <!---------------------------------A--->
             {% for category in categories %}
             <div class="columna-right-categorias">
              
                  <div class="right-row-imagen-titulo">
                        <!-------------------------->
                         <div class="right-imagen">
                          {% if category.image %}
                         <img src="{{category.image.url}}">
                         {% endif %}
                         </div>

                        <div class="right-titulo">
                        <a href="/recetas-dieteticas/categoria/{{ category.slug }}"> 
                        <h1>{{ category.name }}</h1>
                        </a>
                        </div>
                        <!--------------------------------->
                  </div>    
            
           </div>
            {% endfor %}
           <!----------------------------------------A--------->
          

        </div>
        </div>
      <!----------------------------------------------------------------->



      <!---------CIERRE DIV DOS COLUMNAS------------------------------------------------------>
      </div>

  </div>


            <!--FIN DIS DOS COLUMNAS-CONTIENE LOS POSTS Y EL ASIDE-->
    {% endblock ultimos_posts %}
    <!------------------------------------------------------------------------------------------------------------->
    <hr>


    <!-----------------------RECETAS SALUDABLES------------------------------------------------------------------------>
    {% block primero_recetasaludable %}
        <div class="titulo">
            <div class="vacio"></div>
            <div class="escrito">
              <a href="{% url 'appfood:recetas-saludables' %}"> 
              <h1>Recetas Saludables</h1> </a> 
              <p>deliciosas recetas, gastronomia internacional .</p>                         
            </div>
            <div class="vacio"></div>
       </div>

          <!--R4SPONSIVE IMAGEN MOVIL EMPEZANOD EL POST DE RECTAS SALUDABLES------------------------->
        <div class="plan-total-alimentacion">
            <!--RESPONSIVE---->
            {% for receta in receta %}
            <div class="plan-imagen-responsive">
            {% if receta.imagefront %}
            <img src ="{{receta.imagefront.url}}" >
            {% endif %}
              <a href ="{% url 'apprecetas:receta' receta.slug %}">
              <h1>{{receta.title}}</h1>
              </a>
            </div>
            {% endfor %}
            <!---FIN RESPONSIVE------------------------------------------->
            
        <!---IMAGEN Y POST PEQUEÑOS------------------------------->
        <div class="plan-alimentacion">

                {% load mptt_tags %}
                {% for receta in recetas %}
                <div class="plan-post-alimentacion"> 
                      <!---IMAGEN------------------->
                       <div class="plan-post-imagen">
                        {% if receta.imagefront %}
                        <img src="{{receta.imagefront.url}}" width="100%"  class="" alt="" >
                        {% endif %}
                       </div>
                       <!--------TITULO DE LA FOTO----->
                       <div class="plan-post-letra">
                        <a href="{% url 'apprecetas:receta' receta.slug %}">
                        <h1>{{receta.title|safe}}</h1>
                        </a>
                       </div> 
                 </div>      
                {% endfor %}
                <!--FIN PLAN POST ALIMENTACION----->

        </div>
        <!--FIN PLAN ALIMENTACION-------------->

        <!------------IMAGEN SOLA DE LAS RECETAS---------------->
          {% for receta in receta %}
          <div class="plan-imagen">
             {% if receta.imagefront %}
                       <img src ="{{receta.imagefront.url}}" >
                       {% endif %}
                       <a href ="{% url 'apprecetas:receta' receta.slug %}">
                       <h1>{{receta.title}}</h1>
                       </a>
           </div>
          {% endfor %}
      <!--FIN  IMAGEN SOLA GRANDE DE RECETAS----------------->
      </div>
       <!--FIN CONTAINER DE PLAN TOTAL DE ALIMENTACION----->
   {% endblock primero_recetasaludable %}
   <!--------------------------------------------------------------------------------------------------------->


  


  <!----SEGMENTO RECETAS DIETETICAS------------------------------------------------------- -->
      <!-- TITULO ----------------------------------------------------------3  --->
      {% block recetas_dieteticas %}
            <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito">
                 <a  href="{% url 'appfood:recetas-dieteticas' %}">
                  <h1>Recetas dietèticas</h1></a>
                  <p>batidos, ensaladas, veganos, vegetarianos...</p>
                </div>
                <div class="vacio">  </div>
            </div>

  
    <!------------------------------------------------->
    <div class="bloque-posts-ultimos">
        <!---ROW-------->
         <div class ="row-ultimos-y-categorias">        


          <!--FLOAT LEFT..TODOS LOS POSTS------->
          <div class="columna-left">

              <!---------FLOAT LEFT------------------------------------------>
              <div class="posts-ultimos-left">



                  <!---DEBE IR EN COLUMNA---->
                  {% for recipe in recipes %}
                  <div class="post-ultimo-encolumna">

                     <!----ROW---------------------------->
                      <div class="ultimo-imagen-titulo">
                 
                         <div class="post-ultimo-imagen">
                         {% if recipe.imagenfront %}
                         <img src ="{{recipe.imagenfront.url}}" >
                         {% endif %}
                         </div>

                         <!--TITULO Y DECSRIPCION---->
                         <div class="posts-ultimos-titulo">
                         <div class="post-ultimo-titulo">
                         <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}" >
                         <h1>{{recipe.title}}</h1>
                         </a>
                         <p>{{recipe.description|truncatewords_html:18|safe}}</p>
                       
                         <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}">
                         Leer mas...
                         </a>
                      
                         </div>
                         </div>
                         <!------------------------------------->
                      </div>
                      <!---------------FIN ROW--->
                      </div>
                     {% endfor %}
                    <!-----FIN POST-ULTMO-ENCOLUMNA---->



              </div>
              
              <!---------FIN--POSTS ULTIMOS LEFT------------------------------------------>
             </div>
            <!-- FIN--COLUMNA LEFT---------------------->
      
       <!--  --ASIDE------------------->
                    <div class="columna-right">
                       <div class ="columna-right-column">
                    </div>  
                  </div>
                 <!---CIERRE ASIDE SEUNDA----------------->     


          
                </div>            
            <!--FIN ROW------------------------>

            </div>
            <!----FIN BLOQUE ULTIMOS-------->
     {% endblock recetas_dieteticas %}
    <!-- FINAL TERCER SEGMMENTO DOS COLUMNAS EL SEGMENTO COMPLICADO --A--------------------------------------------------------------------------->



<!-------------------------------------------------------------------------------------------------------------->
   <hr>
     
                 
        <!------------    <p align="center"></p><dd>...</dd> --------------------- PLAN DE AIMENTACION ------------ -->
        {% block plandealimentacion %}
        <div class="titulo">
                <div class="vacio"></div>
                <div class="escrito">
                <a  href="{% url 'appfood:plan-comidas-saludables' %}" >
                <h1>Plan de alimentaciòn Saludable</h1></a>   
                <p>dietas, plan de comidas </p>
                </div>
                <div class="vacio"></div>
        </div>
     <!---EMPIEZA EL POST DE 4 POST Y UNA IMAGEN GRANDE--->
   <div class="plan-total-alimentacion">
                <!--RESPONSIVE--rIMAGEN RESPONSIVE------->
        {% for perderpeso in perder %}
        <div class="plan-imagen-responsive">
                        {% if perderpeso.imagefront %}
                       <img src ="{{perderpeso.imagefront.url}}" >
                       {% endif %}
                       <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                       <h1>{{perderpeso.title}}</h1>
                       </a>
       </div>
      {% endfor %}
         <!---FIN RESPONSIVE---IMAGEN RESPONSIVE------------->

     <!----------------4POST----------------------------------->
     <div class="plan-alimentacion">
              {% load mptt_tags %}
              {% for perderpeso in post_perder %}
              <div class="plan-post-alimentacion"> 
                    <div class="plan-post-imagen">
                    {% if perderpeso.imagefront %}
                    <img src ="{{perderpeso.imagefront.url}}" >
                    {% endif %}
                    </div>

                    <div class="plan-post-letra">
                    <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                  <h1>{{perderpeso.title}}</h1>
                    </a>
                    </div>    
              </div>
              {% endfor %}
    </div>
    <!---FIN DE LOS 4 POSTS---------------------------------->
    {% for perderpeso in perder %}
    <div class="plan-imagen">
         {% if perderpeso.imagefront %}
                       <img src ="{{perderpeso.imagefront.url}}">
                       {% endif %}
                       <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                       <h1>{{perderpeso.title}}</h1>
                       </a>
    </div>
      {% endfor %}
    </div>

              {% endblock plandealimentacion %}

  <!----------------------FIN PLAN DE ALIMENTACION----------------------------------------------->





   <!------------------------------------------------------------------------------------>

    <hr>


     

      <!------- DIETAS Y ALIMENTACION--------------------------------------------------->
      {% block dietas-alimento %}
            <div class="titulo">
                  <div class="vacio"></div>
                  <div class="escrito">
                  <a href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}">
                      <h1>Dietas Especiales y Alimentos saludables</h1>   </a>    
                        <p>
                      </p>
                                    
                 </div>
                 <div class="vacio"></div>
          </div>

     <!----CONTAINER DIETAS TOTAL DEL POST GRANDE CON 4 IMAGENES---------------------->
       <div class="plan-total-alimentacion">
              <!--RESPONSIVE--->
             {% for post in post%}
              <div class="plan-imagen-responsive">
              {% if post.imagefront %}
                       <img src ="{{post.imagefront.url}}" >
                       {% endif %}
                       <a href ="{% url 'appblog:post' post.slug %}">
                       <h1>{{post.title}}</h1>
                       </a>
             </div>
            {% endfor %}
            <!--FIN RESPONSIVE----->

       <!----CAJA PLAN ALIMENTACION CONTIENE LAS 4 IMAGENES CON SUS TITULOS----------------->
         <div class="plan-alimentacion">
                    <!--CAJA DE PLAN POST ALIMENTACION----->
                    {% load mptt_tags %}
                    {% for post in posts %}
                    <div class="plan-post-alimentacion"> 
              
                        <div class="plan-post-imagen">
                        {% if post.imagefront %}
                        <img src ="{{post.imagefront.url}}" >
                        {% endif %}
                        </div>

                        <div class="plan-post-letra">
                        <a href ="{% url 'appblog:post' post.slug %}">
                        <h1>{{post.title}}</h1>
                        </a>
                       </div>
                   </div>          
                  {% endfor %}
                 <!--FIN PLAN POST ALIMENTACION------->

         </div>
         <!-------FIN PLAN ALIMENTACION---------------------------------------------->

         <!---CONTAINER IMAGEN SOLA-------------------------->
              {% for post in post%}
              <div class="plan-imagen">
              {% if post.imagefront %}
                       <img src ="{{post.imagefront.url}}" >
                       {% endif %}
                       <a href ="{% url 'appblog:post' post.slug %}">
                       <h1>{{post.title}}</h1>
                       </a>
             </div>
           {% endfor %}
        <!---FIN IMAGEN SOLA----------------------------------------------------------->
    </div>

 {% endblock dietas-alimento  %}
         
 
   <!------------------------------------------------------------>

   {% endblock content %}

    {% block paginacion %}
      {% endblock paginacion %}


<!--OCTAVO SEGMENTO  PORTADA EN MOVIMIENTO------------------------------------------------------------>
<!--CIERRE  OCTAVO SEGMENTO  PORTADA EN MOVIMIENTO------------------------------------------------------------>




<!--NOVENO SEGMENTO  TEXTO ANIMADO------------------------------------------------------------>
<!--FINAL NOVENO SEGMENTO  TEXTO ANIMADO------------------------------------------------------------->


 <!-- FOOTER TOTAL PRIMERO ESTA DENTRO DEL CONTAINER DE CONTENIDO------------------------------------------>
         
 <!-- FINAL FOOTER  FOOTER PRIMERO ESTA DENTRO DEL CONTAINER DE CONTENIDO------------------------------------------>

  