{% load static %}
{% load menu %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{% block titulo %}Acerca de Nosotros{% endblock titulo %}</title>
  

       <!----COLOR DE LA BARRRA URL----------------------------------------->
     <!---PROBAR EN ANDROID--->
      <meta name="viewport" content="width=device-width"> 
      <meta name="mobile-web-app-capable" content="yes">   
       <!----------------------->
     <!-- iba manifest.json" > -->
     <!---------------AQUI CAMBIADO #ffffff------->
     <meta  nombre ="msapplication-TileColor"  content = "#568632" > 
     <meta  name = "msapplication-TileImage"  content = "/ms-icon-144x144.png" > 
     
     <!--Chrome Firefox OS y Operac–-->
     <meta name="theme-color" content= "#568632">
      <meta name="theme-color" content="#568632"/> 
     <!--iOS Safari-->

     <meta name= "apple-mobile-web-app-status-bar-style" content= "#568632">

     <!--Windows Phone-->

    <meta name= "msapplication-navbutton-color" content= "#568632">

     <meta name= "apple-mobile-web-app-status-bar-style" content="black-translucent">

     <meta name= "apple-mobile-web-app-status-bar-style" content="black"> 

      <!-- Windows Phone --> 
     <meta name="msapplication-navbutton-color" content="#568632"> 
     <!-- iOS Safari --> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
    <!------------------------------------------------------------------->







    <!-- STILOS -->
    <link rel="stylesheet" href="{% static 'appfood/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'appfood/css/nosotros.css' %}">
    <link rel="stylesheet" href="{% static 'appfood/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'appfood/css/responsivenosotros.css' %}">
    <link rel="shortcut icon" href="{% static 'appfood/img/favicon/android-icon-192x192.png' %}"/>

    <style type="text/css" media="screen">
        A:link {
            color: black;
            font-size: ;
            font-family: ;
            text-decoration: none
        }

        A:hover {
            color: black;
            font-size: ;
            font-family: ;
            text-decoration: none
        }

        A:visited {
            color: black;
            font-size: ;
            font-family: ;
            text-decoration: none
        }
    </style>

      <!-- ICONOS -->
      <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

     <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

      <!-- COOKIES-----------------COOKIES-------------- -->
      
    <!--------SCROLL MENU------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>


      <!-- SCRIPT PARA CABECERA FIJA---ROBAR A BORRAR ----------------------------- -->
              <script src="https://code.jquery.com/jquery-latest.js"></script>

  
      <!-- GOOGLE FONTS----------------------------------------------->

         <link
        href="https://fonts.googleapis.com/css?family=Archivo+Black|Artifika|Bai+Jamjuree|Cabin|Merienda|Roboto+Condensed|Satisfy&display=swap"
        rel="stylesheet">
</head>
    <body>
    <!-- CONTAINER GENERAL  -->
    <div id="wrapper">
        <header>
 
            <div class="cabecera">

                <div class="icon-social">
                         <ul class="social2">
                         <li> <a href="malito:contacto@foodingemotion.com" target="_blank">
                                <i class="far fa-envelope"></i> </a></li>
                          <li> <a href="https://www.facebook.com/emotionsfood/?ref=settings" target="_blank"><i
                                    class="icon fab fa-facebook-f"></i> </a></li>
                          <li> <a href="http://twitter.com/foodingemotion" target="_blank">
                                <i class="fab fa-twitter"></i> </a></li>
                          <li> <a href="http://instagram.com/foodingemotion" target="_blank">
                                <i class="fab fa-instagram"></i> </a></li>
                         </ul>
                  </div>


                  <div class="logo">
                  <a class="{% active 'appfood:index' %}" href="{% url 'appfood:index' %}">
                  <img src="{% static 'appfood/img/logo/981-219-logo-nosotros.png' %}" alt="Food Emotions">
                  </a>
                  </div>

              
                  <div class="suscribe">
                  <a href="{% url 'appcontact:contacto' %}">   
                  <h4>suscribete</h4>  
                  </a>
                  </div>
                  <!-----FIN  BOLETIN -------------->


             </div>  
            <!-----FIN  CABECERA------------------------------------------------------------------------------------->


  <!---CABECERA RESPONSIVE------------------CABECERA--RESPONSIVE---CABECERA--RESPONSIVE------->
<div class="cabecera-responsive">

            <div class="logo">
            <a  href="{% url 'appfood:index' %}">
            <img src="{% static 'appfood/img/logo/739-153-logo.png' %}" width="100%" alt="Fooding Emotion"> 
            </a>
            </div>
            <!---------------------------------------------------------------------------->
       
           <!-------------------------------------------------------->
          <div id="controls">
          <form class="buscador" method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
          <!------------------------------------------------------------------>
                    <div id="custom-search-input-header">
	                  <input id="ducks" type="text"  name="q" 
                    value= "{{ request.GET.q }}" class="sin-borde" 
                    placeholder=  " Buscar en Foodingemotion.com  " autocomplete="off" >
                    <!---------------------------------------------------------------->             
                    <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                    <span class="icon"><i class="fa fa-search"></i></span> 
                  </button>
                  </div>
                <!--------------------------------------------------------------------->
        </form>                 
        </div>
        <!---------------------------------------------------------------->
            <div class="suscribe">
            <a href="{% url 'appcontact:contacto' %}"  style="text-decoration: none">     
            <h4>SUSCRIBETE</h4>  
            </a>
            </div>
      <!------------------------------------------------------------------------->
      
      <!------------------------------------------------------------------------->
                    <div class="menu-btn"> 
                     <!---------------MENU RESPONSIVE -------------->
                     <div class="hamburguesa">
                     <div class="menu-btn__burger">  </div>
                     </div>
                        <!----FIN  MENU RESPONSIVE ------->        
                   </div>
                  <!----FIN  MENU BTN------>


      </div> 

   <!---FIN CABECERA RESPONSIVE FIN CABECERA RESPONSIVE ------------------------------>
     
<nav>
    <!----------------NAVEGACION---EN PAGINA ORDENADOR Y---RESPONSIVE---------------------------------------------------->
      
               <!---------------------------------->
                <div class="logo-esconder"> 

                      <div class="logo-en-menu-responsive">
                       <a class="estilo-logo" href="{% url 'appfood:index' %}">
                       <img src="{% static 'appfood/img/logo/739-153-logo.png' %}" width="100%" alt="Food Emotions"> 
                       </a>
                      </div>

                      <div class="emoticon">
                     </div>

                      <div class="suscriptor">
                      <a class="estilo-logo" href="{% url 'appcontact:contacto' %}"  style="text-decoration: none">     
                      <h4>SUSCRIBETE</h4>  
                      </a>
                     </div>
                    
                </div>
               <!------------------------------------------>

             <!---------------------------------------->
             <div class="buscador-esconder"> 
              <form class="d-flex" method = "GET" action= "{% url 'appblog:search' %}" value= "{{ request.GET.q }}"> {% csrf_token %}
                  <!------------------------------------------------------------------>
                    <div id="custom-search">
	                  <input type="text"  name="q" 
                    value= "{{ request.GET.q }}" class="sin-borde" 
                    placeholder=  " Buscar en Foodingemotion.com  " autocomplete="off" >
                    <!---------------------------------------------------------------->             
                    <button type="submit" name="submit" class="boton btn-succes" value="Search" >
                    <span class="icon"><i class="fa fa-search"></i></span> 
                  </button>
                  </div>
                <!--------------------------------------------------------------------->
               </form>                 
           </div>
           <!--------------------------------------------------->




 
           <ul class="nav">
               
                <li> 
                <a class="{% active 'appfood:index' %}" href="{% url 'appfood:index' %}" >Inicio </a>      
                </li>


                 <!---------LI DEL MOVIL---------------------------------------------->
                 <li class="li-movil"> 
                 <a class="{% active 'appfood:recetas-saludables' %}"  a href="{% url 'appfood:recetas' %}">
                 Recetas 
                 <i class ="fa fa-caret-down"></i>
                 </a>
                 </li>
 
                <!--------------LI DE PANTALLA GRANDE--------------------------------------------------------------->
                <li class="li-pc"> 
                <a class="{% active 'appfood:recetas-saludables' %}"  a href="{% url 'appfood:recetas-saludables' %}">
                Recetas 
                <i class ="fa fa-caret-down"></i>
                </a>


                      <ul class="submenu-responsive">  
                      <li>
                      <a href="{% url 'appfood:recetas-saludables' %}">Todas las recetas</a>
                      </li>
                      
                      {% load mptt_tags %} 
                      <!-- CATEGORIAS------->
                      {% for kategory in kategories %}
                      <li>
                      <a href="/recetas-saludables/categoria/{{kategory.slug }} "style="text-decoration: none">
                      {{ kategory.name }}</a>
                      </li>
                     {% endfor %}
                    </ul>


                </li>
                <!------------------------------------------------------------------------------------>


                
                <li >
                <a class="{% active 'appfood:recetas-dieteticas' %}" href="{% url 'appfood:recetas-dieteticas' %}">Recetas dieteticas</a>
                </li>

                  <li> 
                <a class="{% active 'appfood:plan-comidas-saludables' %}" href="{% url 'appfood:plan-comidas-saludables' %}">Plan Comidas Sanas</a>
                </li>


                <li > 
                <a class="{% active 'appfood:dietas-especiales-y-alimentacion-saludable' %}" href="{% url 'appfood:dietas-especiales-y-alimentacion-saludable' %}"> Dietas y Alimentacion Sana  </a> 
                </li>

                

                <li> 
                <a class="{% active 'appfood:noticias-turismo-gastronomico' %}"  href="{% url 'appfood:noticias-turismo-gastronomico' %}">Turismo</a>    
                </li>
              
             
   
              <li> 
              <a class="{% active 'appfood:contacto' %}">
              Contacto
              <i class ="fa fa-caret-down"></i>
              </a> 
                

                <ul>
               
               <li> 
                <a class="{% active 'appcontact:contacto' %}"  href="{% url 'appcontact:contacto' %}">Contacto
                </a> 
                </li>

                <li> 
                <a class="{% active 'appfood:nosotros' %}"  href="{% url 'appfood:nosotros' %}">Nosotros
                </a> 
                </li>
                </ul>

                
                </li>  


           </ul>
          
           <!------------------------------------------------------------------->
             <div class="siguenos">

             
                                     <ul class="red-social">
                                     <h1> Siguenos</h1>
                                     <li> 
                                     <a href="malito:contacto@foodingemotion.com" target="_blank"> <i class="far fa-envelope"></i> </a>
                                     </li>
                                     {% if LINK_FACEBOOK %}
                                     <li> 
                                     <a href="{{LINK_FACEBOOK}}" target="_blank"><i class="icon fab fa-facebook-f"></i> </a>
                                     </li>
                                     {% endif %}
                                     {% if LINK_PINTEREST %}
                                     <li> 
                                     <a href="{{LINK_PINTEREST}}" target="_blank"> <i class="fab fa-pinterest"></i> </a>
                                     </li>
                                     {% endif %}
                                     {% if LINK_INSTAGRAM %}
                                    <li> 
                                    <a href="{{LINK_INSTAGRAM}}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                    </li>
                                    {% endif %}
                                    </ul>
                                
                        </div>
                        <!------------------------------------------------------>

             </nav> 

 
      </header>

                <!---FINAL NAV------------------------------>

    <!-- CONTAINER GENERAL SEGUNDO  -->
    <div id="container-nosotros">

   
            <!-----FIN  NAVEGATION-------------------------------------------------->

          <div class="tres-columnas-nosotros">
              <!-- PRIMERA COLUMNA DE LOS CONTENIDOS-->
              <section class="nosotros">

                    <!-- primera caja-->
                    <div class="articulo">
                        <h1><strong><u>nuestra historia</u></strong></h1>
                        <p> Fooding Emotion, es un projecto concebido cuando me inicié en el mundo de la cocina.
                         Mi pasión por la cocina primero como aficonado y luego a nivel profesional, 
                         me llevo a descubrir sabores exóticos y mesclarlos con el sabor mediterráneo,
                         vengo de una familia de cocineros aficonados que conservamos las recetas tradicionales,
                         todo esto me llevo a crear
                         crear esta revista gastronómica junto a un equipo de colaboradores, como parte de una 
                        memoria imborrable de la cocina fusionando lo mejor de la tierra 
                        con lo mejor del mar en platos sencillos pero muy sabrosos.
                        <br>
                        <br>
                        En Fooding Emotion podeis ver todo de tipo de cocina, 
                        aunque lo que más me gusta es la cocina tradicional, sobre todo la 
                        la italiana, japonesa y peruana. 
                       <br>
                       <br>
                      Dentro de la web  también podeis encontrar 
                      una sección dedicada sobre recetas propias y otras tradicionales, 
                      recetas de todas partes del mundo,
                      como tambièn recetas dieteticas, para bajar de peso , por intolerancias,
                      recetas vegetarias o veganas, como también plan de comidas para perder peso, 
                     o ganar masa muscular, o baja en calorias, etc
                     <br>
                     <br>
                     Quiero compartir con vosotros este viaje culinario, platos 
                    exóticos y mediterraneos como una ceviche, una boloñesa tradicional, 
                    un salmorejo, etc, Espero os guste!
                    </p>
                  </div>

                    <!-- segunda caja-->

                    <section class="dos-imagenes">
                        <div class="foto"><img src="{% static 'appfood/img/nosotros/300-280nos.jpg' %}" width="100%" /> </div>
                        <div class="foto"><img src="{% static 'appfood/img/nosotros/300-280.jpg' %}" width="100%" /> </div>
                    </section>


                    <!-- tercera caja-->
                    <div class="blockquote">
                         <blockquote>
                         <h3><em> Mi pasiòn por la cocina..
                         Mi realizaciòn profesional, una forma de pasarlo bien, 
                         riendo, aprendiendo, experimentando y también,
                         claro, equivocándome.
                         Sabiendo que siempre hay cosas que quedan
                         por descubrir: sabores, productos, técnicas…
                         Apoyándome en mi bagaje teórico y práctico e improvisando 
                         con ingredientes que encuentro entre la nevera y la despensa.
                         Buscando un equilibrio entre sabores. Por ejemplo, 
                         compensando con sabores ácidos o frescos los más grasos,
                         para lograr más niveles de sabor en el plato, 
                         consiguiendo mayor equilibrio.</em> </h3>
                        <p class="color:#000"> --Armando Autieri,<span class="otroestilo">Fooding Emotion, Fundador.</span></p>
                        </blockquote>
                    </div>

                       
        <!----width="495" height="320" ---------------->
        <!-- cuarta caja-->
          <div class="dibujo">
          <img src="{% static 'appfood/img/nosotros/495-320.jpg' %}" />
          </div>

          <!-- quinta caja con dos columnas----------->
          <section class="articulo-dos">
               <div class="articulo-dos-uno">
               <h1>En el aprendizaje</h1>
               <p> 
              Cocinar es un proceso de aprendizaje continuo que si te apasiona 
              nos estimula a investigar permanentemente. Es como tirarse a 
              un abismo que nunca se acaba.  Gran parte de mi tiempo
              de los últimos años los he dedicado a investigar, leer, aprender y poner en práctica
              técnicas de cocina – tanto clásicas como nuevas: ahumar, fermentar, 
              cocinar al vacío… – revisando, cuestionando y repensando lo que hago
              y por qué lo hago así. Además me interesa muchísimo la cocina asiática
              y los ingredientes que usan. Aunque muchas veces los uso de distinta
              forma: intento darles aplicación a una cocina que ni es sólo de 
              aquí ni de allí. Y llevo desde 2011 dando clases en distintas
              escuelas de cocina de Madrid.
              </p>
              </div>

              <div class="articulo-dos-uno-vacio"> </div>
              <div class="articulo-dos-uno">
              <h1>Nunca se acaba de aprender</h1>
              <p>
              El juego es una parte importante en el proceso educativo. 
              Jugar también es pasárselo bien, disfrutar. Y jugar con los sabores
              es educar el paladar, el sentido del gusto, con recetas de siempre y
              con algunas que intentamos renovar.

             Este blog nació sin grandes pretensiones pero con mucha ilusión. 
             Iremos actualizándolo  con recetas fáciles e imágenes atractivas
             es para nosotros un reto que empezó, con mucha ilusión.
             Aunque con el tiempo se ha ido haciendo más complicado, y nos gustaría que participaran en esta aventura con vuestras sugerencias.

            Por eso, estaremos encantadas de que os pongáis
            en contacto con nosotras si creéis que podemos ayudaros en algo
            o si queréis intercambiar algún tipo de idea o hacernos alguna
            sugerencia, pero no responderemos a los mensajes anónimos
            en los comentarios.
            </p>
            </div>
            </section> <!-- cierre de la quinta caja con dos columnas-->


            </section> 
          <!-- cierre de NOSOTROS primera columna de contenidos-->
          <!-- FINAL PRIMERA COLUMNA SECTION ARTICULO Y FOTOS----------------------------------------------------------------------------------------->

          <!-- SEGUNDA COLUMNA ------------------>
          <div class="fijo1">
          </div>
          <!-- FINAL  segunda columna......................-->

       <!-- TERCERA COLUMNA FIJA  > -->
          <div class="fija">
          <section class="imagen-estatica">
          <img src="{% static 'appfood/img/nosotros/1080-1080.jpg' %}" width="100%"/>
          </section>
          </div>




               

            </div> <!-- FINAL TRES CLUMNAS-->
        <!------------------COOKIES------------------------------------------->
          <div class="popup-overlay">
  <div class="popup">
    <p>Utilizamos cookies propias y de terceros para mejorar servcios.
       Mas informacion en Politicas de Cookies.</p>
      <a class="termino" style="color:#115cfa;" href="{% url 'appfood:politica-cookies' %}">Politicas de Cookies</a>
 
     <a href="javascript:;" class="submit">Aceptar</a> 
       <a href="javascript:;" class="close">Cerrar</a>
  </div>
</div>

<!--DIV CIERR DEL CONTAINER---->
    </div>
  

            <!-- horizontal debe de ser-->
            <div id="footer1">
                    <div class="footer-second1">
                    <p> <a href="https://www.foodingemotion.com" target="_blank">© foodingemotion.com  </a> 
                     &nbsp;  &nbsp; 2022 &nbsp;    Fooding Emotion, Todos los derechos reservados.
                   </p> 
                  
                   </div>
            </div>

        <!-- FINAL CONTAINER-------------------------------->
            <!----------------------------------------------------------------------------------->
    
     <script src="{% static 'appfood/js/cookies.js' %}"></script>
     <!------------------------------------------------------------------------------------------>

           <!-- MENU PARA DESPLAZAR LAS OPCIONES DEL MENU-->
              <script src="{% static 'appfood/js/menuResponsive.js' %}"></script>
                   <script src="{% static 'appfood/js/menuAspaArticulo.js' %}"></script>


      <!-- FINAL WRAPPER-->
    </div>



</body>

</html>


