{% extends 'appfood/base.html' %}
{% load static %}

{% block titulo %}Recetas dieteticas{% endblock titulo %}



       {% block content %}


        {% block portada %}
        <div class="portada">


          <!-- IMAGEN-->
        <section class="portada-img">
        <img src="{% block imagen %}{% static 'appfood/img/slider/1300-345zumo.jpg' %}{% endblock %}"  class="slider__img">
        <!-- FIN IMAGEN-->  

                <!---MENU SIMPLE DE LA PAGINA --->       
                <div class="portada-img2">  

                <!-------------------------------------------------------->
                     <div id="menu-simple">
                     <ul>
                     <li>
                     <a href="{% url 'appfood:index' %}"  >
                     <p>Inicio<i class="right"></i></p>
                     </a>
                     </li>
                     <li>
                     <a href="{% url 'appfood:recetas-dieteticas' %}"> 
                     <p>Recetas Dieteticas <i class="right"></i></p>
                     </a>
                     </li>
                     <li >
                     {% for receta in post_receta %}
                     <p>{{ receta.kategory }}<i class="right"></i></p></em>
                     {% endfor %}
                    </li>
                     </ul>
                    </div>   
                  <!-------------------------------------------------------------------->

                  <h1>RECETAS DIETETICAS</h1>
                  <p>comer sano y delicioso es posible!</p>
                </div>               
                <!-- FIN PORTADA IMG2-->
          </section>
          <!---FIN SECTION PORTADA IMG-->


   <!------------------PORTADA IMAGEN RESPONSIVE MOVIL Y IPDO--------------------------------------------------------------------------->
   <section class="portada-img-responsive">
              <!----------IMAGEN-----DEL MOVIL---------------->
              <div class="imagen-responsive-movil">
              <img src="{% block img %}{% static 'appfood/img/slider/640-450recetadietaresponsivemovil.jpg' %}{% endblock  %}" >
              </div>
             <!----IMAGEN DEL IPOD------>
              <div class="imagen-responsive-ipod">
              <img src="{% block imag %}{% static 'appfood/img/slider/760-360batidoipod.jpg' %}{% endblock  %}" >
              </div>
              <!-- FIN IMAGEN-------------------->

             <!-- LETRAS----------------------->
             <div class="portada-img3-responsive">
                
                <!--MENU SIMPLE RESPONSIVE---->
                 <div id="menu-simple-responsive">

                  <!----UL SCROLL--->
                  <ul>
                  <li>
                  <a href="{% url 'appfood:index' %}"  >
                  <p>Inicio<i class="right"></i></p>
                  </a>
                  </li>
                  <li>
                  <a href="{% url 'appfood:recetas-dieteticas' %}"> 
                  <p>Recetas Dieteticas <i class="right"></i></p>
                  </a>
                  </li>
                  </ul>
                  <!---FIN UL SCROLL--->
                 </div>
                <!--FIN MENU RESPONSIVE--->

              <h1>RECETAS DIETETICAS</h1>
              <p>comer sano y delicioso es posible!</p>
              <!-- <img src="{% block imagen7 %}{% static 'appfood/img/foodemotions.png' %}{% endblock  %}" class="slider__img">--->
              </div>
      </section>

   <!---FIN SECTION PORTADA RESPONSIVE MOVIL Y IPOD --------------------->

            </div>    
          {% endblock portada %}


                           {% block buscador-search %}   {% endblock buscador-search %} 
                          
               

              

   
    
        <!---DIV DE 4 POST DE PERDERPESO--->  
        {% block imagenes-categorias %} 
         <div class="categorias-subcategorias">

            <!--caja-----------------------------------2--->
            <div class= "endfor">  


              <!-- SUBCATEGORIAS ---->
                <!---------------------&lt;----------FLECHA LEFT NAV----------------------2------->
         

                  <!----------------------------------------------------------->
                  <ul class= "ulhorizontal">
                    {% load mptt_tags %} 
                    {% for category in categories %} 
                    {% if not node.is_leaf_node %}  
                            <li  class ="lihorizontal">
                            <!--------------------------------------------------->
                            <a href="/recetas-dieteticas/categoria/{{ category.slug }}">
                            {% if category.image %}
                            <img src ="{{category.image.url}}" style="width:100%">
                                    
                            <a href="/recetas-dieteticas/categoria/{{ category.slug }}">
                            <h1>{{ category.name|linebreaksbr|truncatechars:33}}</h1>
                            </a>
                            <!------CATEGORIA RESPONSIVE--------------------->
                            <a href="/recetas-dieteticas/categoria/{{ category.slug }}">
                            <h2>{{ category.name|linebreaksbr|truncatechars:33}}</h2>
                            </a>



                            {% endif %}
                            </a>
                            <!--------------------------------------------------->
                     
                    
                            </li>
                              
                   
                      {% endif %}
                      {% endfor %}
                      </ul>
                       <!--FIN CAJA SCROLLMENU------------------------1----> 

     
             <!------FLECHA------------------------------------>
               
              <!--------------------------FLECHA--------------------------.-----2---->

             </div>
             <!---------------endfor----------------------------2--->
   
       </div>
       <!--FIN CAJA DE CATEGORIAS DE RECETAS------ -->
           {% endblock imagenes-categorias %} 



      <!---------------------------------------------------------->
                   
                <!--  TITULO------------------------------------------------>
      <div class="titulo-otras-paginas">
          
             <!-- PARRAFO ANIMADO--------------data-anime="top"------------------------------------>

         <h1>Recetas Dietèticas</h1>
      
     
     
      </div>
    <!------------------------------------------------------------------------------------------>


  
    <!---DIV DE 4 POST DE RECiPES ZUMOS Y ENSALADAS--->                     
       {% block recetas %}
     <div id ="container-recetas">

          <!---FLEX ROW-------------------------->
          <div class="container-recetas-aside"> 

          <!--------FLOAT LEFT------------------>        
           <div class="recetas-bloque">
                <!---FLOAT COLUM--------------->
                {% for recipe in posts %}
                <div class="recetas-column">


                 <!--------------------------------------------->
                
                
                <!---FLEX ROW--------------------------->
                <div class = "receta-imagen-descripcion">
                    <!----------------------------------------->   
                    <div class="receta-imagen">
                      {% if recipe.image %}
                      <img src ="{{recipe.image.url}}" style="width:100%">
                      {% endif %}
                      </div>
                      <!---------------------------------->

                      <!----------------------------------->
                      <div class="receta-descripcion">
                      <div class ="receta-descripcion-columna">
                      <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}">
                      <h1>{{recipe.title}}</h1></a>
                      <p>{{recipe.description|truncatechars:60|safe}}</p> 
                      </a>
                      <a href ="{% url 'apprecetasalzum:receta' recipe.slug %}" class="arrow1">LEER MAS<span class="arrow-right"></span>
                      </a>     
                      </div>
                  </div>
                  <!-------------------------------------------------> 
          </div>    
            <!--FIN RECETA IMAGEN DESCRIPCION----------------------------->






         
        </div>
        {% endfor %}
        <!---FIN DIV RECETAS COLUMNA--->
    </div>
    <!---FIN RECETAS BLOQUE------------------->
          



             <!---FIN E ------------------------------>
           <div id="aside-receta">
           <div class="aside">
            holaa
           </div>
           </div>
            
           <!------------------------------------------------------------->

    </div>
    <!---FIN CONTAINER ASIDE---->

    </div>
    {% endblock recetas %} 
      <!--- FIN CONTAINER RECETAS---------------------------------------------------------------> 

        {% block noticias-turismo %}  
       {% endblock noticias-turismo %}
         {% block primero_recetasaludable %}
       {% endblock primero_recetasaludable %}

 

       {% block recetas_dieteticas %}  
         {% endblock recetas_dieteticas %}  


   {% block plandealimentacion %}
      {% endblock plandealimentacion %}

               {% block dietas-alimento %}
                {% endblock dietas-alimento %}

                {% block quinto_perder %}
                {% endblock quinto_perder %}




 
 

  {% endblock content %}

   {% block sexto %}{% endblock sexto %}
  {% block septimo %}{% endblock septimo %} 
{% block texto-animado %}{% endblock texto-animado %}