 {% extends 'appfood/base.html' %}
{% load static %}
{% block titulo %}Fooding Emotion: Recetas Saludables, Alimentacion Saludable{% endblock titulo %}
 
  <!-- SLIDER ---------------------------------------------------------------------->
  
   {% block content %}
 



  <div id ="container"> 




   <div id="submenu">
   <h1>Recetas Saludables</h1>
    <h2> <a href="{% url 'appfood:recetas-saludables' %}">Ver Todas las recetas</a></h2>

             <ul>           
         
                    {% for kategory in kategories %}    
                        <!-- LAS CATEGORIAS------->
                     
                        <li>

                        <a href="/recetas-saludables/categoria/{{kategory.slug }} "style="text-decoration: none">
                          {{ kategory.name }}</a>
                          
                       </li>
                    {% endfor %}
                      </ul>
  


  </div>
  </div>
  
    {% endblock content %}

 {% block sexto %}{% endblock sexto %}
  {% block septimo %}{% endblock septimo %} 
{% block texto-animado %}{% endblock texto-animado %}
{% block footer %} {% endblock footer %}