{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block title %}Categoria Plan de Comidas Saludables{% endblock %}  
 
 


              <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
     {% block content %}           
     <div id ="container-categorias-subcategorias">                                  
          <!--  CAJA DE MENU DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
               
           <!--------------------------------------------------------------->
           <div class="intro">
                <div class="menu-introescrito">
                      <!--MENU-->
                      <div class="menu">
                      <div class="menu-scrolling">
                      <ul>
                      <li>
                      <a href="{% url 'appfood:index' %}">
                      Inicio<i class="right"></i>
                      </a>
                      </li>

                      <li>    
                      <a  href="{% url 'appfood:plan-comidas-saludables' %}">
                      Plan de comidas saludables<i class="right"></i> 
                      </a>
                      </li>


            
                    <!--MENU ESCONDIDO -CATEGORIAS------------------>
                    <li>
                    <p>Categorias<i class="right"></i>
                    </p>
                    <ul>

                    {% load mptt_tags %}
                    {% for categoria in categories %} 
                    <!--CATEGORIA-SUBMENUS--> 
                    <li>
                    <a href="/plan-comidas-saludables/categoria/{{ categoria.slug }}">
                    {{categoria.name}}
                    </a>    
                    </li>
                    {% endfor %}

                    </ul>
                    </li>
                    <!---FIN MENUS ESCONDIDO CATEGORIAS---->


                     <!------------------------------------>
                      <li>
                      {% load mptt_tags %}
                      {% for perderpeso in category_deals %}
                       <p>{{category_deals.get}}<i class="right"></i><p>
                     
                      {% endfor %}
                      </li>
                      </ul>
                     </div>
                     <!--fin del menu scrolling--->
                      </div>
         <!--FIN MENU--------------------------------------------------------------------------->


         <!--------------------------TITULO DE LA CATEGORIA--------------------------------------------------------------------->
                                <div class="introescrito">
                             
                               <!--  TITULO--CATEGORIA---> 
                                <div class="menu-intro-titulo">  
                                 <h1>{{kategoria}}</h1>
                                </div>
                           
                              <!---FIN TITULO CATEGORIA--->        
                               </div>
         <!-------------------------------------------------------------------------------------------------->

                      </div>
        <!-- FIN DIV MENU INTRO ESCRITO----------------------------------->





                      <div class="intro-dos-vacios">
                      <!-----VACIO--ESPACIO----->
                       </div>
                      <!--------------------------------->

         </div>
          <!---FINAL INTRO-------------------------------------------------->

         </div>
         <!---FIN DIV SUBCATEGORIA PERDER---------------------------------->


      <!-----SUBCATEGORIAS MENU------------------------------------->
      <div id="texto-slider">
           <div class="caja-texto-slider">
            <!--TITULO DE LAS CATEGORIAS-->
         
               <div class="leftNav"><span class="arrow-left">&#129120;</span></div> 
                 <ul class="scrollmenu">    
                    {% for categoria in category_deals %}
                    {% if not node.is_leaf_node %}
                    {% for child in categoria.get_children %}
                    <li> 
                    <!-- SUBCATEGORIAS ---->
                    <a href="/plan-comidas-saludables/subcategoria/{{ child.slug }}">
                    <h3>{{ child.name }}</h3>
                    </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                 </ul>
                <div class="rightNav"><span class="arrow-right">&#129122;</span></div> 
            <!--FIN SUBCATEGORY-->  
        </div>
    </div>
    <!------------------------------------------------------------------->
         <!--------------- FIN CAJA DE NAVEGACION DE LAS SUBCATEGORIA-PERDER------------------->




      <!---CONTAINER DE COLUMNA CATEGORIA Y ASIDE-->
        <div class = "container-posts-categorias">
           
            <div id = "posts-categorias-aside">
               <!--COLUMNA CATEGORIAS DE 70% -------->
               <div class="columna-categorias">
                    <!---DIV CONTAINER DE 4 POST Y DE RPLAN DE ALIMENTACION--->
                    {% load mptt_tags %}
                    {% for perderpeso in posts %}
                    <div class="por-categoria">

                            <!---------------------->
                            <div class="por-foto">                              
                           {% if perderpeso.image %}
                           <img src ="{{perderpeso.image.url}}">
                           {% endif %} 
                           </div>


                             <!------------------------------------------->
                             <div class="por-descripcion">
                             <a href="/plan-comidas-saludables/post/{{ perderpeso.slug}}">
                             <!-------TITULO POST PERDERPESO---------->
                             <h1>{{ perderpeso.title }}</h1>
                             </a>
                            <p>{{perderpeso.description|truncatechars_html:70|safe}} </p>
                            <a href ="/plan-comidas-saludables/post/{{ perderpeso.slug }}/" class="arrow1">
                            LEE MAS
                            <span class="arrow-right"></span>
                            </a>

                            <em><p>Categoria: {{perderpeso.categoria}} </p></em>                
                           </div>
                           <!-------------------------------------------->
                  
            </div>
           {% empty %}
            <p>No items</p>
           {% endfor %}

              
                 <!---FIN COLUMNA CATEGORIAS------->
                  </div>

                     <!-- 20% ASIDE --->
                    <div id="aside">  </div>
                    <!--FIN ASIDE 20%--->

                    </div>
                    <!---FIN DIV QUE DIVIDE COLUMNA Y ASIDE---->
           </div>
           <!--100% FIN DEL POSTS CATEGORIAs--->
            
 


  {% endblock content %}












                           
 













                 










                        

    



       
