{% extends 'appblog/articulo_base.html' %}
{% load static %}
{% block title %} {{ object.some_varyable_from_query }}{% endblock %}
  

              <!----------DE LA PAGINA SEARCH----------------->
             {% block buscador-search %}       {% endblock buscador-search %} 

             {% block container-search %}  {% endblock container-search %}
              <!--FIN --------DE LA PAGINA SEARCH----------------->

   {% block menusimple %}
                    <!-- PRIMER  SEGMENTO MENU SIMPLE-->
                    <div id="menu-simple">
                                     <ul >
                                     <li > <a href="{% url 'appfood:index' %}"  >
                                             <p>INICIO <i class="right"></i></p>
                                                 </a>
                                    </li>
                                    <li > <a href="{% url 'appfood:plan-comidas-saludables' %}"> 
                                     <p>Plan de Comidas Saludables <i class="right"></i></p>
                                              </a>
                                    </li>
                                    <li>
                                      {% for perderpeso in post %}
                                              <p>{{perderpeso.categoria}}<i class="right"></i></p>
                                                {% endfor %}
                                              
                                   </li>
                                  </ul>
                       </div>
                      {% endblock menusimple %}

    <!-- COLUMNA PRIMERA LE PUSE DOS DIVS QUE SON COLUMNA PRUMERA Y PRIMERA COLUMNA------------->
   <div class= "columna-primera">
         {% block content %}
         <div class="primera-columna">
                {% for perderpeso in post %}
                <!-- caja 1-------------------------->
                <div class="primer-articulo">
                    <p>{{perderpeso.published}}</p>
                    <!-- TITULO 1-----------------> 
                    <h1>  {{perderpeso.title}}</h1> 
                    <!-- DESCRIPCION--------------->              
                    <p> {{perderpeso.description}}</p> 
                    <!----------LINK PARA ACORTAR EL ARTICULO--------------------------->                                  
              </div>
                         <!------------------------------------------------------->
                         <div class="imagen-central">
                            <div class="redes">
                                <ul class="iconos-social">
                                <li> <a href="malito:contacto@emotionsfood.com" target="_blank">
                                <i class="fas fa-envelope"></i> </a> <br>
                                </li>
                                {% if LINK_FACEBOOK %}
                                <li> <a href="https://www.facebook.com/emotionsfood/?ref=settings" target="_blank">
                                <i class="fab fa-facebook-f"></i> </a> <br>
                                </li>
                                {% endif %}
                                <li> <a href="http://twitter.com/foodemtoions" target="_blank">
                                <i class="fab fa-twitter"></i> </a> <br>
                                </li>
                                <li> <a href="http://instagram.com/foodemtoions" target="_blank">
                                <i class="fab fa-instagram"></i> </a> <br>
                                </li>
                              </ul>
                           </div>

                          <!-- TENIA PROBLEMAS CON LA IMAGEN SALIA ERROR CON IF SE SOLUCIONO-->   
                          <div class="imagen-principal">          
                          {% if perderpeso.image %}
                           <img src="{{perderpeso.image.url}}" alt="" >
                          {% endif %}                         
                        </div>
                        </div>
      <!---------------------------FIN DE IMAGEN CENTRAL---------------------------->

              <!--- <div class="segundo-articulo" data-anime="top"---------------->
              <!-- caja 2-------------------------------------------------------->
              <div class="segundo-articulo">
              <!-- SUBTITULO 2------------------->
              <h1>{{perderpeso.titleone|safe}}</h1> 
              <p>{{perderpeso.contentone|safe}}</p>  
              </div>

               
              <!---------CONTENEDOR NARRATIVA------------------------------>
            
                    <!-- BLOCQUOTE--------------------------------------------------------->
                {% if perderpeso.narrativa %}
                <blockquote class="blockquote blockquote-bordered blockquote-quoted">
                <p class="blockquote-text"><em> {{perderpeso.narrativa|safe}}</em> </p>
                <p class="blockquote-text blockquote-text-credit">   </p>
                </blockquote>
               {% endif %}
                <!-- CIERR BLOCQUOTE---------------------------------------------->
         
                <!-----------CONTENDOR CURSIVA---------------------------->
                 {% if perderpeso.cursiva%}
                <div class="cursiva cursiva-quote">
                <p><em> {{perderpeso.cursiva|safe}} </em> </p>
                </div>
                 {% endif %}

      <!-------------PRIMERA SEMANA----------PLANES DE ALIMENTACION----------------------->
               <div class="semana">
                   <div class="imagen-semana">
                    {% if perderpeso.imagefirstweek %}
                    <img src="{{perderpeso.imagefirstweek.url}}" alt="">
                    {% endif %} 
                   </div>

                   <div class="imagen-semana-dos">
                    {% if perderpeso.imageprimerweek %}
                    <img src="{{perderpeso.imageprimerweek.url}}" alt="">
                    {% endif %} 
                   </div>

                    {% if perderpeso.titlefirstweek != Null %}    
                     <div class="titulo-semana">
                     <h2>{{perderpeso.titlefirstweek|safe}}</h2>
                    </div>
                   {% endif %} 

                    <div class="descripcion-semana">
                     {% if perderpeso.contentfirstweek %}
                     <p>{{perderpeso.contentfirstweek|safe}}</p>
                     {% endif %} 
                   </div>   
           </div>


          <div class="container-dia">
                      <!-- PRIMER DIA------------------------------>
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediauno|safe}}</h2>
                   </div>

                     <div class="imagen-dia">
                     {% if perderpeso.imagediauno %}
                    <img src="{{perderpeso.imagediauno.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diauno|safe}}</p>
                   </div>


              </div>
  <!--------------------------------------------------------------------------------------->

                   <!-- SEGUNDA DIA--------------------------->
                <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediados|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediados %}
                    <img src="{{perderpeso.imagediados.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diados|safe}}</p>
                   </div>

              </div>

                     <!--- TERCER DIA----------------------------->
              <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediatres|safe}}</h2>
                   </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediatres %}
                    <img src="{{perderpeso.imagediatres.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="dia">
                    <p>{{perderpeso.diatres|safe}}</p>
                   </div>

              </div>

                      <!-- CUARTO DIA------------------------>
       <div class="container-dia">
                     <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediacuatro|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediacuatro %}
                    <img src="{{perderpeso.imagediacuatro.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diacuatro|safe}}</p>
                   </div>

              </div>


                   <!---QUINTO   DIA------------------------------>
            <div class="container-dia">
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediacinco|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediacinco %}
                    <img src="{{perderpeso.imagediacinco.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diacinco|safe}}</p>
                   </div>

              </div>

                     <!---SEXTO DIA----------------------------->
                 <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaseis|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediaseis %}
                    <img src="{{perderpeso.imagediaseis.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaseis|safe}}</p>
                    </div>

               </div>

                      <!---SEPTIMA DIA--------------------------->
                <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediasiete|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediasiete %}
                    <img src="{{perderpeso.imagediasiete.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diasiete|safe}}</p>
                   </div>

              </div>
              <!-- quinta caja---------------------------------------------------->




                      
                <!------------SEGUNDA SEMANA-----------PLANES DE ALIMENTACION----------------------->
                <!-------------------------------->
              <div class="semana">

                    <div class="imagen-semana">
                    {% if perderpeso.imagetwotweek %}
                    <img src="{{perderpeso.imagetwoweek.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="imagen-semana-dos">
                    {% if perderpeso.imagedosweek %}
                    <img src="{{perderpeso.imagedosweek.url}}" alt="">
                    {% endif %} 
                    </div>

                    {% if perderpeso.titlesecondweek != Null %}    
                    <div class="titulo-semana">
                    <h2>{{perderpeso.titlesecondweek|safe}}</h2>
                   </div>
                    {% endif %}

                     <div class="descripcion-semana">
                     {% if perderpeso.contentwoweek %}
                     <p>{{perderpeso.contentwoweek|safe}}</p>
                    {% endif %} 
                    </div>   

              </div>


                    <!---DIA 8------------------------------->

            <div class="container-dia">
                     {% if perderpeso.titledianocho %}
                   <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titledianocho|safe}}</h2>
                   </div>
                    {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediaocho %}
                    <img src="{{perderpeso.imagediaocho.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="dia">
                    <p>{{perderpeso.diaocho|safe}}</p>
                   </div>

              </div>

                   <!-- DIA 9--------------------------->
             <div class="container-dia">
                     {% if perderpeso.titledianueve %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titledianueve|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagedianueve %}
                    <img src="{{perderpeso.imagedianueve.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="dia">
                    <p>{{perderpeso.dianueve|safe}}</p>
                   </div>

              </div>

                     <!--- DIA 10------------------------->
               <div class="container-dia">
                     {% if perderpeso.titlediadiez %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadiez|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadiez %}
                    <img src="{{perderpeso.imagediadiez.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadiez|safe}}</p>
                   </div>

              </div>

                      <!-- DIA 11-------------------------->
               <div class="container-dia">
                     {% if perderpeso.titlediaonce %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaonce|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediaonce %}
                    <img src="{{perderpeso.imagediaonce.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaonce|safe}}</p>
                   </div>

              </div>


                   <!--DIA 12--------------------------->
            <div class="container-dia">
                    {% if perderpeso.titlediadoce %}
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadoce|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadoce %}
                    <img src="{{perderpeso.imagediadoce.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadoce|safe}}</p>
                   </div>

              </div>

                     <!---DIA 13--------------------->
          <div class="container-dia">
                    {% if perderpeso.titletrece %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titletrece|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                    {% if perderpeso.imagediatrece %}
                    <img src="{{perderpeso.imagediatrece.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diatrece|safe}}</p>
                   </div>

          </div>

                      <!---DIA 14------------------------->
            <div class="container-dia">
                     {% if perderpeso.titlediacatorce %}
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediacatorce|safe}}</h2>
                    </div>
                      {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediacatorce %}
                    <img src="{{perderpeso.imagediacatorce.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diacatorce|safe}}</p>
                   </div>

              </div>
              <!-- quinta caja---------------------------------------------------->
              





                <!-----------TERCERA SEMANA------------PLANES DE ALIMENTACION----------------------->
              <div class="semana">

                   <div class="imagen-semana">
                    {% if perderpeso.imagethreeweek %}
                    <img src="{{perderpeso.imagethreeweek.url}}" alt="">
                    {% endif %} 
                   </div>

                   <div class="imagen-semana-dos">
                    {% if perderpeso.imagetresweek %}
                    <img src="{{perderpeso.imagetresweek.url}}" alt="">
                    {% endif %} 
                   </div>

                    {% if perderpeso.titlethreeweek %}    
                   <div class="titulo-semana">
                   <h2>{{perderpeso.titlethreeweek|safe}}</h2>
                   </div>
                   {% endif %} 

                     {% if perderpeso.contenthreeweek %}
                    <div class="descripcion-semana">
                    <p>{{perderpeso.contenthreeweek}}</p>
                    </div>
                  {% endif %}  

  </div>


          <!---------------DIA 15---------------------->

              <div class="container-dia">
                    {% if perderpeso.titlediaquince %}
                   <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titlediaquince|safe}}</h2>
                   </div>
                   {% endif %}
                   <div class="imagen-dia">
                     {% if perderpeso.imagediaquince %}
                    <img src="{{perderpeso.imagediaquince.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaquince|safe}}</p>
                   </div>
                

              </div>

                   <!-- DIA 16--------------------------->
              <div class="container-dia">
                     {% if perderpeso.titlediadieciseis %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadieciseis|safe}}</h2>
                    </div>
                    {% endif %}
               
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadieciseis %}
                    <img src="{{perderpeso.imagediadieciseis.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadieciseis|safe}}</p>
                   </div>

              </div>

                     <!--- DIA 17-------------------------->
              <div class="container-dia">
                     {% if perderpeso.titlediadiecisiete %}
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadiecisiete|safe}}</h2>
                    </div>
                      {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadiecisiete %}
                    <img src="{{perderpeso.imagediadiecisiete.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diadiecisiete|safe}}</p>
                   </div>

              </div>

                      <!-- DIA 18------------------------->
              <div class="container-dia">
                   {% if perderpeso.titlediadieciocho %}
                  <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titlediadieciocho|safe}}</h2>
                  </div>
                    {% endif %}

                    <div class="imagen-dia">
                    {% if perderpeso.imagediadieciocho %}
                    <img src="{{perderpeso.imagediadieciocho.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diadieciocho|safe}}</p>
                   </div>

              </div>


                   <!---DIA 19--------------------------->
              <div class="container-dia">
                      {% if perderpeso.titlediadiecinueve %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadiecinueve|safe}}</h2>
                    </div>
                      {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadiecinueve %}
                    <img src="{{perderpeso.imagediadiecinueve.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadiecinueve|safe}}</p>
                   </div>

              </div>

                     <!-----DIA 20------------------------>
                 <div class="container-dia">
                     {% if perderpeso.titlediaveinte %}
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveinte|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediaveinte %}
                    <img src="{{perderpeso.imagediaveinte.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaveinte|safe}}</p>
                   </div>

               </div>

                      <!---DIA 21--------------------------->
               <div class="container-dia">
                     {% if perderpeso.titlediaveintiuno %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveintiuno|safe}}</h2>
                    </div>
                      {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediacuatro %}
                    <img src="{{perderpeso.imagediaveintiuno.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaveintiuno|safe}}</p>
                   </div>

              </div>
              <!-- quinta caja---------------------------------------------------->
              











          <!----------CUARTA SEMANA-------------PLANES DE ALIMENTACION----------------------->
              <div class="semana">

                   <div class="imagen-semana">
                    {% if perderpeso.imagefourweek %}
                    <img src="{{perderpeso.imagefourweek.url}}" alt="">
                    {% endif %} 
                   </div>

                  <div class="imagen-semana-dos">
                    {% if perderpeso.imagecuatroweek %}
                    <img src="{{perderpeso.imagecuatroweek.url}}" alt="">
                    {% endif %} 
                   </div>

                    {% if perderpeso.titlefourweek != Null %}    
                    <div class="titulo-semana">
                   <h2>{{perderpeso.titlefourweek|safe}}</h2>
                   </div>
                    {% endif %} 

                      {% if perderpeso.contenfourweek != Null %}
                     <div class="descripcion-semana">
                    <p>{{perderpeso.contenfourweek|safe}}</p>
                    </div>   
                     {% endif %} 
     </div>

               <!----DIA---22-------------->
          <div class="container-dia">
                      {% if perderpeso.titlediaveintidos %}
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveintidos|safe}}</h2>
                   </div>
                      {% endif %}
                     <div class="imagediaone">
                     {% if perderpeso.imagediaveintidos %}
                    <img src="{{perderpeso.imagediaveintidos.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaveintidos|safe}}</p>
                   </div>

              </div>

                   <!-- DIA------23---------------------->
             <div class="container-dia">
                     {% if perderpeso.titlediaveintitres %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveintitres|safe}}</h2>
                   </div>
                     {% endif %}
                     <div class="imagen-dia">
                     {% if perderpeso.imagediaveintitres %}
                    <img src="{{perderpeso.imagediaveintitres.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaveintitres|safe}}</p>
                   </div>
              </div>

                     <!--- DIA 24-------------------------->
              <div class="container-dia">
                       {% if perderpeso.titlediaveinticuatro %}
                     <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveinticuatro|safe}}</h2>
                   </div>
                     {% endif %}
                     <div class="imagen-dia">
                     {% if perderpeso.imagediaveinticuatro %}
                    <img src="{{perderpeso.imagediaveinticuatro.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaveinticuatro|safe}}</p>
                   </div>
              </div>

                      <!-- DIA 25-------------------------->
               <div class="container-dia">
                    {% if perderpeso.titlediaveinticinco %}
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveinticinco|safe}}</h2>
                    </div>
                     {% endif %}
                     <div class="imagen-dia">
                     {% if perderpeso.imagediaveinticinco %}
                    <img src="{{perderpeso.imagediaveinticinco.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaveinticinco|safe}}</p>
                   </div>
              </div>


                   <!---DIA 26------------------------>
           <div class="container-dia">
                      {% if perderpeso.titlediaveintiseis %}
                     <div class="plan-titulo-dia"> 
                     <h2>{{perderpeso.titlediaveintiseis|safe}}</h2>
                     </div>
                     {% endif %}
                     <div class="imagen-dia">
                      {% if perderpeso.imagediaveintiseis %}
                    <img src="{{perderpeso.imagediaveintiseis.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                     <p>{{perderpeso.diaveintiseis|safe}}</p>
                   </div>

              </div>

                     <!---DIA 27-------------------------->
                 <div class="container-dia">
                    {% if perderpeso.titlediaveintisiete %}
                   <div class="plan-titulo-dia"> 
                     <h2>{{perderpeso.titlediaveintisiete|safe}}</h2>
                    </div>
                     {% endif %}
                     <div class="image-dia">
                    {% if perderpeso.imagediaveintisiete %}
                   <img src="{{perderpeso.imagediaveintisiete.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaveintisiete|safe}}</p>
                   </div>

             </div>

                      <!---DIA 28--------------------------->
          <div class="container-dia">
                   {% if perderpeso.titlediaveintiocho %}
                  <div class="plan-titulo-dia"> 
                 <h2>{{perderpeso.titlediaveintiocho|safe}}</h2>
                 </div>
                    {% endif %}
                     <div class="imagen-dia">
                        {% if perderpeso.imagediaveintiocho %}
                    <img src="{{perderpeso.imagediaveintiocho.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                        <p>{{perderpeso.diaveintiocho|safe}}</p>
                   </div>

              </div>
              <!-- quinta caja---------------------------------------------------->






             <!----------------FINAL--------------------------------->
          
             <div class="title-fin">
             {% if perderpeso.titlefin %} 
                 <h2>{{perderpeso.titlefin|safe}}</h2>
                {% endif %} 
             </div>
            


             <div class="content-fin">
               <p>{{perderpeso.contentfin|safe}}</p>
             </div>
       <!---SEXTA CAJA CON DOS TITULOS (TERCER TITULO DE DOS)------->
              <section class="articulo-ultimo">

                 
                            <div class="autor-solo-nombre">
                            <em><p>{{perderpeso.author}}</p></em>
                            </div>
                     <!--CATEGORIA TITULO SIN LINK---> 
                           <div class="categoria-en-post">
                           <em> <h2>Categoria:{{ perderpeso.categoria }}</h2></em>        
                          </div>
                       <!--FINAL CATEGORIA TITULO SIN LINK---> 
                
             </section> 
       <!-- cierre de la sexta caja con dos columnas---------------------->
                                   
                                

                                  <div class="categorias-posts-links">  
                                        <em><h4>   Categorias: </h4></em>
                                        {% load mptt_tags %}
                                       {% for categoria in categories %}   
                                       <a href="/plan-comidas-saludables/categoria/{{ categoria.slug}}"  style="text-decoration: none">
                                       <em><h3>{{ categoria.name }}</h3></em></a> 
                                       {% endfor %}
                                       <!--ENDFOR ENTRO DE LA CAJA PORQUE SI NO SE DESTROZA LA PAGINA--->
                                </div>
                                    
                                    <!--ENDFOR FINAL DE LA CATEGORIA  con links---> 
                                                                                  
       <!--if not forloop.last endif es para ES PARA REPETIR EL ARTICULO QUE CORRESPONDA --->  
       <!---------------ENDFOR FINAL DE TODO EL ARTICULO --FOR POST IN POSTS------------------------- --->  
       {% endfor %} 

 <!--HASTA AQUI EL POST DE DJANGO----------------------------------------------------------------------------------------------------------------------------------------->

 <!-- CIERRE DIV DE PRIMERA COLUMNA----------------------------------------------------------------------------------------------->
       </div> 
     {% endblock content %}
    <!-- CIERRE DIV DE  COLUMNA PRIMERA------------------->
      </div>  


                                              <!--------------INCLUYENDO LA PAGINATION ------------------------------------------------------------------------>





     <!------------ESTO ES PARA EVITAR EL CODIGO QUE VA EN LA PAGINA DE CATEGORIAS Y SUBCATEGORIAS---------------------------->
           {% block container-perder-categoria %}
          {%endblock container-perder-categoria %} 
     <!------------ESTO ES PARA EVITAR EL CODIGO QUE VA EN LA PAGINA DE CATEGORIAS Y SUBCATEGORIAS----------------------------->
                                                



     <!------------CATEGORIAS-QUE ESTA EN LA TERCERA COLUMNA DEL ARTICULO-BASE PERSONALIZAR PARA LAS DISTINTAS APPS------------------------------>
  



           <!------------------------- TERCERA COLUMNA----------------------------------------------------------->
        <div class="tercera-columna-fija">
 {% block tercera-columna %}
        <!-------------------------BUSCADOR------------------>
                  <div class="controls">
                     <form  method = "GET" action= "{% url 'appblog:search' %}" value="{{request.GET.q}}"> {% csrf_token %}
                            <div id="custom-search-input">
	                            <input type="text"  name="q" value="{{ request.GET.q }}" class="sin-borde" placeholder="  Buscar...." >
                                <button type="submit" name="submit" class="boton btn-succes" value="Search">
                                <span class="icon"><i class="fa fa-search"></i></span>   
                                </button>
                                        
                             </div>
                    </form>
	     	    </div>
        <!------------------FINAL BUSCADOR--------------------------->
         <div class="tercera-columna">
                 <em><h2> mas temas..</h2></em>
                 <img src="{% static 'appfood/img/articulo/espinaca.png' %}" />
                   <p>How to take the shame out of self-promotion </p>
         </div>
        <!----------------------------- -------------->
      
        <!------------CATEGORIAS------------------------------->
     
           <div class="categorias-aside">
            <em><h4>  Categorias:</h4></em>
                        {% load mptt_tags %}
                        {% for categoria in categories %} 
                         <!--ESTO ES DEL ASIDE SALE AZUL PORQUE?--->
                        <a href="/plan-comidas-saludables/categoria/{{ categoria.slug }}"  style="text-decoration: none"> 
                        <em> <h3>{{ categoria.name}}</h3></em></a>
                              <!--ENDFOR FINAL DE LA CATEGORIA --->              
                                 {% endfor %}
              </div>          
      <!-------------FIN CATEGORIAS------------------------------>
        {% endblock tercera-columna %}
        </div>
       <!-- FINAL DIV TERCERA COLUMNA-->
     
    </div>    






   

