{% extends 'appblog/articulo-base.html' %}
{% load static %}

  
   {% block titulo %}Plan Comidas{% endblock titulo %}  





              <!----------DE LA PAGINA SEARCH----------------->
             {% block buscador-search %}       {% endblock buscador-search %} 

             {% block container-search %}  {% endblock container-search %}
              <!--FIN --------DE LA PAGINA SEARCH----------------->


                <!---BUSCADOR RESPONSIVE----------------------------------------------------------->

  {% block buscador-responsive %}
        <div id="controls-responsive">
                <form method ="GET" action= "{% url 'appblog:search' %}" value="{{request.GET.q}}" > {% csrf_token %}
                    <div id="custom-search-input-responsive">
	                      <input type="text"  class="sin-borde-responsive" name="q" value="{{ request.GET.q }}"  placeholder="  Buscar ...." >
                                 
                          <button type="submit" name="submit" class="boton-responsive btn-succes" value="Search"> 
                          <span class="icon"><i class="fa fa-search"></i></span>   
                          </button>
                          <!--</span>-->
                    </div>
                </form>
	        </div>
             {% endblock buscador-responsive %}

   <!--FIN BUSCADOR RESPONSIVE------------------------------------------------------>

   {% block menusimple %}
                    <!-- PRIMER  SEGMENTO MENU SIMPLE-->
                    <div id="menu-simple">
                                     <ul >
                                     <li > <a href="{% url 'appfood:index' %}"  >
                                             <p>INICIO <i class="right"></i></p>
                                                 </a>
                                    </li>
                                    <li > <a href="{% url 'appfood:plan-comidas-saludables' %}"> 
                                     <p>Plan de Comidas Saludables <i class="right"></i></p>
                                              </a>
                                    </li>
                                    <li>
                                      {% for perderpeso in post %}
                                              <p>{{perderpeso.categoria}}<i class="right"></i></p>
                                                {% endfor %}
                                              
                                   </li>
                                  </ul>
                       </div>
                      {% endblock menusimple %}

    <!-- COLUMNA PRIMERA LE PUSE DOS DIVS QUE SON COLUMNA PRUMERA Y PRIMERA COLUMNA------------->
   <div class= "columna-primera">
         {% block content %}
         <div class="primera-columna">
            <div class="primero-descripcion-y-fotoprincipal">
             
                    {% for perderpeso in post %}
                    <!-- caja 1-------------------------->
                    <div class="primer-articulo">
                    <!-- TITULO 1-----------------> 
                    <h1>  {{perderpeso.title}}</h1> 
                    <!-- DESCRIPCION--------------->              
                    <p> {{perderpeso.description}}</p>                 
                    </div>
                    <!---------------------------------->              


                  <!------AUTOR Y FECHA-------------------------->
                  <div class= "row-autor-nombre-fecha">

                   <!--------------------------------->
                   <div class="row-autor-nombre">
                   <!------------------------------>
                   <div class="autor-foto">
                   {% if post.imageauthor %}
                   <img src="{{perderpeso.imageauthor.url}}" alt="" >
                   {% endif %}
                   </div>

                  <div class="autor-letra">
                  <em><h3>Por: {{perderpeso.author}}</h3></em>
                  </div>
                  <!------------------------------->
                  </div>
                  <!--------------------------------->



                 <!-------------------------------->
                  <div class="fecha">
                  <p>{{perderpeso.publish}}</p>
                  </div>
                <!--------------------------------->
                </div>
                <!-------------------------------->
          






                         <!--------------------------------------------->
                         <div class="imagen-central">
                               <div class="redes">
                                <ul class="iconos-social">
                             
                                      <li> 
                          {% with base_url="https://foodingemotion.com" %} 
                          <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_url|urlencode }}{{ request.get_full_path|urlencode }}&t={{ object.title }}" target="_foodemotions">
                          {% endwith %}
                          <i class="fab fa-facebook-f"></i></a> <br>
                          </li>
                
                        
                          <li>
                          {% with base_url="https://foodingemotion.com" %} 
                          <a href="http://pinterest.com/pin/create/button/?url=LINK&media=URL_IMAGEN&description=TEXTO={{ base_url|urlencode }}{{ request.get_full_path|urlencode }}&t={{ object.title }}" target="_blank">
                          {% endwith %} 
                          <i class="fab fa-pinterest" aria-hidden="true"></i> </a> <br>
                          </li>

                          <li> <a href="malito:contacto@emotionsfood.com" target="_blank">
                          <i class="fas fa-envelope"></i> </a> <br>
                          </li>  
                              </ul>
                              </div>

                         
                             <div class="imagen-principal">          
                             {% if perderpeso.image %}
                             <img src="{{perderpeso.image.url}}" alt="" >
                            {% endif %}                         
                            </div>
                        </div>
                       <!-------------------FIN DE IMAGEN CENTRAL--------------------->

         <!---------------------------------------------------------------------------->
        </div> 
        <!-----------FIN FOTO Y DESCRIPCION--------------------------------------->





    <div clas="articulovacio-articulolleno">
        <div class="articulovacio"></div>

           <div class="articulolleno">

              <!--- <div class="segundo-articulo" data-anime="top"---------------->
              <!-- caja 2-------------------------------------------------------->
              <div class="segundo-articulo">
              <!-- SUBTITULO 2------------------->
              <h1>{{perderpeso.titleone|safe}}</h1> 
              <p>{{perderpeso.contentone|safe}}</p>  
              </div>

               
              <!---------CONTENEDOR NARRATIVA------------------------------>
            
                    <!-- BLOCQUOTE--------------------------------------------------------->
                {% if perderpeso.narrativa %}
                <blockquote class="blockquote blockquote-bordered blockquote-quoted">
                <p class="blockquote-text"><em> {{perderpeso.narrativa|safe}}</em> </p>
                <p class="blockquote-text blockquote-text-credit">   </p>
                </blockquote>
               {% endif %}
                <!-- CIERR BLOCQUOTE---------------------------------------------->
         
                <!-----------CONTENDOR CURSIVA---------------------------->
                 {% if perderpeso.cursiva%}
                <div class="cursiva cursiva-quote">
                <p><em> {{perderpeso.cursiva|safe}} </em> </p>
                </div>
                 {% endif %}

          <!-------------PRIMERA SEMANA----------PLANES DE ALIMENTACION----------------------->
          <div class="semana">
                   <div class="imagen-semana">
                    {% if perderpeso.imagefirstweek %}
                    <img src="{{perderpeso.imagefirstweek.url}}" alt="">
                    {% endif %} 
                   </div>

                   <div class="imagen-semana-dos">
                    {% if perderpeso.imageprimerweek %}
                    <img src="{{perderpeso.imageprimerweek.url}}" alt="">
                    {% endif %} 
                   </div>

                    {% if perderpeso.titlefirstweek != Null %}    
                     <div class="titulo-semana">
                     <h2>{{perderpeso.titlefirstweek|safe}}</h2>
                    </div>
                   {% endif %} 

                    <div class="descripcion-semana">
                     {% if perderpeso.contentfirstweek %}
                     <p>{{perderpeso.contentfirstweek|safe}}</p>
                     {% endif %} 
                   </div>   
           </div>

                       <!-- PRIMER DIA------------------------------>
                    <div class="container-dia">
                  
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediauno|safe}}</h2>
                   </div>

                     <div class="imagen-dia">
                     {% if perderpeso.imagediauno %}
                    <img src="{{perderpeso.imagediauno.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diauno|safe}}</p>
                   </div>


              </div>
  <!--------------------------------------------------------------------------------------->

                   <!-- SEGUNDA DIA--------------------------->
                <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediados|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediados %}
                    <img src="{{perderpeso.imagediados.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diados|safe}}</p>
                   </div>

              </div>

                     <!--- TERCER DIA----------------------------->
              <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediatres|safe}}</h2>
                   </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediatres %}
                    <img src="{{perderpeso.imagediatres.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="dia">
                    <p>{{perderpeso.diatres|safe}}</p>
                   </div>

              </div>

                      <!-- CUARTO DIA------------------------>
       <div class="container-dia">
                     <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediacuatro|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediacuatro %}
                    <img src="{{perderpeso.imagediacuatro.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diacuatro|safe}}</p>
                   </div>

              </div>


                   <!---QUINTO   DIA------------------------------>
            <div class="container-dia">
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediacinco|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediacinco %}
                    <img src="{{perderpeso.imagediacinco.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diacinco|safe}}</p>
                   </div>

              </div>

                     <!---SEXTO DIA----------------------------->
                 <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaseis|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediaseis %}
                    <img src="{{perderpeso.imagediaseis.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaseis|safe}}</p>
                    </div>

               </div>

                      <!---SEPTIMA DIA--------------------------->
                       {% if perderpeso.titlediasiete  %}
                <div class="container-dia">

                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediasiete|safe}}</h2>
                    </div>

                    <div class="imagen-dia">
                     {% if perderpeso.imagediasiete %}
                    <img src="{{perderpeso.imagediasiete.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diasiete|safe}}</p>
                   </div>

              </div>
               {% endif  %}
              <!-- quinta caja---------------------------------------------------->




                      
                <!------------SEGUNDA SEMANA-----------PLANES DE ALIMENTACION----------------------->
                <!-------------------------------->
              <div class="semana">

                    <div class="imagen-semana">
                    {% if perderpeso.imagetwotweek %}
                    <img src="{{perderpeso.imagetwoweek.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="imagen-semana-dos">
                    {% if perderpeso.imagedosweek %}
                    <img src="{{perderpeso.imagedosweek.url}}" alt="">
                    {% endif %} 
                    </div>

                    {% if perderpeso.titlesecondweek != Null %}    
                    <div class="titulo-semana">
                    <h2>{{perderpeso.titlesecondweek|safe}}</h2>
                   </div>
                    {% endif %}

                     <div class="descripcion-semana">
                     {% if perderpeso.contentwoweek %}
                     <p>{{perderpeso.contentwoweek|safe}}</p>
                    {% endif %} 
                    </div>   

              </div>


                    <!---DIA 8------------------------------->
             {% if perderpeso.titledianochon  %}
            <div class="container-dia">
                     {% if perderpeso.titledianocho %}
                   <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titledianocho|safe}}</h2>
                   </div>
                    {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediaocho %}
                    <img src="{{perderpeso.imagediaocho.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="dia">
                    <p>{{perderpeso.diaocho|safe}}</p>
                   </div>

              </div>
                {% endif %}

                   <!-- DIA 9--------------------------->
                    {% if perderpeso.titledianueve %}
                 <div class="container-dia">
                     {% if perderpeso.titledianueve %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titledianueve|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagedianueve %}
                    <img src="{{perderpeso.imagedianueve.url}}" alt="">
                    {% endif %} 
                    </div>

                    <div class="dia">
                    <p>{{perderpeso.dianueve|safe}}</p>
                   </div>

              </div>
              {% endif %}




                     <!--- DIA 10------------------------->
              {% if perderpeso.titlediadiez  %}
               <div class="container-dia">
                     {% if perderpeso.titlediadiez %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadiez|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadiez %}
                    <img src="{{perderpeso.imagediadiez.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadiez|safe}}</p>
                   </div>

              </div>
               {% endif %}



                      <!-- DIA 11-------------------------->
                    {% if perderpeso.titlediaonce %}
                   <div class="container-dia">
                     {% if perderpeso.titlediaonce %}
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaonce|safe}}</h2>
                    </div>
                     {% endif %}
                    <div class="imagen-dia">
                     {% if perderpeso.imagediaonce %}
                    <img src="{{perderpeso.imagediaonce.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaonce|safe}}</p>
                   </div>

              </div>
               {% endif %}


                   <!--DIA 12--------------------------->
            {% if perderpeso.titlediadoce  %}
            <div class="container-dia">
                  
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadoce|safe}}</h2>
                    </div>
                     
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadoce %}
                    <img src="{{perderpeso.imagediadoce.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadoce|safe}}</p>
                   </div>

               </div>
              {% endif %}
                     <!---DIA 13--------------------->


            {% if perderpeso.titletrece  %}
           <div class="container-dia">
                  
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titletrece|safe}}</h2>
                    </div>
                   
                    <div class="imagen-dia">
                    {% if perderpeso.imagediatrece %}
                    <img src="{{perderpeso.imagediatrece.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diatrece|safe}}</p>
                   </div>

              </div>
            {% endif %}


                      <!---DIA 14------------------------->
              {% if perderpeso.titlediacatorce %}
              <div class="container-dia">
                   
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediacatorce|safe}}</h2>
                    </div>
                    
                    <div class="imagen-dia">
                     {% if perderpeso.imagediacatorce %}
                    <img src="{{perderpeso.imagediacatorce.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diacatorce|safe}}</p>
                   </div>

              </div>
                {% endif %}
              <!-- quinta caja---------------------------------------------------->
              





                <!-----------TERCERA SEMANA------------PLANES DE ALIMENTACION----------------------->
              <div class="semana">

                   <div class="imagen-semana">
                    {% if perderpeso.imagethreeweek %}
                    <img src="{{perderpeso.imagethreeweek.url}}" alt="">
                    {% endif %} 
                   </div>

                   <div class="imagen-semana-dos">
                    {% if perderpeso.imagetresweek %}
                    <img src="{{perderpeso.imagetresweek.url}}" alt="">
                    {% endif %} 
                   </div>

                    {% if perderpeso.titlethreeweek %}    
                   <div class="titulo-semana">
                   <h2>{{perderpeso.titlethreeweek|safe}}</h2>
                   </div>
                   {% endif %} 

                     {% if perderpeso.contenthreeweek %}
                    <div class="descripcion-semana">
                    <p>{{perderpeso.contenthreeweek}}</p>
                    </div>
                  {% endif %}  

              </div>


          <!---------------DIA 15---------------------->
                {% if perderpeso.titlediaquince %}
              <div class="container-dia">
                 
                   <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titlediaquince|safe}}</h2>
                   </div>
                 

                     <div class="imagen-dia">
                     {% if perderpeso.imagediaquince %}
                    <img src="{{perderpeso.imagediaquince.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaquince|safe}}</p>
                   </div>
              </div>
               {% endif %}

                   <!-- DIA 16--------------------------->
                 {% if perderpeso.titlediadieciseis %}
              <div class="container-dia">
                  
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadieciseis|safe}}</h2>
                    </div>
                  
               
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadieciseis %}
                    <img src="{{perderpeso.imagediadieciseis.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadieciseis|safe}}</p>
                   </div>

              </div>
                {% endif %}

                     <!--- DIA 17-------------------------->
                   {% if perderpeso.titlediadiecisiete %}
              <div class="container-dia">
                
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadiecisiete|safe}}</h2>
                    </div>
                     
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadiecisiete %}
                    <img src="{{perderpeso.imagediadiecisiete.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diadiecisiete|safe}}</p>
                   </div>

              </div>
                {% endif %}

                      <!-- DIA 18------------------------->
                         {% if perderpeso.titlediadieciocho %}
              <div class="container-dia">
                
                  <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titlediadieciocho|safe}}</h2>
                  </div>
                 
                    <div class="imagen-dia">
                    {% if perderpeso.imagediadieciocho %}
                    <img src="{{perderpeso.imagediadieciocho.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diadieciocho|safe}}</p>
                   </div>

              </div>
                 {% endif %}

              
                   <!---DIA 19--------------------------->
               {% if perderpeso.titlediadiecinueve %}
              <div class="container-dia">
                    
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediadiecinueve|safe}}</h2>
                    </div>
                 
                    <div class="imagen-dia">
                     {% if perderpeso.imagediadiecinueve %}
                    <img src="{{perderpeso.imagediadiecinueve.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diadiecinueve|safe}}</p>
                   </div>

              </div>
                   {% endif %}
                     <!-----DIA 20------------------------>
                   {% if perderpeso.titlediaveinte %}
                 <div class="container-dia">
                   
                   <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveinte|safe}}</h2>
                    </div>
                  
                    <div class="imagen-dia">
                     {% if perderpeso.imagediaveinte %}
                    <img src="{{perderpeso.imagediaveinte.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaveinte|safe}}</p>
                   </div>

               </div>
                  {% endif %}


                      <!---DIA 21--------------------------->
                        {% if perderpeso.titlediaveintiuno %}
               <div class="container-dia">
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveintiuno|safe}}</h2>
                    </div>
               
                    <div class="imagen-dia">
                     {% if perderpeso.imagediacuatro %}
                    <img src="{{perderpeso.imagediaveintiuno.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaveintiuno|safe}}</p>
                   </div>

              </div>
                     {% endif %}
              <!-- quinta caja---------------------------------------------------->
              











          <!----------CUARTA SEMANA-------------PLANES DE ALIMENTACION----------------------->
              <div class="semana">

                   <div class="imagen-semana">
                    {% if perderpeso.imagefourweek %}
                    <img src="{{perderpeso.imagefourweek.url}}" alt="">
                    {% endif %} 
                   </div>

                   <div class="imagen-semana-dos">
                    {% if perderpeso.imagecuatroweek %}
                    <img src="{{perderpeso.imagecuatroweek.url}}" alt="">
                    {% endif %} 
                   </div>

                    {% if perderpeso.titlefourweek  %}    
                    <div class="titulo-semana">
                   <h2>{{perderpeso.titlefourweek|safe}}</h2>
                   </div>
                    {% endif %} 

                      {% if perderpeso.contenfourweek  %}
                     <div class="descripcion-semana">
                    <p>{{perderpeso.contenfourweek|safe}}</p>
                    </div>   
                     {% endif %} 
              </div>

               <!----DIA---22-------------->
               {% if perderpeso.titlediaveintidos %}
             <div class="container-dia">
                  
                   <div class="plan-titulo-dia"> 
                   <h2>{{perderpeso.titlediaveintidos|safe}}</h2>
                   </div>
                   
                     <div class="imagediaone">
                     {% if perderpeso.imagediaveintidos %}
                    <img src="{{perderpeso.imagediaveintidos.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaveintidos|safe}}</p>
                   </div>

              </div>
              {% endif %}

                   <!-- DIA------23---------------------->
               {% if perderpeso.titlediaveintitres %}
             <div class="container-dia">
                  
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveintitres|safe}}</h2>
                    </div>
                  
                    <div class="imagen-dia">
                    {% if perderpeso.imagediaveintitres %}
                    <img src="{{perderpeso.imagediaveintitres.url}}" alt="">
                    {% endif %} 
                    </div> 

                    <div class="dia">
                    <p>{{perderpeso.diaveintitres|safe}}</p>
                   </div>
              </div>
                {% endif %}


                     <!--- DIA 24-------------------------->
                    {% if perderpeso.titlediaveinticuatro %}
              <div class="container-dia">
                
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveinticuatro|safe}}</h2>
                    </div>
                  
                    <div class="imagen-dia">
                    {% if perderpeso.imagediaveinticuatro %}
                    <img src="{{perderpeso.imagediaveinticuatro.url}}" alt="">
                    {% endif %} 
                    </div> 
                    {% if perderpeso.diaveinticuatro %}
                    <div class="dia">
                    <p>{{perderpeso.diaveinticuatro|safe}}</p>
                   </div>
                    {% endif %}
              </div>
                {% endif %}


                      <!-- DIA 25-------------------------->
                   {% if perderpeso.titlediaveinticinco %}
               <div class="container-dia">
                 
                    <div class="plan-titulo-dia"> 
                    <h2>{{perderpeso.titlediaveinticinco|safe}}</h2>
                    </div>
                  
                    <div class="imagen-dia">
                    {% if perderpeso.imagediaveinticinco %}
                    <img src="{{perderpeso.imagediaveinticinco.url}}" alt="">
                    {% endif %} 
                    </div>  

                    <div class="dia">
                    <p>{{perderpeso.diaveinticinco|safe}}</p>
                   </div>
              </div>
                {% endif %}


                   <!---DIA 26------------------------>
               {% if perderpeso.titlediaveintiseis %}
           <div class="container-dia">
              
                <div class="plan-titulo-dia"> 
                <h2>{{perderpeso.titlediaveintiseis|safe}}</h2>
                </div>
               
                <div class="imagen-dia">
                {% if perderpeso.imagediaveintiseis %}
                <img src="{{perderpeso.imagediaveintiseis.url}}" alt="">
                {% endif %} 
                </div>  

                <div class="dia">
                <p>{{perderpeso.diaveintiseis|safe}}</p>
                </div>

              </div>
               {% endif %}

                     <!---DIA 27-------------------------->
                   {% if perderpeso.titlediaveintisiete %}
              <div class="container-dia">
            
                  <div class="plan-titulo-dia"> 
                  <h2>{{perderpeso.titlediaveintisiete|safe}}</h2>
                  </div>
                  
                  <div class="image-dia">
                  {% if perderpeso.imagediaveintisiete %}
                  <img src="{{perderpeso.imagediaveintisiete.url}}" alt="">
                  {% endif %} 
                  </div> 

                  <div class="dia">
                  <p>{{perderpeso.diaveintisiete|safe}}</p>
                  </div>

             </div>
             {% endif %}

                      <!---DIA 28--------------------------->
          {% if perderpeso.titlediaveintiocho %}
          <div class="container-dia">
               
                  <div class="plan-titulo-dia"> 
                  <h2>{{perderpeso.titlediaveintiocho|safe}}</h2>
                  </div>
                
                  <div class="imagen-dia">
                  {% if perderpeso.imagediaveintiocho %}
                  <img src="{{perderpeso.imagediaveintiocho.url}}" alt="">
                  {% endif %} 
                  </div> 

                  <div class="dia">
                  <p>{{perderpeso.diaveintiocho|safe}}</p>
                  </div>

              </div>
                {% endif %}
              <!-- quinta caja---------------------------------------------------->






             <!----------------FINAL--------------------------------->
              <div class="resumen-del-post">
            <div class="title-fin">
            {% if perderpeso.titlefin %} 
            <h2>{{perderpeso.titlefin|safe}}</h2>
            {% endif %} 
            </div>
            


            <div class="content-fin">
            <p>{{perderpeso.contentfin|safe}}</p>
            </div>
            </div>










    </div>
    <!---articulo lleno-->
    </div>
    <!---ARTICULO LLENO Y ARTICULO VACIO------>





       <!---SEXTA CAJA CON DOS TITULOS (TERCER TITULO DE DOS)------->
              <section class="articulo-ultimo">
                   
                     <!--CATEGORIA TITULO SIN LINK---> 
                    <div class="categoria-en-post">
                    <em> <h2>Categoria:</h2></em>    
                    <em><p>{{ perderpeso.categoria }}</p></em>        
                    </div>
                    <!--FINAL CATEGORIA TITULO SIN LINK---> 
                
             </section> 
       <!-- cierre de la sexta caja con dos columnas---------------------->
                                   
                                

                      <div class="categorias-posts-links">  
                      <em><h4>Categorias: </h4></em>
                      {% load mptt_tags %}
                      {% for categoria in categories %}   
                      <a href="/plan-comidas-saludables/categoria/{{ categoria.slug}}"  style="text-decoration: none">
                      <em><h3>{{ categoria.name }}</h3></em></a> 
                      {% endfor %}
                      </div>
                  <!--ENDFOR FINAL DE LA CATEGORIA  con links---> 
                                                                                  
       
        <!---------------ENDFOR FINAL DE TODO EL ARTICULO --FOR POST IN POSTS------------------------- --->  
        {% endfor %} 
        <!--HASTA AQUI EL POST DE DJANGO----------------------------->
        <!-- CIERRE DIV DE PRIMERA COLUMNA------------------------------------->
        </div> 
   
        <!-- CIERRE DIV DE  COLUMNA PRIMERA------------------->
   
        {% endblock content %}

        <!--------------INCLUYENDO LA PAGINATION ------------------------------------->

     </div>  



     <!------------ESTO ES PARA EVITAR EL CODIGO QUE VA EN LA PAGINA DE CATEGORIAS Y SUBCATEGORIAS---------------------------->
           {% block container-perder-categoria %}
          {%endblock container-perder-categoria %} 
     <!------------ESTO ES PARA EVITAR EL CODIGO QUE VA EN LA PAGINA DE CATEGORIAS Y SUBCATEGORIAS----------------------------->
                                                



     <!------------CATEGORIAS-QUE ESTA EN LA TERCERA COLUMNA DEL ARTICULO-BASE PERSONALIZAR PARA LAS DISTINTAS APPS------------------------------>
  


 {% block tercera-columna %}
           <!------------------------- TERCERA COLUMNA----------------------------------------------------------->
        <div class="tercera-columna-fija">

        <!-------------------------BUSCADOR------------------>
                  <div class="controls">
                     <form  method = "GET" action= "{% url 'appblog:search' %}" value="{{request.GET.q}}"> {% csrf_token %}
                            <div id="custom-search-input">
	                            <input type="text"  name="q" value="{{ request.GET.q }}" class="sin-borde" placeholder="  Buscar...." >
                                <button type="submit" name="submit" class="boton btn-succes" value="Search">
                                <span class="icon"><i class="fa fa-search"></i></span>   
                                </button>
                                        
                             </div>
                    </form>
	     	    </div>
        <!------------------FINAL BUSCADOR--------------------------->
         <div class="tercera-columna">
       
                 <h2> plan de comidas..</h2>
                 <div class="aside-colum">
                  {% for perderpeso in post_plan %} 
                    {% if perderpeso.imagefront %}
                <img src="{{perderpeso.imagefront.url}}">
                  {% endif %}
                   <a href ="{% url 'appperderpeso:post' perderpeso.slug %}">
                   <h1>{{ perderpeso.title}}</h1>
                   </a>
                   {% endfor %} 
                   </div>
         </div>
        <!----------------------------- -------------->
      
        <!------------CATEGORIAS------------------------------->
     
           <div class="categorias-aside">
            <em><h4>  Categorias:</h4></em>
                        {% load mptt_tags %}
                        {% for categoria in categories %} 
                         <!--ESTO ES DEL ASIDE SALE AZUL PORQUE?--->
                        <a href="/plan-comidas-saludables/categoria/{{ categoria.slug }}"  style="text-decoration: none"> 
                        <em> <h3>{{ categoria.name}}</h3></em></a>
                              <!--ENDFOR FINAL DE LA CATEGORIA --->              
                                 {% endfor %}
              </div>          
      <!-------------FIN CATEGORIAS------------------------------>
        
        </div>
       {% endblock tercera-columna %}

       <!-- FINAL DIV TERCERA COLUMNA-->
     
    </div>    






   

