{% extends 'appblog/base-categoria.html' %}
{% load static %}          
{% block title %}Categoria Turismo{% endblock %}  
 
 


    <!-- CONTENEDOR DEL CUERPO DEL BODY-------->
    {% block content %}           
      <div id ="container-categorias-subcategorias">                                  
         <!--  CAJA DE NAVEGACION DE LAS CATEGORIA Y SUBCATEGORIAS---------------->
         <!--------------------------------------------------------------->
         <div class="intro">
               <div class="menu-introescrito">
                  <!--MENU-->
                  <div class="menu">
                        <!--fin del menu scrolling--->
                        <div class="menu-scrolling">
                        <ul>
                        <li>
                        <a href="{% url 'appfood:index' %}">Inicio<i class="right"></i>
                        </a>
                        </li>

                        <li>    
                        <a href="{% url 'appfood:noticias-turismo-gastronomico' %}">
                        Turismo Gastronomico<i class="right"></i> 
                       </a>
                       </li>
                        <!-------------------------------------------->


                         <!--MENU ESCONDIDO -CATEGORIAS-----LLEVA P------------->
                        <li>
                        <p>Categorias<i class="right"></i></p>
                        <ul>
                        {% load mptt_tags %} 
                        {% for categori in categories %} 
                        <!--  TITULO--CATEGORIA---> 
                        <li>
                        <a href="/noticias-turismo-gastronomico/categoria/{{ categori.slug }}">
                        {{categori.name}}
                        </a>    
                        </li>
                        {% endfor %}
                        </ul>
                        </li>
                        <!---FIN MENUS ESCONDIDO CATEGORIAS---->
                       <!--FIN BLOQUE CATEGORIAS------------>


                       <!-- CATEGORIA--ACTIVE--------------->
                       <li>
                       {% load mptt_tags %}
                       {% for posturismo in category_deals %}
                       <a href="/noticias-turismo-gastronomico/categoria/{{ posturismo.slug }}">
                       {{category_deals.get}}
                       <i class="right"></i>
                       </a>
                       {% endfor %}
                       </li>


                       <!--FIN TITULO CATEGORIA-------------->
                       </ul>
                       </div>
                       <!--fin del menu scrolling--->
                       </div>
            <!-----FIN MENU--------------------------------------------------------------------------------------->



                     <!------------------------------------------------------------------------------------->
                     <div class="introescrito">


                                <!---TITULO DE CATEGORIA--->
                               {% load mptt_tags %}
                               {% for post in category_deals %}
                               <!--  TITULO--CATEGORIA---> 
                              <div class="menu-intro-titulo">  
                              <h1> {{category_deals.get}}</h1>     
                              </div>
                               {% endfor %}
                              <!---FIN TITULO DE CATEGORIA---> 


                     </div>
                     <!----------------------------------->
           </div>
           <!--FIN DIV MENU-INTROESCRITO---------------------------------->


                            <!-- FIN DIV MENU INTRO ESCRITO--->
                            <div class="intro-dos-vacios">
                          
                            <!---- ESTA VACIO---->
                            </div>
            </div>
        <!-----------FINAL INTRO--------------------------->
        </div>
        <!--------------FIN DIV SUBCATEGORIA PERDER---------------->


           <!-----SUBCATEGORIAS MENU------------------------------------->
      <div id="texto-slider">
           <div class="caja-texto-slider">
            <!--TITULO DE LAS CATEGORIAS-->
  
                 <ul class = "scrollmenu">    
                    {% for categori in category_deals %}
                    {% if not node.is_leaf_node %}
                    {% for child in categori.get_children %}
                    <li> 
                    <!-- SUBCATEGORIAS ---->
                    <a href="/noticias-turismo-gastronomico/subcategoria/{{ child.slug }}">
                    <h3>{{ child.name }}</h3>
                    </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                 </ul>
         
            <!--FIN SUBCATEGORY-->    
        </div>
    </div>
    <!-------------------------------------------------------------------->
               


                       <!-------------------------------------------------------------------->
         
                           
          
         <!--------------- FIN CAJA DE NAVEGACION DE LAS SUBCATEGORIA-PERDER------------------->
     <div class = "container-posts-categorias">

       
                    <!--- DIV QUE DIVIDE COLUMNA Y ASIDE---->
                       <div id = "posts-categorias-aside">
               <!--COLUMNA CATEGORIAS DE 70% -------->
               <div class="columna-categorias">


            <!---CONTAINER DE LOS POST ABREVIADOS DE POSTURISMO--->
  
                      {% load mptt_tags %}
               {% for posturismo in posturismos %}
            <div class="por-categoria">
                         <div class="por-foto">
                         
                                    {% if posturismo.image %}
                                    <img src ="{{posturismo.image.url}}">
                                    {% endif %} 
                                    </div>
          

               <div class="por-descripcion">
                                <a href="/noticias-turismo-gastronomico/post/{{ posturismo.slug}}">
                                  <!-------TITULO POST PERDERPESO---------->
                                  <h1>{{ posturismo.title }}</h1>
                                  </a>
                                  <!-------DESCRIPCION POST PERDERPESO---------->
                                 <p>{{posturismo.description|truncatechars_html:70|safe}} </p>
                                 <a href ="/noticias-turismo-gastronomico/post/{{ posturismo.slug }}/"  class="arrow1">
                                      LEE MAS
                                  <span class="arrow-right"></span>
                                  </a>
                                   <em><p>Categoria: {{posturismo.categori}} </p></em> 
               </div>
               <!--FIN DIV CONTAINER DE LA DESCRIPCION----------------->
               </div>
               {% empty %}
               <p>No items</p>
               {% endfor %}
               <!---FIN POR CATEGORIA CONTIENE LA FOTO Y LA DESCRIPCION EN ROW--->

                 <!---FIN COLUMNA CATEGORIAS------->
                  </div>

                     <!-- 20% ASIDE --->
                    <div id="aside">  </div>
                    <!--FIN ASIDE 20%--->
                       </div>
                    <!---FIN DIV QUE DIVIDE COLUMNA Y ASIDE---->
           </div>
           <!--100% FIN DEL POSTS CATEGORIAs--->
            
              
                              
             <!--100% FINAL CONTAINER POSTS CATEGOIRAS---->             
                            
                               
               <!------------------------------------------->


































  {% endblock content %}










     <!---------------- PAGINACION--------------------------------------------------------------->
      {% block paginacion %}
            <div class="paginacion">
                    <nav>
                      <ul class="pagination">
                      {% if posts.has_previous %}
                      <li class="page-item">
                      <a class="page-link" href="?page=1">Primero</a>
                      </li>
                      <li class="page-item">
                      <a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a>
                      </li>
                      {% endif %}
                      <!------------------------------------------------------>
                      {% for pagina in paginas %}
                      <li class="page-food{% if current_page == pagina %} active {% endif %}">
                      <a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a>
                      </li>
                      {% endfor %}
                      <!--------------------------------------------------------------->
                      <!---------------------------- ------------------------------------>
                      {% if posts.has_next %}
                      <li class="page-item">
                      <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
                      </li>
                      <li class="page-item">
                      <a class="page-link" href="?page={{ posts.paginator.num_pages}}">Ùltima</a>
                      </li>
                      {% endif %}
                      </ul>
                      </nav>
                      </div>
                      {% endblock paginacion %}
                    <!--------------------------------------------------------------------------------->


                           
 













                 










                        

    



       
