{% extends 'appblog/articulo-base.html' %}
{% load static %}          
{% block title %}Articulo{% endblock %}  
 
 


          <!-- COLUMNA DEL MEDIO SE ENCUENTRA TODO EL ARTICULO ---COLUMNA DEL MEDIO-------------->
              <div class= "columna-primera">
                                          {% block content %}
                       
                                                            {% for post in posts %}
                                                                  <em>{% for category in post.categories.all %} 
                                                                         {{ category.name }}
                                                                        <ul>
                                                          
                                                                <li><a href="">{{ post.title }}</a></li>
                                                                <li><a href="">{{ post.published }}</a></li>
                                                                <li>
                                                                <a href="{% url 'appblog:categoria' category=category %}">{{ category.name }}</a>
                                                                </li>
                                                               </ul>

                                                           {% endfor %}</em>  


                                                                  <!--ENDFOR FINAL DE LA CATEGORIA --->                                
                                                                                                   
                                                           <!---ENDFOR CIERRA EL POST IN POSTS ----->
                                                           {% endfor %}
                                   

                                   {% endblock content %}
                                  </div> 













                 







