 <div class="col-xs-10">
    <span class="userName"> {{ comment.name }} </span>
    <br /> <br />
    <div class="comment-box">
        <textarea class="form-control" readonly> {{ comment.text }} </textarea>
    </div>                      
    <br />
    <div class="row">
        <div class="col-xs-6">
            <span class="comment-footer-text"> {{ comment.date }} </span>
        </div>
        <div>
            <div class="comment-control">
                <span>  </span>
                <span></span>
            </div>                                      
        </div>
    </div>                      
  </div>